<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Панель управления</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <script src='https://www.google.com/recaptcha/api.js'></script>
    </head>

    <body>

        <div id="page-body">

            <div class="blank5"></div>
            <div class="container header size100">
                <div class="logo center">
                    <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container content size100">
                <div class="title">Панель управления</div>
                <div class="blank10"></div>
                <?php if(isset($fuck)) { ?>

                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:10px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <big><?php echo $t->_('l_login_err') ?></big>
                        </div>
                        <div class="blank10"></div>
                    <?php } ?>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <div class="block-border">
                            <form method="post" name="admin-form" id="admin-form" class="form-horizontal">
                                <input type="hidden" id="csrf-token">
                                <strong>Логин</strong>
                                <div class="blank5"></div>
                                <input type="text" name="login" id="login" class="form-control" required="required">
                                <strong>Пароль</strong>
                                <div class="blank5"></div>
                                <input type="password" name="passwd" id="passwd" class="form-control" required="required">
                                <div class="blank15"></div>
                                <div class="g-recaptcha" data-sitekey="6Ldf1RwTAAAAAMY9VvrSSARD5RofwM2MpMrOvBki"></div>
                                <div class="blank15"></div>
                                <div class="submit">
                                    <button class="btn btn-success btn-lg" onclick="return doFormSubmit('admin-form', 'login|passwd');"><?php echo $t->_('l_signin') ?></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>

        <script type="text/javascript">
                                        var crntPage = 'admin';
                                        var lang = '<?php echo $lang ?>';
                                        var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                                        var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php echo $stat_track; ?>
    </body>
</html>