<!DOCTYPE html>
<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Политика конфиденциальности и защиты информации</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
    </head>

    <body>



        <?php
            $client_id = '827642684086755'; // Client ID
            $client_secret = '9b472e8416df69314db3c97fc6f87b1a'; // Client secret
            $redirect_uri = 'https://budmisto.com.ua/confidencial'; // Redirect URIs

            $facebook_url = 'https://www.facebook.com/dialog/oauth';

            $params = array(
                'client_id' => $client_id,
                'redirect_uri' => $redirect_uri,
                'scope' => 'email,public_profile,user_location',
                'response_type' => 'code',
            );

            echo $link = '<p><a href="' . $facebook_url . '?' . http_build_query($params) . '">Аутентификация через Facebook</a></p>';

            if(isset($_GET['code'])) {


                $result = false;

                $params = array(
                    'client_id' => $client_id,
                    'redirect_uri' => $redirect_uri,
                    'client_secret' => $client_secret,
                    'code' => $_GET['code'],
                    'default_graph_version' => 'v2.12',
                );

                $facebook_url = 'https://graph.facebook.com/oauth/access_token';

                $tokenInfo = null;

                $ch = curl_init($facebook_url . '?' . http_build_query($params));
                curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
                $output = curl_exec($ch);

                $tokenInfo = json_decode($output, true);

                if(count($tokenInfo) > 0 && isset($tokenInfo['access_token'])) {
                    $params = [
                        'access_token' => $tokenInfo['access_token'],
                        'fields' => 'email,location,phone',
                        'locale' => 'ru_RU'
                    ];

                    $ch = curl_init('https://graph.facebook.com/me' . '?' . urldecode(http_build_query($params)));
                    curl_setopt($ch, CURLOPT_RETURNTRANSFER, 1);
                    $output = curl_exec($ch);
                    $userInfo = json_decode($output, true);

                    print_r($userInfo);
                    exit();
                } else {
                    var_dump($tokenInfo);
                    exit();
                }
            }
        ?>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <?php if($is_logged) { ?>

                                                    <li class="profile">
                                                        <div>
                                                            <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                    </li>

                                                <?php } else { ?>

                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>

                                                <?php } ?>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container content size100">
                <h1>Политика конфиденциальности и защиты информации.</h1>
                Оставляя данные на Сайте, Вы соглашаетесь с Политикой конфиденциальности и защиты информации. 
                <h2>Защита данных</h2> 
                Администрация Сайта Budmisto.com.ua (далее Сайт)  имеет право передать или раскрыть информацию, предоставленную пользователем (далее Пользователь) при регистрации и использовании функций Сайта другим пользователям Сайта, а также третьим лицам в случаях, описанных законодательством страны, на территории которой пользователь ведёт свою деятельность. 
                <h2> Получение персональной информации </h2> 
                Для коммуникации на Сайте пользователь обязан внести некоторую персональную информацию. Для проверки предоставленных данных, Сайт оставляет за собой право потребовать доказательства идентичности в онлайн или офлайн режимах.
                <h2> Использование персональной информации </h2> 
                Сайт использует личную информацию Пользователя для обслуживания и для улучшения качества предоставляемых услуг. Часть персональной информации может быть предоставлена другим пользователям Сайта а также банку или платёжной системе, в случае, если предоставление этой информации обусловлено процедурой перевода средств платёжной системе, услугами которой Пользователь желает воспользоваться. Сайт прилагает все усилия для сбережения в сохранности личных данных Пользователя. Личная информация может быть раскрыта в случаях, описанных законодательством, либо когда администрация сочтёт подобные действия необходимыми для соблюдения юридической процедуры, судебного распоряжения или легального процесса необходимого для работы Пользователя с Сайтом.
                <h2> Коммуникация</h2>  
                После того, как Пользователь оставил данные, он получает сообщение, подтверждающее его успешную регистрацию. Пользователь имеет право в любой момент прекратить получение информации предоставляемой Сайтом.
                <h2> Ссылки </h2> 
                На Сайте могут содержаться ссылки на другие Сайты. Сайт не несет ответственности за содержание, качество и политику безопасности этих Сайтов. Данное заявление о конфиденциальности относится только к информации, размещенной непосредственно на Сайте. 
                <h2> Безопасность</h2>  
                Сайт обеспечивает безопасность учетной записи Пользователя от несанкционированного доступа. 
                <h2> Уведомления об изменениях </h2> 
                Сайт оставляет за собой право вносить изменения в Политику конфиденциальности без дополнительных уведомлений. Нововведения вступают в силу с момента их опубликования. Пользователи могут отслеживать изменения в Политике конфиденциальности самостоятельно.

            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>



    </body>
</html>