<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Помощь по сайту</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <?php if($is_logged) { ?>

                                                    <li class="profile">
                                                        <div>
                                                            <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                    </li>

                                                <?php } else { ?>

                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>

                                                <?php } ?>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg disabled"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container content size100">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="title">Обратная связь</div>
                        <div class="blank10"></div>
                        <h4>Справочный телефон</h4>
                        <div class="blank15"></div>
                        +38 (096) 007-71-37<br />
                        <span class="grey">менеджер по работе с клиентами</span>
                        <div class="blank25"></div>
                        <h4>Форма обратной связи</h4>

                        <?php
                            if(isset($error)) {
                                if(!$error) {
                                    $class = 'alert-success';
                                    $result = 'Ваше сообщение успешно отправлено в администрацию';
                                } else {
                                    $class = 'alert-danger';
                                    $result = 'Не удалось отправить сообщение';
                                }
                                ?>

                                <div class="alert <?php echo $class ?> alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <big><?php echo $result ?></big>
                                </div>
                            <?php } ?>

                        <div class="blank15"></div>
                        <form method="post" id="contact-form" class="form-horisontal">
                            <input type="hidden" id="csrf-token">
                            <div class="row">
                                <div class="col-md-11">
                                    <strong class="grey">Ваше имя</strong>
                                    <input type="text" class="form-control" id="name" name="name" />
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-md-11">
                                    <strong class="grey">Как с вами связаться</strong>
                                    <input type="text" class="form-control" id="contact" name="contact" />
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-md-11">
                                    <strong class="grey">Ваш вопрос или предложение</strong>
                                    <textarea class="form-control" id="message" name="message"></textarea>
                                </div>
                            </div>
                            <div class="blank25"></div>
                            <div class="row">
                                <div class="col-md-11">
                                    <div class="submit">
                                        <button class="btn btn-success btn-lg" onclick="return doFormSubmit('contact-form', 'name|contact|message');"><?php echo $t->_('cmn_send') ?></button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">

                        <div class="title">Помощь по сайту</div>
                        <div class="blank10"></div>

                        На сайте Вы сможете оперативно получать информацию о строящихся объектах и заказах напрямую от заказчика.
                        <br /><br />
                        Отобранные по Вашей специальности новые заказы мы можем сразу отправлять Вам, что бы Вы смогли оперативно начать переговоры с заказчиком, позволить ему ознакомиться с тем что Вы можете предложить, Вашим опытом, набором выполненных работ и/или законченных объектов, сделать предложение и получить выгодный контракт.
                        <br /><br />
                        Мастера, Специалисты, Бригады, Фирмы все получают отзыв от предыдущих заказчиков. Для старательных и добросовестных людей выгодно, когда о них идет добрая слава и настоящие профессионалы понимают что их доход напрямую зависит от качества выполненных работ. Вы не только сможете получить отзыв в тексте на сайте, но также мы попросим за Вас, чтобы Ваш предыдущий заказчик посоветовал Вас новому заказчику.
                        <br /><br />
                        Для создания профиля Вам необходимо зарегистрироваться. Вы можете добавить несколько видов деятельности, районов в которых вы выполняете работы, описание деятельности, фото и отзывы выполненных Вами в прошлом работ. Мы советуем постараться описать как можно понятнее Ваш вид деятельности – то, что видит о вас заказчик и напрямую связано с Вашим доходом.
                        <br /><br />
                        После заполнения формы вы будете зарегистрированы и сможете перейти к выбору поступивших заказов.
                        <br /><br />
                        В течении определенного времени Вы сможете пользоваться услугой бесплатно, но мы оставляем за собой право взымать определенную плату за наши услуги. Которая будет принята по договоренности в разумных границах.
                        <br /><br />
                        Если Вы представляете строительную организацию, которая не только выполняет работы, но и ищет субподрядчиков, Вы можете использовать те же логин и пароль для оформления заказа.


                    </div>
                </div>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

        <script type="text/javascript">
                                            var crntPage = 'helpcenter';
                                            var lang = '<?php echo $lang ?>';
                                            var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if(!$is_logged) { ?>
                <script type="text/javascript">
                                                    var langOk = '<?php echo $t->_('l_signin') ?>';
                                                    var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                                    var langLogin = '<?php echo $t->_('l_login') ?>';
                                                    var langEmail = '<?php echo $t->_('l_email') ?>';
                                                    var langPhone = '<?php echo $t->_('l_phone') ?>';
                                                    var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                                    var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                                    var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                                    var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                                    var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                                    var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                                    var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                                    var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                </script>
                <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>
            <?php } ?>

        <?php echo $stat_track; ?>
    </body>
</html>