<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_site') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/owl.carousel.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/owl.theme.css" />
        <style>

        </style>
    </head>

    <body>
        <div id="page-body"  style="
    background-image: url(https://budmisto.com.ua/images/bricks.jpg);
    background-repeat: repeat;
    background-attachment: fixed;
     background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
">

            <div class="container mp-header size100">
                <div class="row">
                    <div class="col-xs-2 col-md-2 logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                    
                    <div class="menu-btns col-xs-12 col-md-5 nopad top_buttons">
                        <!--                        <div class="blank25"></div>-->
                        <ul class="menu-items">

                            <?php if($is_logged) { ?>

                                    <li >
                                        <div>
                                            <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg">Кабинет</a>
                                        </div>
                                    </li>

                                    <li>
                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                    </li>
                                    <li class="help">
                                        <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"  id="btn-help"><?php echo $t->_('cmn_help') ?></a>
                                    </li>

                                <?php } else { ?>
                                    <li class=" ">
                                        <a href="<?php echo $url ?>/" class="btn btn-danger btn-lg hidden-lg hidden-md hidden-xs"  id="btn-enter" style="font-size: 20px !important; font-weight: 600; padding: 6px 16px;">Создать заявку</a>
                                    </li>
                                    <li>
                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg" id="btn-enter"><?php echo $t->_('l_signin') ?></a>
                                    </li>
                                    <li>
                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg midle-button"  id="btn-register"><?php echo $t->_('l_register_main') ?></a>
                                    </li>
                                    <li class="help">
                                        <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg" style=";" id="btn-help"><?php echo $t->_('cmn_help') ?></a>
                                    </li>

                                <?php } ?>


                        </ul>
                        <?php if(!$is_logged) { ?>
                                <div class="blank10"></div>
                                <div class="fw-mb is_small" style="width:34%; float: left; padding-right: 0px;   margin-left: 5px;">
                                    <a href="/catalog" class="btn btn-default btn-lg red">Каталог</a>
                                </div>
                                <div class="fw-mb is_small" style="width:59%; float: right; margin-right: 24px;     padding-right: 0px;">
                                    <a href="/leftovers" class="btn btn-default btn-lg red" id="btn-leftovers">Остатки материалов</a>
                                </div>
                            <?php } ?>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="main-add-form">
                <div class="fade-top"></div>


                <div class="container size100">
                    <div class="row">
                        <div class="col-sm-8">

                            <div class="form-block banner-line" style="background-color:transparent;">
                                <div class="slide">
                                    <span class="glyphicon glyphicon-list-alt"></span> &nbsp; <?php echo $t->_('blk_promo1') ?>
                                </div>
                                <div class="slide" style="visibility:hidden;">
                                    <span class="glyphicon glyphicon-check"></span> &nbsp; <?php echo $t->_('blk_promo2') ?>
                                </div>
                                <div class="slide" style="visibility:hidden;">
                                    <span class="glyphicon glyphicon-thumbs-up"></span> &nbsp; <?php echo $t->_('blk_promo3') ?>
                                </div>
                                <div class="slide-img" style="visibility:hidden;">
                                    <img src="<?php echo $url ?>/images/logo-w.png" alt="Будмисто" />
                                </div>
                            </div>
                            <div class="blank15"></div>

                            <div class="form-block">

                                <div id="tab1">

                                    <form action="/catalog/order/create" method="post" id="order-form" class="form-horisontal">
                                        <input type="hidden" id="csrf-token">
                                        <div class="container size100">
                                            <div class="blank10"></div><div class="blank10"></div>
                                            <div class="row" style="border-bottom:1px solid #834e20;margin-bottom:7px;">
                                                <div class="col-md-8 col-xs-7">
                                                    <textarea class="form-control " id="desc" name="desc" placeholder="<?php echo $t->_('blk_whattodo_text') ?> *" style="font-weight: 600;"><?php echo isset($description) ? $description : '' ?></textarea>
                                                </div>
                                                <div class="col-md-4 col-xs-5">
                                                    <div id="fun-title" class="title" style="margin: 5px 0 4px 10px;"><?php echo $t->_('blk_whattodo') ?></div>
                                                </div>
                                                <div class="blank5"></div>
                                            </div>
                                            <div class="row" style="border-bottom:1px solid #834e20;margin-bottom:7px;">
                                                <div class="col-md-8 col-xs-7">
                                                    <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="<?php echo $t->_('blk_address') ?> *" value="<?php echo isset($placeaddr) ? $placeaddr : '' ?>" />
                                                    <input type="hidden" name="placelat" id="placelat" value="<?php echo isset($placelat) ? $placelat : '' ?>" />
                                                    <input type="hidden" name="placelng" id="placelng" value="<?php echo isset($placelng) ? $placelng : '' ?>" />
                                                    <input type="hidden" name="placeid" id="placeid" value="<?php echo isset($placeid) ? $placeid : '' ?>" />
                                                    <input type="hidden" name="placeaddr" id="placeaddr" value="<?php echo isset($placeaddr) ? $placeaddr : '' ?>" />
                                                    <input type="hidden" name="placetown" id="locality" value="<?php echo isset($placetown) ? $placetown : '' ?>" />
                                                    <input type="hidden" name="placedistrict3" id="administrative_area_level_3" value="<?php echo isset($placedistrict3) ? $placedistrict3 : '' ?>" />
                                                    <input type="hidden" name="placedistrict2" id="administrative_area_level_2" value="<?php echo isset($placedistrict2) ? $placedistrict2 : '' ?>" />
                                                    <input type="hidden" name="placeregion" id="administrative_area_level_1" value="<?php echo isset($placeregion) ? $placeregion : '' ?>" />
                                                    <input type="hidden" name="placecountry" id="country" value="<?php echo isset($placecountry) ? $placecountry : '' ?>" />
                                                    <input type="hidden" name="placeroute" id="route" value="<?php echo isset($placeroute) ? $placeroute : '' ?>" />
                                                    <input type="hidden" name="placextra" id="sublocality_level_1" value="<?php echo isset($placextra) ? $placextra : '' ?>" />
                                                </div>
                                                <div class="col-md-4 col-xs-5">
                                                    <div class="title"><?php echo $t->_('blk_wheretodo') ?></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-8 col-xs-7">
                                                    <div class="row">
                                                        <div class="col-sm-12 ">
                                                            <input type="text" class="form-control" <?php if($is_logged && isset($usr_phone)) echo 'readonly' ?> name="phone" id="phone" placeholder="<?php echo $t->_('l_phone') ?> *" value="<?php echo isset($usr_phone) ? $usr_phone : '' ?>" />
                                                            <div class="blank15" style="height:18px;"></div>
                                                        </div>
                                                        <?php
                                                            $diz = '';
                                                            if($is_logged && isset($usr_email))
                                                                $diz = 'readonly';
                                                        ?>
                                                        <!--<div class="col-sm-6">
                                                            <input type="email" class="form-control" <?php echo $diz ?> name="email" id="email" placeholder="<?php echo $t->_('blk_email_pholder') ?>" value="<?php echo isset($usr_email) ? $usr_email : '' ?>" />
                                                        </div>-->
                                                    </div>
                                                </div>
                                                <div class="col-md-4 col-xs-5">
                                                    <div class="title"><?php echo $t->_('blk_contact') ?></div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-12 nopad">
                                                    <div class="submit">
                                                        <button class="btn btn-success btn-lg" style="width: 40%; height: 50px; padding-top: 10px;" onclick="return doFormSubmit('order-form', 'desc|locality|phone', '<?php if(!$is_logged) echo 'checkuser|checkphone|' ?>checkemail');"><?php echo $t->_('blk_submit') ?></button>
                                                        <button class="btn btn-success btn-lg" style="width: 40%; height: 50px; padding-top: 0px;" id="form_feedback"><?php echo $t->_('blk_submit2') ?></button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>


                            </div>

                        </div>
                        <div class="col-sm-4 carousel hidden-xs">
                            <div class="visible-sm title"><?php echo $t->_('tls_lastreq') ?></div>
                            <ul class="news-carousel">
                                <?php
                                    if($last_orders)
                                        foreach ($last_orders as $la) {
                                            ?>
                                            <li class="news-item">
                                                <a href="<?php echo $url ?>/catalog/order/<?php echo $la['id'] ?>">
                                                    <?php echo $la['spec_name'], ' <span>(', $la['type_name'], ')</span>' ?>
                                                    <p><?php echo $la['town'] . ', ' . $la['region'] ?></p>
                                                    <div class="news-txt"><?php echo $la['descr_short'] ?></div>
                                                </a>
                                            </li>
                                        <?php } else echo '<p style="text-align:center">Нет новых заказов</p>' ?>

                            </ul>
                        </div>
                    </div>
                </div>

            </div>


            <div class="container" style="
    background-color: #efece9;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    width: auto;
    text-align: justify;
    border: 1px solid #834e20;
    /* background-color: transparent; */
">
                <div class="row">
                    <div class="col-xs-1"></div>
                    <div class="col-xs-10 description center">
                        <?php echo $t->_('blk_promotxt') ?>
                    </div>
                    <div class="col-xs-1"></div>
                </div>
            </div>

            <?php if($banner3 != ""): ?>
                    <div class="blank10"></div>
                    <?php echo $banner3 ?>
                    <div class="blank10"></div>
                <?php endif; ?>


            <div class="container catalog size100">
                <div class="title row">
                    <div class="col-md-4 col-xs-4">
                        <a href="<?php echo $url ?>/catalog" style="color: #eea236;"><?php echo $t->_('tls_catalog') ?> <span class="glyphicon glyphicon-circle-arrow-right" ></span></a>    
                    </div>

                    <div class="col-md-4 col-xs-4">
                        <a href="<?= $url ?>/catalog/orders" style="color: #eea236;">Заказы</a>
                    </div>

                    <div class="col-md-4 col-xs-4" >
                        <a href="<?= $url ?>/catalog/users" style="color: #eea236;">Строители</a>
                    </div>

                </div>

                <div class="grid row">

                    <?php
// List of specializations
                        if($top_catalog) { //var_dump($sub_catalog); die;
                            foreach ($top_catalog as $tc) {
                                ?>

                                <div class="grid-item col-md-3 col-sm-6 col-xs-6">
                                    <?php /* if (!$is_logged) { ?>
                                      <p><a href="<?php echo $url, '/catalog/', $tc['slug']?>"><?php echo $tc['type_name']?></a></p>
                                      <div class="blank15"></div>
                                      <?php } else { */ ?>
                                    <p><a href="<?php echo $url, '/catalog/', $tc['slug'] ?>"><?php echo $tc['type_name'] ?></a></p>
                                    <ul>
                                        <?php if(isset($sub_catalog['sub' . $tc['id']])) foreach ($sub_catalog['sub' . $tc['id']] as $sc) { ?>
                                                <li><a href="<?php echo $url, '/catalog/', $tc['slug'], '/', $sc['slug'] ?>"><?php echo $sc['spec_name'] ?></a></li>
                                            <?php } ?>
                                    </ul>
                                    <?php //}?>
                                </div>

                                <?php
                            }
                        } // end list
                    ?>

                </div>
            </div>

            <div class="blank20"></div>
            <?php if($banner2 != ""): ?>
                    <div class="blank10"></div>
                    <div class="container " id="info_text" style="
    background-color: #efece9;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: auto;
    text-align: center;
    border: 1px solid #834e20;
">
                    <?php echo $banner2 ?>
                </div>
                    <div class="blank25"></div>
                <?php endif; ?>
        </div>



        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

        <script type="text/javascript" src="<?php echo $url ?>/js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.bootstrap.newsbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/owl.carousel.min.js"></script>

        <script type="text/javascript">
                                                            var crntPage = 'main';
                                                            var lang = '<?php echo $lang ?>';
                                                            $('.banner-line').owlCarousel({
                                                                loop: true,
                                                                nav: false,
                                                                dots: false,
                                                                autoplay: true,
                                                                autoplayTimeout: 4000,
                                                                autoplayHoverPause: false,
                                                                autoplaySpeed: 4000,
                                                                items: 1
                                                            });
                                                            $('.banner-line div').css('visibility', 'visible');
                                                            var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';

                                                            $('#phone').on('blur', function () {
                                                                    
                                                                let phone = $(this).val();    
                                                                    
                                                                $.ajax({
                                                                    type: 'post',
                                                                    url: '/catalog/temp_phone',
                                                                    dataType: 'html',
                                                                    data: {
                                                                        phone:phone
                                                                    }                                                                   
                                                                });

                                                            });

        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if(!$is_logged) { ?>
                <script type="text/javascript">
                                                            funButton();
                                                            var langOk = '<?php echo $t->_('l_signin') ?>';
                                                            var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                                            var langLogin = '<?php echo $t->_('l_login') ?>';
                                                            var langEmail = '<?php echo $t->_('l_email') ?>';
                                                            var langPhone = '<?php echo $t->_('l_phone') ?>';
                                                            var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                                            var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                                            var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                                            var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                                            var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                                            var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                                            var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                </script>
                <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>
            <?php } ?>

        <script type="text/javascript">
                                                            var placeSearch, autocomplete;
                                                            function initAutocomplete() {
                                                                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: ['ua']}});
                                                                autocomplete.addListener('place_changed', fillInAddress);
                                                            }

                                                            /*
                                                             var arr =[1,2,3,4,100,200];
                                                             Array.prototype.reverse_self = function() {
                                                             
                                                             var count=this.length;   
                                                             var clone_arr ={};
                                                             
                                                             for (var key in this) {
                                                             clone_arr[key] = this[key];
                                                             }                      
                                                             for (i=0;i<count;i++){               
                                                             this[count-1-i]=clone_arr[i]; 
                                                             }          
                                                             };            
                                                             arr.reverse_self();
                                                             console.log(arr);
                                                             
                                                             */
                                                            var arr = [1, 2, 3, 4, 5, 6, 7, 8];

                                                            function summ(array) {
                                                                var count = array.length;
                                                                var summ = 0;
                                                                for (i = 0; i < count; i++) {
                                                                    summ = summ + parseInt(array[i]);
                                                                }
                                                                return summ;
                                                            }
                                                            //console.log(summ(arr));

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

        <?php echo $stat_track; ?>


    </body>
</html>
