<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/jquery.Jcrop.min.css" />

        <style>
            .nav-tabs > li.active > a { cursor:pointer !important; }
            .ok_btn { display:inline; width: 115px; float: right; text-align: right;}
            .name { display: inline-block; height:30px; }
            #ava { width:150px; height:150px; }
            .modal-body hr { margin: 5px 0; padding:0; }
            #change-order { margin-left: 10px; }
            select option { padding: 5px; }
            select .glyphicon { display:list-item; }
            .disabled { pointer-events:none; }
            .mess { text-align: justify; margin-top:-4px; }
            .ulist big { font-size: 18px; }
            .ulist { margin-bottom: 3px; }
        </style>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="<?php echo $url ?>/my">Заявки</a></li>
                    <li><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>

                </ul>
                <div class="blank25"></div>

                <div class="input-group">
                    <select class="form-control" id="order_id">

                        <?php
                            $time = time();
                            foreach ($orders as $o) {
                                $txt = '';
                                if($o['close_date'])
                                    $txt = ' class="glyphicon glyphicon-lock text-danger"';
                                elseif($o['finish_date'] < $time)
                                    $txt = ' class="glyphicon glyphicon-hourglass text-danger"';
                                if(!$o['order_status'])
                                    $txt = ' class="glyphicon glyphicon-ban-circle text-danger"';
                                ?>

                                <option<?php echo $txt ?> value="<?php echo $o['id'] ?>"<?php if($o['id'] == $order['id']) echo ' selected' ?>>&nbsp;<?php echo $o['order_date'], ' &nbsp; ', $o['brief'], '...' ?></option>

                            <?php } ?>

                    </select>
                    <span class="input-group-btn"><button id="change-order" class="btn btn-success disabled">Перейти</button></span>
                </div>
                <div class="blank50"></div>

                <?php
                    $label = '';
                    $order_not_active = false;
                    if($order['close_date']) {
                        $label = ' &nbsp; <span class="label label-danger label-as-badge">заявка закрыта</span> ';
                        $order_not_active = true;
                    } elseif($order['finish_date'] < time()) {
                        if($order['order_status'])
                            $label = ' &nbsp; <span class="label label-danger label-as-badge">истёк срок заявки</span>';
                        else
                            $label = ' &nbsp; <span class="label label-danger label-as-badge">заявка не заполнена</span>';
                        if($order['order_status'])
                            $order_not_active = true;
                    }
                ?>

                <div class="row">

                    <div class="col-sm-6 pcatalog">
                        <h4>Заявка <span class="light50">от <?php echo $order['order_date'] ?></span><?php echo $label ?>
                            &nbsp; &nbsp; <a href="<?php echo $url, '/my/order/', $order['id'] ?>" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Изменить заявку</a>
                            &nbsp; &nbsp; <a href="<?php echo $url, '/catalog/order/', $order['id'] ?>" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </h4>
                        <div class="blank25"></div>
                        <div class="block-border">
                            <div class="blank15"></div>
                            <strong class="light50 brown">Описание заявки</strong>
                            <div class="blank5"></div>
                            <p style="text-align:justify"><big><?php echo $order['order_description'] ?></big></p>
                        </div>
                        <!--
                        <div class="blank15"></div>
                        <strong class="light50 brown">Населённый пункт</strong>
                        <div class="blank5"></div>
        
                        <?php
                            $trimmedArray = array_map('trim', array($order['route'], $order['town'], $order['district'], $order['region']));
                            $order_addr = implode(', ', array_filter($trimmedArray));
                        ?>
        
                        <?php echo $order_addr ?>
                        
                        <?php /* if (isset($xplace)) {?>
                              <div class="blank5"></div>
                              <?php echo $xplace['place_addr']?>
                              <?php } */ ?>
        
                        <div class="blank15"></div>
                        <strong class="light50 brown">Специализация</strong>
                        <div class="blank5"></div>
        
                        <?php
                            if($order['order_status'])
                                echo $order['type_name'], '/', $order['spec_name'];
                            else
                                echo 'Не указана';
                            if(!$order['order_status'] && !$order_not_active) {
                                ?>
                                                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:20px;">
                                                        <big>Для публикации заявки в каталоге нужно больше информации. Пожалуйста, укажите необходимую информацию.</big>
                                                    </div>
                            <?php } ?>
                        <div class="blank15"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <strong class="light50 brown">Бюджет</strong>
                                <div class="blank5"></div>
                        <?php echo $order['budget_name'] ?>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Ограничение количества звонков</strong>
                                <div class="blank5"></div>
                        <?php echo $order['count_name'] ?>
                                <div class="blank15"></div>
                            </div>
                            <div class="col-md-6">
                                <strong class="light50 brown">Начало работы</strong>
                                <div class="blank5"></div>
                        <?php echo $order['when_name'] ?>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Заявка актуальна до</strong>
                                <div class="blank5"></div>
                        <?php echo $order['actual_period'] ?>
                                <div class="blank15"></div>
                            </div>
                        </div>
                        -->


                        <div class="workers">

                            <?php
                                if($workers) {
                                    if(isset($workers_not_found_sub))
                                        echo '<div class="my-label"><div class="green"><span class="glyphicon glyphicon-info-sign"></span><br /> Строители по выбраной специализации не найдены. Показаны похожие специальности.</div></div>';
                                    ?>              <form method="post">
                                        <div class="title">Строители по специальности:</div>
                                        <div class="col-sm-12">
                                            <select name="new_speciality" class="form-control" id="tid">
                                                <option value="0">-- <?php echo $t->_('blk_select1') ?> --</option>

                                                <?php if(is_array($top_catalog)): ?>
                                                    <?php foreach ($top_catalog as $key => $value): ?>
                                                        <option <?php if($order['order_wrk_type'] == $value['id']): ?> selected <?php endif; ?> value="<?php echo $value['id'] ?>"><?php echo $value['type_name'] ?></option>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>


                                            </select>                
                                    </form>
                                    <div class="blank15"></div>
                                </div>
                    <!--<div align="center"><?php echo '<small class="grey">показаны ближайшие к ' . $order['town'], ', ', $order['district'], ' строители по специализации</small>' ?></div>-->
                                <div class="blank15"></div>

                                <?php
//Убираем всех блокированных строителей
                                foreach ($workers as $key => &$value) {
                                    if(is_array($blocked_workers)) {
                                        if(in_array($value['uid'], $blocked_workers)) {
                                            unset($workers[$key]);
                                        } else {
                                            $all_uid[] = $value['uid'];
                                        }
                                    } else {
                                        $all_uid[] = $value['uid'];
                                    }
                                }
                                $all_uid = json_encode($all_uid);
                                ?>
                                <script>
                                    var workers =<?= $all_uid; ?>;
                                </script>

                                <?php
                                foreach ($workers as $k => $w) {
                                    ?>

                                    <?php
                                    $fav = false;
                                    if(is_array($selected)) {
                                        foreach ($selected as $kk => $vv) {
                                            if($w['uid'] == $vv['id']) {
                                                $fav = $vv;
                                            }
                                        }
                                    }

                                    if(!$fav) {
                                        $class = 'label-primary';
                                        $title = $t->_('w_select');
                                    } else {
                                        $class = 'label-success';
                                        $title = $t->_('w_unselect');
                                    }
                                    $class = 'label-success';
                                    $title = 'Выбран';

                                    $offer_btn = false;
                                    ?>            
                                    <div class="item block-border" block_id="<?= $w['uid'] ?>"    >
                                        <div class="name">
                                            <span class="glyphicon glyphicon-wrench"></span>
                                            <?php echo $w['user_name'] ?> <?php if($w['stars'] == 10) echo '<span class="glyphicon glyphicon-star text-danger"></span>' ?>

                                            <div style="float: right">

                                                <?php if(is_array($offer_workers)): ?>

                                                    <?php foreach ($offer_workers as $key => $value): ?>                                                
                                                        <?php if($w['uid'] == $value['id_worker']): ?>
                                                            <?php $offer_btn = true; ?>
                                                            <span style="color:green"><?= $value['phone'] ?></span>
                                                        <?php endif; ?>
                                                    <?php endforeach; ?>

                                                    <?php if(!$offer_btn and is_array($fav)): ?>
                                                        <span style="color:green;"><?= $fav['user_phone'] ?></span>       
                                                    <?php endif; ?>

                                                    <?php if(!$offer_btn and ! is_array($fav)): ?>
                                                        <span style="color:green; display: none;" click_data_phone="<?= $w['uid'] ?>" ><?= $value['phone'] ?></span>       
                                                    <?php endif; ?>

                                                <?php endif; ?>

                                                <?php if(!$offer_btn and ! is_array($fav)): ?>
                                                    <button class="btn btn-xs btn-primary js_select_btn" click_data="<?= $w['uid'] ?>">Выбрать</button>                  
                                                <?php endif; ?>



                                                <button type="button" class="btn btn-warning btn-xs js_hide_worker" data="<?= $w['uid'] ?>">Не нужен такой</button>
                                            </div>                        
                                        </div>



                                        <div class="ok_btn" style="width:auto">
                                            <!--form id="select-form"-->
                                                <!--button class="btn <?php echo $class ?> btn-xs" id="btn-sel"><?php echo $title ?></button-->
                                            <?php if($offer_btn): ?>
                                                <span class="label label-success" ><span class="glyphicon glyphicon-ok"></span> Сделано предложение</span>
                                            <?php endif; ?>
                                            <span class="label <?php echo $class ?>" id="lbl<?php echo $w['uid'] ?>"><?php if(is_array($fav)) { ?><span class="glyphicon glyphicon-ok"></span> <?php echo $title ?><?php } ?></span>
                                            <!--input type="hidden" id="csrf-token">
                                            <input type="hidden" name="worker" value="<?php echo $w['uid'] ?>">
                                            <input type="hidden" name="order" value="<?php echo $order['id'] ?>"-->
                                            <!--/form-->
                                        </div>
                                        <div class="desc">
                                            <?php echo $w['brief'] ? $w['brief'] : 'Нет описания' ?>...


                                            <button class="btn btn-link btn-view" data-id="<?php echo $w['uid'] ?>">[смотреть профиль]</button>
                                        </div>
                                        <div class="blank5"></div>
                                        <?php
                                        if(!isset($w['town']) || !$w['town'])
                                            echo '<span class="green">Адрес не указан</span>';
                                        else {
                                            $trimmedArray = array_map('trim', array($w['town'], $w['district'], $w['region']));
                                            echo implode(', ', array_filter($trimmedArray));
                                            ?>
                                        <?php } ?>
                                    </div>
                                    <div class="blank5" block_id="<?= $w['uid'] ?>" ></div>

                                    <?php
                                }
                                // if ($count['workers'] > $limit) echo '<div class="text-center"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-wrench green"></span> &nbsp; Посмотреть всех строителей по этой специализации</a></div>';
                            } else {
                                ?>
                                <!-- <h3 class="text-center red">Строители не найдены</h3>
                                 <p style="text-align:center">В районе, который указан в заявке, строители необходимой специальности<br /> не найдены.</p>-->

                                <?php
                                if($order['order_status']) {
                                    $link_script = true;
                                    ?>
                                    <div class="blank15"></div>
                                    <p style="text-align:center">
                                        <button class="btn btn-primary btn-lg" id="need_help">Запросить помощь менеджера</button>
                                    </p>
                                <?php } ?>

                            <?php } ?>
                        <div class="item block-border" style="height: 58px;" >
                            <?php if($prev_page): ?>
                                    <button type="button" class="btn btn-warning btn-md" style="float:left" onclick="window.location.href = '<?= $prev_page ?>'">Предыдущие строители</button>
                                <?php endif; ?>
                            <?php if($next_page): ?>
                                    <button type="button" class="btn btn-warning btn-md" style="float:right" onclick="window.location.href = '<?= $next_page ?>'">Следующие строители</button>
                                <?php endif; ?>

                        </div>
                    </div>

                </div>
                <div class="col-sm-6 pcatalog">
                    <?php if(isset($offer) && $offer) { ?>

                            <div class="blank15"></div>                   
                            <h4 class="yellow">Предложения от строителей</h4>
                            <div class="blank5"></div>


                            <?php if(is_array($offer)): ?>
                                <?php foreach ($offer as $key => $o): ?>
                                    <?php if(!$CurrentPremiumBlock or $CurrentPremiumBlock['user_id'] == $o['uid'] or $LastPremiumBlock['user_id'] == $o['uid']): ?>
                                        <div class="ulist btn btn-default"<?php if((isset($usr_id) && $usr_id == $o['offer_id']) || (isset($usr_id) && $usr_id == $order['user_id'])) echo ' style="border-bottom-color:#fff; height:42px;"' ?>>
                                            <a href="<?php echo $url ?>/user/<?php echo $o['uid'] ?>"><?php echo $o['user_name'] ?> <?= $o['user_phone'] ?></a>
                                        </div>
                                        <div class="block-border mess">
                                            <?php echo $o['offer_text'] ?>
                                        </div>
                                        <div class="blank10"></div>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            <?php endif; ?>


                        <?php } ?>


                </div>
            </div>
        </div>

        <div class="blank50"></div>

    </div>

    <div class="modal fade bs-modal-md" id="view" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <div class="row">
                        <div class="col-sm-4">
                            <h4 class="">Профиль строителя</h4>
                        </div>
                        <div class="col-sm-7">
                            <a href="" id="link" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Полный профиль</a>
                        </div>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <span class="title" id="name" style="font-size:26px"></span>
                            <hr />
                            <span id="type"></span>
                            <div class="blank25"></div>
                            <strong>Описание:</strong>
                            <div class="blank5"></div>
                            <div class="block-border">
                                <div style="color:#666;padding-right:5px;overflow-y:auto;height:155px;">
                                    <span id="desc"></span>
                                </div>
                                <div class="blank5"></div>
                            </div>
                        </div>
                    </div>
                    <div class="contacts">
                        <div class="blank25"></div>
                        <div class="block-border">
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong class="green">Телефоны:</strong>
                                </div>
                                <div class="col-xs-8">
                                    <form id="select-form">
                                        <button class="btn btn-primary" id="btn-sel" data-uid=""></button>
                                        <input type="hidden" id="csrf-token">
                                        <input type="hidden" id="worker" name="worker" value="">
                                        <input type="hidden" name="order" value="<?php echo $order['id'] ?>">
                                    </form> 
                                    <a href="#" data-toggle="tooltip" data-placement="bottom"  data-html="true" title="Сегодня Вы можете выбрать 10 специалистов, для увеличения лимита свяжитесь с администратором по телефону <?= $this->config->other->admin_phone ?>">Ограничение</a>
                                    <div id="phone"></div>
                                </div>
                                <div class="blank10"></div>
                                <div class="col-xs-4">

                                </div>
                                <div class="col-xs-8">
                                    <button type="button" class="btn btn-success btn-md" id="back-call" style='display: none'>Предложить работу</button>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="blank25"></div>

                    <div class="row">
                        <div class="col-xs-12 text-center" >
                            <button type="button" class="btn btn-warning btn-md" style="float:left" id="last"><span class="glyphicon glyphicon glyphicon-backward"></span> &nbsp;Предыдущий</button>

                            <button type="button" class="btn btn-error btn-md" onclick="$('.close').trigger('click')" >Закрыть</button>
                            <button type="button" class="btn btn-warning btn-md" style="float:right" id="next">Следующий &nbsp;<span class="glyphicon glyphicon-forward"></span></button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-modal-md" id="call-wnd" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="close_modal2" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>Строитель позвонит</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <form method="post" id="form-call">
                            <input type="hidden" id="csrf-token">
                            <input type="hidden" name="user_call_id" id="user_call_id" value="">
                            <div class="col-md-12">
                                <?php if($is_logged) { ?>
                                        <input type="text" class="form-control" name="callphone" id="callphone" readonly="" placeholder="<?php echo $t->_('l_phone') ?>" value="<?php echo isset($usr_phone) ? $usr_phone : '' ?>" />
                                        <div class="blank5"></div>
                                        <textarea class="form-control" name="message" placeholder="<?php echo $t->_('cmn_message') ?>"></textarea>
                                    <?php } ?>
                            </div>
                            <div class="blank15"></div>
                            <div class="col-md-12">
                                <button class="btn btn-warning" id="submit-call"><?php echo $t->_('cmn_send') ?></button> &nbsp; &nbsp;
                                <button class="btn btn-default" data-dismiss="modal"><?php echo $t->_('cmn_close') ?></button>
                            </div>
                        </form>
                    </div>
                    <div class="blank25"></div>
                </div>
            </div>
        </div>

    </div>   

    <div class="modal modal-center fade bs-modal-md" id="blocked_choice"  tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4>Действие отменено</h4>
                </div>
                <div class="modal-body">
                    Превышен максимальный лимит на сегодня, для увеличения лимита свяжитесь с администратором по телефону:  <?= $this->config->other->admin_phone ?>                
                </div>
            </div>
        </div>

    </div> 

    <?php echo $banner2 ?>
    <div class="blank50"></div>

    <div class="page-footer">
        <div class="blank15"></div>
        <div class="container">
            <div class="row">
                <div class="col-xs-9 left">
                    <?php echo $t->_('ft_copy') ?>
                </div>
                <div class="col-xs-3 right">
                    <?php echo $t->_('ft_contact') ?>
                </div>
            </div>
        </div>
        <div class="blank15"></div>
    </div>

    <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
    <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
    <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
    <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

    <script type="text/javascript">
                                $('[data-toggle="tooltip"]').tooltip();
                                var crntPage = 'activity';
                                var lang = '<?php echo $lang ?>';
                                var url = '<?php echo $url ?>';
                                var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                                var langSelect = '<span class="glyphicon glyphicon-ok"></span> <?php echo $t->_('w_select'); ?>';
                                var langUnSelect = '<?php echo $t->_('w_unselect'); ?>';
                                var langSelected = 'Выбран';
                                var selectedW = [];
<?php
    if($selected)
        foreach ($selected as $key => $val)
            echo 'selectedW.push("' . $val['id'] . '");' . "\n";
?>

                                $('.modal-center').each(function () {
                                    var $clone = $(this).clone().css('display', 'block').appendTo('body');
                                    var top = Math.round(($clone.height() - $clone.find('.modal-content').height()) / 2);
                                    top = top > 0 ? top : 0;
                                    $clone.remove();
                                    $(this).find('.modal-content').css("margin-top", top);
                                });

                                $(".js_select_btn").on("click", function () {

                                    data = $(this).attr("click_data");
                                    $("[data-id='" + data + "']").trigger("click");
                                    setTimeout(function () {
                                        $("[click_data_phone='" + data + "']").show();
                                        $("[click_data='" + data + "']").hide();
                                        $('#btn-sel').trigger("click");
                                    }, 500);
                                    return;
                                });

                                $("#tid").on("change", function () {
                                    $(this).closest('form').submit();
                                });

                                $('.btn-view').each(function () {
                                    $(this).on('click', function (e) {
                                        e.preventDefault();
                                        var userId = $(this).data('id');

                                        var current, next, last = false;

                                        workers.forEach(function (item, i, arr) {

                                            if (parseInt(item) != userId) {
                                                if (!current) {
                                                    last = item;
                                                }
                                                if (current && !next)
                                                    next = item;
                                            }

                                            if (parseInt(item) == userId) {
                                                current = true;
                                            }

                                        });

                                        $.ajax({
                                            type: 'post',
                                            url: '/user',
                                            data: {id: userId},
                                            dataType: 'json',
                                            success: function (result) {

                                                if (!last) {
                                                    $('#last').css("cursor", "not-allowed").attr("new_data_user", '');
                                                } else {
                                                    $('#last').css("cursor", "pointer").attr("new_data_user", last);
                                                }

                                                if (!next) {
                                                    $('#next').css("cursor", "not-allowed").attr("new_data_user", "");
                                                } else {
                                                    $('#next').css("cursor", "pointer").attr("new_data_user", next);
                                                }

                                                $("#user_call_id").val(userId);
                                                $('#name').html(result.name);
                                                //$('#ava').attr('src','<?php echo $url ?>/data/avatars/profile/' + result.avatar);
                                                $('#type').html(result.role);
                                                $('#desc').html(result.desc);
                                                $('#link').attr('href', '<?php echo $url ?>/user/' + userId);
                                                $('#worker').val(result.worker);
                                                $('#btn-sel').data('uid', result.worker);
                                                if ($.inArray(result.worker, selectedW) == -1) {
                                                    $('#btn-sel').parent("form").show();
                                                    $('#phone').html(result.phones).hide();
                                                    $('#btn-sel').html(langSelect);
                                                    $('#btn-sel').removeClass('btn btn-warning').addClass('btn btn-primary');
                                                    $('#back-call').hide();
                                                } else {
                                                    $('#btn-sel').html(langUnSelect);
                                                    $('#btn-sel').removeClass('btn btn-primary').addClass('btn btn-warning');
                                                    $('#phone').html(result.phones).show();
                                                    $('#btn-sel').parent("form").hide();
                                                    $('#back-call').show();
                                                }
                                                $('#view').modal('show');
                                            }
                                        });
                                    });
                                });


                                /*Выводим реферального юзера (с которого началась регистрация)*/
                                var ch = "<?php echo $ref_user ?>";
                                if (parseInt(ch) > 0) {

                                    userId = parseInt(ch);
                                    var current, next, last = false;

                                    workers.forEach(function (item, i, arr) {
                                        if (parseInt(item) != userId) {
                                            if (!current) {
                                                last = item;
                                            }
                                            if (current && !next)
                                                next = item;
                                        }
                                        if (parseInt(item) == userId) {
                                            current = true;
                                        }
                                    });

                                    $.ajax({
                                        type: 'post',
                                        url: '/user',
                                        data: {id: userId},
                                        dataType: 'json',
                                        success: function (result) {

                                            if (!last) {
                                                $('#last').css("cursor", "not-allowed").attr("new_data_user", '');
                                            } else {
                                                $('#last').css("cursor", "pointer").attr("new_data_user", last);
                                            }

                                            if (!next) {
                                                $('#next').css("cursor", "not-allowed").attr("new_data_user", "");
                                            } else {
                                                $('#next').css("cursor", "pointer").attr("new_data_user", next);
                                            }

                                            $("#user_call_id").val(userId);
                                            $('#name').html(result.name);
                                            //$('#ava').attr('src','<?php echo $url ?>/data/avatars/profile/' + result.avatar);
                                            $('#type').html(result.role);
                                            $('#desc').html(result.desc);
                                            $('#link').attr('href', '<?php echo $url ?>/user/' + userId);
                                            $('#phone').html(result.phones);
                                            $('#worker').val(result.worker);
                                            $('#btn-sel').data('uid', result.worker);
                                            if ($.inArray(result.worker, selectedW) == -1) {
                                                $('#btn-sel').parent("form").show();
                                                $('#back-call').hide();
                                                $('#phone').html(result.phones).hide();
                                                $('#btn-sel').html(langSelect);
                                                $('#btn-sel').removeClass('btn btn-warning').addClass('btn btn-primary');
                                            } else {
                                                $('#btn-sel').html(langUnSelect);
                                                $('#btn-sel').removeClass('btn btn-primary').addClass('btn btn-warning');
                                                $('#phone').html(result.phones).show();
                                                $('#btn-sel').parent("form").hide();
                                                $('#back-call').show();
                                            }
                                            $('#view').modal('show');
                                        }
                                    });
                                }
                                /*Конец реферального юзера (с которого началась регистрация)*/

                                $("#last,#next").on("click", function () {

                                    var data_id = parseInt($(this).attr("new_data_user"));

                                    if (data_id > 0) {
                                        $("[data-id='" + data_id + "']").trigger('click');
                                    } else {
                                        return false;
                                    }
                                });

                                $('#callphone').mask('(999) 999-99-99');
                                $('#back-call').on('click', function (e) {
                                    e.preventDefault();
                                    $('#call-wnd').modal('show');
                                });

                                $('#submit-call').on('click', function (e) {
                                    e.preventDefault();
                                    var form = $(this).closest('form');
                                    var btn = $(this);
                                    btn.addClass('off');
                                    form.addClass('off-form');
                                    $.ajax({
                                        type: 'post',
                                        url: '/token',
                                        dataType: 'json',
                                        success: function (result) {
                                            form.find('#csrf-token').attr('name', result.csrf_name).val(result.csrf_value);
                                            $.ajax({
                                                type: 'post',
                                                url: '/users/callrequest',
                                                data: form.serialize(),
                                                success: function (res) {
                                                    if (res == "success") {
                                                        alertBM.alert('Ваш запрос отправлен.<br />С вами свяжутся.', 'alert-success');
                                                        btn.removeClass('off');
                                                        form.removeClass('off-form');
                                                        $("#close_modal2").trigger("click");
                                                    } else if (res == "exist") {
                                                        alertBM.alert('Предложение уже было отправлено ранее', 'alert-success');
                                                        btn.removeClass('off');
                                                        form.removeClass('off-form');
                                                        $("#close_modal2").trigger("click");
                                                    } else if (res == "not_send") {
                                                        alertBM.alert('Ваши контакты уже был передан строителю ранее', 'alert-success');
                                                        btn.removeClass('off');
                                                        form.removeClass('off-form');
                                                        $("#close_modal2").trigger("click");
                                                    } else {
                                                        alertBM.alert('Ошибка отправки запроса, свяжитесь с администрацией сайта', 'alert-danger');
                                                        btn.removeClass('off');
                                                        form.removeClass('off-form');
                                                        $("#close_modal2").trigger("click");
                                                    }
                                                },
                                                error: function (res) {
                                                    btn.removeClass('off');
                                                    form.removeClass('off-form');
                                                    alertBM.alert('Ошибка! Попробуйте позже.');
                                                }
                                            });
                                        }
                                    });
                                });




                                $('#change-order').on('click', function () {
                                    var id = $('#order_id').val();
                                    window.location = '<?php echo $url ?>/my/' + id;
                                });
                                $('#order_id').on('change', function () {
                                    $('#change-order').removeClass('disabled');
                                });


                                $(".js_hide_worker").on('click', function () {
                                    var usID = parseInt($(this).attr('data'));

                                    $.ajax({
                                        type: 'post',
                                        url: window.location.href,
                                        dataType: 'html',
                                        data: {
                                            blocked_user: usID,
                                        },
                                        success: function (result) {
                                            if (result == "success") {
                                                $("[block_id='" + usID + "']").remove();

                                                workers.forEach(function (item, i, arr) {
                                                    if (parseInt(item) == usID) {
                                                        delete workers[i];
                                                    }
                                                });

                                            }
                                        },
                                        error: function () {
                                            console.log("Error ajax form!");
                                        }
                                    });
                                });

    </script>
    <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

    <?php if(isset($link_script)) { ?>
            <script type="text/javascript">
                                        $('#need_help').on('click', function (e) {
                                            e.preventDefault();
                                            $.ajax({
                                                type: 'post',
                                                url: '/users/needhelp',
                                                data: {id: <?php echo $order['id'] ?>},
                                                success: function (result) {
                                                    alertBM.alert('Запрос отправлен.<br />Менеджер свяжется с Вами.', 'alert-success');
                                                },
                                                error: function (result) {
                                                    alertBM.alert('Ошибка!<br />Попробуйте позже.');
                                                }
                                            });
                                        });


            </script>
        <?php } ?>

    <?php echo $stat_track; ?>
</body>
</html>