<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/jquery.Jcrop.min.css" />
        <style>
            .nav-tabs > li.active > a { cursor:pointer !important; }
            .ok_btn { display:inline; width: 115px; float: right; text-align: right;}
            .name { display: inline-block; height:30px; }
            #ava { width:150px; height:150px; }
            .modal-body hr { margin: 5px 0; padding:0; }
            #change-order { margin-left: 10px; }
            select option { padding: 5px; }
            select .glyphicon { display:list-item; }
            .disabled { pointer-events:none; }
            .mess { text-align: justify; margin-top:-4px; }
            .ulist big { font-size: 18px; }
            .ulist { margin-bottom: 3px; }
        </style>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="<?php echo $url ?>/my">Заказы</a></li>
                    <li class="active"><a href="<?php echo $url ?>/my/orders">Заявки</a></li>
                    <li><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>

                </ul>
                <div class="blank25"></div>

                <div class="input-group">
                    <select class="form-control" id="order_id">

                        <?php
                            $time = time();
                            foreach ($orders as $o) {
                                $txt = '';
                                if($o['close_date'])
                                    $txt = ' class="glyphicon glyphicon-lock text-danger"';
                                elseif($o['finish_date'] < $time)
                                    $txt = ' class="glyphicon glyphicon-hourglass text-danger"';
                                if(!$o['order_status'])
                                    $txt = ' class="glyphicon glyphicon-ban-circle text-danger"';
                                ?>

                                <option<?php echo $txt ?> value="<?php echo $o['id'] ?>"<?php if($o['id'] == $order['id']) echo ' selected' ?>>&nbsp;<?php echo $o['order_date'], ' &nbsp; ', $o['brief'], '...' ?></option>

                            <?php } ?>

                    </select>
                    <span class="input-group-btn"><button id="change-order" class="btn btn-success disabled">Перейти</button></span>
                </div>
                <div class="blank50"></div>

                <?php
                    $label = '';
                    $order_not_active = false;
                    if($order['close_date']) {
                        $label = ' &nbsp; <span class="label label-danger label-as-badge">заявка закрыта</span> ';
                        $order_not_active = true;
                    } elseif($order['finish_date'] < time()) {
                        if($order['order_status'])
                            $label = ' &nbsp; <span class="label label-danger label-as-badge">истёк срок заявки</span>';
                        else
                            $label = ' &nbsp; <span class="label label-danger label-as-badge">заявка не заполнена</span>';
                        if($order['order_status'])
                            $order_not_active = true;
                    }
                ?>

                <div class="row">
                    <div class="col-sm-6">
                        <h4>Заявка <span class="light50">от <?php echo $order['order_date'] ?></span><?php echo $label ?>
                            &nbsp; &nbsp; <a href="<?php echo $url, '/my/order/', $order['id'] ?>" class="btn btn-default btn-xs"><span class="glyphicon glyphicon-edit"></span> Изменить заявку</a>
                            &nbsp; &nbsp; <a href="<?php echo $url, '/catalog/order/', $order['id'] ?>" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-eye-open"></span></a>
                        </h4>
                        <div class="blank10"></div>
                        <div class="block-border">
                            <div class="blank15"></div>
                            <strong class="light50 brown">Описание заявки</strong>
                            <div class="blank5"></div>
                            <p style="text-align:justify"><big><?php echo $order['order_description'] ?></big></p>
                        </div>
                        <div class="blank15"></div>

                        <?php if(!$order['order_status'] && !$order_not_active) { ?>
                                <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:20px;">
                                    <big>Для публикации заявки в каталоге нужно больше информации. Пожалуйста, укажите необходимую информацию.</big>
                                </div>
                            <?php } ?>               

                        <?php if(isset($offer) && $offer) { ?>

                                <div class="blank15"></div>
                                <hr />
                                <h4 class="yellow">Предложения от строителей</h4>
                                <div class="blank5"></div>

                                <?php foreach ($offer as $o) { ?>
                                    <div class="ulist btn btn-default"<?php if((isset($usr_id) && $usr_id == $o['offer_id']) || (isset($usr_id) && $usr_id == $order['user_id'])) echo ' style="border-bottom-color:#fff; height:42px;"' ?>>
                                        <a href="<?php echo $url ?>/user/<?php echo $o['uid'] ?>"><?php echo $o['user_name'] ?></a>
                                    </div>
                                    <?php if((isset($usr_id) && $usr_id == $o['offer_id']) || (isset($usr_id) && $usr_id == $order['user_id'])) { ?>
                                        <div class="block-border mess">
                                            <?php echo $o['offer_text'] ?>
                                        </div>
                                        <div class="blank10"></div>
                                        <?php
                                    }
                                }
                                ?>

                            <?php } ?>

                    </div>
                    <div class="col-sm-6 pcatalog">
                        <div class="workers">

                            <?php
                                if($workers) {
                                    if(isset($workers_not_found_sub))
                                        echo '<div class="my-label"><div class="green"><span class="glyphicon glyphicon-info-sign"></span><br /> Строители по выбраной специализации не найдены. Показаны похожие специальности.</div></div>';
                                    if($selected)
                                        $sel_array = array_flip($selected);
                                    ?>
                                    <div class="title">Выберите строителей</div>

                                    <form method="post">
                                        <div class="title">Строители по специальности:</div>
                                        <div class="col-sm-12">
                                            <select name="new_speciality" class="form-control" id="tid">
                                                <option value="0">-- <?php echo $t->_('blk_select1') ?> --</option>

                                                <?php if(is_array($top_catalog)): ?>
                                                    <?php foreach ($top_catalog as $key => $value): ?>
                                                        <option <?php if($order['order_wrk_type'] == $value['id']): ?> selected <?php endif; ?> value="<?php echo $value['id'] ?>"><?php echo $value['type_name'] ?></option>
                                                    <?php endforeach; ?>
                                                <?php endif; ?>


                                            </select>                
                                    </form>

                                    <!--<div align="center"><?php echo '<small class="grey">показаны ближайшие к ' . $order['town'], ', ', $order['district'], ' строители по специализации</small>' ?></div>-->
                                    <div class="blank15"></div>
                                    <?php foreach ($workers as $w) { ?>
                                        <div class="item block-border">
                                            <div class="name"><span class="glyphicon glyphicon-wrench"></span> <?php echo $w['user_name'] ?></div>

                                            <?php
                                            $fav = isset($sel_array[$w['uid']]) ? 1 : 0;
                                            if(!$fav) {
                                                $class = 'btn-primary';
                                                $title = $t->_('w_select');
                                            } else {
                                                $class = 'btn-warning';
                                                $title = $t->_('w_unselect');
                                            }
                                            $class = 'label-success';
                                            $title = 'Выбран';
                                            ?>

                                            <div class="ok_btn">
                                                <span class="label <?php echo $class ?>" id="lbl<?php echo $w['uid'] ?>"><?php if($fav) { ?><span class="glyphicon glyphicon-ok"></span> <?php echo $title ?><?php } ?></span>
                                            </div>
                                            <div class="desc">
                                                <?php echo $w['brief'] ? $w['brief'] : 'Нет описания' ?>...
                                                <button class="btn btn-link btn-view" data-id="<?php echo $w['uid'] ?>">[смотреть профиль]</button>
                                            </div>
                                            <div class="blank5"></div>
                                            <?php
                                            if(!isset($w['town']) || !$w['town'])
                                                echo '<span class="green">Адрес не указан</span>';
                                            else {
                                                $trimmedArray = array_map('trim', array($w['town'], $w['district'], $w['region']));
                                                echo implode(', ', array_filter($trimmedArray));
                                                ?>
                                            <?php } ?>
                                        </div>
                                        <div class="blank5"></div>

                                        <?php
                                    }
                                    // if ($count['workers'] > $limit) echo '<div class="text-center"><a href="#" class="btn btn-default"><span class="glyphicon glyphicon-wrench green"></span> &nbsp; Посмотреть всех строителей по этой специализации</a></div>';
                                } else {
                                    ?>
                                    <!--  <h3 class="text-center red">Строители не найдены</h3>
                                      <p style="text-align:center">В районе, который указан в заявке, строители необходимой специальности<br /> не найдены.</p>-->

                                    <?php
                                    if($order['order_status']) {
                                        $link_script = true;
                                        ?>
                                        <div class="blank15"></div>
                                        <p style="text-align:center">
                                            <button class="btn btn-primary btn-lg" id="need_help">Запросить помощь менеджера</button>
                                        </p>
                                    <?php } ?>

                                <?php } ?>

                        </div>
                    </div>
                </div>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="modal fade bs-modal-md" id="view" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="row">
                            <div class="col-sm-4">
                                <h4 class="">Профиль строителя</h4>
                            </div>
                            <div class="col-sm-7">
                                <form id="select-form">
                                    <button class="btn btn-primary" id="btn-sel" data-uid=""></button>
                                    <input type="hidden" id="csrf-token">
                                    <input type="hidden" id="worker" name="worker" value="">
                                    <input type="hidden" name="order" value="<?php echo $order['id'] ?>">
                                    &nbsp;
                                    <a href="" id="link" class="btn btn-success" target="_blank"><span class="glyphicon glyphicon-info-sign"></span> Полный профиль</a>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="title" id="name" style="font-size:26px"></span>
                                <hr />
                                <span id="type"></span>
                                <div class="blank25"></div>
                                <strong>Описание:</strong>
                                <div class="blank5"></div>
                                <div class="block-border">
                                    <div style="color:#666;padding-right:5px;overflow-y:auto;height:155px;">
                                        <span id="desc"></span>
                                    </div>
                                    <div class="blank5"></div>
                                </div>
                            </div>
                        </div>
                        <div class="contacts">
                            <div class="blank25"></div>
                            <div class="block-border">
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong class="green">Телефоны:</strong>
                                    </div>
                                    <div class="col-xs-8">
                                        <div id="phone"></div>
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <div class="row">
                                    <div class="col-xs-4">
                                        <strong class="green">Веб-сайт:</strong>
                                    </div>
                                    <div class="col-xs-8">
                                        <div id="web"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="blank25"></div>
                    </div>
                </div>
            </div>
            <?php echo $banner2 ?>
            <div class="blank50"></div>
        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

        <script type="text/javascript">
                                        var crntPage = 'activity';
                                        var lang = '<?php echo $lang ?>';
                                        var url = '<?php echo $url ?>';
                                        var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                                        var langSelect = '<span class="glyphicon glyphicon-ok"></span> <?php echo $t->_('w_select'); ?>';
                                        var langUnSelect = '<?php echo $t->_('w_unselect'); ?>';
                                        var langSelected = 'Выбран';
                                        var selectedW = [];
<?php
    if($selected)
        foreach ($selected as $key => $val)
            echo 'selectedW.push("' . $val . '");' . "\n";
?>

                                        $("#tid").on("change", function () {
                                            $(this).closest('form').submit();
                                        });

                                        $('.btn-view').each(function () {
                                            $(this).on('click', function (e) {
                                                e.preventDefault();
                                                var userId = $(this).data('id');
                                                $.ajax({
                                                    type: 'post',
                                                    url: '/user',
                                                    data: {id: userId},
                                                    dataType: 'json',
                                                    success: function (result) {
                                                        $('#name').html(result.name);
                                                        $('#type').html(result.role);
                                                        $('#desc').html(result.desc);
                                                        $('#link').attr('href', '<?php echo $url ?>/user/' + userId);
                                                        $('#phone').html(result.phones);
                                                        $('#web').html(result.web);
                                                        $('#worker').val(result.worker);
                                                        $('#btn-sel').data('uid', result.worker);
                                                        if ($.inArray(result.worker, selectedW) == -1) {
                                                            $('#btn-sel').html(langSelect);
                                                            $('#btn-sel').removeClass('btn btn-warning').addClass('btn btn-primary');
                                                        } else {
                                                            $('#btn-sel').html(langUnSelect);
                                                            $('#btn-sel').removeClass('btn btn-primary').addClass('btn btn-warning');
                                                        }
                                                        $('#view').modal('show');
                                                    }
                                                });
                                            });
                                        });
                                        $('#change-order').on('click', function () {
                                            var id = $('#order_id').val();
                                            window.location = '<?php echo $url ?>/my/' + id;
                                        });
                                        $('#order_id').on('change', function () {
                                            $('#change-order').removeClass('disabled');
                                        });
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if(isset($link_script)) { ?>
                <script type="text/javascript">
                                                $('#need_help').on('click', function (e) {
                                                    e.preventDefault();
                                                    $.ajax({
                                                        type: 'post',
                                                        url: '/users/needhelp',
                                                        data: {id: <?php echo $order['id'] ?>},
                                                        success: function (result) {
                                                            alertBM.alert('Запрос отправлен.<br />Менеджер свяжется с Вами.', 'alert-success');
                                                        },
                                                        error: function (result) {
                                                            alertBM.alert('Ошибка!<br />Попробуйте позже.');
                                                        }
                                                    });
                                                });
                </script>
            <?php } ?>

        <?php echo $stat_track; ?>
    </body>
</html>