<?php
    //Убираем все блокированные зявки
    foreach ($promo as $key => &$value) {
        if(in_array($value['id'], $blocked_orders)) {
            unset($promo[$key]);
        }
    }
?>

<?php
    if($promo) {
        foreach ($promo as $o) {
            if(in_array($o['id'], $all_req_id))
                continue; // не выводим заявки, по которым сделано предложение
            ?>
            <?php
            if($o['close_date']) {
                continue;
            }
            ?>
            <div class="item block-border" block_id="<?= $o['id'] ?>">
                <div style="height: 20px;">
                    <div class="date" style="float:left">
                        <span class="glyphicon glyphicon-time"></span> <?php echo $o['order_date'] ?>
                    </div>
                    <div style="float: right;     margin-top: -6px;"><button type="button" class="btn btn-warning btn-xs js_hide_orders" data="<?= $o['id'] ?>">Не интересно</button></div>
                </div>
                <div class="desc">
                    <?php echo $o['descr_short'] ?>...&nbsp;
                    <button class="btn btn-link btn-view" data-id="<?php echo $o['id'] ?>">[подробнее]</button>
                </div>
                <div class="blank5"></div>
                <a class="title" href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>"><?php echo $o['spec_name'], ' <span>(', $o['type_name'], ')</span>' ?></a>
                <p><?php echo $o['town'] . ', ' . $o['region'] ?></p>
            </div>
            <div class="blank5"></div>

            <?php
        }
    }?>