<?php
//foreach($user_specs as $us) {

    for ($i = 0; $i < count($user_specs); $i++) {
        if($i == 0)
            echo '<div class="blank15"></div>';
        echo '<strong class="brown">', $user_specs[$i]['type_name'], '</strong>';
        //echo '<div class="blank5"></div>';
        ?>
        <div class="block-border">
            <?php echo $user_specs[$i]['spec_name'] ?>
            <div class="del-btn">
                <a onClick="return confirmDelete()" href="<?php echo $url ?>/my/spec/delspec/<?php echo $user_specs[$i]['id'] ?>"><span class="glyphicon glyphicon-remove-sign red"></span></a>
            </div>
        </div>
        <div class="blank5"></div>

    <?php } ?>