<?php
    $flashMessages = $this->flashSession->getMessages();
 
    if(is_int(array_search('referer_login', $flashMessages['success']))){
        $commercial_block = \Budmisto\Modules\Front\Models\Catalog::getCommercialsListByCoords();
    }
    
    if(is_array($flashMessages['selected_commercial'])){
        $selected_commercial = $flashMessages['selected_commercial'][0];
    }
    
?>

<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/jquery.Jcrop.min.css" />
        <style>
        </style>
    </head>

    <body>
        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>        
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="<?php echo $url ?>/my">Заказы</a></li>
                    <?php if($has_orders) { ?><li><a href="<?php echo $url ?>/my/orders">Заявки</a></li><?php } ?>
                    <li><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>

                    <li><a href="<?php echo $url ?>/my/offers">Предложения от заказчиков</a></li>
                </ul>
                <div class="blank15"></div>

                <div class="row">

                    <?php if($requests) { ?>
                            <div class="col-sm-6 pcatalog">
                                <div class="blank10"></div>

                                <?php $requests_count = 0; ?>
                                <?php
                                foreach ($requests as $o) {

                                    if($o['actual_period'] < time() or $o['close_date'] != "")
                                        continue;
                                    else
                                        $requests_count++;
                                    $all_req_id[] = $o['id'];
                                    ?>

                                    <div <?php if($requests_count > 3): ?>class="block js_archived" style="display: none;"<?php else: ?> class="block" <?php endif; ?>>
                                        <big><?php echo $o['brief'] ?></big>
                                        <div class="blank10"></div>
                                        <div class="row">

                                            <!-- Отображение телефона уже оповещенным -->    
                                            <?php if($user_info['stars'] == 10): ?>
                                                <?php if($o['premium_active'] == "0"): ?>
                                                    <div class="col-md-6">
                                                        <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-eye-open"></span> <?= $o['user_phone'] ?></a>
                                                    </div>
                                                <?php else: ?>
                                                    <?php if(is_array($o['premium_block']) and $o['premium_block']['user_id'] == $user_info['id']): ?>
                                                        <div class="col-md-6">
                                                            <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-eye-open"></span> <?= $o['user_phone'] ?></a>
                                                        </div>
                                                    <?php else: ?>
                                                        <div class="col-md-6">
                                                            <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" class="btn btn-primary btn-xs" target="_blank"> <span class="glyphicon glyphicon-eye-open"></span> Открыть</a>
                                                        </div>
                                                    <?php endif; ?>
                                                <?php endif; ?>


                                                <?php if($o['choice_id']): ?>
                                                    <div class="col-md-6 right">
                                                        <span class="label label-success label-as-badge">Вас выбрали!</span>
                                                    </div>
                                                <?php endif; ?>                        

                                            <?php elseif(in_array($o['id'], $informed) or ( is_array($o['premium_block']) and $o['premium_block']['user_id'] == $user_info['id'])): ?>
                                                <div class="col-md-6">
                                                    <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-eye-open"></span> <?= $o['user_phone'] ?></a>
                                                </div>
                                            <?php elseif($o['choice_id'] && !$o['offer_id']): ?>
                                                <div class="col-md-6">
                                                    <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-eye-open"></span> Ожидайте получение контактов</a>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <span class="label label-success label-as-badge">Вас выбрали!</span>
                                                </div>
                                            <?php elseif($o['choice_id'] && $o['offer_id']): ?>
                                                <div class="col-md-6">
                                                    <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" class="btn btn-primary btn-xs" target="_blank"> <span class="glyphicon glyphicon-eye-open"></span> Предложение сделано, ожидайте получение контактов</a>
                                                </div>
                                                <div class="col-md-6 right">
                                                    <span class="label label-success label-as-badge">Вас выбрали!</span>
                                                </div>
                                            <?php else: ?>                        
                                                <div class="col-md-6">
                                                    <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" class="btn btn-primary btn-xs" target="_blank"> <span class="glyphicon glyphicon-eye-open"></span> Предложение сделано, ожидайте получение контактов</a>
                                                </div>
                                            <?php endif; ?>
                                            <!-- Отображение телефона уже оповещенным --> 

                                        </div>
                                        <hr style="border-top-color:#ddd;margin:7px 0" />
                                        <p style="margin:0 0 5px 0"><span class="glyphicon glyphicon-map-marker brown"></span> &nbsp; <?php echo $o['town'] . ', ' . $o['region'] ?></p>
                                        <span class="glyphicon glyphicon-wrench green"></span> &nbsp;
                                        <?php echo $o['spec_name'], ' <span>(', $o['type_name'], ')</span>'; ?>
                                        <div class="blank10"></div>
                                    </div>
                                    <div <?php if($requests_count > 3): ?>class="blank25 js_archived" style="display: none;"<?php else: ?> class="blank25" <?php endif; ?>></div>

                                <?php } //} else echo '<h4>Ищите заказы в каталоге</h4>'?>
                                <?php if($requests_count > 3): ?>                        
                                    <div class="text-center col-sm-12">
                                        <button class="btn btn-info" id="show_archived" onclick="$('#show_archived').hide(); $('.js_archived').slideDown()">Показать предыдущие</button>
                                    </div>
                                    <div class="blank15"></div>
                                <?php endif; ?>


                            <?php } ?>
                        <?php if(!$requests): ?>
                                <div class="col-sm-6 pcatalog">
                                <?php endif; ?>

                            <!--  <div class="title">Заявки</div>-->
                            <div class="orders orders_js">
                                <?php if($user_info['stars'] == 10 and $user_info['premium_hours'] != 0): ?>
                                        <div class="my-label"><div class="yellow"><span class="glyphicon glyphicon-info-sign"></span><br>У Вас осталось <?= round($user_info['premium_hours'] / 60) ?> минут, можете заморозить любой выбранный заказ </div></div>
                                    <?php endif; ?>


                                <?php
                                    //Убираем все блокированные зявки
                                    foreach ($promo as $key => &$value) {
                                        if(in_array($value['id'], $blocked_orders)) {
                                            unset($promo[$key]);
                                        } else {
                                            if(!isset($value['close_date']) and ! in_array($value['id'], $all_req_id)) {
                                                $all_ord[] = $value['id'];
                                            }
                                        }
                                    }

                                    $all_ord = json_encode($all_ord);
                                ?>
                                <script>
                                    var orders =<?= $all_ord; ?>;
                                </script>                  

                                <?php
                                    if($promo) {
                                        foreach ($promo as $o) {

                                            if(in_array($o['id'], $all_req_id))
                                                continue; // не выводим заявки, по которым сделано предложение
                                            ?>
                                            <?php
                                            if($o['close_date']) {
                                                continue;
                                            }
                                            ?>
                                            <div class="item block-border" block_id="<?= $o['id'] ?>">
                                                <div style="height: 20px;">
                                                    <div class="date" style="float:left">
                                                        <span class="glyphicon glyphicon-time"></span> <?php echo $o['order_date'] ?>
                                                    </div>
                                                    <div style="float: right;  margin-top: -6px;"><button type="button" class="btn btn-warning btn-xs js_hide_orders" data="<?= $o['id'] ?>">Не интересно</button></div>
                                                </div>
                                                <div class="desc">
                                                    <?php echo $o['descr_short'] ?>...&nbsp;
                                                    <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" target="_blank">[подробнее]</a>                                                    
                                                </div>
                                                <div class="blank5"></div>
                                                <a class="title" href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>"><?php echo $o['spec_name'], ' <span>(', $o['type_name'], ')</span>' ?></a>
                                                <p><?php echo $o['town'] . ', ' . $o['region'] ?></p>
                                            </div>
                                            <div class="blank5"></div>

                                            <?php
                                        }
                                    } else
                                        echo 'Подходящих заявок не найдено';
                                ?>                  
                                <div class="text-center"><button onclick="window.location.href = '/catalog/orders'" class="btn btn-info btn-lg">Все заказы</button></div>
                            </div>
                        </div>

                        <!-- НАЧАЛО МАГАЗИНОВ -->

                        <div class="col-sm-6 pcatalog">
                            <?php if(count($user_shops)): ?>
                                    <h2>Магазины</h2> 
                                    <?php foreach ($user_shops as $key => $value): ?>

                                        <div class="orders shops_js">
                                            <div class="item block-border" >
                                                <div style="height: 20px;">
                                                    <div class="date" style="text-center">
                                                        <span class="glyphicon glyphicon-shopping-cart"></span> <?= $value['orgname'] ?>                     
                                                    </div>
                                                </div>
                                                <div class="desc">

                                                    <img  src="../images/comercial_image/<?= $value['img'] ?>" style="max-width: 100%;">

                                                    <?= $value['description'] ?>
                                                    <button class="btn btn-link btn-view" data-shopid="<?= $value['shop_id'] ?>" >[подробнее]</button>
                                                </div>
                                                <div class="blank5"></div>                    
                                                <p><?= $value['town'] ?>, <?= $value['region'] ?></p>
                                            </div>
                                        </div>

                                    <?php endforeach; ?>
                                <?php endif; ?>                
                        </div>

                        <!-- КОНЕЦ МАГАЗИНОВ -->
                    </div>   
                </div>
            <div style="background-color: #efece9;
    margin: 30px;
    margin-top: 30px;
    text-align: justify;
    border: 1px solid #834e20;
    padding: 0;
    width: auto;">
                <?php echo $banner2 ?>
            </div>
                <div class="blank50"></div>

            </div>

            <div class="page-footer">
                <div class="blank15"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-9 left">
                            <?php echo $t->_('ft_copy') ?>
                        </div>
                        <div class="col-xs-3 right">
                            <?php echo $t->_('ft_contact') ?>
                        </div>
                    </div>
                </div>
                <div class="blank15"></div>
            </div>



            <div class="modal fade bs-modal-md" id="view" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">

                        <div class="modal-header">
                            <div class="row">                
                                <div class="col-xs-12 text-center" >
                                    <button type="button" class="btn btn-warning btn-md" style="float:left" id="last"><span class="glyphicon glyphicon glyphicon-backward"></span> &nbsp;Предыдущий</button>

                                    <form action="<?php echo $url ?>/catalog/offer" method="post" id="offer-form" style="display: inline;">
                                        <input type="hidden" id="csrf-token">
                                        <input type="hidden" name="order_id" value="">                            
                                        <?php if($user_info['stars'] != 10): ?>                                        
                                                <button type="button" class="btn btn-success btn-md" id="back-call"> Сделать предложение</button>
                                            <?php endif; ?>  
                                    </form>
                                    <button type="button" class="btn btn-error btn-md" onclick="$('.close').trigger('click')" >Закрыть</button>
                                    <button type="button" class="btn btn-warning btn-md" style="float:right" id="next">Следующий &nbsp;<span class="glyphicon glyphicon-forward"></span></button>
                                </div>
                            </div>
                            <div class="blank10"></div>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row">
                                <div class="col-sm-4">
                                    <h4 class="">Заявка от <span id="orderdate">12/03/2017</h4>
                                </div>
                                <div class="col-sm-7">                        
                                    <a href="javascript:go_to_full();" class="btn btn-success" target="_blank"><span  class="glyphicon glyphicon-info-sign"></span> Страница заказа</a>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body">

                            <div class="row">
                                <div class="col-sm-12">                        

                                    <strong>Описание:</strong>
                                    <div class="blank5"></div>
                                    <div class="block-border">
                                        <div style="color:#666;padding-right:5px;overflow-y:auto;height:155px;">
                                            <span id="desc"></span>
                                        </div>
                                        <div class="blank5"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="contacts">
                                <div class="blank25"></div>
                                <div class="block-border">
                                    <div class="block">
                                        <span class="glyphicon glyphicon-map-marker brown"></span> &nbsp;
                                        <span id="o_town"></span>                   <div class="blank5"></div>
                                        <span class="glyphicon glyphicon-wrench green"></span> &nbsp; 
                                        <span id="o_spec_name"></span>
                                        <hr style="border-top-color:#ddd">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>Бюджет:</strong>    <span id="o_budget"></span>                    
                                            </div>
                                            <div class="col-sm-6">
                                                <strong>Предложения:</strong> <span id="o_count_name"></span>                        </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>Начало работы:</strong> <span id="o_when_name"></span> 
                                            </div>
                                            <div class="col-sm-6">
                                                <strong>Заявка актуальна до:</strong> <span id="o_actual_period"></span>   
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="blank25" ></div>
                            <div class="row" >
                                <div class="col-sm-12" id="add_info">

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>    

            <div class="modal fade bs-modal-md" id="commercial_block" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">

                        <div class="modal-header" style="display:none">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>

                        </div>

                        <div class="modal-body">
                            <div class="row">
                                <div class="col-sm-12">                               
                                    <div class="blank5"></div>                            
                                    <div style="color:#666;overflow-y:hidden;" id="commercial_img">
                                        <img  src="../images/comercial_image/<?= $commercial_block['img'] ?>" style="max-width: 100%;">
                                    </div>
                                </div>                                                
                            </div>   

                            <div class="row">
                                <div class="col-xs-12 text-center" id="js_modal_buttons" >
                                    <button type="button" class="btn btn-warning btn-md" style="float:left; width: 33%; border-radius: 0px;" onclick="$('.close').trigger('click')">&nbsp;Показать позже<span class="glyphicon "></span></button>
                                    <button type="button" class="btn btn-info btn-md" style="width: 34%;border-radius: 0px;"  onclick="set_options(<?= $commercial_block['commercial_id'] ?>,<?= $commercial_block['shop_id'] ?>, 1); $('.close').trigger('click')">Интересно</button>
                                    <button type="button" class="btn btn-warning btn-md" style="float:right; width: 33%;border-radius: 0px;"  onclick="set_options(<?= $commercial_block['commercial_id'] ?>); $('.close').trigger('click')" ><span class="glyphicon glyphicon "></span> &nbsp;Не интересно</button>                                              
                                </div>
                                <div class="col-xs-12 text-center" id="js_modal_buttons1" style="display:none">

                                    <button type="button" class="btn btn-info btn-md"onclick="$('.close').trigger('click')">Закрыть</button>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>     

            <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
            <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
            <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

            <script type="text/javascript">
                                        var crntPage = 'activity';
                                        var lang = '<?php echo $lang ?>';
                                        var url = '<?php echo $url ?>';
                                        var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                                        var order_id = "";
                                        
                                        var commercial_block = "<?= $commercial_block ?>";
                                        if (commercial_block != '') {
                                            $("#commercial_block").modal({backdrop: "static"});
                                        }

                                        var selected_commercial = "<?= $selected_commercial ?>";
                                        if (selected_commercial != '') {    
                                            setTimeout(function () {
                                                $("[data-shopid='" + selected_commercial + "']").trigger('click');
                                            }, 500);                                            
                                        }

                                        function set_options(commercial_id, shop_id = false, type = false)
                                        {
                                            if (!type) {
                                                $.post("/commercial-options", {commercial_id: commercial_id}, function () {});
                                            } else {
                                                $.post("/commercial-options", {commercial_id: commercial_id, add_shop: 1}, function (res) {
                                                    if (res) {
                                                        window.location.href = window.location.href + "?selected_commercial=" + shop_id;
                                                    }
                                                });
                                        }
                                        }

                                        /*
                                         var no_commercial = "<?php echo $no_commercial ?>";
                                         if (no_commercial == "") {
                                         if (commercials != '') {
                                         $("#commercial_block").modal({backdrop: "static"});
                                         }
                                         } else {
                                         setTimeout(function () {
                                         $("[data-shopid='" + no_commercial + "']").trigger('click');
                                         }, 1000);
                                         $.post("/del-commercial-from-session");
                                         }
                                         */


                                        $(".orders_js").on('click', ".js_hide_orders", function () {
                                            order_id = parseInt($(this).attr('data'));

                                            $.ajax({
                                                type: 'post',
                                                url: window.location.href,
                                                dataType: 'html',
                                                data: {
                                                    blocked_order_id: order_id,
                                                },
                                                success: function (result) {
                                                    if (result == "success") {
                                                        $("[block_id='" + order_id + "']").remove();
                                                    }
                                                },
                                                error: function () {
                                                    console.log("Error ajax form!");
                                                }
                                            });
                                        });

                                        $('#back-call').on('click', function (e) {
                                            e.preventDefault();
                                            var form = $(this).closest('form');
                                            var btn = $(this);
                                            btn.addClass('off');
                                            form.addClass('off-form');
                                            $.ajax({
                                                type: 'post',
                                                url: '/token',
                                                dataType: 'json',
                                                success: function (result) {

                                                    form.find('#csrf-token').attr('name', result.csrf_name).val(result.csrf_value);
                                                    $.ajax({
                                                        type: 'post',
                                                        url: '/catalog/offer',
                                                        data: form.serialize(),
                                                        success: function (res) {
                                                            console.log(res);
                                                            if (res == "success" || res == "successsuccess") {
                                                                alertBM.alert('Ваш запрос отправлен.<br />', 'alert-success');
                                                                btn.removeClass('off');
                                                                form.removeClass('off-form');
                                                            }
                                                        },
                                                        error: function (res) {
                                                            btn.removeClass('off');
                                                            form.removeClass('off-form');
                                                            alertBM.alert('Ошибка! Попробуйте позже.');
                                                        }
                                                    });
                                                }
                                            });
                                        });

                                        $(document).ready(function (e) {
                                            var ajax_start = 1;
                                            $(window).scroll(function () {
                                                if ((($(window).scrollTop() + $(window).height())) >= ($(document).height())) {

                                                    $.post(window.location.href, {start: ajax_start, ajax_query_orders: 1}, function (res) {
                                                        if (res) {
                                                            $(".orders_js").append(res);
                                                            ajax_start++;
                                                        }
                                                    });
                                                    $.getJSON(window.location.href, {start: ajax_start, ajax_query_orders_object: 1}, function (res) {
                                                        $.each(res, function (index, val) {
                                                            orders.push(val);
                                                        });
                                                    });
                                                }
                                            });

                                        });

                                        function go_to_full() {
                                            window.open("/catalog/order/" + order_id);
                                        }

                                        $('.orders_js').on('click', '.btn-view', function (e) {

                                            e.preventDefault();

                                            order_id = $(this).data('id');

                                            $('html, body').animate({scrollTop: ($("[block_id='" + order_id + "']").offset().top - 200)}, 500);
                                            var current, next, last = false;

                                            orders.forEach(function (item, i, arr) {

                                                if (parseInt(item) != order_id) {
                                                    if (!current) {
                                                        last = item;
                                                    }
                                                    if (current && !next)
                                                        next = item;
                                                }

                                                if (parseInt(item) == order_id) {
                                                    current = true;
                                                }
                                            });

                                            $("#go_to_full_order").attr("order_id", order_id);

                                            $.ajax({
                                                type: 'post',
                                                url: '/catalog/ajax_order',
                                                data: {id: order_id},
                                                dataType: 'json',
                                                success: function (result) {
                                                    console.log(result);
                                                    if (!last) {
                                                        $('#last').css("cursor", "not-allowed").attr("new_data_order", '');
                                                    } else {
                                                        $('#last').css("cursor", "pointer").attr("new_data_order", last);
                                                    }

                                                    if (!next) {
                                                        $('#next').css("cursor", "not-allowed").attr("new_data_order", "");
                                                    } else {
                                                        $('#next').css("cursor", "pointer").attr("new_data_order", next);
                                                    }

                                                    $("#add_info").html(result.add_info);

                                                    $("#desc").html(result.order.order_description);
                                                    $("#orderdate").html(result.order.order_date);
                                                    $("#o_town").html(result.order.town + ', ' + result.order.region);
                                                    $("#o_spec_name").html(result.order.type_name + ', ' + result.order.spec_name);
                                                    $("#o_budget").html(result.order.budget_name);
                                                    $("#o_count_name").html(result.order.count_name);
                                                    $("#o_when_name").html(result.order.when_name);
                                                    $("#o_actual_period").html(result.order.actual_period);
                                                    $("[name='order_id']").val(result.order.id)

                                                    $('#view').modal('show');
                                                }
                                            });
                                        });

                                        $('.shops_js').on('click', '.btn-view', function (e) {
                                            e.preventDefault();
                                            shopId = $(this).data('shopid');
                                            $.ajax({
                                                type: 'post',
                                                url: '/shop-info',
                                                data: {shop_id: shopId},
                                                dataType: 'json',
                                                success: function (res) {
                                                    $("#commercial_img").html("");
                                                    //$("#commercial_img").find("img").attr("src", "../images/comercial_image/" + res.img);
                                                    $("#commercial_img").append(res.descr);
                                                    $("#commercial_town").html(res.town + " ( " + res.region + " ) " + res.country);
                                                    $("#commercial_info").html(res.orgname + " " + res.phone1 + " " + res.phone2);

                                                    $("#js_modal_buttons1").show();
                                                    $("#js_modal_buttons").hide();

                                                    $("#commercial_block").modal({backdrop: "static"});
                                                }
                                            });
                                        });


                                        $("#last,#next").on("click", function () {

                                            var data_id = parseInt($(this).attr("new_data_order"));
                                            if (data_id > 0) {
                                                $("[data-id='" + data_id + "']").trigger('click');
                                            } else {
                                                return false;
                                            }
                                        });



                                        $("#view").on("click", ".js_block_btn", function () {
                                            data = $(this).attr("data");
                                            if (data < 1)
                                                return false;
                                            $("#premium_hours").val(data);
                                            premium_block();
                                        });

                                        $("#view").on("click", ".js_block_btn_add", function () {
                                            data = $(this).attr("data");
                                            if (data < 1)
                                                return false;
                                            $("#premium_hours_add").val(data);
                                            premium_block(1);
                                        });

                                        function premium_block(add)
                                        {
                                            var max_hours = '<?php echo round($user_info['premium_hours'] / 3600) ?>';
                                            if (add == 1) {
                                                var hours = parseInt($("#premium_hours_add").val());
                                            } else {
                                                var hours = parseInt($("#premium_hours").val());
                                            }


                                            if (!hours || hours < 1) {
                                                alertBM.alert("Введено не верное количество часов");
                                                $("#premium_hours").val("1");
                                                return false;
                                            }

                                            switch (hours) {
                                                case 24:
                                                    hours_discont = 5;
                                                    break;
                                                case 48:
                                                    hours_discont = 10;
                                                    break;
                                                case 168:
                                                    hours_discont = 25;
                                                    break;
                                                default:
                                                    hours_discont = hours;
                                            }

                                            if (hours_discont > max_hours) {
                                                alertBM.alert("Превышено допустимое количество часов");
                                                $("#premium_hours").val("1");
                                                return false;
                                            }

                                            $.post("/catalog/order/" + order_id, {duration: hours, add: add}, function (res) {

                                                if (res > 0) {
                                                    $('#offer-form-submit').trigger('click');
                                                    setTimeout(function () {
                                                        window.location.reload();
                                                    }, 1000);

                                                } else {
                                                    alertBM.alert("Ошибка! Пожалуйста сообщите администратору");
                                                }
                                            });
                                        }

            </script>
            <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

            <?php echo $stat_track; ?>
    </body>
</html>