<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/jquery.Jcrop.min.css" />
        <style>
        </style>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li class="active"><a href="<?php echo $url ?>/my">Заявки</a></li>
                    <li><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>

                </ul>
                <div class="blank50"></div>
                <div style="text-align: center"><a href="<?php echo $url ?>" class="btn btn-success btn-lg"><span class="glyphicon glyphicon-plus-sign"></span> Добавить заявку</a> &nbsp;&nbsp;</div>
                <div class="blank15"></div>


                <div class="grid row nopad">

                    <?php /* $time = time();
                          if ($orders) foreach($orders as $o) {
                          $spec_ok = false;
                          if (isset($o['spec_name']) && $o['spec_name']) $spec_ok = true;
                          ?>
                          <div class="grid-item col-md-6">
                          <div class="block<?php if(!$spec_ok) echo ' red-border'?>">
                          <small class="grey"><?php echo $o['order_date']?></small>
                          <big><?php echo $o['brief']?></big>
                          <div class="blank10"></div>
                          <div class="row">
                          <div class="col-md-5 col-sm-12 col-xs-5">
                          <a href="<?php echo $url, '/my/order/', $o['id']?>" class="btn btn-warning btn-xs"><span class="glyphicon glyphicon-edit"></span> Изменить заявку</a>
                          </div>
                          <div class="col-md-2 col-sm-12 col-xs-2 center">
                          <a href="<?php echo $url?>/catalog/order/<?php echo $o['id']?>" class="btn btn-primary btn-xs"> <span class="glyphicon glyphicon-eye-open"></span> К заявке</a>
                          </div>
                          <div class="col-md-5 col-sm-12 col-xs-5 right">
                          <a href="<?php echo $url, '/my/', $o['id']?>" class="btn btn-success btn-xs<?php if(!$o['order_status'] || !$spec_ok) echo ' off disabled'?>"><span class="glyphicon glyphicon-search"></span> Искать строителей</a>
                          </div>
                          </div>
                          <hr style="border-top-color:#ddd;margin:7px 0" />
                          <p style="margin:0 0 5px 0"><span class="glyphicon glyphicon-map-marker brown"></span> &nbsp; <?php echo $o['order_addr']?></p>
                          <span class="glyphicon glyphicon-wrench green"></span> &nbsp;
                          <?php if ($spec_ok) echo $o['spec_name'], ' <span>(', $o['type_name'], ')</span>'; else
                          echo '<strong class="red">Не указано. Заявка не выводится в каталоге.</strong>';?>
                          <div class="blank10"></div>

                          <?php if ($o['close_date'])
                          echo '<span class="text-danger"><span class="glyphicon glyphicon-lock"></span> заявка закрыта</span> &nbsp; <a href="' .$url. '/my/order/' .$o['id']. '" class="small">открыть</a><div class="blank10"></div>';
                          elseif ($o['finish_date'] < $time)
                          echo '<span class="text-danger"><span class="glyphicon glyphicon-hourglass"></span> истёк срок заявки</span> &nbsp; <a href="' .$url. '/my/order/' .$o['id']. '" class="small">продлить</a><div class="blank10"></div>';
                          ?>

                          </div>
                          <div class="blank25"></div>

                          </div>
                          <div class="blank25"></div>
                          <?php } */ ?>

                </div>



            </div>

            <?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/masonry.pkgd.min.js"></script>
        <script type="text/javascript">
                                        var crntPage = 'myorders';
                                        var lang = '<?php echo $lang ?>';
                                        var url = '<?php echo $url ?>';
                                        var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                                        /*$(function () {
                                         $('[data-toggle="tooltip"]').tooltip();
                                         });*/
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php echo $stat_track; ?>
    </body>
</html>