<?php
    $flashMessages = $this->flashSession->getMessages();

    if(is_int(array_search('referer_login', $flashMessages['success']))) {
        $commercial_block = \Budmisto\Modules\Front\Models\Catalog::getCommercialsListByCoords();
    }

    if(is_array($flashMessages['selected_commercial'])) {
        $selected_commercial = $flashMessages['selected_commercial'][0];
    }
?>
<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />

    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li ><a href="<?php echo $url ?>/my">Заявки</a></li>
                    <li><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>

                </ul>
                <div class="blank25"></div>



                <div class="col-md-6">
                    <?php if(count($offers)): ?>

                            <h2>Список заявок</h2>

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Дата</th>     
                                        <th>Имя</th>
                                        <th>Телефон</th>
                                        <th>Сообщение</th>                  
                                        <th>Действие</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <?php foreach ($offers as $key => $value): ?>
                                        <tr id="tr_<?= $value['id'] ?>" data="<?= $value['id'] ?>" class="js_open_order" style="cursor: pointer">
                                            <td><?= $value['date'] ?></td>
                                            <td><?= $value['name_customer'] ?></td>
                                            <td><?= $value['phone'] ?></td>
                                            <td><?= $value['text'] ?></td>
                                            <td><button type="button" class="btn btn-danger btn-md js_delete_offer" data="<?= $value['id'] ?>"><span class="glyphicon glyphicon-trash "></span></button></td>
                                        </tr>
                                        <?php if($value['last_order']): ?>
                                            <?php $order = $value['last_order']; ?>
                                            <tr id="info_<?= $value['id'] ?>" style="display: none">
                                                <td colspan="5">
                                                    <div class="row" style="border:2px solid brown">
                                                        <div class="col-sm-12">
                                                            <div class="title">Заявка <span class="light50">от <?php echo $order['order_date'] ?></span><?php echo $label ?></div>
                                                            <div class="blank15"></div>
                                                            <div style="text-align:justify;line-height:28px;"><big><?php echo $order['order_description'] ?></big></div>
                                                            <div class="blank15"></div>
                                                            <div class="light50 brown" style="display:inline-block"><span class="glyphicon glyphicon-time"></span> <?php echo $order['order_date'] ?></div>
                                                            <?php if(isset($usr_id) && $usr_id == $order['user_id']) echo '<div style="display:inline-block;margin-left:20px;"><a href="' . $url . '/my/' . $order['id'] . '" class="btn btn-success btn-sm">Выбрать строителей</a></div>'; ?>
                                                            <div class="blank15"></div>
                                                            <div class="block">
                                                                <span class="glyphicon glyphicon-map-marker brown"></span> &nbsp; <?php echo $order['town'] . ', ' . $order['region'] ?>
                                                                <div class="blank5"></div>
                                                                <span class="glyphicon glyphicon-wrench green"></span> &nbsp; <?php /* echo $order['type_name']?> / <?php echo $order['spec_name'] */ ?>

                                                                <?php
                                                                if($order['order_status'])
                                                                    echo $order['type_name'], '/', $order['spec_name'];
                                                                else
                                                                    echo 'Не указана';
                                                                if(!$order['order_status'] && !$order_not_active) {
                                                                    ?>
                                                                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:20px;">
                                                                        <big>Для публикации заявки в каталоге нужно больше информации. Пожалуйста, укажите необходимую информацию.</big>
                                                                    </div>
                                                                <?php } ?>

                                                                <hr style="border-top-color:#ddd" />
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <strong>Бюджет:</strong> <?php echo $order['budget_name'] ?>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <strong>Предложения:</strong> <?php echo $order['count_name'] ?>
                                                                    </div>
                                                                </div>
                                                                <div class="blank15"></div>
                                                                <div class="row">
                                                                    <div class="col-sm-6">
                                                                        <strong>Начало работы:</strong> <?php echo $order['when_name'] ?>
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <strong>Заявка актуальна до:</strong> <?php echo $order['actual_period'] ?>
                                                                    </div>
                                                                </div>
                                                                <div class="blank15"></div>
                                                            </div>
                                                            <div>
                                                                <?php
                                                                if($is_logged) {

                                                                    $exists_ids = array();

                                                                    if(isset($connect['choice']) && $connect['choice']) {
                                                                        ?>

                                                                        <div class="blank15"></div>
                                                                        <h4 class="yellow">Выбранные строители</h4>
                                                                        <div class="blank5"></div>

                                                                        <?php
                                                                        foreach ($connect['choice'] as $c) {

                                                                            if($c['c_uid'] == $usr_id)
                                                                                $show = true;
                                                                            ?>
                                                                            <div class="ulist btn btn-default">
                                                                                <?php if($usr_id == $order['user_id']) { ?><span class="glyphicon glyphicon-link"></span> <a href="<?php echo $url ?>/user/<?php echo $c['c_uid'] ?>" class=""><?php echo $c['c_user_name'] ?></a><?php } else echo $c['c_user_name']; ?>
                                                                                <?php if($usr_id == $c['c_uid']) echo '<span class="glyphicon glyphicon-star red"></span>' ?>
                                                                                <?php //if (isset($usr_id) - isset not need  ?>
                                                                            </div>
                                                                            <?php
                                                                            $exists_ids[] = $c['c_uid'];
                                                                        }
                                                                        ?>

                                                                    <?php } ?>

                                                                    <?php if(isset($connect['offer']) && $connect['offer']) { ?>

                                                                        <div class="blank15"></div>
                                                                        <h4 class="yellow">Предложения от строителей</h4>
                                                                        <div class="blank5"></div>

                                                                        <?php
                                                                        foreach ($connect['offer'] as $o) {

                                                                            if($o['o_uid'] == $usr_id)
                                                                                $show = true;
                                                                            ?>
                                                                            <div class="ulist btn btn-default"<?php if((isset($usr_id) && $usr_id == $o['offer_id']) || (isset($usr_id) && $usr_id == $order['user_id'])) echo ' style="border-bottom-color:#fff; height:42px;"' ?>>
                                                                                <?php if($usr_id == $order['user_id']) { ?><span class="glyphicon glyphicon-link"></span> <a href="<?php echo $url ?>/user/<?php echo $o['o_uid'] ?>"><?php echo $o['o_user_name'] ?></a><?php } else echo $o['o_user_name']; ?>
                                                                                <?php if(isset($usr_id) && $usr_id == $order['user_id']) echo ' &nbsp; &nbsp; <a onClick="return confirmDelete()" href="' . $url . '/catalog/deloffer/' . $o['id'] . '"><big>&times;</big></a>'; ?>
                                                                                <?php if(isset($usr_id) && $usr_id == $o['offer_id']) echo ' &nbsp; &nbsp; <a onClick="return confirmDelete()" href="' . $url . '/catalog/deloffer/' . $o['id'] . '"><big>&times;</big></a>'; ?>
                                                                            </div>
                                                                            <?php if((isset($usr_id) && $usr_id == $o['offer_id']) || (isset($usr_id) && $usr_id == $order['user_id'])) { ?>
                                                                                <div class="block-border mess">
                                                                                    <?php echo $o['offer_text'] ?>
                                                                                </div>
                                                                                <div class="blank10"></div>
                                                                                <?php
                                                                            }
                                                                            $exists_ids[] = $o['o_uid'];
                                                                        }
                                                                        ?>

                                                                        <?php
                                                                    }
                                                                } else {
                                                                    ?>
                                                                    <div class="blank25"></div>
                                                                    <div class="row grey">
                                                                        <div class="col-xs-5">
                                                                            Выбрано строителей: <?php echo count($connect['choice']) ?>
                                                                        </div>
                                                                        <div class="col-xs-7 text-right">
                                                                            Предложений от строителей: <?php echo count($connect['offer']) ?>
                                                                        </div>
                                                                    </div>
                                                                <?php } ?>
                                                            </div>



                                                        </div>

                                                    </div>

                                                </td>
                                            </tr>
                                        <?php else: ?>
                                            <tr id="info_<?= $value['id'] ?>" style="display: none; ">
                                                <td colspan="5">Список заявок пуск</td>
                                            </tr>
                                        <?php endif; ?>

                                    <?php endforeach; ?>



                                </tbody>
                            </table>
                        <?php else: ?>
                            <h2>Список заявок пуст</h2>
                    <?php endif; ?>
                </div>
                <!-- НАЧАЛО МАГАЗИНОВ -->

                <div class="col-sm-6 pcatalog">
                    <?php if(count($user_shops)): ?>
                            <h2>Магазины</h2> 
                            <?php foreach ($user_shops as $key => $value): ?>

                                <div class="orders shops_js">
                                    <div class="item block-border" >
                                        <div style="height: 20px;">
                                            <div class="date" style="text-center">
                                                <span class="glyphicon glyphicon-shopping-cart"></span> <?= $value['orgname'] ?>                     
                                            </div>
                                        </div>
                                        <div class="desc">

                                            <img  src="../images/commercial_image/<?= $value['img'] ?>" style="max-width: 100%;">

                                            <?= $value['description'] ?>
                                            <button class="btn btn-link btn-view" data-shopid="<?= $value['shop_id'] ?>" >[подробнее]</button>
                                        </div>
                                        <div class="blank5"></div>                    
                                        <p><?= $value['town'] ?>, <?= $value['region'] ?></p>
                                    </div>
                                </div>

                            <?php endforeach; ?>
                        <?php endif; ?>                
                </div>

                <!-- КОНЕЦ МАГАЗИНОВ -->

            </div>

            <div class="blank50"></div>

        </div>


        <div class="modal fade bs-modal-md" id="" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" id="close_modal2" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>Строитель позвонит</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form method="post" id="form-call">
                                <input type="hidden" id="csrf-token">
                                <input type="hidden" name="user_call_id" id="user_call_id" value="">
                                <div class="col-md-12">
                                    <?php if($is_logged) { ?>
                                            <input type="text" class="form-control" name="callphone" id="callphone" placeholder="<?php echo $t->_('l_phone') ?>" value="<?php echo isset($usr_phone) ? $usr_phone : '' ?>" />
                                            <div class="blank5"></div>
                                            <textarea class="form-control" name="message" placeholder="<?php echo $t->_('cmn_message') ?>"></textarea>
                                        <?php } ?>
                                </div>
                                <div class="blank15"></div>
                                <div class="col-md-12">
                                    <button class="btn btn-warning" id="submit-call"><?php echo $t->_('cmn_send') ?></button> &nbsp; &nbsp;
                                    <button class="btn btn-default" data-dismiss="modal"><?php echo $t->_('cmn_close') ?></button>
                                </div>
                            </form>
                        </div>
                        <div class="blank25"></div>
                    </div>
                </div>
            </div>

            <?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>   

        <div class="modal fade bs-modal-md" id="commercial_block" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">

                    <div class="modal-header" style="display:none">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-12">                               
                                <div class="blank5"></div>                            
                                <div style="color:#666;overflow-y:hidden;" id="commercial_img">
                                    <img  src="../images/commercial_image/<?= $commercial_block['img'] ?>" style="max-width: 100%;">
                                </div>
                            </div>                                                
                        </div>   

                        <div class="row">
                            <div class="col-xs-12 text-center" id="js_modal_buttons" >
                                <button type="button" class="btn btn-warning btn-md" style="float:left; width: 33%; border-radius: 0px;" onclick="$('.close').trigger('click')">&nbsp;Показать позже<span class="glyphicon "></span></button>
                                <button type="button" class="btn btn-info btn-md" style="width: 34%;border-radius: 0px;"  onclick="set_options(<?= $commercial_block['commercial_id'] ?>,<?= $commercial_block['shop_id'] ?>, 1); $('.close').trigger('click')">Интересно</button>
                                <button type="button" class="btn btn-warning btn-md" style="float:right; width: 33%;border-radius: 0px;"  onclick="set_options(<?= $commercial_block['commercial_id'] ?>);
                                        $('.close').trigger('click')" ><span class="glyphicon glyphicon "></span> &nbsp;Не интересно</button>                                              
                            </div>
                            <div class="col-xs-12 text-center" id="js_modal_buttons1" style="display:none">

                                <button type="button" class="btn btn-info btn-md"onclick="$('.close').trigger('click')">Закрыть</button>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>        

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <script type="text/javascript">

                                    var commercial_block = "<?= $commercial_block ?>";
                                    if (commercial_block != '') {
                                        $("#commercial_block").modal({backdrop: "static"});
                                    }

                                    var selected_commercial = "<?= $selected_commercial ?>";
                                    if (selected_commercial != '') {
                                        setTimeout(function () {
                                            $("[data-shopid='" + selected_commercial + "']").trigger('click');
                                        }, 500);
                                    }

                                    function set_options(commercial_id, shop_id = false, type = false)
                                    {
                                        if (!type) {
                                            $.post("/commercial-options", {commercial_id: commercial_id}, function () {});
                                        } else {
                                            $.post("/commercial-options", {commercial_id: commercial_id, add_shop: 1}, function (res) {
                                                if (res) {
                                                    window.location.href = window.location.href + "?selected_commercial=" + shop_id;
                                                }
                                            });
                                    }
                                    }

                                    $(".js_delete_offer").on("click", function () {
                                        var data = $(this).attr('data');

                                        $.ajax({
                                            type: 'post',
                                            url: window.location.href,
                                            dataType: 'html',
                                            data: {
                                                offer: data
                                            },
                                            success: function (result) {
                                                if (result == "success") {
                                                    $("#tr_" + data).fadeOut('slow');
                                                } else {
                                                    alertBM.alert('Ошибка удаления заявки!<br> Пожалуйста, сообщите об ошибке администрации сайта!', 'alert-success');
                                                }
                                            },
                                            error: function () {
                                                console.log("Error ajax form!");
                                            }
                                        });

                                    });

                                    $(".js_open_order").hover(function () {
                                        data = $(this).attr('data');
                                        $("#info_" + data).show('fast');
                                    }, function () {
                                        data = $(this).attr('data');
                                        $("#info_" + data).hide('fast');
                                    });



                                    $('.shops_js').on('click', '.btn-view', function (e) {
                                        e.preventDefault();
                                        shopId = $(this).data('shopid');
                                        $.ajax({
                                            type: 'post',
                                            url: '/shop-info',
                                            data: {shop_id: shopId},
                                            dataType: 'json',
                                            success: function (res) {
                                                $("#commercial_img").html("");
                                                //$("#commercial_img").find("img").attr("src", "../images/commercial_image/" + res.img);
                                                $("#commercial_img").append(res.descr);
                                                $("#commercial_town").html(res.town + " ( " + res.region + " ) " + res.country);
                                                $("#commercial_info").html(res.orgname + " " + res.phone1 + " " + res.phone2);

                                                $("#js_modal_buttons1").show();
                                                $("#js_modal_buttons").hide();

                                                $("#commercial_block").modal({backdrop: "static"});
                                            }
                                        });
                                    });
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>


        <?php echo $stat_track; ?>
    </body>
</html>