<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <style>
            .nav-tabs > li.active > a { cursor:pointer !important; }
            #map { width: 100%; height: 250px; }
        </style>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="<?php echo $url ?>/my">Заказы</a></li>
                    <li class="active"><a href="<?php echo $url ?>/my/<?php echo $order['id'] ?>"><span class="glyphicon glyphicon-chevron-left"></span> К заявке</a></li>
                    <li><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>

                </ul>
                <div class="blank25"></div>
                <form method="post" id="edit-form" class="form-horisontal">
                    <input type="hidden" id="csrf-token">
                    <input type="hidden" id="lat" name="lat">
                    <input type="hidden" id="lng" name="lng">
                    <div class="row">
                        <div class="col-xs-7">
                            <h4>Заявка <span class="light50">от <?php echo $order['order_date'] ?></span></h4>
                        </div>
                        <div class="col-xs-5" style="text-align: right">

                            <?php if($order['close_date']) { ?>
                                    <strong style="border:1px solid #ccc;padding:6px;">Заявка закрыта</strong> &nbsp;
                                    <a href="<?php echo $url ?>/my/order/open/<?php echo $order['id'] ?>" class="btn btn-primary btn-sm" onClick="return confirmDialog('orderOpen')"><span class="glyphicon glyphicon-retweet"></span> Открыть</a>
                                    <?php
                                } else
                                if($order['finish_date'] > time()) {
                                    ?>
                                    <a href="<?php echo $url ?>/my/order/close/<?php echo $order['id'] ?>" class="btn btn-danger btn-sm" onClick="return confirmDialog('orderClose')"><span class="glyphicon glyphicon-remove"></span> Закрыть заявку</a>
                                <?php } elseif($order['order_status']) echo '<strong style="border:1px solid #ccc;padding:5px;">Срок заявки истёк</strong><br /><small>Вы можете установить новый срок актуальности заявки</small> ' ?>

                        </div>
                    </div>

                    <?php if(!$order['order_status']) { ?>
                            <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:20px;">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <big>Для публикации заявки в каталоге нужно больше информации. Пожалуйста, заполните необходимые поля.</big>
                            </div>
                        <?php } ?>

                    <?php
                        if(isset($result)) {
                            if(!$error)
                                $class = 'alert-success';
                            else
                                $class = 'alert-danger';
                            ?>

                            <div class="alert <?php echo $class ?> alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <big><?php echo $result ?></big>
                            </div>
                        <?php } ?>

                    <?php
                        $trimmedArray = array_map('trim', array($order['route'], $order['town'], $order['district'], $order['region']));
                        $order_addr = implode(', ', array_filter($trimmedArray));
                    ?>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="blank10"></div>
                            <strong class="light50 brown">Описание заявки</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                            <div class="blank5"></div>
                            <textarea class="form-control" id="desc" name="desc" placeholder="<?php echo $t->_('blk_whattodo_text') ?>"><?php echo $order['order_description'] ?></textarea>
                            <div class="blank15"></div>
                            <strong class="light50 brown">Населённый пункт</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                            <input type="text" id="autocomplete" class="form-control clearable<?php if($order['town']) echo ' x' ?>" name="addr" placeholder="<?php echo $t->_('blk_address') ?>"  value="<?php echo $order_addr ?>" />
                            <input type="hidden" name="placelat" id="placelat" />
                            <input type="hidden" name="placelng" id="placelng" />
                            <input type="hidden" name="placeid" id="placeid" />
                            <input type="hidden" name="placeaddr" id="placeaddr" />
                            <input type="hidden" name="placetown" id="locality" />
                            <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                            <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                            <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                            <input type="hidden" name="placecountry" id="country" />
                            <input type="hidden" name="placeroute" id="route" />
                            <input type="hidden" name="placextra" id="sublocality_level_1" />
                            <input type="hidden" name="chplace" id="chplace" value="0" />
                            <div class="blank15"></div>

                            <!--strong class="light50 brown">Примерное местоположение объекта</strong>
                            <div class="blank5"></div>
                            <div id="map"></div-->
                            <!--div class="blank5"></div>
                            <a href="https://www.google.com.ua/maps/place/<?php echo $order['lat'] ?>,<?php echo $order['lng'] ?>" target="_blank">смотреть на большой карте</a-->

                        </div>
                        <div class="col-sm-6">
                            <div class="blank25"></div><div class="blank10"></div>
                            <div class="block-border">
                                <div class="blank5"></div>
                                <strong class="light50 brown">Специализация</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select name="speciality" class="form-control" id="tid">
                                            <option value="0">-- <?php echo $t->_('blk_select1') ?> --</option>

                                            <?php
                                                if($top_catalog)
                                                    foreach ($top_catalog as $tc) {
                                                        ?>

                                                        <option value="<?php echo $tc['id'] ?>"<?php if($tc['id'] == $order['order_wrk_type']) echo ' selected' ?>><?php echo $tc['type_name'] ?></option>

                                                    <?php } ?>

                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="subspeciality" class="form-control" id="sid">
                                            <option value="0">-- <?php echo $t->_('blk_select2') ?> --</option>

                                            <?php
                                                if(isset($sub_catalog) && $sub_catalog)
                                                    foreach ($sub_catalog as $sc) {
                                                        ?>

                                                        <option value="<?php echo $sc['id'] ?>"<?php if($sc['id'] == $order['order_wrk_spec']) echo ' selected' ?>><?php echo $sc['spec_name'] ?></option>

                                                    <?php } ?>

                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                </div>
                                <strong class="light50 brown">Бюджет</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <select name="budget" class="form-control" id="bugdet">
                                    <option value="0">-- <?php echo $t->_('blk_budget') ?> --</option>

                                    <?php foreach ($budget_list as $b) { ?>
                                            <option value="<?php echo $b['id'] ?>"<?php
                                            if($b['id'] == $order['order_budget'])
                                                echo ' selected';
                                            elseif($b['id'] == 1)
                                                echo ' selected';
                                            ?>><?php echo $b['budget_name'] ?></option>
                                                <?php } ?>

                                </select>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Ограничение количества звонков</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <select name="limcall" class="form-control" id="calls">
                                    <option value="0">-- <?php echo $t->_('blk_calls') ?> --</option>

                                    <?php foreach ($call_count as $c) { ?>
                                            <option value="<?php echo $c['id'] ?>"<?php if($c['id'] == $order['order_call_count']) echo ' selected' ?>><?php echo $c['count_name'] ?></option>
                                        <?php } ?>

                                </select>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Когда начинать работу</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <select name="start" class="form-control" id="start">
                                    <option value="0">-- <?php echo $t->_('blk_when') ?> --</option>

                                    <?php foreach ($when_list as $w) { ?>
                                            <option value="<?php echo $w['id'] ?>"<?php
                                            if($w['id'] == $order['when_start'])
                                                echo ' selected';
                                            elseif($w['id'] == 1)
                                                echo ' selected';
                                            ?>><?php echo $w['when_name'] ?></option>
                                                <?php } ?>

                                </select>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Срок актуальности заявки</strong>
                                <div class="blank5"></div>
                                <select name="period" class="form-control" id="period">
                                    <option value="7">7 дней</option>
                                    <option value="14">14 дней</option>
                                    <option value="30">Месяц</option>
                                </select>

                            </div>
                        </div>
                        <div class="col-md-12 text-center">
                            <div class="blank25"></div>
                            <label for="compare_materials"><input type="checkbox" class="form-control" id="compare_materials" name="compare_materials">Сравнивать материалы</label>
                        </div>
                    </div>

                    <div class="submit">
                        <button class="btn btn-success btn-lg" id="google_tag_subm_btn" onclick="return doFormSubmit('edit-form', 'desc|tid|sid');"><?php echo $t->_('cmn_save') ?></button>
                    </div>
                </form>
            </div>

            <?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>

        <script type="text/javascript">
                            var crntPage = 'myorder';
                            var lang = '<?php echo $lang ?>';
                            var url = '<?php echo $url ?>';
                            var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                            $(function () {
                                $('[data-toggle="tooltip"]').tooltip();
                            });
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <script type="text/javascript">
                            var placeSearch, autocomplete;
                            function initAutocomplete() {
                                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                                autocomplete.addListener('place_changed', fillInAddress);
                                //initMap();
                            }
                            function initMap() {
                                var map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 14,
                                    center: {lat: <?php echo $order['lat'] ?>, lng: <?php echo $order['lng'] ?>},
                                    zoomControl: true,
                                    scaleControl: false,
                                    mapTypeControl: false,
                                    streetViewControl: false,
                                    fullscreenControl: false,
                                    rotateControl: false,
                                    zoomControlOptions: {
                                        position: google.maps.ControlPosition.TOP_LEFT
                                    }
                                });
                                map.setOptions({draggable: false, scrollwheel: false, disableDoubleClickZoom: true, minZoom: 13});
                                var markerImage = new google.maps.MarkerImage('<?php echo $url ?>/images/radar.png',
                                        new google.maps.Size(72, 72),
                                        new google.maps.Point(0, 0),
                                        new google.maps.Point(36, 36));
                                var placeMarker = new google.maps.Marker({
                                    position: {lat: <?php echo $order['lat'] ?>, lng: <?php echo $order['lng'] ?>},
                                    map: map,
                                    draggable: true,
                                    icon: markerImage
                                });
                                google.maps.event.addListener(placeMarker, 'dragend', function (evt) {
                                    $('#lat').val(evt.latLng.lat());
                                    $('#lng').val(evt.latLng.lng());
                                });
                            }




        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

        <?php echo $stat_track; ?>
    </body>
</html>