<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />

        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/jquery.Jcrop.min.css">

        <?php if($profile['user_role_id'] > 3 || $profile['user_role_id'] < 7) { ?>
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/dropzone.min.css" media="all" />
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/wbbtheme.css" media="all" />
            <?php } ?>

        <?php if($img_files) { ?>
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/lightbox.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/owl.carousel.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/owl.theme.css" />
            <?php } ?>

        <style>
            .right button { float:right!important; }
            #uploadImages { border-color:#999;background-color:#f5f5f5; }
            #uploadImages:hover { background-color:#e9e9e9; }
            .normal-title { font-size:14px!important;font-weight:normal!important; }
            .specs .block-border { display: inline-block; margin-bottom: 5px; padding: 5px 30px 5px 10px; position: relative;}
            .form-group .control-label { margin: 0; padding: 0; margin-left:15px; }
        </style>

    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="<?php echo $url ?>/my">Заказы</a></li>
                    <?php if($has_orders) { ?><li><a href="<?php echo $url ?>/my/orders">Заявки</a></li><?php } ?>
                    <li class="active"><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>

                    <li><a href="<?php echo $url ?>/my/offers">Предложения от заказчиков</a></li>
                </ul>
                <div class="blank25"></div>

                <?php if(!$user_specs) { ?>
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Для выбора заказов необходимо указать выполняемые работы (специализацию), а также добавить Ваш адрес и описание деятельности.<br />
                        </div>        
                    <?php } ?>

                <?php if(!$info['description']): ?>
                        <!--
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Если Вы не введете описание и не выберите специальности, Ваш профиль не будет отображаться в поиске
                            <br>
                            <button class="btn btn-success" onclick="$('.wysibb-body').focus();$('.wysibb').css('border','2px solid blue');">Перейти к описанию</button>
                            <button class="btn btn-warning " onclick="$('#subm_btn').trigger('click')">перейти к заказам без добавления описания</button>
                        </div> 
                        -->
                    <?php else: ?>

                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Вы зарегистрированы и можете получать новые заказы, если возникнут трудности звоните по телефону +38 (096) 007-71-37

                        </div>  
                <?php endif; ?>

                <div class="row">

                    <div class="col-sm-6">                   

                        <?php
                            if(isset($result) && $submit_type == 1) {
                                if(!$error)
                                    $class = 'alert-success';
                                else
                                    $class = 'alert-danger';
                                ?>

                                <div class="alert <?php echo $class ?> alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <big><?php echo $result ?></big>
                                </div>
                            <?php } ?>                    
                        <form method="post" class="form-horizontal" id="profile-form">
                            <input type="hidden" name="submit_type" value="1">
                            <input type="hidden" id="is_changed" value="0">
                            <input type="hidden" id="csrf-token">
                            <input type="hidden" name="desc" id="desc">
                            <input type="hidden" id="confirm_alert">
                            <div class="block">
                                <div class="blank10"></div>

                                <div class="form-group">
                                    <label for="name" class="control-label">Имя (название организации) &nbsp; <span class="label label-danger"><big>обязательно к заполнению!</big></span></label>
                                    <div class="blank5"></div>

                                    <div class="col-md-12">
                                        <input type="text" name="name" id="name" class="form-control" value="<?php echo $profile['user_name'] ?>">                                    
                                        <div class="blank15"></div>
                                    </div>

                                    <div class="col-md-12">
                                        <h4>Описание <span class="normal-title">(кратко о себе) &nbsp; <span class="label label-danger"><big>обязательно к заполнению!</big></span></span></h4>
                                        <textarea  class="form-control" id="field-text-info" rows="5" style="resize:vertical"><?php echo $info['description'] ?></textarea>
                                        <div class="blank15"></div>
                                    </div>

                                    <div class="col-md-12">
                                        <?php if($profile['user_alt'] != ''): ?>
                                                Ваша вебстраница всегда доступна для ваших клиентов по ссылке:<br><b> <?= $url . '/' . $profile['user_alt'] ?></b>
                                                <div class="blank10"></div>
                                                <input type="text" name="user_alt" class="form-control" value="<?= $profile['user_alt'] ?>">
                                            <?php else: ?> 
                                                Краткая ссылка на Ваш профиль.<br>
                                                <span style="font-size:12px; color:gray">Например: <b>brigadir</b><br> И Ваша вебстраница будет всегда доступна для ваших клиентов по ссылке:
                                                    <?= $url ?>/<b>brigadir</b></span>
                                                <input type="text" name="user_alt" class="form-control" placeholder="Ссылка на Ваш профиль" value="">
                                        <?php endif; ?>                                   

                                        <div class="blank10"></div>        
                                        Меня можно найти в соцсетях:<br>     
                                        <label for="soc_vk"><img src="/images/vk.png"></label> &nbsp;&nbsp;<input type="checkbox" name="soc_vk" id="soc_vk" <?php if($profile['soc_vk']): ?>checked<?php endif; ?>>
                                        <label for="soc_fb"><img src="/images/fb.png"></label> &nbsp;&nbsp;<input type="checkbox" name="soc_fb" id="soc_fb" <?php if($profile['soc_fb']): ?>checked<?php endif; ?>>
                                        <label for="soc_ok"><img src="/images/ok.png"></label> &nbsp;&nbsp;<input type="checkbox" name="soc_ok" id="soc_ok" <?php if($profile['soc_ok']): ?>checked<?php endif; ?>>

                                        <div class="blank15"></div>
                                    </div>


                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="block">
                                <!--                                <div class="form-group">
                                                                    <label for="email" class="control-label"><?php echo $t->_('l_email') ?></label>
                                                                    <div class="col-md-12">
                                
                                <?php
                                    $diz = '';
                                    if($profile['user_email'])
                                    //$diz = ' disabled="disabled"';
                                        if(!$profile['is_confirmed'] && $profile['user_email']) {
                                            ?>
                                                                                                                        <div class="input-group">
                                                                                                                            <input type="email" name="email" id="email" class="form-control"<?php echo $diz ?> value="<?php echo $profile['user_email'] ?>">
                                                                                                                            <span class="input-group-btn"><button id="email-confirm" class="btn btn-info"><?php echo $t->_('cmn_confirm') ?></button></span>
                                                                                                                        </div>
                                        <?php } else { ?>
                                                                                                                        <input type="email" name="email" id="email" class="form-control"<?php echo $diz ?> value="<?php echo $profile['user_email'] ?>" placeholder="<?php echo $t->_('l_email_info') ?>">
                                        <?php } ?>
                                
                                                                    </div>
                                                                </div>-->
                                <div class="form-group">
                                    <label for="phone" class="control-label"><?php echo $t->_('l_phone') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                    <div class="blank5"></div>
                                    <div class="col-md-12">
                                        <?php
                                            $diz = '';
                                            if($profile['user_phone'])
                                            //$diz = ' disabled="disabled"';
                                                
                                                ?>
                                        <input type="text" name="phone" id="phone" class="form-control"<?php echo $diz ?> value="<?php echo $profile['user_phone'] ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="addr" class="control-label"><?php echo $t->_('l_addr2') ?></label>
                                    <div class="col-md-12">

                                        <?php if($places) foreach ($places as $p) { ?>
                                                    <div class="blank10"></div>
                                                    <?php
                                                    $trimmedArray = array_map('trim', array($p['route'], $p['town'], $p['district'], $p['region']));
                                                    echo implode(', ', array_filter($trimmedArray));
                                                    ?>
                                                    &nbsp; <a href="<?php echo $url ?>/users/placedel/<?php echo $p['id'] ?>" onClick="return confirmDialog('addrDelete')"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                                    <div class="blank10"></div>
                                                <?php } if(count($places) < 1) { ?>

                                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="<?php echo $t->_('blk_address') ?>" />
                                                <input type="hidden" name="placelat" id="placelat" />
                                                <input type="hidden" name="placelng" id="placelng" />
                                                <input type="hidden" name="placeid" id="placeid" />
                                                <input type="hidden" name="placeaddr" id="placeaddr" />
                                                <input type="hidden" name="placetown" id="locality" />
                                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                                <input type="hidden" name="placecountry" id="country" />
                                                <input type="hidden" name="placeroute" id="route" />
                                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                                <input type="hidden" name="chplace" id="chplace" value="0" />
                                                <small class="light50"><em>город, улица (номер дома указывать не нужно)</em></small>

                                            <?php } ?>

                                    </div>
                                </div>
                                <div style="height:9px;"></div>
                            </div>
                            <div class="blank15"></div>

                            <input type="hidden" id="specializations" value="<?php if(count($user_specs) > 0): ?> 1 <?php else: ?>0 <?php endif; ?>">

                            <div class="submit" style="text-align:left">
                                <button id="subm_btn" class="btn btn-success btn-lg" onclick="return doFormSubmit('profile-form', 'name|phone|autocomplete|specializations', 'checkuser|checkemail|checkphone')"><?php echo $t->_('cmn_save') ?></button>
                            </div>

                        </form>
                    </div>

                    <div class="col-sm-6 specs">
                        <div class="row">                              

                            <div class="col-md-6">
                                <!-- Аватарка начало -->
                                <h4>Фото профиля</h4>
                                <img id="avatar" class="avatar" src="<?php echo $url ?>/data/avatars/<?php echo $profile['avatar'], '?', time(); ?>" /> &nbsp; &nbsp;
                                <span id="chmess" style="display: inline-block;"></span>
                                <div class="blank15"></div>
                                <form method="post" enctype="multipart/form-data" id="ava-form" name="ava-form">
                                    <input type="file" id="file" name="file" class="btn btn-default" accept="image/*, .jpeg, .jpg, .gif, .png" style="width: 100%;text-align:left;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="ava-area"><img id="ava" class="img-responsive" /></div>
                                            <div class="blank15"></div>
                                            <div class="row">
                                                <div class="col-xs-6">
                                                    <button id="save" name="save" class="btn btn-primary disabled" style="display: none">Задать фото</button>
                                                </div>
                                                <div class="col-xs-6 right">
                                                    <button id="cancel" name="cancel" class="btn btn-default disabled" style="display: none">Отмена</button>
                                                </div>
                                            </div>
                                            <div class="blank15"></div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="x1" id="x1" value="" />
                                    <input type="hidden" name="y1" id="y1" value="" />
                                    <input type="hidden" name="x2" id="x2" value="" />
                                    <input type="hidden" name="y2" id="y2" value="" />
                                    <input type="hidden" name="client_width" id="rw" value="" />
                                    <input type="hidden" name="client_height" id="rh" value="" />
                                </form>
                            </div>

                            <div class="col-md-6">
                                <div class="blank15"></div>
                                <form method="post" id="form-chrole">
                                    <input type="hidden" id="csrf-token">
                                    <input type="hidden" name="curent_role" value="<?= $profile['user_role_id'] ?>">
                                    <!-- <a href="javascript:;" id="btn-chrole">хотите изменить роль?</a>-->
                                    <strong>Вы:</strong> &nbsp; &nbsp;
                                    <select class="form-control" style="width:70%; display: inline;" name="newrole" >
                                        <option value="3"<?php if($profile['user_role_id'] == 3) echo ' selected' ?>><?php echo $t->_('l_type_client'); ?></option>
                                        <option value="4"<?php if($profile['user_role_id'] == 4) echo ' selected' ?>><?php echo $t->_('l_type_performer'); ?></option>
                                        <option value="5"<?php if($profile['user_role_id'] == 5) echo ' selected' ?>><?php echo $t->_('l_type_team'); ?></option>
                                        <option value="6"<?php if($profile['user_role_id'] == 6) echo ' selected' ?>><?php echo $t->_('l_type_firm'); ?></option>
                                    </select>
                                </form>
                            </div>

                        </div>
                        <div class="block">
                            <form method="post" class="form-horizontal" id="specnewform" action="<?php echo $url ?>/my/spec">
                                <input type="hidden" id="csrf-token">
                                <input type="hidden" name="submit_type" value="1">

                                <b>Добавить виды выполняемых работ:</b>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select name="speciality" class="form-control" id="tid">
                                            <option value="0">-- <?php echo $t->_('blk_select1') ?> --</option>

                                            <?php
                                                if($top_catalog)
                                                    foreach ($top_catalog as $tc) {
                                                        ?>
                                                        <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>
                                                    <?php } ?>

                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="subspeciality" class="form-control" id="sid" disabled>
                                            <option value="0">-- <?php echo $t->_('blk_select2') ?> --</option>
                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                </div>
                                <div>
                                    <button  class="btn btn-success" onclick="return doSubmitNew()"><?php echo $t->_('cmn_add') ?></button>
                                </div>
                            </form>
                            <div class="blank15"></div>
                        </div>
                        <div class="blank25"></div>
                        <?php if(count($user_specs) > 0): ?>
                                <b>Выбранные виды работ:</b>
                            <?php endif; ?>

                        <div id="user_specializations">              
                            <?php
//foreach($user_specs as $us) {

                                for ($i = 0; $i < count($user_specs); $i++) {
                                    if($i == 0)
                                        echo '<div class="blank15"></div>';
                                    echo '<strong class="brown">', $user_specs[$i]['type_name'], '</strong>';
                                    //echo '<div class="blank5"></div>';
                                    ?>
                                    <div class="block-border">
                                        <?php echo $user_specs[$i]['spec_name'] ?>
                                        <div class="del-btn">
                                            <a onClick="return confirmDelete()" href="<?php echo $url ?>/my/spec/delspec/<?php echo $user_specs[$i]['id'] ?>"><span class="glyphicon glyphicon-remove-sign red"></span></a>
                                        </div>
                                    </div>
                                    <div class="blank5"></div>


                                <?php } ?>



                        </div>

                    </div>

                </div>

                <?php if($profile['user_role_id'] > 3 && $profile['user_role_id'] < 7) { ?>

                        <div class="blank25"></div>
                        <hr id="extrainfo" class="hr2" />
                        <div class="title">Дополнительная информация</div>
                        <div class="blank15"></div>
                        <div class="center">
                            Мы советуем постараться описать как можно понятнее Ваш вид деятельности – то, что видит о вас заказчик и напрямую связано с Вашим доходом.<br />
                            Для профессионалов: Вы можете добавить фото и документы.
                        </div>
                        <div class="blank15"></div>
                        <div class="block-border">
                            <div class="row">
                                <div class="col-sm-6">

                                    <?php if($profile['user_role_id'] == 6) { ?>
                                        <h4>Юридическая информация</h4>
                                        <input id="name" name="name" class="form-control" type="text" placeholder="Название компании" value="<?php echo $info['orgname'] ?>">
                                        <div class="blank5"></div>
                                        <input id="edrpou" name="edrpou" class="form-control" type="text" placeholder="Код ЕДРПОУ" value="<?php echo $info['edrpou'] ?>">
                                        <div class="blank5"></div>
                                        <input id="chief" name="chief" class="form-control" type="text" placeholder="Контактное лицо, должность" value="<?php echo $info['chief'] ?>">
                                        <div class="blank5"></div>
                                        <input id="address" name="address" class="form-control" type="text" placeholder="Юр.адрес" value="<?php echo $info['address'] ?>">
                                        <div class="blank5"></div>
                                    <?php } ?>


                                    <div class="blank25"></div>
                                </div>

                                <div class="col-sm-12">
                                    <h4>Файлы</h4>

                                    <?php if(!$img_files && !$doc_files) echo '<span class="red">&mdash; нет информационных файлов</span><hr />' ?>

                                    <div class="block-border bg-grey">
                                        <div class="blank15"></div>
                                        <?php if($img_files) { ?>
                                            <div class="owl-carousel">
                                                <?php foreach ($img_files as $img) { ?>
                                                    <div class="crsl-item">
                                                        <a href="<?php echo $url, $fpath, $usr_id, '/', $img['fname'] ?>" data-lightbox="ugallery"><img src="<?php echo $url, $fpath, $usr_id, '/thumb@', $img['fname'] ?>" /></a>
                                                        <p class="text-center"><a href="<?php echo $url ?>/my/profile/delete/<?php echo $img['id'] ?>">удалить</a></p>
                                                    </div>

                                                <?php } ?>
                                            </div>
                                            <div class="blank15"></div>
                                        <?php } ?>   


                                        <strong>Фотогалерея <span class="normal">(объекты, работы)</span> <span class="brown">Загружено <?php echo sizeof($img_files) ?> фото</span></strong>
                                        <div class="blank5"></div>
                                        <form action="<?php echo $url ?>/upload" class="dropzone" id="uploadImages">
                                            <input type="hidden" id="csrf-token">
                                        </form>                    
                                        <div class="blank5"></div>
                                    </div>
                                    <div class="blank25"></div>
                                    <div class="block-border bg-grey">
                                        <div class="blank15"></div>
                                        <?php if($doc_files) { ?>
                                            <?php foreach ($doc_files as $doc) { ?>
                                                <div class="item-border">
                                                    <a href="<?php echo $url, $fpath, $usr_id, '/', $doc['fname'] ?>" target="_blank"><?php echo $doc['ftitle'] ?></a>
                                                    <div class="del-btn">
                                                        <a href="<?php echo $url ?>/my/profile/delete/<?php echo $doc['id'] ?>"><span class="glyphicon glyphicon-remove-sign red"></span></a>
                                                    </div>
                                                </div>
                                                <div class="blank5"></div>

                                            <?php } ?>
                                            <div class="blank15"></div>
                                        <?php } ?>


                                        <strong>Лицензии, разрешения, другие документы</strong> &nbsp; <button class="btn btn-success btn-xs" id="addnewfile"><span class="glyphicon glyphicon-plus"></span></button>
                                        <form method="post" enctype="multipart/form-data" id="uploadFiles">
                                            <input type="hidden" name="submit_type" value="3">
                                            <input type="hidden" id="csrf-token">
                                            <div id="input-block" class="input-block block">
                                                <input name="titles[]" class="form-control" type="text" placeholder="Описание файла">
                                                <div class="blank5"></div>
                                                <input class="btn btn-default fileInput" name="files[]" type="file" accept=".pdf, .xls, .xlsx, .doc, .docx" style="width: 100%;text-align:left;" />
                                            </div>
                                        </form>
                                    </div>
                                    <div class="blank15"></div>
                                    <button class="btn btn-warning btn-lg" id="save-files" onclick="return doFormSubmit('uploadFiles', false, 'profilefiles')"><?php echo $t->_('cmn_save') ?></button>
                                    <div class="blank15"></div>
                                </div>
                            </div>
                        </div>
                    <?php } ?>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="modal fade bs-modal-md" id="chrole" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="">Укажите, какую роль Вы хотите</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form method="post" id="form-chrole">
                                <input type="hidden" id="csrf-token">
                                <div class="col-md-6">
                                    <select class="form-control" name="newrole">
                                        <option value="1"<?php if($profile['user_role_id'] == 3) echo ' selected' ?>><?php echo $t->_('l_type_client'); ?></option>
                                        <option value="2"<?php if($profile['user_role_id'] == 4) echo ' selected' ?>><?php echo $t->_('l_type_performer'); ?></option>
                                        <option value="3"<?php if($profile['user_role_id'] == 5) echo ' selected' ?>><?php echo $t->_('l_type_team'); ?></option>
                                        <option value="4"<?php if($profile['user_role_id'] == 6) echo ' selected' ?>><?php echo $t->_('l_type_firm'); ?></option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-warning" id="submit-chrole"><?php echo $t->_('cmn_change') ?> роль</button> &nbsp; &nbsp;
                                    <button class="btn btn-default" data-dismiss="modal"><?php echo $t->_('cmn_close') ?></button>
                                </div>
                            </form>
                        </div>
                        <div class="blank25"></div>
                    </div>
                </div>
            </div>
            <?php echo $banner2 ?>
            <div class="blank50"></div>
        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.Jcrop.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <?php if($img_files) { ?>
                <script type="text/javascript" src="<?php echo $url ?>/js/lightbox.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/owl.carousel.min.js"></script>
            <?php } ?>

        <?php if($_GET['action'] == 'submit'): ?>
                <script>
                                        setTimeout(function () {
                                            $("#subm_btn").trigger('click');
                                        }, 1000);

                </script>
            <?php endif; ?> 


        <script type="text/javascript">
            var crntPage = 'profile';
            var has_gal = <?php echo ($img_files) ? 'true' : 'false'; ?>;
            var lang = '<?php echo $lang ?>';
            var url = '<?php echo $url ?>';
            var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
            $('#profile-form :input').change(function () {
                $('#is_changed').val(1);
            });
            var form_change = false;
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/avatar.js"></script>

        <?php if($profile['user_role_id'] > 3 && $profile['user_role_id'] < 7) { ?>
                <script type="text/javascript" src="<?php echo $url ?>/js/dropzone.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/upload.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/jquery.wysibb.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/wbblang/<?php echo $lang ?>.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
                <script type="text/javascript">
            var wbbOpt = {
                lang: lang,
                smileList: false,
                resize_maxheight: 1200,
                buttons: 'bold,italic,underline,|,bullist,numlist,|,justifyleft,justifycenter,justifyright'
            };
            $('#field-text-info').wysibb(wbbOpt);

        <?php if(isset($submit_type) && $submit_type > 1) { ?>
                var goto = $('#extrainfo').offset().top;
                $('html, body').animate({scrollTop: goto}, 'slow');
        <?php } ?>

                </script>
            <?php } ?>

        <script type="text/javascript">
            $('#email-confirm').on('click', function (e) {
                $(this).addClass('disabled off');
                e.preventDefault();
                $.ajax({
                    type: 'post',
                    url: '/confirm',
                    success: function (result) {
                        alertBM.alert('<?php echo $t->_('l_email_comfirm') ?>', 'alert-success');
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            $('#btn-chrole').on('click', function (e) {
                e.preventDefault();
                $('#chrole').modal('show');
            });

            $("#form-chrole select").on("change", function () {
                var form = $(this).closest('form');
                $.ajax({
                    type: 'post',
                    url: '/token',
                    dataType: 'json',
                    success: function (result) {
                        form.find('#csrf-token').attr('name', result.csrf_name).val(result.csrf_value);
                        $.ajax({
                            type: 'post',
                            url: '/users/changerole',
                            data: form.serialize(),
                            dataType: 'html',
                            success: function (res) {
                                if (res == 'not_changed') {
                                    alertBM.alert('Выбранная роль совпадает с текущей', 'alert-success');
                                } else {
                                    alertBM.alert('Запрос отправлен администратору', 'alert-success');
                                }

                            }
                        });
                    }
                });
            });
            $('#profile-form').on('change', function () {
                form_change = true;
            });
            $('#text-form').on('change', function () {
                form_change = true;
            });
            function doSubmit() {
                if (form_change) {
                    if (!confirm('Несохранённые данные профиля будут потеряны.\nПродолжить?')) {
                        return false;
                    }
                }
                return doFormSubmit('spec-form', 'tid|sid');
            }

            function doSubmitNew() {
                return doFormSubmit('specnewform', 'tid|sid');
            }
        </script>

        <script type="text/javascript">
            var placeSearch, autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                autocomplete.addListener('place_changed', fillInAddress);
            }



            $('.wysibb-body').focusout(function () {
                $('.wysibb').css('border', '0px solid blue');
            });

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

        <?php echo $stat_track; ?>
    </body>
</html>
