<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />

        <style>
            .right button { float:right!important; }
            .normal { font-size:14px!important;font-weight:normal!important; }
        </style>

    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="<?php echo $url ?>/my">Заявки</a></li>
                    <li class="active"><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>

                </ul>
                <div class="blank25"></div>
                <div class="row">
                    <div class="col-sm-12">

                        <?php
                            if(isset($result) && $submit_type == 1) {
                                if(!$error)
                                    $class = 'alert-success';
                                else
                                    $class = 'alert-danger';
                                ?>

                                <div class="alert <?php echo $class ?> alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <big><?php echo $result ?></big>
                                </div>
                            <?php } ?>

                        <form method="post" class="form-horizontal" id="profile-form">
                            <input type="hidden" name="submit_type" value="1">
                            <input type="hidden" id="confirm_alert" value="1">
                            <input type="hidden" id="is_changed" value="0">
                            <input type="hidden" id="csrf-token">
                            <div class="block">
                                <div class="form-group">
                                    <label for="name" class="col-md-3 control-label"><?php echo $t->_('l_nick') ?> <br /> <span class="label label-danger"><big>обязательно к заполнению!</big></span></label>
                                    <div class="col-md-8">
                                        <input type="text" name="name" id="name" class="form-control" value="<?php echo $profile['user_name'] ?>">

                                        <?php
                                            switch ($profile['user_role_id'])
                                            {
                                                case 3: $role_name = $t->_('l_type_client');
                                                    break;
                                                case 4: $role_name = $t->_('l_type_performer');
                                                    break;
                                                case 5: $role_name = $t->_('l_type_team');
                                                    break;
                                                case 6: $role_name = $t->_('l_type_firm');
                                                    break;
                                                case 7: $role_name = $t->_('l_type_shop');
                                                    break;
                                            }
                                        ?>

                                        <div class="blank15"></div>
                                        <strong>Вы: <span class="red" style="text-transform:uppercase;"><?php echo $role_name; ?></span></strong> &nbsp; &nbsp;
                                        <a href="javascript:;" id="btn-chrole">хотите изменить роль?</a>
                                    </div>
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="block">
                                <div class="form-group">
                                    <label for="email" class="col-md-3 control-label"><?php echo $t->_('l_email') ?></label>
                                    <div class="col-md-8">

                                        <?php
                                            $diz = '';
                                            if($profile['user_email'])
                                                $diz = ' disabled="disabled"';
                                            if(!$profile['is_confirmed'] && $profile['user_email']) {
                                                ?>
                                                <div class="input-group">
                                                    <input type="email" name="email" id="email" class="form-control"<?php echo $diz ?> value="<?php echo $profile['user_email'] ?>">
                                                    <span class="input-group-btn"><button id="email-confirm" class="btn btn-info"><?php echo $t->_('cmn_confirm') ?></button></span>
                                                </div>
                                            <?php } else { ?>
                                                <input type="email" name="email" id="email" class="form-control"<?php echo $diz ?> value="<?php echo $profile['user_email'] ?>" placeholder="<?php echo $t->_('l_email_info') ?>">
                                            <?php } ?>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone" class="col-md-3 control-label"><?php echo $t->_('l_phone') ?> <br /> <!--span class="label label-primary"><big>желательно к заполнению!</big></span--></label>
                                    <div class="col-md-8">
                                        <?php
                                            $diz = '';
                                            if($profile['user_phone'])
                                                $diz = ' disabled="disabled"';
                                        ?>
                                        <input type="text" name="phone" id="phone" class="form-control"<?php echo $diz ?> value="<?php echo $profile['user_phone'] ?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="addr" class="col-md-3 control-label"><?php echo $t->_('l_addr') ?></label>
                                    <div class="col-md-8">

                                        <?php
                                            if($places) {
                                                $places = $places[0];
                                                $trimmedArray = array_map('trim', array($places['route'], $places['town'], $places['district'], $places['region']));
                                                echo '<div class="blank5"></div>', implode(', ', array_filter($trimmedArray));
                                                ?>
                                                &nbsp; <a href="<?php echo $url ?>/users/placedel/<?php echo $places['id'] ?>" onClick="return confirmDialog('addrDelete')"><span class="glyphicon glyphicon-remove text-danger"></span></a>

                                            <?php } else { ?>
                                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="<?php echo $t->_('blk_address') ?>" />
                                                <input type="hidden" name="placelat" id="placelat" />
                                                <input type="hidden" name="placelng" id="placelng" />
                                                <input type="hidden" name="placeid" id="placeid" />
                                                <input type="hidden" name="placeaddr" id="placeaddr" />
                                                <input type="hidden" name="placetown" id="locality" />
                                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                                <input type="hidden" name="placecountry" id="country" />
                                                <input type="hidden" name="placeroute" id="route" />
                                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                                <input type="hidden" name="chplace" id="chplace" value="0" />
                                                <small class="light50"><em>город, улица (номер дома указывать не нужно)</em></small>

                                            <?php } ?>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label"><?php echo $t->_('cmn_lang_site') ?></label>
                                    <div class="col-md-8">
                                        <label class="radio-inline">
                                            <input type="radio" name="lang" value="ru" <?php echo ($profile['user_lang'] == 'ru') ? 'checked="checked"' : ''; ?> > Русский
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="lang" value="uk" <?php echo ($profile['user_lang'] == 'uk') ? 'checked="checked"' : ''; ?> disabled="disabled"> Украинский
                                        </label>
                                    </div>
                                </div>
                                <div style="height:9px;"></div>
                            </div>
                            <div class="blank15"></div>
                            <div class="submit" style="text-align:center">
                                <button class="btn btn-success btn-lg" onclick="return doFormSubmit('profile-form', 'name|phone', 'checkuser|checkemail|checkphone')"><?php echo $t->_('cmn_save') ?></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="modal fade bs-modal-md" id="chrole" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content1">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="">Укажите, какую роль Вы хотите</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <form method="post" id="form-chrole">
                                <input type="hidden" id="csrf-token">
                                <div class="col-md-6">
                                    <select class="form-control" name="newrole">
                                        <option value="1"<?php if($profile['user_role_id'] == 3) echo ' selected' ?>><?php echo $t->_('l_type_client'); ?></option>
                                        <option value="2"<?php if($profile['user_role_id'] == 4) echo ' selected' ?>><?php echo $t->_('l_type_performer'); ?></option>
                                        <option value="3"<?php if($profile['user_role_id'] == 5) echo ' selected' ?>><?php echo $t->_('l_type_team'); ?></option>
                                        <option value="4"<?php if($profile['user_role_id'] == 6) echo ' selected' ?>><?php echo $t->_('l_type_firm'); ?></option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-warning" id="submit-chrole"><?php echo $t->_('cmn_change') ?> роль</button> &nbsp; &nbsp;
                                    <button class="btn btn-default" data-dismiss="modal"><?php echo $t->_('cmn_close') ?></button>
                                </div>
                            </form>
                        </div>
                        <div class="blank25"></div>
                    </div>
                </div>
            </div>
            <?php echo $banner2 ?>
            <div class="blank50"></div>
        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <!--script type="text/javascript" src="<?php echo $url ?>/js/jquery.Jcrop.min.js"></script-->
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <script type="text/javascript">
                                    var crntPage = 'profile';
                                    var has_gal = <?php echo ($img_files) ? 'true' : 'false'; ?>;
                                    var lang = '<?php echo $lang ?>';
                                    var url = '<?php echo $url ?>';
                                    var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                                    $('#profile-form :input').change(function () {
                                        $('#is_changed').val(1);
                                    });
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
        <!--script type="text/javascript" src="<?php echo $url ?>/js/avatar.js"></script-->

        <script type="text/javascript">
                                    $('#email-confirm').on('click', function (e) {
                                        $(this).addClass('disabled off');
                                        e.preventDefault();
                                        $.ajax({
                                            type: 'post',
                                            url: '/confirm',
                                            success: function (result) {
                                                alertBM.alert('<?php echo $t->_('l_email_comfirm') ?>', 'alert-success');
                                            },
                                            error: function (error) {
                                                console.log(error);
                                            }
                                        });
                                    });

                                    $('#btn-chrole').on('click', function (e) {
                                        e.preventDefault();
                                        $('#chrole').modal('show');
                                    });

                                    $('#submit-chrole').on('click', function (e) {
                                        e.preventDefault();
                                        var form = $(this).closest('form');
                                        $.ajax({
                                            type: 'post',
                                            url: '/token',
                                            dataType: 'json',
                                            success: function (result) {
                                                form.find('#csrf-token').attr('name', result.csrf_name).val(result.csrf_value);
                                                $.ajax({
                                                    type: 'post',
                                                    url: '/users/changerole',
                                                    data: form.serialize(),
                                                    success: function (res) {
                                                        alertBM.alert('Запрос отправлен администратору', 'alert-success');
                                                    }
                                                });
                                            }
                                        });
                                    });

        </script>

        <script type="text/javascript">
            var placeSearch, autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                autocomplete.addListener('place_changed', fillInAddress);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

        <?php echo $stat_track; ?>
    </body>
</html>