<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Восстановление доступа к сайту</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li>
                                                <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container content size100">
                <div class="title">Восстановление доступа к сайту</div>

                <?php
                    if(isset($result)) {
                        if(!$error) {
                            $class = 'alert-success';
                            if(isset($by_phone))
                                $result = $t->_('l_remind_phone');
                            else
                                $result = $t->_('l_remind_send');
                        } else {
                            $class = 'alert-danger';
                            $result = $t->_('l_not_found');
                        }
                        ?>
                        <div class="alert <?php echo $class ?> alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <big><?php echo $result ?></big>
                        </div>
                    <?php } ?>

                <div class="row">
                    <div class="col-sm-8">

                        <div class="blank15"></div>
                        <form method="post" class="form-horizontal" id="recovery-form">
                            <input type="hidden" id="csrf-token">
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-sm-3"></div>
                                <div class="col-sm-8">
                                    <ul class="nav nav-pills">
                                        <li class="active">
                                            <a href="#email-tab" data-toggle="tab">С помощью E-mail</a>
                                        </li>
                                        <li>
                                            <a href="#phone-tab" data-toggle="tab">С помощью телефона</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="tab-content">
                                <div class="tab-pane active" id="email-tab">
                                    <div class="form-group">
                                        <label for="email" class="col-md-3 control-label"><?php echo $t->_('l_email') ?></label>
                                        <div class="col-md-8">
                                            <input type="email" name="email" id="email" class="form-control" value="<?php if(isset($email)) echo $email; ?>">
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="phone-tab">
                                    <div class="form-group">
                                        <label for="phone" class="col-md-3 control-label"><?php echo $t->_('l_phone') ?></label>
                                        <div class="col-md-8">
                                            <input type="text" name="phone" id="phone" class="form-control" value="<?php if(isset($phone)) echo $phone; ?>">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="blank25"></div>
                            <div class="submit">
                                <button class="btn btn-success btn-lg" onclick="return doSubmit();"><?php echo $t->_('l_recovery') ?> доступ</button>
                            </div>
                        </form>
                        <div class="blank25"></div>
                    </div>
                    <div class="col-sm-4" style="text-align:justify">
                        <h4>Новый пароль</h4>
                        На адрес Вашей электронной почты будет отправлен новый пароль. С его помощью Вы сможете войти на сайт и изменить пароль на привычный.
                    </div>
                </div>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <script type="text/javascript">
                                    var crntPage = 'recovery';
                                    var lang = '<?php echo $lang ?>';
                                    function doSubmit() {
                                        var checkString = false;
                                        if ($('#email').val()) {
                                            checkString = 'email';
                                        }
                                        if ($('#phone').val()) {
                                            checkString = 'phone';
                                        }
                                        if (!checkString) {
                                            alertBM.alert(langFiedsEmpty);
                                            return false;
                                        }
                                        return doFormSubmit('recovery-form', checkString);
                                    }
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <script type="text/javascript">
                                    var langOk = '<?php echo $t->_('l_signin') ?>';
                                    var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                    var langLogin = '<?php echo $t->_('l_login') ?>';
                                    var langEmail = '<?php echo $t->_('l_email') ?>';
                                    var langPhone = '<?php echo $t->_('l_phone') ?>';
                                    var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                    var langPasswdConfirm = '<?php echo $t->_('l_passwd_err') ?>';
                                    var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                    var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                    var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                    var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                    var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                    var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                    var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>

        <?php echo $stat_track; ?>
    </body>
</html>