<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/jquery.Jcrop.min.css" />
        <style>
            #confidence-form label { font-weight: normal; }
            #confidence-form input { margin: 5px 10px 30px 0; float: left; }
        </style>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="<?php echo $url ?>/my"><?php
                                if($usr_level == 3)
                                    echo 'Заявки';
                                elseif($usr_level > 3 && $usr_level < 7)
                                    echo 'Заказы';
                            ?></a></li>
                    <?php if($has_orders) { ?><li><a href="<?php echo $url ?>/my/orders">Заявки</a></li><?php } ?>
                    <li><a href="<?php echo $url ?>/my/profile"><?php echo $t->_('nav_profile') ?></a></li>
                    <li class="active"><a href="<?php echo $url ?>/my/security">Безопасность</a></li>

                </ul>
                <div class="blank15"></div>


                <div class="row">
                    <div class="col-sm-4">
                        <div class="title">Данные</div>
                        <div class="blank5"></div>
                        <form method="post" class="form-horizontal" id="confidence-form">
                            <label><input type="checkbox" name="anon_view" checked="" disabled=""> Скрывать мои контактные данные от незарегистрированных посетителей сайта</label>
                            <div class="blank25"></div>
                            <label><input type="checkbox" name="anon_view" checked="" disabled=""> Скрывать мою статистику от незарегистрированных посетителей сайта</label>
                            <div class="submit">
                                <button class="btn btn-warning" onclick="return false; /*doFormSubmit('confidence-form', 'block-this')*/"><?php echo $t->_('cmn_save') ?></button>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-8">
                        <div class="title">Изменить пароль</div>

                        <?php
                            if(isset($result)) {
                                if(!$error)
                                    $class = 'alert-success';
                                else
                                    $class = 'alert-danger';
                                ?>

                                <div class="alert <?php echo $class ?> alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <big><?php echo $result ?></big>
                                </div>
                            <?php } ?>
                        <form method="post" class="form-horizontal" id="passwd-form">
                            <input type="hidden" id="csrf-token">
                            <div class="block">

                                <?php if(!$just_registered) { ?>
                                        <div class="form-group">
                                            <label for="oldpasswd" class="col-md-3 control-label"><?php echo $t->_('l_passwd') ?></label>
                                            <div class="col-md-8">
                                                <input type="password" name="oldpasswd" id="oldpasswd" class="form-control">
                                            </div>
                                        </div>
                                        <div class="blank25"></div>
                                    <?php } ?>

                                <div class="form-group">
                                    <label for="newpasswd" class="col-md-3 control-label"><?php echo $t->_('l_new_passwd') ?></label>
                                    <div class="col-md-8">
                                        <input type="password" name="passwd1" id="passwd1" class="form-control" required="required">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="confirmpasswd" class="col-md-3 control-label"><?php echo $t->_('l_re_passwd') ?></label>
                                    <div class="col-md-8">
                                        <input type="password" name="passwd2" id="passwd2" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="submit">
                                <button class="btn btn-success btn-lg" onclick="return doFormSubmit('passwd-form', '<?php if(!$just_registered) echo 'oldpasswd|' ?>passwd1|passwd2', 'passwdconfirm')"><?php echo $t->_('cmn_change') ?></button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

        <script type="text/javascript">
                                    var crntPage = 'security';
                                    var lang = '<?php echo $lang ?>';
                                    var url = '<?php echo $url ?>';
                                    var langPasswdConfirm = '<?php echo $t->_('l_passwd_err') ?>';
                                    var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php echo $stat_track; ?>
    </body>
</html>