<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_signup') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <!-- Event snippet for 1st conversion page -->
        <script>
            gtag('event', 'conversion', {'send_to': 'AW-961121757/fwFFCK6myHcQ3ZumygM'});
        </script>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li>
                                                <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg disabled"><?php echo $t->_('l_register') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container content size100">
                <div class="title"><?php echo $t->_('tls_do_signup') ?></div>
                <div class="blank10"></div>
                <div class="row">
                    <div class="col-sm-8">

                        <?php if($builders) { ?>
                                <div class="blank15"></div>
                                <div class="block-border brown shadow" style="width:95%;text-align:justify;">
                                    <big><div class="center">Для получения информации о заказах<br />нужно зарегистрироваться</div></big>
                                </div>
                                <div class="blank15"></div>
                            <?php } ?>

                        <div class="blank15"></div>
                        <form method="post" class="form-horizontal" id="signup-form" action="<?php echo $url ?>/users/signup">
                            <input type="hidden" id="csrf-token">
                            <div class="form-group">
                                <label class="col-md-4 control-label">Зарегистрироваться как
                                    <big><button class="btn-link" onclick="javascript:return false;" data-toggle="tooltip" data-placement="top" title="Выберите профиль Вашей деятельности, что бы не перегружать Ваш аккаунт избыточными функциями."><span class="glyphicon glyphicon-question-sign"></span></button></big>
                                </label>
                                <div class="col-md-8">



                                    <label class="radio-inline">
                                        <input type="radio" checked="" name="type" value="4"> <?php echo $t->_('l_type_performer') ?>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="type" value="5"> <?php echo $t->_('l_type_team') ?>
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="type" value="6"> <?php echo $t->_('l_type_firm') ?>
                                    </label>
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="form-group">
                                <label for="name" class="col-md-4 control-label"><?php echo $t->_('l_nick') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                <div class="col-md-7">
                                    <input type="text" name="name" id="name" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <!--
                            <div class="form-group">
                                <label for="email" class="col-md-4 control-label"><?php echo $t->_('l_email') ?></label>
                                <div class="col-md-7">
                                    <small class="light50"><?php echo $t->_('l_email_info') ?></small>
                                    <input type="email" name="email" id="email" class="form-control" required="required">
                                </div>
                            </div>
                            -->
                            <div class="form-group">
                                <label for="phone" class="col-md-4 control-label"><?php echo $t->_('l_phone') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                <div class="col-md-7">
                                    <input type="text" name="phone" id="phone" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="form-group">
                                <label for="passwd1" class="col-md-4 control-label"><?php echo $t->_('l_passwd') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                <div class="col-md-7">
                                    <small class="light50"><?php echo $t->_('l_char') ?></small>
                                    <input type="password" name="passwd1" id="passwd1" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="passwd2" class="col-md-4 control-label"><?php echo $t->_('l_re_passwd') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                <div class="col-md-7">
                                    <input type="password" name="passwd2" id="passwd2" class="form-control" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-7 col-xs-offset-4">
                                    <label class="radio-inline">
                                        <input type="checkbox" name="agree" id="agree" value="0"> <?php echo $t->_('l_agree') ?>
                                    </label>
                                </div>
                            </div>
                            <div class="blank25"></div>
                            <div class="submit" style="margin-left: 9%">
                                <button class="btn btn-success btn-lg" id="dosubmit"><?php echo $t->_('l_signup') ?></button>
                            </div>
                        </form>
                        <div class="blank25"></div>
                    </div>
                    <div class="col-sm-4" style="text-align:justify">
                        <h4><?php echo $t->_('l_rules_label') ?></h4>
                        <?php echo $t->_('l_rules_text') ?>
                    </div>
                </div>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <script type="text/javascript">
                                        var crntPage = 'signup';
                                        var lang = '<?php echo $lang ?>';
                                        $('#agree').on('change', function () {
                                            if (!$(this).is(':checked')) {
                                                $('#agree').val(0);
                                            } else {
                                                $('#agree').val(1);
                                            }
                                        });
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <script type="text/javascript">
                                        var langOk = '<?php echo $t->_('l_signin') ?>';
                                        var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                        var langLogin = '<?php echo $t->_('l_login') ?>';
                                        var langEmail = '<?php echo $t->_('l_email') ?>';
                                        var langPhone = '<?php echo $t->_('l_phone') ?>';
                                        var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                        var langPasswdConfirm = '<?php echo $t->_('l_passwd_err') ?>';
                                        var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                        var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                        var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                        var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                        var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                        var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                        var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                                        var langErrorPhoneCode = '<?php echo $t->_('l_phone_code_err') ?>';
                                        $(function () {
                                            $('[data-toggle="tooltip"]').tooltip()
                                        });
                                        $('#dosubmit').on('click', function (e) {
                                            e.preventDefault();

                                            if ($('input[name="type"]:radio:checked').length > 0) {
                                                var checkString;

                                                if ($('#email').val()) {
                                                    checkString = 'email|phone|passwd1|passwd2|agree';
                                                } else {
                                                    checkString = 'phone|passwd1|passwd2|agree';
                                                }
                                                doFormSubmit('signup-form', checkString, 'passwdconfirm|checkuser|checkemail|checkphone');
                                            } else {

                                                alertBM.alert(langFiedsEmpty);
                                            }
                                        });
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>

        <?php echo $stat_track; ?>



        <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
        </script>
        <noscript>
        <div style="display:inline;">
            <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/961121757/?label=fwFFCK6myHcQ3ZumygM&amp;guid=ON&amp;script=0"/>
        </div>
        </noscript>

    </body>
</html>