<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php echo $t->_('tls_cabinet') ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/jquery.Jcrop.min.css" />
        <style>

        </style>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:0px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php //echo $banner1?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">
                                            <li class="profile">
                                                <div>
                                                    <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <?php if($banner3 != ""): ?>
                        <div class="blank10"></div>
                        <?php echo $banner3 ?>
                        <div class="blank10"></div>
                    <?php endif; ?>
                <div class="blank15"></div>
                <ul class="nav nav-tabs nav-justified">
                    <li><a href="<?php echo $url ?>/my">Заказы</a></li>
                    <li class="active"><a href="<?php echo $url ?>/my/spec">Моя специализация</a></li>
                    <li><a href="<?php echo $url ?>/my/profile">Мой профиль</a></li>

                </ul>
                <div class="blank25"></div>

                <?php if(!$user_specs) { ?>
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            Для выбора заказов необходимо указать выполняемые работы (специализацию), а также добавить Ваш адрес и описание деятельности в &laquo;<a href="<?php echo $url ?>/my/profile">Профиле</a>&raquo;.<br />
                            После добавления специализации, заказчики увидят Вас в каталоге.
                        </div>
                        <div class="blank25"></div>
                    <?php } ?>

                <div class="row">
                    <div class="col-sm-6">
                        <h4>Добавленные специализации</h4>
                        <?php
                            if(!$user_specs)
                                echo '<span class="red">&mdash; нет добавленных специализаций</span>';
                            else
                                foreach ($user_specs as $us) {
                                    ?>
                                    <div class="item-border">
                                        <strong class="brown"><?php echo $us['type_name'] ?></strong> - <?php echo $us['spec_name'] ?>
                                        <div class="del-btn">
                                            <a onClick="return confirmDelete()" href="<?php echo $url ?>/my/spec/delspec/<?php echo $us['id'] ?>"><span class="glyphicon glyphicon-remove-sign red"></span></a>
                                        </div>
                                    </div>
                                    <div class="blank15"></div>

                                <?php } ?>
                        <div class="blank5"></div>

                        <?php if(isset($error) && $error == 2) { ?>
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <big><?php echo $result ?></big>
                                </div>
                            <?php } ?>

                        <div class="block">
                            <form method="post" class="form-horizontal" id="spec-form">
                                <input type="hidden" id="csrf-token">
                                <input type="hidden" name="submit_type" value="1">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <select name="speciality" class="form-control" id="tid">
                                            <option value="0">-- <?php echo $t->_('blk_select1') ?> --</option>

                                            <?php
                                                if($top_catalog)
                                                    foreach ($top_catalog as $tc) {
                                                        ?>
                                                        <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>
                                                    <?php } ?>

                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="subspeciality" class="form-control" id="sid" disabled>
                                            <option value="0">-- <?php echo $t->_('blk_select2') ?> --</option>
                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                </div>
                                <div>
                                    <button class="btn btn-success" onclick="return doFormSubmit('spec-form', 'tid|sid')"><?php echo $t->_('cmn_add') ?></button>
                                </div>
                            </form>
                            <div class="blank15"></div>
                        </div>
                        <div class="blank25"></div>
                    </div>
                    <div class="col-sm-6">
                        <h4>Добавленные расценки</h4>
                        <?php if(!$user_specs || !$user_prices) echo '<span class="red">&mdash; нет добавленных расценок</span> <div class="blank5"></div>'; ?>

                        <?php
                            if($user_specs) {
                                if($user_prices) {
                                    $count = sizeof($user_prices);
                                    $tmp = array();
                                    $siid = 0;
                                    for ($i = 0; $i < $count; $i++) {
                                        if($user_prices[$i]['spec_item_id'] != $siid) {
                                            if($siid > 0)
                                                echo '<div class="blank15"></div>';
                                            echo '<h4 class="light50 brown">', $user_prices[$i]['type_name'], ' - ', $user_prices[$i]['spec_name'], '</h4>';
                                            echo '<div class="item-border">';
                                            echo $user_prices[$i]['name'], ': <strong class="green">', $user_prices[$i]['price'], 'грн.</strong>';
                                            echo '<div class="del-btn"><a onClick="return confirmDelete()" href="', $url, '/my/spec/delprice/', $user_prices[$i]['id'], '"><span class="glyphicon glyphicon-remove-sign red"></span></a></div>';
                                            echo '</div><div class="blank15"></div>';
                                            $siid = $user_prices[$i]['spec_item_id'];
                                        } else {
                                            echo '<div class="item-border">';
                                            echo $user_prices[$i]['name'], ': <strong class="green">', $user_prices[$i]['price'], ' грн.</strong>';
                                            echo '<div class="del-btn"><a onClick="return confirmDelete()" href="', $url, '/my/spec/delprice/', $user_prices[$i]['id'], '"><span class="glyphicon glyphicon-remove-sign red"></span></a></div>';
                                            echo '</div><div class="blank15"></div>';
                                        }
                                    }
                                    echo '<div class="blank15"></div>';
                                }
                                ?>

                                <?php if(isset($error) && $error == 2) { ?>
                                    <div class="alert alert-danger alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <big><?php echo $result ?></big>
                                    </div>
                                <?php } ?>

                                <div class="block">
                                    <form method="post" class="form-horizontal" id="price-form">
                                        <input type="hidden" id="csrf-token">
                                        <input type="hidden" name="submit_type" value="2">
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <input type="text" name="item" id="item" class="form-control" required="required" placeholder="Название услуги">
                                                <div class="blank15"></div>
                                            </div>
                                            <div class="col-xs-4">
                                                <input type="text" name="price" id="price" class="form-control price" required="required" placeholder="Цена, грн.">
                                                <div class="blank15"></div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-8">
                                                <select name="spec" class="form-control" id="spec">
                                                    <option value="0">-- выберите специализацию --</option>

                                                    <?php foreach ($user_specs as $us) { ?>
                                                        <option value="<?php echo $us['id'] ?>"><?php echo $us['type_name'], ' - ', $us['spec_name'] ?></option>
                                                    <?php } ?>

                                                </select>
                                            </div>
                                            <div class="col-xs-4">
                                                <div>
                                                    <button class="btn btn-success" onclick="return doFormSubmit('price-form', 'item|spec|price')"><?php echo $t->_('cmn_add') ?></button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    <div class="blank15"></div>
                                </div>
                            <?php } ?>

                        <div class="blank15"></div>
                    </div>
                </div>
            </div>

            <?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <script type="text/javascript">
                                                var crntPage = 'spec';
                                                var lang = '<?php echo $lang ?>';
                                                var url = '<?php echo $url ?>';
                                                var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if($user_specs) { ?>
                <script type="text/javascript">
                                                        $('.price').keypress(function (event) {
                                                            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                                                                if (event.which != 8)
                                                                    event.preventDefault();
                                                            }
                                                        });
                </script>
            <?php } ?>

        <?php echo $stat_track; ?>
    </body>
</html>