<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Каталог строителей и заявок на ремонты, строительство</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />

        <?php if(isset($img_files) && $img_files) { ?>
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/lightbox.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/owl.carousel.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/owl.theme.css" />
            <?php } ?>

        <style>
            .desc { text-align: justify; }
            .specs .block-border { display: inline-block; margin-bottom: 10px; }
        </style>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">

                                            <?php if($is_logged) { ?>

                                                    <li class="profile">
                                                        <div>
                                                            <strong><?php echo $usr_email ?></strong><br />
                                                            <a href="<?php echo $url ?>/my"><?php echo $t->_('l_profile') ?></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                    </li>

                                                <?php } else { ?>

                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>

                                                <?php } ?>

                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a class="active" href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_news') ?></a>
                                        </li-->
                                        <li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank25"></div>

            <div class="container pprofile size100">
                <?php
                    $r = $this->request->getHTTPReferer();
                    if(strpos($r, $url) !== false) {
                        ?>
                        <div class="item-border">
                            <a href="javascript:history.back();" style="padding-left:5px"><span class="glyphicon glyphicon-arrow-left"></span> назад</a>
                        </div>
                        <div class="blank10"></div>
                    <?php } ?>
                <div class="row">
                    <div class="col-sm-7 specs">
                        <h4>Специализации</h4><hr />

                        <?php
                            if(!isset($user_specs) || !$user_specs)
                                echo '<span class="red">Пользователь не добавил специализации</span>';
                            else {
//foreach($user_specs as $us) {
                                $count = count($user_specs);
                                $wid = $user_specs[0]['wid'];
                                echo '<strong class="brown">', $user_specs[0]['type_name'], '</strong>';
                                echo '<div class="blank5"></div>';
                                for ($i = 0; $i < $count; $i++) {
                                    if($wid != $user_specs[$i]['wid']) {
                                        echo '<div class="blank25"></div>';
                                        echo '<strong class="brown">', $user_specs[$i]['type_name'], '</strong>';
                                        echo '<div class="blank5"></div>';
                                        $wid = $user_specs[$i]['wid'];
                                    }
                                    ?>
                                    <div class="block-border">
                                        <?php echo $user_specs[$i]['spec_name'] ?>
                                    </div>

                                    <?php
                                }
                            }
                        ?>

                    </div>
                    <div class="col-sm-5">
                        <h4>Профиль</h4><hr />
                        <div class="row nopad">
                            <div class="col-sm-12 nopad">
                                <span class="title" style="font-size:26px"><?php echo $profile['user_name'] ?></span>
                                <hr />

                                <?php
                                    switch ($profile['user_role_id'])
                                    {
                                        case 3: $role_name = $t->_('l_type_client');
                                            break;
                                        case 4: $role_name = $t->_('l_type_performer');
                                            break;
                                        case 5: $role_name = $t->_('l_type_firm');
                                            break;
                                        case 6: $role_name = $t->_('l_type_shop');
                                            break;
                                    }
                                    echo $role_name;
                                ?>

                            </div>
                        </div>
                        <div class="blank25"></div>

                        <?php if(isset($info['description'])) { ?>
                                <div class="desc">
                                    <div class="blank15"></div>
                                    <strong>Описание:</strong>
                                    <div class="blank5"></div>
                                    <div class="block-border">
                                        <div style="color:#666;padding-right:5px;overflow-y:auto;height:<?php
                                        if(mb_strlen($info['description'], 'UTF-8') > 250)
                                            echo '250px';
                                        else
                                            echo 'auto';
                                        ?>;">
                                             <?php echo isset($info['description']) ? $info['description'] : 'не указано' ?>
                                        </div>
                                        <div class="blank5"></div>
                                    </div>
                                </div>
                            <?php } ?>

                        <div class="blank25"></div>
                        <div class="block">
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>E-mail:</strong>
                                </div>
                                <div class="col-xs-8">
                                    <?php
                                        if($is_logged)
                                            echo $profile['user_email'];
                                        else
                                            echo '<a href="javascript:doSignin();">Войдите для просмотра</a>';
                                    ?>
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>Телефоны:</strong>
                                </div>
                                <div class="col-xs-8">
                                    <div id="phone"></div>
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>Адрес:</strong>
                                </div>
                                <div class="col-xs-8">

                                    <?php
                                        if($place['place_town']) {
                                            if($place['is_district']) {
                                                $addr = $place['place_district'] . ', ' . $place['place_town'] . ', ' . $place['place_region'];
                                            } else {
                                                $addr = $place['place_town'] . ', ' . $place['place_district'] . ', ' . $place['place_region'];
                                            }
                                        } else
                                            $addr = 'не указан';
                                        echo $addr;
                                    ?>

                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>Веб-сайт:</strong>
                                </div>
                                <div class="col-xs-8">
                                    <?php
                                        if($is_logged)
                                            echo $info['website'] ? $info['website'] : 'не указан';
                                        else
                                            echo '<a href="javascript:doSignin();">Войдите для просмотра</a>';
                                    ?>
                                </div>
                            </div>
                            <div class="blank15"></div>
                        </div>

                        <?php if($profile['user_role_id'] == 5) { ?>
                                <div class="blank15"></div>
                                <div class="block">

                                    <div class="row">
                                        <div class="col-xs-4">
                                            <strong>Название:</strong>
                                        </div>
                                        <div class="col-xs-8">
                                            <?php echo $info['orgname'] ? $info['orgname'] : 'не указано' ?>
                                        </div>
                                    </div>

                                    <?php if(isset($info['edrpou'])) { ?>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>ЕГРПОУ:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                                <?php echo $info['edrpou'] ?>
                                            </div>
                                        </div>
                                    <?php } ?>

                                    <?php if(isset($info['chief'])) { ?>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>Контакт:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                                <?php echo $info['chief'] ?>
                                            </div>
                                        </div>
                                    <?php } ?>

                                    <?php if(isset($info['address'])) { ?>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>Адрес:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                                <?php echo $info['address'] ?>
                                            </div>
                                        </div>
                                    <?php } ?>

                                    <?php if(isset($info['email'])) { ?>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>E-mail:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                                <?php echo $info['email'] ?>
                                            </div>
                                        </div>
                                    <?php } ?>

                                    <div class="blank15"></div>
                                </div>
                            <?php } ?>

                        <div class="blank15"></div>
                        <h4>Файлы и фото</h4>


                        <?php if(isset($doc_files)) { ?>
                                <div class="blank5"></div>
                                <?php foreach ($doc_files as $doc) { ?>
                                    <div class="item-border">
                                        <a href="<?php echo $url, $fpath, $doc['user_id'], '/', $doc['fname'] ?>" target="_blank"><?php echo $doc['ftitle'] ?></a>
                                    </div>
                                    <div class="blank5"></div>

                                <?php } ?>
                                <div class="blank15"></div>
                            <?php } ?>

                        <?php if(isset($img_files)) { ?>
                                <div class="blank5"></div>
                                <div class="owl-carousel">
                                    <?php foreach ($img_files as $img) { ?>
                                        <div class="crsl-item">
                                            <a href="<?php echo $url, $fpath, $img['user_id'], '/', $img['fname'] ?>" data-lightbox="ugallery"><img src="<?php echo $url, $fpath, $img['user_id'], '/thumb@', $img['fname'] ?>" /></a>
                                        </div>

                                    <?php } ?>
                                </div>
                                <div class="blank15"></div>
                            <?php } ?>

                        <?php if((!$doc_files && !$img_files) || (!isset($doc_files) && !isset($img_files))) echo '<span class="red">Нет файлов</span>' ?>

                    </div>
                </div>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

        <?php if(isset($img_files) && $img_files) { ?>
                <script type="text/javascript" src="<?php echo $url ?>/js/lightbox.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/owl.carousel.min.js"></script>
            <?php } ?>

        <?php
            if($is_logged) {
                $show = true;
                isset($show_phone) ? true : false;
                if($profile['id'] == $user_id || $show) {
                    $phone = ($profile['user_phone']) ? $profile['user_phone'] : $this->config->other->admin_phone;
                    if(isset($info['phone1']))
                        $phone1 = $info['phone1'];
                    if(isset($info['phone2']))
                        $phone2 = $info['phone2'];
                } else {
                    $phone = 'Контакты видны только заказчикам';
                    if(isset($info['phone1']))
                        $phone1 = $phone;
                    if(isset($info['phone2']))
                        $phone2 = $phone;
                }
            } else {
                $phone = '<a href="javascript:doSignin();">Войдите для просмотра</a>';
                if(isset($info['phone1']))
                    $phone1 = '<a href="javascript:doSignin();">Войдите для просмотра</a>';
                if(isset($info['phone2']))
                    $phone2 = '<a href="javascript:doSignin();">Войдите для просмотра</a>';
            }
        ?>

        <script type="text/javascript">
                                        var crntPage = 'user';
                                        var lang = '<?php echo $lang ?>';
                                        var url = '<?php echo $url ?>';
                                        var has_gal = <?php echo ($img_files) ? 'true' : 'false'; ?>;
                                        $('#phone').html('<?php echo $phone; ?>');
<?php if(isset($info['phone1'])) echo "$('#phone').append('<br />" . $phone1 . "');" ?>
<?php if(isset($info['phone2'])) echo "$('#phone').append('<br />" . $phone2 . "');" ?>
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if(!$is_logged) { ?>
                <script type="text/javascript">
                                                var langOk = '<?php echo $t->_('l_signin') ?>';
                                                var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                                var langLogin = '<?php echo $t->_('l_login') ?>';
                                                var langEmail = '<?php echo $t->_('l_email') ?>';
                                                var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                                var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                                var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                                var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                                var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                                var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                                var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                                var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                </script>
                <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>
            <?php } ?>

        <?php echo $stat_track; ?>
    </body>
</html>