<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Заказчик <?php echo $profile['user_name'] ?> | Каталог строителей</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">

                                            <?php if($is_logged) { ?>

                                                    <li class="profile">
                                                        <div>
                                                            <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                    </li>

                                                <?php } else { ?>

                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>

                                                <?php } ?>

                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a class="active" href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank25"></div>

            <div class="container pprofile size100">
                <?php
                    $r = $this->request->getHTTPReferer();
                    if(strpos($r, $url) !== false) {
                        ?>
                        <?php if($banner3 != ""): ?>
                            <div class="blank10"></div>
                            <?php echo $banner3 ?>
                            <div class="blank10"></div>
                        <?php endif; ?>
                        <div id="back-link">
                            <div class="item-border">
                                <a href="javascript:history.back();" style="padding-left:5px" class="link-back"><span class="glyphicon glyphicon-arrow-left"></span> назад</a>
                            </div>
                            <div class="blank10"></div>
                        </div>
                    <?php } ?>
                <div class="row">
                    <div class="col-sm-12">
                        <h4>Профиль</h4><hr />
                        <div class="row nopad">
                            <div class="col-sm-12 nopad">
                                <span class="title" style="font-size:26px"><?php echo $profile['user_name'] ?></span>
                                <hr />

                                <?php
                                    switch ($profile['user_role_id'])
                                    {
                                        case 3: $role_name = $t->_('l_type_client');
                                            break;
                                        case 4: $role_name = $t->_('l_type_performer');
                                            break;
                                        case 5: $role_name = $t->_('l_type_team');
                                            break;
                                        case 6: $role_name = $t->_('l_type_firm');
                                            break;
                                        case 7: $role_name = $t->_('l_type_shop');
                                            break;
                                    }
                                    echo $role_name;
                                ?>

                            </div>
                        </div>

                        <div class="blank25"></div>
                        <div class="block">
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>E-mail:</strong>
                                </div>
                                <div class="col-xs-8">

                                    <?php
                                        if($is_logged) {
                                            if(isset($show_phone) || $usr_level < 3) {
                                                echo $profile['user_email'];
                                            } else
                                                echo 'Контакты видны только заказчикам';
                                        } else
                                            echo '<a href="javascript:doOpenInfo();">', $t->_('l_info_open'), '</a>';
                                    ?>

                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>Телефоны:</strong>
                                </div>
                                <div class="col-xs-8">
                                    <div id="phone"></div>
                                </div>
                            </div>
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong>Адрес:</strong>
                                </div>
                                <div class="col-xs-8">

                                    <?php
                                        /* if ($place['place_town']) {
                                          if ($place['is_district']) {
                                          $addr = $place['place_district'] . ', ' . $place['place_town'] . ', ' . $place['place_region'];
                                          } else {
                                          $addr = $place['place_town'] . ', ' . $place['place_district'] . ', ' . $place['place_region'];
                                          }
                                          } else
                                          $addr = 'не указан';
                                          echo $addr; */
                                        if($places)
                                            foreach ($places as $p) {
                                                echo '<li>', $p['town'], ', ', $p['region'], '</li>';
                                            } else
                                            echo 'не указан';
                                    ?>

                                </div>
                            </div>
                            <div class="blank15"></div>
                        </div>


                    </div>
                </div>
            </div>

            <?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

        <?php
            if($is_logged) {
                $show = isset($show_phone) ? true : false;
                if($profile['id'] == $user_id || $show || $usr_level < 3) {
                    $phone = ($profile['user_phone']) ? $profile['user_phone'] : $this->config->other->admin_phone;
                    if(isset($info['phone1']))
                        $phone1 = $info['phone1'];
                    if(isset($info['phone2']))
                        $phone2 = $info['phone2'];
                } else {
                    $phone = 'Контакты видны только заказчикам';
                    if(isset($info['phone1']))
                        $phone1 = $phone;
                    if(isset($info['phone2']))
                        $phone2 = $phone;
                }
            } else {
                $phone = '<a href="javascript:doOpenInfo();">' . $t->_('l_info_open') . '</a>';
                if(isset($info['phone1']))
                    $phone1 = '<a href="javascript:doOpenInfo();">' . $t->_('l_info_open') . '</a>';
                if(isset($info['phone2']))
                    $phone2 = '<a href="javascript:doOpenInfo();">' . $t->_('l_info_open') . '</a>';
            }
        ?>

        <script type="text/javascript">
                                        if (history.length == 1)
                                            $('#back-link').css('display', 'none');
                                        var crntPage = 'user';
                                        var lang = '<?php echo $lang ?>';
                                        var url = '<?php echo $url ?>';
                                        var has_gal = false;
                                        $('#phone').html('<?php echo $phone; ?>');
<?php if(isset($info['phone1'])) echo "$('#phone').append('<br />" . $phone1 . "');" ?>
<?php if(isset($info['phone2'])) echo "$('#phone').append('<br />" . $phone2 . "');" ?>
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if(!$is_logged) { ?>
                <script type="text/javascript">
                                                var langInfo = '<?php echo $t->_('l_info') ?>';
                                                var langInfoMess = '<?php echo $t->_('l_info_message') ?>';
                                                var langInfo = '<?php echo $t->_('l_info') ?>';
                                                var langInfoMess = '<?php echo $t->_('l_info_message') ?>';
                                                var langOk = '<?php echo $t->_('l_signin') ?>';
                                                var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                                var langLogin = '<?php echo $t->_('l_login') ?>';
                                                var langEmail = '<?php echo $t->_('l_email') ?>';
                                                var langPhone = '<?php echo $t->_('l_phone') ?>';
                                                var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                                var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                                var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                                var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                                var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                                var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                                var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                                var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                </script>
                <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>
            <?php } ?>

        <?php echo $stat_track; ?>
    </body>
</html>