<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Строитель <?php echo $profile['user_name'] ?> | Каталог строителей</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />

        <?php if(isset($img_files) && $img_files) { ?>
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/lightbox.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/owl.carousel.css" />
                <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/owl.theme.css" />
            <?php } ?>

        <style>
            .desc { text-align: justify; }
            .specs .block-no-border { display: inline-block; margin-bottom: 10px; }
            .item-border-none { float:left; display: inline-block; margin:10px 10px 10px 0; }
            .item-border-none a { border: 1px solid #ddd; padding: 5px; }
        </style>
    </head>

    <body>

        <div id="fb-root"></div>
        <script>(function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id))
                    return;
                js = d.createElement(s);
                js.id = id;
                js.src = 'https://connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v3.2';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
<?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">

<?php if($is_logged) { ?>

                                                    <li class="profile">
                                                        <div>
                                                            <!--strong><?php //echo $usr_email                       ?></strong><br />
                                                            <a href="<?php //echo $url                       ?>/my"><?php //echo $t->_('l_profile')                       ?></a-->
                                                            <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                    </li>

    <?php } else { ?>

                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>

    <?php } ?>

                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a class="active" href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank25"></div>
            <div class=" text-center">
                <button type="button" class="btn btn-info btn-lg " style="z-index: 100;" onclick="window.close();">Закрыть</button>
            </div>           

            <div class="blank25 hidden-lg hidden-md hidden-sm hidden-xs"></div>

            <div class="container pprofile size100">
                <?php
                    $r = $this->request->getHTTPReferer();
                    if(strpos($r, $url) !== false) {
                        ?>
                        <?php if($banner3 != ""): ?>
                            <div class="blank10"></div>
                            <?php echo $banner3 ?>
                            <div class="blank10"></div>
        <?php endif; ?>
                        <!--
                        <div id="back-link">
                            <div class="item-border">
                                <a href="javascript:history.back();" style="padding-left:5px" class="link-back"><span class="glyphicon glyphicon-arrow-left"></span> назад</a>
                            </div>
                            <div class="blank10"></div>
                        </div>
                        -->
                            <?php } ?>
                <div class="row">
                    <div class="col-sm-12 specs">
                        <?php if(count($img_files) or count($doc_files)): ?>
                                <h4>Файлы и фото</h4>
                            <?php endif; ?>

                            <?php if(count($img_files)) { ?>
                                <div class="blank5"></div>
                                <div class="owl-carousel">
        <?php foreach ($img_files as $img) { ?>
                                        <div class="crsl-item">
                                            <a href="<?php echo $url, $fpath, $img['user_id'], '/', $img['fname'] ?>" data-lightbox="ugallery"><img src="<?php echo $url, $fpath, $img['user_id'], '/thumb@', $img['fname'] ?>" /></a>
                                        </div>

                                <?php } ?>
                                </div>
                                <div class="blank10"></div>
                            <?php } ?>

                        <?php if(count($doc_files)) { ?>                               
                                <div class="blank15"></div>
        <?php foreach ($doc_files as $doc) { ?>
                                    <div class="item-border-none">
                                        <a href="<?php echo $url, $fpath, $doc['user_id'], '/', $doc['fname'] ?>" target="_blank"><?php echo $doc['ftitle'] ?></a>
                                    </div>

                                <?php } ?>
                                <div class="blank10"></div>
    <?php } ?>



<?php if((!$doc_files && !$img_files) || (!count($doc_files) && !count($img_files))) echo '<span class="red">Нет файлов</span>' ?>

                        <div class="row nopad">
                            <div class="col-sm-12 nopad text-center">
                                <?php
//                                    switch ($profile['user_role_id'])
//                                    {
//                                        case 3: $role_name = $t->_('l_type_client');
//                                            break;
//                                        case 4: $role_name = $t->_('l_type_performer');
//                                            break;
//                                        case 5: $role_name = $t->_('l_type_team');
//                                            break;
//                                        case 6: $role_name = $t->_('l_type_firm');
//                                            break;
//                                        case 7: $role_name = $t->_('l_type_shop');
//                                            break;
//                                    }
                                ?>
                                <!--<span class="title" style="font-size:26px"><?php echo $profile['user_name'] ?> ( <?= $role_name ?>)</span>-->

                                <?php
                                    /* if ($place['place_town']) {
                                      if ($place['is_district']) {
                                      $addr = $place['place_district'] . ', ' . $place['place_town'] . ', ' . $place['place_region'];
                                      } else {
                                      $addr = $place['place_town'] . ', ' . $place['place_district'] . ', ' . $place['place_region'];
                                      }
                                      } else
                                      $addr = 'не указан';
                                      echo $addr; */
                                    if($places)
                                        foreach ($places as $p) {
                                            $trimmedArray = array_map('trim', array($p['town'], $p['district'], $p['region']));
                                            echo '<li>', implode(', ', array_filter($trimmedArray)), '</li>';
                                        } else
                                        echo 'не указан';
                                ?>

                            </div>
                        </div>
                        <div class="blank10"></div>

                        <div class="block">
                            <div class="row text-center">
                                <div class="col-xs-12">
                                    <?php
                                        switch ($profile['user_role_id'])
                                        {
                                            case 3: $role_name = $t->_('l_type_client');
                                                break;
                                            case 4: $role_name = $t->_('l_type_performer');
                                                break;
                                            case 5: $role_name = $t->_('l_type_team');
                                                break;
                                            case 6: $role_name = $t->_('l_type_firm');
                                                break;
                                            case 7: $role_name = $t->_('l_type_shop');
                                                break;
                                        }
                                    ?>
                                    <p class="title" style="font-size:26px"><?php echo $profile['user_name'] ?>  <span class="name_role"><?= $role_name ?></span></p>
                                </div>

                            </div>
                            <div class="blank15"></div>
                            <div class="row">
                                <div class="col-xs-4">
                                    <strong><h3>Телефоны:</h3></strong>
                                </div>
                                <div class="col-xs-8">

                                    <?php if($is_logged): ?>

        <?php if($usr_level < 4): ?>
            <?php if(in_array($profile['id'], $selected)): ?>
                                                    <div class="blank15"></div>
                                                    <div class="blank5"></div>
                                                    <div class="ok_btn" style="width:auto">
                <?= $profile['user_phone']; ?> <span class="label label-success" id="lbl7257">
                                                            <span class="glyphicon glyphicon-ok"></span> 
                                                            Выбран
                                                        </span>
                                                    </div>
                                                    <a href="#" data-toggle="tooltip" data-placement="bottom"  data-html="true" title="Сегодня Вы можете выбрать 10 специалистов, для увеличения лимита свяжитесь с администратором по телефону <?= $this->config->other->admin_phone ?>">Ограничение</a>
            <?php else: ?>
                                                    <form id="select-form">
                                                        <button class="btn btn-primary" id="btn-sel" data-uid=""><?= $t->_('w_select') ?></button>
                                                        <input type="hidden" id="csrf-token">
                                                        <input type="hidden" id="worker" name="worker" value="<?= $profile['id'] ?>">
                                                        <input type="hidden" name="order" value="<?php echo $last_order['id'] ?>">
                                                    </form> 
                                                    <a href="#" data-toggle="tooltip" data-placement="bottom"  data-html="true" title="Сегодня Вы можете выбрать 10 специалистов, для увеличения лимита свяжитесь с администратором по телефону <?= $this->config->other->admin_phone ?>">Ограничение</a>
                                                <?php endif; ?>
                                            <?php else: ?>
                                                Контакты видны только заказчикам
                                            <?php endif; ?>


                                        <?php else: ?>
                                            <a href="javascript:doOpenInfo();"><button type="button" class="btn btn-info btn-lg" style="margin-top: 9px;">Открыть</button></a>
<?php endif; ?>

                                </div>
                            </div>
                            <div class="blank15"></div>
                        </div>

<?php if(isset($info['description']) && $info['description'] != '') { ?>
                                <div class="block">
                                    Поблагодарить <b><?= $profile['user_name'] ?></b> у себя в Facebook
                                    <div class="fb-share-button" 
                                         data-href="https://budmisto.com.ua/user/<?=$profile['id']?>"
                                         data-layout="button" 
                                         data-size="large" 
                                         data-mobile-iframe="true">
                                         <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fbudmisto.com.ua%2Fuser%2F<?=$profile['id']?>&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore"></a></div>
                                    <h3>Описание:</h3>
                                    <div class="blank5"></div>
                                    <div class="block-border">
                                        <div style="color:#666;padding-right:5px;overflow-y:auto;height:<?php
                                        if(mb_strlen($info['description'], 'UTF-8') > 250)
                                            echo '250px';
                                        else
                                            echo 'auto';
                                        ?>;">
        <?php echo isset($info['description']) ? $info['description'] : 'не указано' ?>
                                        </div>
                                        <div class="blank5"></div>
                                    </div>
                                    <div class="blank10"></div>


    <?php } ?>

                            <h4>Выполение работ по специализациям</h4>

                            <?php
                                if(!isset($user_specs) || !$user_specs)
                                    echo '<span class="red">Пользователь не добавил специализации</span>';
                                else {

//foreach($user_specs as $us) {
                                    $count = count($user_specs);

                                    foreach ($user_specs as $key => $value) {
                                        $arr[$value['wid']][] = $value;
                                    }


                                    foreach ($arr as $key => $value) {
                                        foreach ($value as $k => $v) {
                                            if($k == 0) {
                                                if(!$first_block)
                                                    $first_block = true;
                                                else
                                                    echo '<br>';
                                                echo '<strong class="brown">', $v['type_name'], '</strong>';
                                                echo '<br>';
                                            }else {
                                                echo ',&nbsp&nbsp';
                                            }

                                            echo $v['spec_name'];
                                        }
                                    }
                                }
                            ?>

                        </div>
                    </div>
                    <div class="col-sm-5">               


                        <div class="blank5"></div>


<?php if($profile['user_role_id'] == 6) { ?>
                                <div class="blank15"></div>
                                <div class="block">

                                    <div class="row">
                                        <div class="col-xs-4">
                                            <strong>Название:</strong>
                                        </div>
                                        <div class="col-xs-8">
        <?php echo $info['orgname'] ? $info['orgname'] : 'не указано' ?>
                                        </div>
                                    </div>

        <?php if(isset($info['edrpou'])) { ?>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>ЕГРПОУ:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                        <?php echo $info['edrpou'] ?>
                                            </div>
                                        </div>
                                    <?php } ?>

        <?php if(isset($info['chief'])) { ?>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>Контакт:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                        <?php echo $info['chief'] ?>
                                            </div>
                                        </div>
                                    <?php } ?>

        <?php if(isset($info['address'])) { ?>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>Адрес:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                        <?php echo $info['address'] ?>
                                            </div>
                                        </div>
                                    <?php } ?>

        <?php if(isset($info['email'])) { ?>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>E-mail:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                        <?php echo $info['email'] ?>
                                            </div>
                                        </div>
        <?php } ?>

                                    <div class="blank15"></div>
                                </div>
                            <?php } ?>

                        <div class="blank5"></div>
                        <?php if($is_logged && $profile['id'] != $usr_id) { ?>
                                <button class="btn btn-primary" id="back-call" style="width:100%"><span class="glyphicon glyphicon-earphone"></span> &nbsp; Предложить работу</button>
    <?php } ?>

                    </div>
                </div>

            </div>

<?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>

<?php if($is_logged && $profile['id'] != $usr_id) { ?>
                <div class="modal fade bs-modal-md" id="call-wnd" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <h4>Строитель позвонит</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <form method="post" id="form-call">
                                        <input type="hidden" id="csrf-token">
                                        <input type="hidden" name="user_call_id" value="<?php echo $profile['id'] ?>">
                                        <div class="col-md-12">
        <?php if($is_logged) { ?>
                                                <input type="text" class="form-control" name="callphone" id="callphone" placeholder="<?php echo $t->_('l_phone') ?>" value="<?php echo isset($usr_phone) ? $usr_phone : '' ?>" />
                                                <div class="blank5"></div>
                                                <textarea class="form-control" name="message" placeholder="<?php echo $t->_('cmn_message') ?>"></textarea>
        <?php } ?>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="col-md-12">
                                            <button class="btn btn-warning" id="submit-call"><?php echo $t->_('cmn_send') ?></button> &nbsp; &nbsp;
                                            <button class="btn btn-default" data-dismiss="modal"><?php echo $t->_('cmn_close') ?></button>
                                        </div>
                                    </form>
                                </div>
                                <div class="blank25"></div>
                            </div>
                        </div>
                    </div>
                </div>
    <?php } ?>


        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
<?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <div class="popup js-popup" style=" display:none;">
            <div class="popup__in js-popup-in">
                <div class="form" id="js_info" style='text-align: center;  color: #E07E3C;  font-size: 24px; line-height: 1.2;' >
<?php echo $t->_('l_info_message') ?>  
                    <div class="main-add-form">
                        <div class="fade-top"></div>

                        <div class="container size100">
                            <div class="row">
                                <div class="blank15"></div>
                                <div class="form-block">
                                    <div id="tab1">

                                        <form action="/catalog/order/create" method="post" id="order-form1" class="form-horisontal">
                                            <input type="hidden" id="csrf-token">
                                            <div class="container size100">
                                                <div class="blank10"></div><div class="blank10"></div>
                                                <div class="row" style="border-bottom:1px solid #834e20;margin-bottom:7px;">
                                                    <div class="col-md-8 col-xs-7">
                                                        <textarea class="form-control" rows="3" id="desc" name="desc" placeholder="<?php echo $t->_('blk_whattodo_text') ?> *" style="font-weight: 600; height: auto;"><?php echo isset($description) ? $description : '' ?></textarea>
                                                    </div>
                                                    <div class="col-md-4 col-xs-5">
                                                        <div id="fun-title" class="title" style="margin: 5px 0 4px 10px;"><?php echo $t->_('blk_whattodo') ?></div>
                                                    </div>
                                                    <div class="blank5"></div>
                                                </div>
                                                <div class="row" style="border-bottom:1px solid #834e20;margin-bottom:7px;">
                                                    <div class="col-md-8 col-xs-7">
                                                        <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="<?php echo $t->_('blk_address') ?> *" value="<?php echo isset($placeaddr) ? $placeaddr : '' ?>" />
                                                        <input type="hidden" name="placelat" id="placelat" value="<?php echo isset($placelat) ? $placelat : '' ?>" />
                                                        <input type="hidden" name="placelng" id="placelng" value="<?php echo isset($placelng) ? $placelng : '' ?>" />
                                                        <input type="hidden" name="placeid" id="placeid" value="<?php echo isset($placeid) ? $placeid : '' ?>" />
                                                        <input type="hidden" name="placeaddr" id="placeaddr" value="<?php echo isset($placeaddr) ? $placeaddr : '' ?>" />
                                                        <input type="hidden" name="placetown" id="locality" value="<?php echo isset($placetown) ? $placetown : '' ?>" />
                                                        <input type="hidden" name="placedistrict3" id="administrative_area_level_3" value="<?php echo isset($placedistrict3) ? $placedistrict3 : '' ?>" />
                                                        <input type="hidden" name="placedistrict2" id="administrative_area_level_2" value="<?php echo isset($placedistrict2) ? $placedistrict2 : '' ?>" />
                                                        <input type="hidden" name="placeregion" id="administrative_area_level_1" value="<?php echo isset($placeregion) ? $placeregion : '' ?>" />
                                                        <input type="hidden" name="placecountry" id="country" value="<?php echo isset($placecountry) ? $placecountry : '' ?>" />
                                                        <input type="hidden" name="placeroute" id="route" value="<?php echo isset($placeroute) ? $placeroute : '' ?>" />
                                                        <input type="hidden" name="placextra" id="sublocality_level_1" value="<?php echo isset($placextra) ? $placextra : '' ?>" />
                                                    </div>
                                                    <div class="col-md-4 col-xs-5">
                                                        <div class="title"><?php echo $t->_('blk_wheretodo') ?></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-8 col-xs-7">
                                                        <div class="row">
                                                            <div class="col-sm-6">
                                                                <input type="text" class="form-control" name="phone" id="phone1" placeholder="<?php echo $t->_('l_phone') ?> *" value="" />
                                                                <div class="blank15"></div>
                                                            </div>

                                                            <div class="col-sm-6">
                                                                <input type="email" class="form-control" <?php echo $diz ?> name="email" id="email" placeholder="<?php echo $t->_('blk_email_pholder') ?>" value="<?php echo isset($usr_email) ? $usr_email : '' ?>" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4 col-xs-5">
                                                        <div class="title"><?php echo $t->_('blk_contact') ?></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-xs-6 nopad ">
                                                        <div class="submit">
                                                            <button class="btn btn-success btn-lg" style="display: initial;"  onclick="return doFormSubmit('order-form1', 'desc|locality|phone1', '<?php if(!$is_logged) echo 'checkuser|checkphone|' ?>checkemail');"><?php echo $t->_('blk_submit') ?></button>
                                                        </div>
                                                    </div>
                                                    <div class="col-xs-6 nopad">
                                                        <div class="submit">
                                                            <button class="btn btn-lg" style="display: initial;" id="js_close_popup" >Отмена</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal modal-center fade bs-modal-md" id="blocked_choice"  tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4>Действие отменено</h4>
                    </div>
                    <div class="modal-body">
                        Превышен максимальный лимит на сегодня, для увеличения лимита свяжитесь с администратором по телефону:  <?= $this->config->other->admin_phone ?>                
                    </div>
                </div>
            </div>

        </div> 


        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <?php if(isset($img_files) && $img_files) { ?>
                <script type="text/javascript" src="<?php echo $url ?>/js/lightbox.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/owl.carousel.min.js"></script>
            <?php } ?>

        <?php
            /*
              if($is_logged) {

              $show = isset($show_phone) ? true : false;
              if($profile['id'] == $user_id || $show || $usr_level < 4) {
              $phone = ($profile['user_phone']) ? $profile['user_phone'] : $this->config->other->admin_phone;
              if(isset($info['phone1']))
              $phone1 = $info['phone1'];
              if(isset($info['phone2']))
              $phone2 = $info['phone2'];
              } else {
              $phone = 'Контакты видны только заказчикам';
              if(isset($info['phone1']))
              $phone1 = $phone;
              if(isset($info['phone2']))
              $phone2 = $phone;
              }
              } else {
              $phone = '<a href="javascript:doOpenInfo();">' . $t->_('l_info_open') . '</a>';
              if(isset($info['phone1']))
              $phone1 = '<a href="javascript:doOpenInfo();">' . $t->_('l_info_open') . '</a>';
              if(isset($info['phone2']))
              $phone2 = '<a href="javascript:doOpenInfo();">' . $t->_('l_info_open') . '</a>';
              }

             */
        ?>

        <script type="text/javascript">
                                                                if (history.length == 1)
                                                                    $('#back-link').css('display', 'none');
                                                                var crntPage = 'user';
                                                                var lang = '<?php echo $lang ?>';
                                                                var url = '<?php echo $url ?>';
                                                                var has_gal = <?php echo ($img_files) ? 'true' : 'false'; ?>;
                                                                var langUnSelect = '<?php echo $t->_('w_unselect'); ?>';
                                                                var langSelected = 'Выбран';

        </script>

<?php if($is_logged) { ?>
                <script type="text/javascript">
                    $('#callphone').mask('(999) 999-99-99');
                    $('#back-call').on('click', function (e) {
                        e.preventDefault();
                        $('#call-wnd').modal('show');
                    });
                    $('#submit-call').on('click', function (e) {
                        e.preventDefault();
                        var form = $(this).closest('form');
                        var btn = $(this);
                        btn.addClass('off');
                        form.addClass('off-form');
                        $.ajax({
                            type: 'post',
                            url: '/token',
                            dataType: 'json',
                            success: function (result) {
                                form.find('#csrf-token').attr('name', result.csrf_name).val(result.csrf_value);
                                $.ajax({
                                    type: 'post',
                                    url: '/users/callrequest',
                                    data: form.serialize(),
                                    success: function (res) {
                                        alertBM.alert('Ваш запрос отправлен.<br />С вами свяжутся.', 'alert-success');
                                        btn.removeClass('off');
                                        form.removeClass('off-form');
                                    },
                                    error: function (res) {
                                        btn.removeClass('off');
                                        form.removeClass('off-form');
                                        alertBM.alert('Ошибка! Попробуйте позже.');
                                    }
                                });
                            }
                        });
                    });
                </script>

    <?php } ?>

        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

<?php if(!$is_logged) { ?>
                <script type="text/javascript">
                    var langInfo = '<?php echo $t->_('l_info_new') ?>';
                    var langInfoMess = '<?php echo $t->_('l_info_message') ?>';
                    var langOk = '<?php echo $t->_('l_signin') ?>';
                    var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                    var langmain = '<?php echo $t->_('cmn_main') ?>';
                    var langLogin = '<?php echo $t->_('l_login') ?>';
                    var langEmail = '<?php echo $t->_('l_email') ?>';
                    var langPhone = '<?php echo $t->_('l_phone') ?>';
                    var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                    var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                    var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                    var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                    var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                    var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                    var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                    var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';

                    function initAutocomplete() {
                        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                        autocomplete.addListener('place_changed', fillInAddress);
                    }
                    $('#phone1').mask('(999) 999-99-99');


                </script>
                <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>
                <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>
            <?php } ?>

<?php echo $stat_track; ?>
    </body>
</html>