
<div class="col-sm-3">
    <strong><i class="glyphicon glyphicon-wrench"></i> Действия</strong>
    <hr>
    <ul class="nav nav-stacked">
        <li class="nav-header">
            <a href="javascript:;" data-toggle="collapse" data-target="#ordersMenu"><strong>Заявки</strong> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="ordersMenu">
                <li><a href="/workz/orders/create">Создать заявку</a></li>
                <li><a href="/workz/orders/search">Найти заявку</a></li>
                <li><a href="/workz/orders/blank">Пустые заявки</a></li>
                <li><a href="/workz/leftovers" style="color:red">- Остатки</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="javascript:;" data-toggle="collapse" data-target="#userMenu"><strong>Пользователи</strong> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="userMenu">
                <li><a href="/workz/users/create">Создать пользователя</a></li>
                <li><a href="/workz/users/search">Найти пользователя</a></li>
                <li><a href="/workz/users/sms-sender">CMC рассылка</a></li>
                <li><a href="/workz/users/sms-orders">CMC задания</a></li>
                <li><a href="/workz/users/marked">Отмеченные</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="javascript:;" data-toggle="collapse" data-target="#citiesMenu"> <strong>География</strong> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="citiesMenu">
                <li><a href="/workz/city/catalog">Города каталога</a></li>
                <li><a href="/workz/city/unchained">Города без привязки</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="javascript:;" data-toggle="collapse" data-target="#specMenu"> <strong>Специализации</strong> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="specMenu">
                <li><a href="/workz/spec/list">Список</a></li>
                <li><a href="/workz/spec/add">Добавить</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="javascript:;" data-toggle="collapse" data-target="#shopMenu"> <strong>Магазины</strong> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="shopMenu">
                <li><a href="/workz/shops/add">Добавить</a></li>
                <li><a href="/workz/shops/list">Список</a></li>
                <li><a href="/workz/shops/network">Торговые сети</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="javascript:;" data-toggle="collapse" data-target="#rotatorMenu"> <strong>Ротатор баннеров</strong> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="rotatorMenu">
                <li><a href="/workz/rotator">Открыть ротатор</a></li>
                <li><a href="/workz/textbanners">Открыть текстовый блок</a></li>
                <li><a href="/workz/rotator/text_order">Открыть текстовый блок для заказа</a></li>
            </ul>
        </li>
        <li class="nav-header">
            <a href="javascript:;" data-toggle="collapse" data-target="#filterMenu"> <strong>Фильтр CTR</strong> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="filterMenu">
                <li><a href="/workz/ctr_filter">Открыть фильтр</a></li>
            </ul>
        </li>               
        <li class="nav-header">
            <a href="javascript:;" data-toggle="collapse" data-target="#callbackMenu"> <strong>Форма обратной связи</strong> <i class="glyphicon glyphicon-chevron-down"></i></a>
            <ul class="nav nav-stacked collapse in" id="callbackMenu">
                <li><a href="/workz/callback">Обратная связь</a></li>
            </ul>
        </li>

    </ul>
    <hr>
</div>