/***  fonts  ***/

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(/fonts/roboto-c-light.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed'), local('RobotoCondensed-Regular'), url(/fonts/roboto-c-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(/fonts/roboto-c-bold.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(/fonts/roboto-regular.woff2) format('woff2');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(/fonts/roboto-bold.woff2) format('woff2');
}





/***  base  ***/

html {
  position:relative;
  min-height:100%;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  min-width: 480px;
  margin-bottom:120px;
  color: #222;
}

h4 {
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
    font-weight: bold;
}

a:hover {
  text-decoration: none;
}

.btn {
  border-radius: 2px;
}

textarea {
  border-radius: 2px !important;
  resize: vertical;
}

.size100 {
  display:block;
  width:100%;
  height:auto;
  max-width:1220px;
}

.blank5 {
  clear:both;
  display:block;
  width:100%;
  height:5px;
}

.blank10 {
  clear:both;
  display:block;
  width:100%;
  height:10px;
}

.blank15 {
  clear:both;
  display:block;
  width:100%;
  height:15px;
}

.blank25 {
  clear:both;
  display:block;
  width:100%;
  height:25px;
}

.blank50 {
  clear:both;
  display:block;
  width:100%;
  height:50px;
}

.light50 {
  opacity: 0.5;
}

.color-error {
  color: #c00;
}

.red {
  color: #c66;
}

.green {
  color: #4cae4c !important;
}

.grey {
  color: #999;
}

.brown {
  color: #C05A12;
}

.yellow {
  color: #EEA236;
}

.bg-grey {
  background-color: #efece9 !important;
}

#scrollUp {
  background-image: url('https://budmisto.com.ua/images/scrollup.png');
  bottom: 116px;
  right: 20px;
  width: 39px;
  height: 39px;
}

#scrollUp:hover {
  
}

.alert-bm {
  position: fixed;
  font-size: 26px;
  width: 40%;
  min-height: 70px;
  z-index: 9999;
  text-align: center;
  top: 70px;
  left: 30%;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
  background-image: url('https://budmisto.com.ua/images/cros.png');
  background-position: 99% 3%;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}
.info_text
{
  background-color: #efece9;
    margin: 30px;
    width: auto;
    text-align: justify;
    border: 1px solid #834e20;
}
.my-error {
  border: 1px solid #c00;
  color: #c00;
}

.del-btn {
  float: right;
  font-size: 17px;
}
/*.info:before{
    content: '';
    display: block;
    position: absolute;
    top: 4%;
    margin-top: 0px;
    left: 4px;
    background-image: url(../images/image_03.png);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: cover;
}*/
.info{
    padding: 10px 10px 10px 39px;
    background: #fff;
}
.bg_top_left{
    min-height: 100px;
    /*background-image: url(../images/fazenda.png);*/
    background-size: cover;
    background-repeat: no-repeat;
}
.bg_top_right{
    height: 296px;
    /*background-image: url(../images/fazenda.png);*/
    background-size: cover;
    background-repeat: no-repeat;
}
.top_info{
    padding: 0 0 0 0;
    background: #fff;
    max-height: 267px;
    min-height: 100px;
}
.info_head{
    text-align: center;
    font-size: 32px;
    margin-bottom: 0px;
    color: #000;
    font-weight: bold;
}
.order{
    border: 1px solid #F8F8F8;
    padding: 2px 1px;
    margin-bottom: 3px;
    background: #F3F3F3;
}
.order p{
    
    font-size: 14px;
}
.order > .info_adress p{
    margin-bottom: 4px;
    color: #000;
    text-transform: uppercase;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 234px;
}
.info_adress {
    margin-bottom: 3px;
    height: 40px;
    line-height: 1;
}

.order ul, .builders ul{
    list-style: none;
    display: inline-flex;
    padding: 0;
}
.order ul img, .builders ul img{
    width: 30px;
    margin-right: 3px;
}
.full{
    width: 25px;
}
.builders{
    border: 1px solid #F8F8F8;
    margin-bottom: 3px;
    padding: 2px 1px 2px 3px;
    background: #F3F3F3;
}
.builders .top_row img{
    width: 105px;
    max-width: 100%;
    max-height: 105px;
    margin-bottom: 1px;
    
}
.keys{
    position: absolute;
    top: 1%;
    right: 6%;
}
.icon_order{
    position: absolute;
    top: 12%;
    right: 6%;
    width: 20px;
}
.builders .top_row .icon-builders{
    
    width: 20px;
}
.name_build{
    text-transform: uppercase;
    font-size: 16px;
    color: #000;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-bottom: 3px;
}
.name_city{
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
    margin-bottom: 0px;
    min-height: 37px;
    max-height: 37px;
}
.text-bottom{
    padding: 2px 5px 0px;
    color: #000;
    font-size: 14px;
    max-height: 40px;
    min-height: 40px;
    max-width: 100%;
    overflow: hidden;
    margin-bottom: 1px;
}
.all_view{
    background: #0C56A9;
    padding-top: 14px;
    width: 200px;
    height: 50px;
    margin: 20px auto 40px;
}
.all_view p{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
}
.all_view:hover{
    background: #1776e0;
}
.all_view:active{
    margin: 22px auto 38px;
}
.slideitem img{
    width: 150px;
    height: 150px;
}
.big_slider{
    background: #FFBE00;
    padding: 15px;
}
.div_bottom{
    margin: 30px auto;
}
.cursor-pointer{
    cursor: pointer;
}
.butt_prev, .butt_next{
    background: transparent;
    border: none;
}
.butt_prev img, .butt_next img{
    width: 70px;
}
.butt_prev{
    position: absolute;
    left: -8%;
    top: 33%;
}
.butt_next{
    position: absolute;
    right: -8%;
    top: 33%;
}
.butt_prev:focus, .butt_next:focus{
    outline: none;
}
.like_bottom p{
    text-transform: uppercase;
    text-align: left;
    color: #999;
    font-size: 12px;
}
.like_bottom{
    background: #fff;
    position: absolute;
    bottom: 0%;
    width: 150px;
    padding: 10px 0 0 3px;    
}
.like_bottom img{
    width: 15px;
    
}
.like_score{
    width: 20px;
    height: 20px;
    border: 1px solid #000;
}
.like_score p{
    text-align: center;
}
.black_fon{
    display: none;
    width: 100vw;
    height: 100vh;
    background: #000;
    opacity: 0.1;
    position: fixed;
    z-index: 1;
}
.white_bg{
    z-index: 3;
    background: #fff;
    
}
.bg .navbar-collapse {
    padding-right: 0px;
    padding-left: 0px; 
    
}
.panel-title {
    margin-top: -9px;
    margin-bottom: -17px;    
}
.nopad .menu-items li a{
/*    width: 186px; */
    height: 50px;
    margin-bottom: 2px;
    margin-right: 7px;
}
.title a{
    margin-right: 0px;
}
.title div{
    border: 1px solid #834e20;
}
.bottom_prim{
    width: 200px;
    background: #EFECE9;
    margin: 0 auto;
}
.nav-pills>li {
    width: 30%;
    margin: 0 10%;
}
.nav-pills > li > a {
    font-size: 20px;
    text-transform: uppercase;
    background: #FFBE00;
    border: 2px solid #ddd;
    color: #fff;
}
.nav>li>a:hover {
    text-decoration: none;
    background-color: #C05A12;
}
.nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #256CA9;
}
.title .glyphicon{
    font-size:26px;
    top: 2px;
}
.top_buttons .menu-items li a{
    height: 70px; 
    line-height: 2.7;
}
.top_buttons .menu-items li .midle-button{
    height: 70px; 
    line-height: 2.7;
    width: 180px;
}
.catalog-menu-top .btn-danger{
    height: 44px;
}
.all-order{
    background: #337AB7;
    width: 200px;
    margin: 3px auto;
    border-radius: 3px;
}
.all-order p, .all-workers p{
    color: #fff;
}
.all-order:hover{
    background: #286090;
}
.all-workers{
    background: #5CB85C;
    width: 200px;
    margin: 3px auto;
    border-radius: 3px;
}
.all-workers:hover{
    background: #449d44;
}
.all-order:active, .all-workers:active{
    margin: 5px auto 1px;
}
.header .logo .logo-cell img{
    margin: 0 auto;
    width: 137px;
   
}
.menu-items .btn-danger {
    height: 44px;
}
.title { text-transform: uppercase; text-align: center;  white-space: nowrap; }



/*  адаптив                   */






@media (max-width:880px) {
  .alert-bm {
    width: 60%;
    left: 20%;
  }
}

.clearable{
  /*background: #fff url('data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=') no-repeat right -10px center;*/
  background: #fff url('data:image/gif;base64,R0lGODlhCwALAIAAAP///5KSkiH5BAAAAAAALAAAAAALAAsAQAIZTIAJtox2EnSPQjVjU3Ly2xwgRnWiM1ZBAQA7') no-repeat right -12px center;
  padding: 3px 20px 3px 4px;
  transition: background 0.4s;
}

.clearable.x  { background-position: right 7px center; }
.clearable.onX{
  cursor: pointer;
  background-image:url('data:image/gif;base64,R0lGODlhCwALAIAAAP///8xmZiH5BAAAAAAALAAAAAALAAsAQAIZTIAJtox2EnSPQjVjU3Ly2xwgRnWiM1ZBAQA7');
}
.clearable::-ms-clear {display: none; width:0; height:0;}

.title {
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  color: #eea236;
  text-align: center;
  margin-bottom: 1px;
  line-height: 1.2;
}

.submit {
  text-align: center;
  margin: 10px 0 20px 0;
}

.submit button {
  width: 40%;
}

.blockSubmit {
  background-image: url('https://budmisto.com.ua/images/ajax-loader.gif');
  background-repeat: no-repeat;
  background-position: 20% 50%;
  pointer-events: none;
}

.off-form {
  cursor: wait;
}

.off {
  pointer-events: none;
}

input {
  border-radius: 2px !important;
}

.input-block {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  margin-top: 10px;
}

.owl-carousel {
  background-color: #f1f1f1;
  border-radius: 2px;
}

.owl-carousel .crsl-item {
  padding: 5px;
  background-color: #f1f1f1;
}

.owl-carousel .crsl-item img {
  border-radius: 2px !important;
  border: 1px solid #ddd;
}

.owl-nav > div {
  width: 75px;
}

.hr2 {
  padding-bottom: 2px;
  border-bottom: 1px solid #eee;
  background-color: #f9f9f9;
}

.nopad {
  padding:0;
  margin:0;
}

.red-border {
  border: 1px solid #c77 !important;
}

.block-border {
  border:1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.block-no-border {
  padding: 10px;
  background-color: #fff;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.shadow {
  box-shadow: 0 0 10px rgba(99,99,99,0.2);
}

.label-as-badge {
  border-radius: 1em;
  font-size: 12px;
}

.cities { text-align: center; }
.cities .btn { margin-bottom:5px; }

/*.grid .col-sm-6 { width: 49.5%; }*/
.link-back { font-size: 18px; }




/***  profile  ***/

.profile .avatar {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 10px;
  padding: 3px;
  border: 1px solid #cfcfcf;
}

.profile .block, .pprofile .block {
  border: 1px solid #ddd;
  background-color: #efece9;
  padding: 20px 10px 0 10px;
}

.profile .block h4 {
  margin-top: -5px !important;
}

.profile .nav li a {
  font-size: 17px;
}

.profile .nav li.active a {
  color: #eea236;
}

.profile .block-border {
  border:1px solid #ddd;
  padding: 3px 15px 15px 15px;
  background-color: #fff;
}

.profile .item-border, .pprofile .item-border, .pcatalog .item-border {
  border:1px solid #ddd;
  padding: 5px;
  position: relative;
  background-color: #fff;
}

.pprofile .item-border a, .pcatalog .item-border a {
  width: 100%;
  height: auto;
  display: block;
}

.profile .item-border:hover, .pprofile .item-border:hover, .pcatalog .item-border:hover {
  background-color: #f5f5f5;
}

.profile .del-btn {
  position: absolute;
  top: 5px;
  right: 5px;
}

#ava {
  margin-right: 10px;
  vertical-align: top;
  width: 100%;
  border-radius: 50%;
  height: auto !important;
}

.avaBorder {
  padding: 3px;
  border: 1px solid #cfcfcf;
}

#ava-area #ava {
  border-radius: 0;
}

.bgLoad {
  background-image: url('https://budmisto.com.ua/images/ajax-loader2.gif');
  background-repeat: no-repeat;
  background-position: 95% 50%;
}

.my-label {
  font-size: 12px;
  border: 1px solid #e1e1e1;
  padding: 10px;
  margin-bottom: 15px;
  text-align: center;
}

.my-label span { font-size: 26px; }

.star { font-size: 10px; vertical-align: super; }





/***  main page ***/

.mp-header .menu-btns {
  height: 150px;
  float: right;
  padding-top: 10px;
}

.mp-header .fw-mb {
  width: 100%;
  float: right;
  padding-right: 37px;
}

.mp-header .fw-mb a {
  margin-right: 20px;
  width: 100%;
  text-transform: uppercase;
  margin-left: 5%;
  font-weight: bold;
}

.mp-header .menu-btns .menu-items {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 14px;
}

.mp-header .menu-items li {
  display: inline-block;
  padding-right: 0px;
  margin-top: 0px;
}

/*.mp-header .promo {
  margin-top: 25px;
  padding: 10px 0;
  background-color: #eee;
  padding-left: 6%;
}*/

.mp-header .logo-cell {
  z-index: 99;
}

.mp-header .menu-items li:last-child {
  padding-right: 0;
}

@media (max-width:1010px) {
  .mp-header .help {
    display: none !important;
  }
}

@media (max-width:940px) {
  .mp-header .help {
    display: inline !important;
  }
  .mp-header .menu-btns {
    width: 100%;
    text-align: center;
  }
  .is_small{
      display: none;
  }
  .mp-header .menu-items {
    width: 80%;
    margin-left: 0;
    margin: 0 auto !important;
  }
  .mp-header .fw-mb {
    padding-right: 0;
  }
  .mp-header .fw-mb a {
    width: 368px;
    margin-right: 0;
    margin-left: 0;
  }
  .mp-header .promo-cell {
    width: 100%;
  }
  .mp-header .logo-cell {
    width: 100%;
    text-align: center;
  }
  .mp-header .temp {
    width: 4%;
  }
}

.mp-header .promo-cell {
  background-image: url('https://budmisto.com.ua/images/table.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-size: contain;
  background-position: center;
  height: 150px;
}

.mp-header .slogan {
  padding-top: 27px;
  margin: 0 auto;
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 1px;
  color: #834e20;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #999;
}

.mp-header .slogan h1 {
  letter-spacing: -1px;
  font-weight: bold;
  font-size: 36px;
  padding: 0;
  margin: 0;
  margin-bottom: 1px;
}





/***  header  ***/

.header .slogan {
  display:table-cell;
  vertical-align: top;
  width: 40%;
}

.header .slogan h1 {
  margin: 0;
  padding: 0;
  font-size: 28px;
  margin-bottom: 3px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #999;
  color: #834e20;
}

.header .slogan td {
  background-image: url('https://budmisto.com.ua/images/table3.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}

.header .slogan > div {
  margin-top: 7px;
  max-width: 100%;
  height: auto;
  /*border-right: 20px solid #fff;*/
  font-size: 14px;
}

.header {
  width: 100%;
  height: 145px;
  display: table;
}

.header .logo {
  display: table-cell;
  vertical-align: top;
}

.header .logo .logo-cell {
  width: 180px;
  height: 145px;
  padding-top: 17px;
}

.header .menu {
  display:table-cell;
  width: 100%;
  height: 145px;
}

.header .menu .menu-table {
  display:table;
  width:100%;
  height:145px;
}
.header .menu .menu-table {
  display:table;
  width:100%;
  height:142px;
}

.header .menu .menu-table .menu-cell {
  display:table-row;
}

.header .menu .menu-table .menu-cell .menu-top {
  display:table-cell;
  width: 100%;
  height: 80px;
}

.header .menu .menu-table .menu-cell .menu-top .inline {
  display: inline-table;
  width: 100%;
  height: 80px;
}

.header .menu-inline {
  width: 400px;
  height: 80px;
  float: right;
  display:table-cell;
  text-align: right;
}


.header .menu-inline .menu-items {
  float: right;
  list-style: none;
  height: 80px;
  margin: 0;
  padding: 0;
  margin-top: 45px;
  width: 470px;
  width: 650px;
}

.header .menu-inline .menu-items a {
  font-size: 17px !important;
}

.header .menu-inline .menu-items li {
  display: inline-block;
  height: 100px;
  padding-right: 0px;
  margin-top: 0px;
}


.header .menu-inline .menu-items li {
  height: 47px;
}

.header .menu-inline .menu-items li.profile {
  line-height: 18px;
  vertical-align: bottom;
  text-align: left;
}

.header .menu-inline .menu-items li.profile div {
  width: 165px;
  overflow: hidden;
}

.header .menu-inline .menu-items li.profile div strong {
  margin-left: 5px;
  font-size: 13px;
}

.menu-items li.profile div a {
  border: 1px solid #999;
  padding: 3px 5px;
  /*border-radius: 15px;*/
  margin-top: 0px;
  display: block;
  text-align: center;
  height: 44px;
  white-space: normal;
  line-height: 17px;
}

.menu-items li.profile div .tooltip-arrow { display: none; }
.menu-items li.profile div .tooltip-inner { margin-top: -5px; word-wrap: break-word; }

.menu-items li.profile div a:hover {
  /*background-color: #eee;*/
}

.header .menu .menu-table .menu-cell .menu-top .menu-items li.profile .active {
  color: #4cae4c;
}

.header .menu .menu-table .menu-cell .menu-nav {
  display:table-cell;
  width: 100%;
  height: 50px;
}

.header .menu .menu-table .bg {
  background-color: #C05A12;
}

.header .menu .menu-table .menu-cell .menu-nav .menu-items li a {
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  height: 50px;
  line-height: 29px;
  text-align: center;
  white-space: nowrap;
}

.header .menu .menu-table .menu-cell .menu-nav .menu-items li a:hover {
  background-color: #76370b !important;
}

.header .menu .menu-table .menu-cell .menu-nav .menu-items li a.active {
  background-color: #96572b;
}

@media (max-width:980px) {
  .header .slogan {
    display: block;
    border-right: none;
  }
  .header .slogan > div {
    border-right: none;
  }
  .header .menu-inline {
    display: block;
    width: 100%;
    float: none;
    text-align: center;
  }
  .header .menu-inline .menu-items {
    float: inherit;
    margin: 0 auto;
  }
  .desct_div{
      display: none !important;
  }
}

@media (max-width:615px) {
  .header {
    height: 295px;
  }
  .header{    
    width: 100%;
  }
  .header .menu {    
    width: 90%;
    float: left;
  }
  .header .logo{    
    width: 10%;
    float: left;
  }
  .header .logo .logo-cell {
    margin: 0 auto;
    width: 128px;
    height: 120px;
  }
  .header .logo .logo-cell img {
    width: auto;
    height: 120px;
  }
  .header .menu .menu-table .menu-cell .menu-top {
    text-align: center;
  }
  .header .menu .menu-table .menu-cell .menu-top .menu-items {
    float: none;
  }
  .header .menu .menu-table .menu-cell .menu-nav {
    text-align: center;
  }
  .header .menu .menu-table .menu-cell .menu-nav .menu-items {
    float: none;
  }
  .header .menu .menu-table .menu-cell .menu-top .inline {
    display: block;
    width: 100%;
    height: 80px;
    }
}

.header .mnu-btn {
  display: inline-block;
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1px;
  padding-top: 5px;
  white-space: nowrap;
}

.header .navbar-toggle {
  padding: 0 !important;
}

.header .navbar-toggle {
  margin-right: 0;
  float: none;
  width: 100%;
}

@media (max-width: 961px) {
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin: 7.5px -15px;
  }
  .navbar-nav>li {
    float: none;
  }
  .navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .navbar-text {
    float: none;
    margin: 15px 0;
  }
  .navbar-collapse.collapse.in { 
    display: block!important;
  }
  .collapsing {
    overflow: hidden!important;
  }
  .nav-justified>li {
    float: none;
    display: block;
    width: 100%;
  }
}





/***  request for work block  ***/

.main-add-form {
  width: 100%;
  min-height: 355px;
  background-image: url('https://budmisto.com.ua/images/bricks.jpg');
  background-repeat: repeat;
  padding: 20px 0;
  position: relative;
}

.main-add-form .fade-top, .main-add-form .fade-bottom {
  width: 100%;
  height: 10px;
  z-index: 99;
  position: absolute;
  background-repeat: repeat-x;
}

.main-add-form .fade-top {
  top: 0px;
  background-image: url('https://budmisto.com.ua/images/fadetop.png');
}

.main-add-form .fade-bottom {
  bottom: 0px;
  background-image: url('https://budmisto.com.ua/images/fadebottom.png');
}

.main-add-form .form-block {
  background-image: url('https://budmisto.com.ua/images/black.png');
}

.main-add-form .title {
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #fff;
  margin: 5px 0 10px 10px;
  /*text-align: left;*/
}

/*.main-add-form .slogan {
  padding-top: 10px;
  margin: 0 auto;
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 29px;
  color: #834e20;
  text-align: center;
  background: url('../images/signboard.png') no-repeat;
  width: 276px;
  height: 65px;
  text-transform: uppercase;
  text-shadow: 1px 1px 3px #999;
  letter-spacing: -1px;
}*/

.main-add-form .submit button {
  width: 70%;
  margin-bottom: 1px;
}

.main-add-form #desc {
  resize: vertical;
  width: 100%;
  height: 34px;
}

.main-add-form .toshops {
  float: right;
}

.main-add-form .toshops a, .main-add-form .toworkers a {
  margin: 17px 15px;
}

.main-add-form .carousel .title {
  color: #532e14;
  font-weight: bold;
  text-shadow: 0 0 3px #fff;
  font-size: 17px !important;
}

@media (max-width:768px) {
  .main-add-form .form-block {
    margin-bottom: 23px;
  }
}

.main-add-form .banner-line {
  height: 50px;
}

.main-add-form .banner-line .slide {
  height: 50px;
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 26px;
  color: #fff;
  padding-top: 7px;
  text-align: center;
}

.main-add-form .banner-line .slide-img {
  padding-top: 6px;
  text-align: center;
}

.main-add-form .banner-line .slide-img img {
  width: 188px;
  height: 39px;
}





/***  promo block  ***/

.promo {
  text-align: center;
  color: #532e14;
}

.promo span {
  font-size: 50px;
  color: #666;
}

.promo .description {
  text-align: justify;
  margin-top: 40px;
  color: #5c5656;
}

@media (max-width:670px) {
  .promo span {
    font-size: 35px;
  }
}





/***  last requests block  ***/

.news-carousel {
  list-style: none;
  margin: 0;
  padding: 0;
  height: 320px !important;
  overflow: hidden;
}

.news-carousel .news-item {
  background-color: rgba(255,255,255,0.9);
  margin-bottom: 15px;
  height: 95px;
  padding: 5px;
  overflow: hidden;
  line-height: 17px;
  outline-offset: -1px;
  outline: 1px solid #77421d;
}

.news-txt {
  color: #532e14;
  font-weight: normal;
  font-size: 13px;
}

.news-carousel .news-item a {
  font-size: 15px;
  font-weight: bold;
  color: #49aa49;
  line-height: 16px;
  height: 95px;
  display: block;
}

.news-carousel .news-item a span {
  color: #333;
  font-size: 12px;
  font-weight: normal;
}

.news-carousel .news-item p {
  padding: 0;
  margin: 0;
  color: #aaa;
  margin-bottom: 0px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: normal;
}

@media (max-width:1130px) {
  .news-carousel .news-item {
    font-size: 12px;
  }
}

@media (max-width:768px) {
  .news-carousel .news-item {
    font-size: 14px;
  }
  .news-carousel .news-item p {
    margin-bottom: 3px;
  }
  .news-carousel .news-item a, .news-carousel .news-item a span {
    font-size: 16px;
  }
  .news-carousel .news-item {
    height: 85px;
  }
  .news-carousel {
    height: 290px !important;
  }
}





/***  catalog block  ***/

.catalog .row {
  border: 1px solid #ddd;
  background-color: #efece9;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 3px;
}

.catalog p a {
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 22px;
  color: #7a5b44;
  margin: 0;
  padding: 0;
  margin-bottom: 3px;
  margin-left: 10px;
}

.catalog ul {
  list-style: none;
  padding-left: 5px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.catalog ul li {
  margin-bottom: 7px;
}

@media (max-width:768px) {
  .catalog ul li {
    margin-bottom: 5px;
  }
}

.catalog .title {
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 33px;
  color: #eea236;
  text-align: center;
  margin-bottom: 5px;
}

.pcatalog .top-spec > .item > a {
  font-family:"Roboto Condensed", Arial, Helvetica, sans-serif;
  font-size: 17px;
  color: #c0c0c0;
  margin: 0;
  padding: 2px 4px;
  /*display: block;*/
}

.pcatalog .top-spec > .item > a:hover {
  background-color: #eee;
  outline-offset: -1px;
  outline: 1px solid #ccc;
  color: #666;
}

.pcatalog .top-spec > .item > a.active {
  color: #7a5b44;
}

.pcatalog .top-spec > .item {
  margin-top: 5px;
}

.pcatalog .sub-spec {
  margin-left: 15px;
  margin-top: 3px;
}

.pcatalog .sub-spec > .item {
  margin-bottom: 3px;
}

.pcatalog .sub-spec > .item > a {
  padding: 3px;
}

.pcatalog .sub-spec > .item > a:hover {
  background-color: #eee;
  outline-offset: -1px;
  outline: 1px solid #ddd;
}

.pcatalog .sub-spec >  .item > a.active {
  /*background-color: #eee;*/
  outline-offset: -1px;
  outline: 1px solid #ddd;
}

.pcatalog .orders .item, .pcatalog .workers .item {
  color: #333;
  text-align: justify;
  margin-bottom: 15px;
}

.pcatalog .orders .item a.title {
  font-size: 15px;
  color: #eea236;
  line-height: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.pcatalog .orders .item a.title:hover {
  color: #eea236;
}

.pcatalog .orders .item a span, .pcatalog .workers .item a span {
  color: #333;
  font-size: 12px;
  font-weight: normal;
}

.pcatalog .orders .item p, .pcatalog .workers .item p {
  padding: 0;
  margin: 0;
  color: #aaa;
  margin-bottom: 0px;
  font-size: 12px;
  text-transform: uppercase;
}

.pcatalog .block-border {
  border:1px solid #ddd;
  padding: 10px;
  background-color: #fff;
}

.pcatalog .orders .date {
  font-size: 12px;
  margin-bottom: 3px;
  color: #eea236;
}

.pcatalog .desc {
  background-color: #f1f1f1;
  margin: 0 -10px;
  padding: 15px 15px;
  font-size: 13px;
  line-height: 22px;
  word-wrap: break-word;
}

.pcatalog .workers .item a.title {
  font-size: 14px;
  color: #4cae4c;
  line-height: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

.pcatalog .workers .name {
  font-size: 15px;
  margin-bottom: 3px;
  color: #4cae4c;
  text-transform: capitalize;
  width: 100%;
}

.pcatalog .block {
  border: 1px solid #ddd;
  background-color: #efece9;
  padding: 3px 10px 3px 10px;
  margin-bottom: 4px;
}

.pcatalog .search button {
  width: 36%;
  margin: 0px 7%;
  float: left;
}

.pcatalog .lists .title {
  color: #7a5b44;
  font-size: 22px;
}

@media (max-width:768px) {
  .pcatalog .search button {
    width: 100px;
  }
  .pcatalog .search button {
  width: 46%;
  margin: 0 2%;
  float: left;
  }
}

.news .last-news-item {
  border: 1px solid #ddd;
  padding: 10px;
}

.news .last-news-item p {
  font-size: 12px;
  text-align: justify;
}

.pcatalog .ulist a {
  text-transform: capitalize;
}

.pcatalog option { padding: 5px; border-right: 1px solid #999 !important; }
h3{
    font-weight: 700;
}
.name_role{
    color: #5BC0DE;
}



/***  footer  ***/

.page-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  min-height: 115px;
  background-color: #C05A12;
  border-top:5px #333 solid;
  color: #fff;
}

@media (max-width:690px) {
  body {
    margin-bottom: 150px;
  }
  .page-footer, .page-footer .container, .page-footer .row {
    padding: 0;
    margin: 0;
    min-width: 480px;
  }
}

@media (max-width:580px) {
  body {
    margin-bottom: 100px;
  }
  .page-footer .left, .page-footer .right {
    width: 100%;
  }
  .page-footer .right {
    margin-top: 15px;
    text-align: center;
  }
  .page-footer .left {
    display: none;
  }
}
@media (max-width:479px) {
    .builders .top_row .icon-builders {
    width: 14px;
    }
    .butt_prev img, .butt_next img {
    width: 35px;
    }
    .butt_next {    
    right: 0%; 
    top: 40%;
    z-index: 1;
    }
    .title {    
    font-size: 15px;    
    }
    .butt_prev {    
    left: 0%;
    top: 40%;
    z-index: 1;
    }
    .slideitem img {
    margin: 0 auto;
    }
    .nav-pills>li {
    width: 30%;
    margin: 0 10%;
    }
    .nav-pills > li > a {    
    background: #FFBE00;    
    }
    .header .menu-inline .menu-items {
    width: 100%;
    }
    .add_application button{
        height: 44px;
        font-size: 17px;
    }
    .header .slogan {    
    width: 100%;
    }
    .menu-items li a{
        width: 205px;
    }
    .header .logo .logo-cell img {
    width: auto;
    height: 50px;
    }
    .header {
    height: 180px;
    }
    .nav-pills>li {
    width: 44%;
    margin: 0 3%;
    }
    .catalog .title {    
    font-size: 23px;   
    }
    .glyphicon {
    font-size: 21px;
    top: 2px;
    }
    .mp-header .menu-items {
    width: 90%;    
    }
    .mp-header .menu-btns {
    height: 78px;
    float: right;
    padding-top: 0px;
    }
    .top_buttons .menu-items li .midle-button {    
    width: 205px;
    }
    .title .glyphicon{
    font-size:20px;
    }
    .blank15 {    
    height: 15px;
    }
    .top_buttons .menu-items li a, .top_buttons .menu-items li .midle-button {
    height: 40px;
    line-height: 1;
    }
    .blank15 {    
    height: 15px;
    }
    .header .menu .menu-table .bg {
    background-color: #C05A12;
    display: none;
    }
    .blank10 {    
    height: 3px;
    }
}
@media (min-width:480px) and (max-width:767px){
    .butt_next {    
    right: 0%; 
    top: 40%;
    z-index: 1;
    }
    .butt_prev {    
    left: 0%;
    top: 40%;
    z-index: 1;
    }
    .butt_prev img, .butt_next img {
    width: 35px;
    }
    .slideitem img {    
    margin: 0 auto;
    }
    .builders .top_row .icon-builders {
    width: 14px;
    }
    .nav-pills>li {    
    width: 46%;
    margin: 0 2%;
    }
    .nav-pills > li > a {
    font-size: 20px;
    text-transform: uppercase;
    background: #FFBE00;
    border: 2px solid #ddd;
    color: #fff;
    }
    .name_city {    
    font-size: 12px;    
    }
    .order > .info_adress p {    
    max-width: 350px;
    }
    .header .menu-inline .menu-items {
    width: 470px;
    }
    .header .slogan {    
    width: 100%;
    }
    .add_application button{
        height: 44px;
        font-size: 17px;
    }
    .header .slogan {    
    width: 100%;
    }
    .menu-items li a{
        width: 170px;
    }
    .nopad .menu-items li a {   
    height: 40px;
    line-height: 1;    
    }
    .nopad .menu-items li .midle-button {   
    height: 40px;
    line-height: 1;    
    }
    .menu-btns .btn-lg {
    padding: 10px 2px;
    
    }
    .menu-items li{
/*        width: auto;*/
/*        float: left;*/
        position: relative;
        min-height: 1px;
        padding-right: 0px;
        padding-left: 0px;
    }
    .mp-header .menu-btns {
    height: 75px; 
    padding-top: 0px;
    }
    
    .menu-inline .btn-lg {
    padding: 8px 8px;    
    }
    .header .menu-inline .menu-items li {
    height: 42px;
    }
    .title {    
    font-size: 17px;
    font-weight: bold;
    }
    .top_buttons .menu-items li .midle-button {    
    width: 170px;
    }
    .header {
    height: 172px;
    }
    .header .logo {
    width: 25%;
    margin-right:2%; 
    float: left;
    }
    .header .menu {
    width: 73%;
    float: left;
    }
    .header .logo .logo-cell img {
    width: auto;
    height: 138px;
    margin: 17px 0 0 -5px;
    }
    .header .menu .menu-table {
    display: table;
    width: 100%;
    height: 145px;
    }
    .header .menu .menu-table .menu-cell .menu-top .inline {
    display: block;
    width: 99%;
    height: 80px;
    margin-left: 1%;
    }
    .header .slogan h1 {    
    font-size: 24px;    
    }
    .header .menu-inline .menu-items {
    width: 100%;
    }
    .menu-items .btn-danger {
    height: 40px;
    }
    .menu-items li a, .top_buttons .menu-items li .midle-button{
/*    width: auto;*/
    }
    .catalog .title {    
    font-size: 23px;   
    }
    .title .glyphicon{
    font-size:20px;
    }
    .title {
    padding-right: 0px;    
    }
    .catalog-menu-top li a{
        width: 180px;
        margin: 0 1px;
    }
    .catalog-menu-top .btn-danger{
    height: 40px;
    }
    .blank15 {    
    height: 15px;
    }
    .header .menu .menu-table .bg {
    background-color: #C05A12;
    display: none;
    }
    .blank10 {    
    height: 3px;
    }
}
@media (min-width:768px) and (max-width:997px){
  .info_text
{
  background-color: #efece9;
    margin: auto;
    margin-top:30px;
    text-align: justify;
    border: 1px solid #834e20;
}
    .butt_next {    
    right: -5%; 
    z-index: 1;
    }
    .header .menu .menu-table .bg {
    background-color: #C05A12;
    display: none;
    }
    .blank10 {    
    height: 3px;
    }
    .butt_prev {    
    left: -5%;  
    z-index: 1;
    }
    .slideitem img {    
    margin: 0 auto;
    }
    .nav-pills > li > a {
    font-size: 20px;
    text-transform: uppercase;
    background: #FFBE00;
    border: 2px solid #ddd;
    color: #fff;
    }
    .name_city {    
    font-size: 12px;    
    }
    .order > .info_adress p {    
    max-width: 350px;
    }
    .nav-pills>li {    
    width: 36%;
    margin: 0 7%;
    }
    .header .menu-inline .menu-items {
    width: 470px;
    }
    .header .slogan {    
    width: 100%;
    }
    .add_application button{
        height: 44px;
        font-size: 17px;
    }
    .header .slogan {    
    width: 100%;
    }
    .menu-items li a{
        width: 205px;
    }
    
}
