.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  
footer {
  margin-top:20px;
  padding-top:20px;
  padding-bottom:20px;
  background-color:#efefef;
}

.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.blank5 {
  clear:both;
  display:block;
  width:100%;
  height:5px;
}

.blank10 {
  clear:both;
  display:block;
  width:100%;
  height:10px;
}

.blank15 {
  clear:both;
  display:block;
  width:100%;
  height:15px;
}

.blank25 {
  clear:both;
  display:block;
  width:100%;
  height:25px;
}

.blank50 {
  clear:both;
  display:block;
  width:100%;
  height:50px;
}

textarea {
  resize: vertical;
}

.active {
  background-color:#efefef;
}

.clearable{
  /*background: #fff url('data:image/gif;base64,R0lGODlhBwAHAIAAAP///5KSkiH5BAAAAAAALAAAAAAHAAcAAAIMTICmsGrIXnLxuDMLADs=') no-repeat right -10px center;*/
  background: #fff url('data:image/gif;base64,R0lGODlhCwALAIAAAP///5KSkiH5BAAAAAAALAAAAAALAAsAQAIZTIAJtox2EnSPQjVjU3Ly2xwgRnWiM1ZBAQA7') no-repeat right -12px center;
  padding: 3px 20px 3px 4px;
  transition: background 0.4s;
}

.clearable.x  { background-position: right 7px center; }
.clearable.onX{
  cursor: pointer;
  background-image:url('data:image/gif;base64,R0lGODlhCwALAIAAAP///8xmZiH5BAAAAAAALAAAAAALAAsAQAIZTIAJtox2EnSPQjVjU3Ly2xwgRnWiM1ZBAQA7');
}
.clearable::-ms-clear {display: none; width:0; height:0;}

.grey {
  color: #909090;
}

.alert-bm {
  position: fixed;
  font-size: 26px;
  width: 30%;
  min-height: 70px;
  z-index: 9999;
  text-align: center;
  top: 70px;
  left: 35%;
  padding-top: 30px;
  padding-bottom: 30px;
  cursor: pointer;
  background-image: url('../images/cros.png');
  background-position: 99% 3%;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px rgba(0,0,0,0.75);
}