<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Добавить предложение по строительным остаткам</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">

                                            <?php if($is_logged) { ?>

                                                    <li class="profile">
                                                        <div>
                                                            <!--strong><?php //echo $usr_email    ?></strong><br />
                                                            <a href="<?php //echo $url    ?>/my"><?php //echo $t->_('l_profile')    ?></a-->
                                                            <a href="<?php echo $url ?>/my" title="<?php echo $usr_email ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                    </li>

                                                <?php } else { ?>

                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>

                                                <?php } ?>

                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a class="active" href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container profile size100">
                <div class="title">Добавить остатки</div>
                <div class="blank5"></div>
                <form method="post" id="add-form" class="form-horisontal">
                    <input type="hidden" id="csrf-token">
                    <div class="row" style="margin: 0 auto; width: 80%;">
                        <div class="col-sm-12">
                            <div class="block-border">
                                <div class="blank5"></div>
                                <strong class="light50 brown">Описание</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <textarea class="form-control" id="desc" name="desc" placeholder="<?php echo $t->_('blk_lo_desc') ?>" rows="7"></textarea>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Доставка</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <select name="shipping" class="form-control" id="sid">
                                    <option value="0">-- <?php echo $t->_('blk_select4') ?> --</option>
                                    <option value="1">Самовывоз</option>
                                    <option value="2">Доставка</option>
                                    <option value="3">Доставка или самовывоз</option>
                                </select>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Адрес</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="<?php echo $t->_('blk_address') ?>" />
                                <input type="hidden" name="placelat" id="placelat" />
                                <input type="hidden" name="placelng" id="placelng" />
                                <input type="hidden" name="placeid" id="placeid" />
                                <input type="hidden" name="placeaddr" id="placeaddr" />
                                <input type="hidden" name="placetown" id="locality" />
                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                <input type="hidden" name="placecountry" id="country" />
                                <input type="hidden" name="placeroute" id="route" />
                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                <input type="hidden" name="chplace" id="chplace" value="0" />
                                <div class="blank15"></div>
                                <div class="blank5"></div>
                                <strong class="light50 brown">Тип строительных остатков</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <select name="speciality" class="form-control" id="tid">
                                    <option value="0">-- <?php echo $t->_('blk_select3') ?> --</option>

                                    <?php
                                        if($top_catalog)
                                            foreach ($top_catalog as $tc) {
                                                ?>

                                                <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>

                                            <?php } ?>

                                </select>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Срок актуальности объявления</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <select name="period" class="form-control" id="period">
                                    <option value="7">7 дней</option>
                                    <option value="14">14 дней</option>
                                    <option value="30">Месяц</option>
                                </select>
                                <div class="blank15"></div>
                                <strong class="light50 brown">Контактные данные</strong> <span class="glyphicon glyphicon-asterisk text-primary star"></span>
                                <div class="blank5"></div>
                                <input type="text" id="phone" class="form-control clearable" name="phone" placeholder="Телефон" />
                            </div>
                        </div>

                        <div class="blank15"></div>
                        <div style="width: 90%; margin: 0 auto;" class="grey">
                            Для снятия обьявление нужно отправить СМС "Ваш номер телефона + снять" на номер (096) 007-71-37<br />
                            или e-mail "Ваш номер телефона + снять" на адрес info@budmisto.kiev.ua
                        </div>

                    </div>
                    <div class="blank25"></div><div class="blank10"></div>
                    <div class="submit">
                        <button class="btn btn-success btn-lg" onclick="return doFormSubmit('add-form', 'desc|tid|sid|placeid|phone');"><?php echo $t->_('cmn_add') ?></button>
                    </div>
                </form>
            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <script type="text/javascript">
                            var crntPage = 'leftover';
                            var lang = '<?php echo $lang ?>';
                            var url = '<?php echo $url ?>';
                            var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <script type="text/javascript">
                            var placeSearch, autocomplete;
                            function initAutocomplete() {
                                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                                autocomplete.addListener('place_changed', fillInAddress);
                            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

        <?php echo $stat_track; ?>
    </body>
</html>