<?php
    $time = time();
    if($sellleftovers) {
        ?>
        <?php foreach ($sellleftovers as $o) { ?>
            <div class="orders">
                <div class="item block-border">
                    <div class="date"><span class="glyphicon glyphicon-time"></span> <?php echo $o['lo_date'] ?>
                        <?php
                        switch ($o['lo_shipping'])
                        {
                            case 1: $s_label = 'Cамовывоз';
                                break;
                            case 2: $s_label = 'По адресу покупателя';
                                break;
                            case 3: $s_label = 'Любой вариант доставки';
                                break;
                            default: $s_label = 'Не указано';
                                break;
                        }

                        echo ' &nbsp; | &nbsp; <span class="glyphicon glyphicon-transfer" title="Доставка"></span> ', $s_label;

                        if(!$o['close_date']) {
                            if($o['finish_date'] < time())
                                echo ' <br /> <span class="text-danger"><span class="glyphicon glyphicon-hourglass"></span> срок объявления истёк</span> ';
                        } else
                            echo ' <br /> <span class="text-danger"><span class="glyphicon glyphicon-lock"></span> объявление закрыто</span> ';
                        ?>
                    </div>
                    <div class="desc">
                        <?php echo $o['descr_short'] ?>...&nbsp;
                        <a href="<?php echo $url ?>/leftovers/view/<?php echo $o['id'] ?>">[подробнее]</a>
                    </div>
                    <div class="blank5"></div>
                    <a class="title" href="<?php echo $url ?>/leftovers/view/<?php echo $o['id'] ?>"><?php echo $o['type_name'] ?></a>
                    <p><?php
                        $order_addr = $o['town'] . ', ' . $o['region'];
                        echo $order_addr;
                        ?></p>
                </div>
                <div class="blank5"></div>

            </div>

        <?php } ?>

        <?php
    }