<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title><?php
                echo $rub_name;
                echo isset($city['name']) ? ' - ' . $city['name'] : '';
                echo isset($parent_name) ? ', ' . $parent_name : ''
            ?> | Остатки строительных материалов</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">

                                            <?php if($is_logged) { ?>

                                                    <li class="profile">
                                                        <div>
                                                            <!--strong><?php //echo $usr_email    ?></strong><br />
                                                            <a href="<?php //echo $url    ?>/my"><?php //echo $t->_('l_profile')    ?></a-->
                                                            <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                    </li>

                                                <?php } else { ?>

                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>

                                                <?php } ?>

                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a class="active" href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank25"></div>

            <div class="container pcatalog size100">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">Остатки стройматериалов <?php
                                echo ' / ', $rub_name;
                                if(isset($city['name'])) {
                                    echo ' <span class="green">в ';
                                    echo $city['name'];
                                    echo isset($parent_name) ? ', ' . $parent_name : '';
                                    echo '</span>';
                                }
                            ?></div>
                        <div class="submit">
                            <a class="btn btn-success btn-lg" href="<?php echo $url ?>/leftovers/add"><?php echo $t->_('blk_lo_add') ?></a>
                        </div>
                    </div>
                </div>
                <form class="form-horizontal" method="post" action="<?php echo $url ?>/leftovers/select" id="select-form">
                    <input type="hidden" id="csrf-token">
                    <div class="row block">
                        <div class="col-sm-3">
                            <select name="speciality" class="form-control" id="tid">
                                <option value="0">-- <?php echo $t->_('blk_select3') ?> --</option>

                                <?php
                                    if($top_catalog)
                                        foreach ($top_catalog as $tc) {
                                            ?>

                                            <option value="<?php echo $tc['id'] ?>"<?php if($tc['id'] == $top_id) echo ' selected' ?>><?php echo $tc['type_name'] ?></option>

                                        <?php } ?>

                            </select>
                            <div class="blank15"></div>
                        </div>
                        <div class="col-sm-3">
                            <select name="shipping" class="form-control" id="sid">
                                <option value="0">-- <?php echo $t->_('blk_select4') ?> --</option>
                                <option value="1"<?php if($shipping_slug == 'pickup') echo ' selected' ?>>Самовывоз</option>
                                <option value="2"<?php if($shipping_slug == 'delivery') echo ' selected' ?>>Доставка по адресу</option>
                                <option value="3"<?php if(!$shipping_slug) echo ' selected' ?>>Доставка или самовывоз</option>
                            </select>
                            <div class="blank15"></div>
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="autocomplete" class="form-control clearable<?php echo isset($city['name']) ? ' x' : '' ?>" name="addr" value="<?php echo isset($parent_name) ? ($city['name'] . ', ' . $parent_name) : (isset($city['name']) ? $city['name'] : '') ?>" placeholder="<?php echo $t->_('blk_address') ?>" />
                            <input type="hidden" name="placelat" id="placelat" />
                            <input type="hidden" name="placelng" id="placelng" />
                            <input type="hidden" name="placeid" id="placeid" />
                            <input type="hidden" name="placeaddr" id="placeaddr" />
                            <input type="hidden" name="placetown" id="locality" />
                            <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                            <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                            <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                            <input type="hidden" name="placecountry" id="country" />
                            <div class="blank15"></div>
                        </div>
                        <div class="col-sm-3">
                            <div class="search">
                                <button class="btn btn-success" onclick="return doFormSubmit('select-form', 'tid');"><span class="glyphicon glyphicon-search"></span></button>
                            </div>
                            <div class="blank15"></div>
                        </div>
                    </div>
                    <div class="blank15"></div>

                    <?php /* foreach($cities as $c) {?>
                          <a href="<?php echo $url?>/catalog/<?php echo $c['id'], '-', $c['slug']?>" class="btn btn-default btn-sm"><?php echo $c['name']?></a>
                          <?php } */ ?>

                    <hr />
                </form>

                <?php
                    $time = time();
                    if($leftovers) {
                        ?>
                        <div class="row lists grid">

                            <?php foreach ($leftovers as $o) { ?>
                                <div class="grid-item col-sm-6 col-xs-12">
                                    <div class="orders">
                                        <div class="item block-border">
                                            <div class="date"><span class="glyphicon glyphicon-time"></span> <?php echo $o['lo_date'] ?>
                                                <?php
                                                switch ($o['lo_shipping'])
                                                {
                                                    case 1: $s_label = 'Cамовывоз';
                                                        break;
                                                    case 2: $s_label = 'По адресу покупателя';
                                                        break;
                                                    case 3: $s_label = 'Любой вариант доставки';
                                                        break;
                                                    default: $s_label = 'Не указано';
                                                        break;
                                                }

                                                echo ' &nbsp; | &nbsp; <span class="glyphicon glyphicon-transfer" title="Доставка"></span> ', $s_label;

                                                if(!$o['close_date']) {
                                                    if($o['finish_date'] < time())
                                                        echo ' <br /> <span class="text-danger"><span class="glyphicon glyphicon-hourglass"></span> срок объявления истёк</span> ';
                                                } else
                                                    echo ' <br /> <span class="text-danger"><span class="glyphicon glyphicon-lock"></span> объявление закрыто</span> ';
                                                ?>
                                            </div>
                                            <div class="desc">
                                                <?php echo $o['descr_short'] ?>...&nbsp;
                                                <a href="<?php echo $url ?>/leftovers/view/<?php echo $o['id'] ?>">[подробнее]</a>
                                            </div>
                                            <div class="blank5"></div>
                                            <a class="title" href="<?php echo $url ?>/leftovers/view/<?php echo $o['id'] ?>"><?php echo $o['type_name'] ?></a>
                                            <p><?php
                                                $order_addr = $o['town'] . ', ' . $o['region'];
                                                echo $order_addr;
                                                ?></p>
                                        </div>
                                        <div class="blank5"></div>

                                    </div>
                                </div>

                            <?php } ?>

                        </div>

                        <?php if(isset($pager_html)) { ?>
                            <div class="center" id="pager">
                                <?php echo $pager_html ?>
                            </div>
                        <?php } ?>

                        <?php if(isset($nextpage) && $nextpage) { ?>
                            <div class="center" id="pager">
                                <a href="<?php echo $url ?>/leftovers/<?php
                                echo $top_slug;
                                echo $shipping_slug ? '/' . $shipping_slug : '';
                                echo $place_slug ? '/' . $place_slug : '';
                                ?>?page=<?php echo $nextpage ?>" class="btn btn-default"><span class="glyphicon glyphicon-wrench green"></span> &nbsp; Следующая страница</a>
                            </div>
                        <?php } ?>

                    <?php } else { ?><h3 class="text-center red">Нет объявлений в рубрике <?php
                        echo '&laquo;', $rub_name, '&raquo;';
                        if(isset($place_town))
                            echo '<br /><span class="green">в ', $place_town, '</span>';
                        ?></h3><?php } ?>

            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/masonry.pkgd.min.js"></script>

        <script type="text/javascript">
                                    var crntPage = 'leftover';
                                    var lang = '<?php echo $lang ?>';
                                    var url = '<?php echo $url ?>';
                                    var langFiedsEmpty = 'Не выбрана рубрика';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if(!$is_logged) { ?>
                <script type="text/javascript">
                                            var langOk = '<?php echo $t->_('l_signin') ?>';
                                            var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                            var langLogin = '<?php echo $t->_('l_login') ?>';
                                            var langEmail = '<?php echo $t->_('l_email') ?>';
                                            var langPhone = '<?php echo $t->_('l_phone') ?>';
                                            var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                            var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                            var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                            var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                            var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                            var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                            var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                            var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                </script>
                <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>
            <?php } ?>

        <script type="text/javascript">
                                    var placeSearch, autocomplete;
                                    function initAutocomplete() {
                                        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['(regions)'], componentRestrictions: {country: 'ua'}});
                                        autocomplete.addListener('place_changed', fillInAddress);
                                    }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

        <?php echo $stat_track; ?>
    </body>
</html>