<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Продажа строительных остатков от <?php echo $lo['lo_date'] ?> <?php echo $lo['type_name'] ? $lo['type_name'] : '' ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <style>
            .text-count-wrapper { display: inline; float: left; width:100%; margin-bottom:15px; }
            .error-text { float: right; }
            .mess { text-align: justify; margin-top:-4px; }
            .ulist big { font-size: 18px; }
            .ulist { margin-bottom: 3px; }
        </style>
    </head>

    <body>

        <div id="page-body">

            <div class="container header size100">
                <div class="logo">
                    <div class="logo-cell">
                        <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                    </div>
                </div>
                <div class="menu">
                    <div class="menu-table">
                        <div class="menu-cell">
                            <div class="menu-top">
                                <div class="inline">
                                    <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                        <div>
                                            <?php echo $banner1 ?>
                                        </div>
                                    </div>

                                    <div class="menu-inline">
                                        <ul class="menu-items">

                                            <?php if($is_logged) { ?>

                                                    <li class="profile">
                                                        <div>
                                                            <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                    </li>

                                                <?php } else { ?>

                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>

                                                <?php } ?>

                                            <li>
                                                <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="menu-cell bg">
                            <div class="menu-nav">
                                <div class="navbar-header">
                                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                        <span class="sr-only">Toggle navigation</span>
                                        <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                    </button>
                                </div>
                                <div id="navbar" class="navbar-collapse collapse">
                                    <ul class="nav nav-justified menu-items">
                                        <li>
                                            <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                        </li>
                                        <li>
                                            <a href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                        </li>
                                        <li>
                                            <a class="active" href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                        </li>
                                        <!--li>
                                            <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                        </li-->
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank25"></div>

            <div class="container pcatalog size100">
                <?php
                    $r = $this->request->getHTTPReferer();
                    if(strpos($r, $url) !== false) {
                        if(strpos($r, 'add') !== false)
                            $path = $url . '/leftovers';
                        else
                            $path = 'javascript:history.back();';
                        ?>
                        <div id="back-link">
                            <div class="item-border">
                                <a href="<?php echo $path ?>" style="padding-left:5px" class="link-back"><span class="glyphicon glyphicon-arrow-left"></span> назад</a>
                            </div>
                            <div class="blank10"></div>
                        </div>
                    <?php } ?>

                <?php
                    $label = '';
                    if(!$lo['close_date']) {
                        if($lo['finish_date'] < time()) {
                            $label = ' &nbsp; <span class="label label-danger label-as-badge">срок объявления истёк</span>';
                        }
                    } else {
                        $label = ' &nbsp; <span class="label label-danger label-as-badge">объявление закрыто</span>';
                    }

                    if($lo['type_name']) {
                        ?>
                        <div class="small grey">
                            <a href="<?php echo $url ?>/leftovers" class="grey">Список объявлений</a> &raquo; <a href="<?php echo $url ?>/leftovers/<?php echo $lo['wts'] ?>" class="grey"><?php echo $lo['type_name'] ?></a>
                            <?php if(isset($slug) && $slug) { ?> &raquo; <a href="<?php echo $url ?>/leftovers/<?php echo $lo['wts'] ?>/<?php echo $slug ?>" class="grey"><?php echo $lo['town'] ?></a><?php } ?>
                        </div>
                    <?php } ?>

                <div class="row">
                    <div class="col-sm-7">
                        <div class="title">Объявление <span class="light50">от <?php echo $lo['lo_date'] ?></span><?php echo $label ?></div>
                        <div class="blank15"></div>
                        <div style="text-align:justify;line-height:28px;"><big><?php echo $lo['lo_description'] ?></big></div>
                        <div class="blank15"></div>
                        <div class="block">
                            <span class="glyphicon glyphicon-map-marker brown"></span> &nbsp; <?php echo $lo['town'] . ', ' . $lo['region'] ?>
                            <div class="blank5"></div>
                            <span class="glyphicon glyphicon-wrench green"></span> &nbsp; <?php /* echo $lo['type_name']?> / <?php echo $lo['spec_name'] */ ?>

                            <?php
                                if($lo['type_name'])
                                    echo $lo['type_name'];
                                else
                                    echo 'Не указана';

                                switch ($lo['lo_shipping'])
                                {
                                    case 1: $s_label = 'самовывоз';
                                        break;
                                    case 2: $s_label = 'по адресу покупателя';
                                        break;
                                    case 3: $s_label = 'доставка или самовывоз';
                                        break;
                                    default: $s_label = 'не указано';
                                        break;
                                }
                            ?>

                            <hr style="border-top-color:#ddd" />
                            <div class="row">
                                <div class="col-sm-6">
                                    <strong>Доставка:</strong> <?php echo $s_label ?>
                                </div>
                                <div class="col-sm-6">
                                    <strong>Актуально до:</strong> <?php echo $lo['actual_period'] ?>
                                </div>
                            </div>
                            <div class="blank15"></div>
                        </div>
                        <div class="blank25"></div>
                    </div>
                    <div class="col-sm-5">
                        <h4>Телефон продавца</h4><hr />
                        <div class="row nopad">
                            <div class="col-sm-12 nopad">
                                <?php echo $lo['lo_phone'] ? $lo['lo_phone'] : 'не указан'; ?>
                                <div class="blank10"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <div class="blank15"></div>
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <div class="blank15"></div>
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

        <script type="text/javascript">
                                        if (history.length == 1)
                                            $('#back-link').css('display', 'none');
                                        var crntPage = 'order';
                                        var lang = '<?php echo $lang ?>';
                                        var url = '<?php echo $url ?>';
                                        var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if(!$is_logged) { ?>
                <script type="text/javascript">
                                                var langOk = '<?php echo $t->_('l_signin') ?>';
                                                var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                                var langLogin = '<?php echo $t->_('l_login') ?>';
                                                var langEmail = '<?php echo $t->_('l_email') ?>';
                                                var langPhone = '<?php echo $t->_('l_phone') ?>';
                                                var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                                var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                                var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                                var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                                var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                                var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                                var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                                var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
                </script>
                <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
                <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>
            <?php } ?>

        <?php echo $stat_track; ?>
    </body>
</html>