<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Заказы | Заявки на строительные работы</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/js/slick_slider/slick.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/js/slick_slider/slick-theme.css" />
        <style>
            .col-sm-6 { width: 49.5%; }
        </style>
    </head>

    <body>        
        <div id="page-body">

            <div class="container header size100">
                <div class="row">
                    <div class="logo">
                        <div class="logo-cell">
                            <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                        </div>
                    </div>
                    <div class="menu">
                        <div class="menu-table">
                            <div class="menu-cell">
                                <div class="menu-top">
                                    <div class="inline">
                                        <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                            <div>
                                                <?php echo $banner1 ?>
                                            </div>
                                        </div>

                                        <div class="menu-inline">
                                            <ul class="menu-items">

                                                <?php if($is_logged) { ?>

                                                        <li class="profile">
                                                            <div>
                                                                <a href="<?php echo $url ?>/my" title="<?php echo $usr_label ?>" data-toggle="tooltip" data-placement="bottom" class="btn btn-success btn-lg"><?php echo $t->_('l_profile') ?></a>
                                                            </div>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $url ?>/users/signout" class="btn btn-warning btn-lg"><?php echo $t->_('l_logout') ?></a>
                                                        </li>

                                                    <?php } else { ?>
                                                        <li class=" ">
                                                            <a href="<?php echo $url ?>/" class="btn btn-danger btn-lg"  id="btn-enter" style="font-size: 20px !important; font-weight: 600; padding: 6px 16px;">Создать заявку</a>
                                                        </li>
                                                        <li>
                                                            <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                        </li>
                                                        <li>
                                                            <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                        </li>

                                                    <?php } ?>

                                                <li>
                                                    <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="menu-cell bg">
                                <div class="menu-nav">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                            <span class="sr-only">Toggle navigation</span>
                                            <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                        </button>
                                    </div>
                                    <div id="navbar" class="navbar-collapse collapse">
                                        <ul class="nav nav-justified menu-items">
                                            <li>
                                                <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                            </li>
                                            <li>
                                                <a class="active" href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                            </li>
                                            <li>
                                                <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                            </li>
                                            <!--li>
                                                <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                            </li-->
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--            <div class="blank25"></div>-->

            <div class="container pcatalog size100">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="title">Строительные заказы<?php if(isset($place_town)) echo ' <span class="green">в ', $place_town, '</span>'; ?></div>
                    </div>
                </div>
                <form class="form-horizontal" method="post" action="<?php echo $url ?>/catalog/select" id="select-form">
                    <input type="hidden" id="csrf-token">
                    <div class="row block">
                        <div class="col-sm-3">
                            <select name="speciality" class="form-control" id="tid">
                                <option value="0">-- <?php echo $t->_('blk_select1') ?> --</option>

                                <?php
                                    if($top_catalog)
                                        foreach ($top_catalog as $tc) {
                                            ?>

                                            <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>

                                        <?php } ?>

                            </select>
                            <!--                            <div class="blank15"></div>-->
                        </div>
                        <div class="col-sm-3">
                            <select name="subspeciality" class="form-control" id="sid">
                                <option value="0">-- <?php echo $t->_('blk_select2') ?> --</option>
                            </select>
                            <!--                            <div class="blank15"></div>-->
                        </div>
                        <div class="col-sm-3">
                            <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="<?php echo $t->_('blk_address') ?>" />
                            <input type="hidden" name="placelat" id="placelat" />
                            <input type="hidden" name="placelng" id="placelng" />
                            <input type="hidden" name="placeid" id="placeid" />
                            <input type="hidden" name="placeaddr" id="placeaddr" />
                            <input type="hidden" name="placetown" id="locality" />
                            <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                            <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                            <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                            <input type="hidden" name="placecountry" id="country" />
                            <!--                            <div class="blank15"></div>-->
                        </div>
                        <div class="col-sm-3">
                            <div class="search">
                                <!--<button class="btn btn-success" onclick="return doFormSubmit('select-form');"><span class="glyphicon glyphicon-search"></span></button>-->
                                <input type="hidden" name="show_only" id="show_only" value="all"/>
                                <button type="button" onclick=" $('#show_only').val('orders'); doFormSubmit('select-form');" class="btn btn-primary">Заказы</button>
                                <button type="button" onclick=" $('#show_only').val('users'); doFormSubmit('select-form');" class="btn btn-success">Строители</button>
                            </div>
                            <!--                            <div class="blank15"></div>-->
                        </div>

                        <?php if(isset($districts)) { ?>
                                <div class="blank5"></div>
                                <!--                                <div class="blank10" style="border-top:1px solid #ddd"></div>-->
                                <div class="text-center">Вы можете выбрать район:<br />
                                    <?php foreach ($districts as $d) { ?>
                                        <a<?php if($place_id == $d['place_id']) echo ' class="green"' ?> href="<?php echo $url, '/catalog/', $top_slug, '/loc', $d['id'] ?>"><?php echo $d['place_district']; ?></a> &nbsp; &nbsp;
                                    <?php } ?>
                                </div>
                                <!--                                <div class="blank10"></div>-->
                            <?php } ?>

                    </div>
                    <?php if($banner3 != ""): ?>
                            <!--                            <div class="blank10"></div>-->
                            <?php echo $banner3 ?>                        
                        <?php endif; ?>
                </form>
                <!--                <div class="blank15"></div>-->
                <!--                <div class="text-center">список заказов в каталоге</div>-->
                <!--                <div class="blank5"></div>-->

                <?php
                    if($orders)
                        if(isset($orders_not_found_place))
                            echo '<div class="my-label"><div class="yellow"><span class="glyphicon glyphicon-info-sign"></span><br /> Заявки в выбраном регионе не найдены. Показаны ближайшие заявки.</div></div>';
                ?>

                <?php
                    $time = time();
                    if($orders) {
                        ?>

                        <?php $this->partial('catalog/result_list') ?>

                        <div class="center" id="pager">
                            <?php echo $pager_html ?>
                        </div>
                    <?php } else { ?>
                        <h3 class="text-center red">Нет заказов<?php if(isset($place_town)) echo '<br /><span class="green">в ', $place_town, '</span>'; ?></h3>
                    <?php } ?>


            </div>
            <?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>

        <div class="page-footer">
            <!--            <div class="blank15"></div>-->
            <div class="container">
                <div class="row">
                    <div class="col-xs-9 left">
                        <?php echo $t->_('ft_copy') ?>
                    </div>
                    <div class="col-xs-3 right">
                        <?php echo $t->_('ft_contact') ?>
                    </div>
                </div>
            </div>
            <!--            <div class="blank15"></div>-->
        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/masonry.pkgd.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/slick_slider/slick.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/hammer_edits.js"></script>


        <script type="text/javascript">
                                    var crntPage = 'catusers';
                                    var lang = '<?php echo $lang ?>';
                                    var url = '<?php echo $url ?>';
                                    var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>


        <script type="text/javascript">
                                    var langOk = '<?php echo $t->_('l_signin') ?>';                             var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                    var langLogin = '<?php echo $t->_('l_login') ?>';
                                    var langEmail = '<?php echo $t->_('l_email') ?>';
                                    var langPhone = '<?php echo $t->_('l_phone') ?>';
                                    var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                    var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                    var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                    var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                    var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                    var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';                                     var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                    var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>


        <script type="text/javascript">
                                    var placeSearch, autocomplete;
                                    function initAutocomplete() {
                                        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['(regions)'], componentRestrictions: {country: 'ua'}});
                                        autocomplete.addListener('place_changed', fillInAddress);
                                        try {
                                            modal_autocomplete();
                                        } catch (e) {
                                            console.warn(e);
                                        }
                                    }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

        <?php echo $stat_track; ?>
    </body>
</html>
