<div class="row nopad text-left">

    <span class="title">

        <?php if($profile['user_name'] != '' and $profile['user_name'] != "Заказчик"): ?>
                Заказчик:  <?= $profile['user_name'] ?>
            <?php else: ?>
                Контакты заказчика:
        <?php endif; ?>                            
    </span>

    <div class="blank10"></div>

    <div class="row">
        <div class="col-sm-4">
            <strong>Телефон:</strong>
        </div>
        <div class="col-sm-8">
            <?php
                if($is_logged) {
                    if($is_old_order > 0) {
                        if($is_old_order == 1)
                            echo $profile['user_phone'] ? $profile['user_phone'] : $this->config->other->admin_phone;
                        else
                            echo 'Заявка закрыта, контакты не доступны';                        
                    }
                    else {
                        if($show and $my_profile['stars'] > 5 and $my_profile['stars'] < 10) {
                            /* Отображаем только для того, кто заблокировал */
                            if($current_premium_block and $current_premium_block['user_id'] != $usr_id) {
                                echo "Ожидайте, заказчик с вами свяжется";
                            } else {
                                echo $profile['user_phone'] ? $profile['user_phone'] : 'не указан';
                            }
                        } else if($show and $my_profile['stars'] <= 5) {
                            if($user_informed == 1)
                                echo $profile['user_phone'] ? $profile['user_phone'] : 'не указан';
                            else
                                echo 'Ожидайте получение контактов';
                        }
                        else {
                            if($my_profile['stars'] == 10 and $premium_block_access == 1 and ! $current_premium_block and $usr_id != $order['user_id']) {
                                if($my_profile['premium_hours'] >= 3600 and ! $in_series)
                                    echo '<b style="font-size:22px">Блокировка заказа</b><br>На <input class="form-control" style="text-align:center; width: 50px; display: inline" value="1" name="premium_hours" id="premium_hours" > часов <div class="small grey">(доступно ', round($my_profile['premium_hours'] / 3600), ' часов)</div><button class="btn btn-info btn-sm" onclick="premium_block()">Заблокировать</button> <hr><button class="btn btn-success btn-xs js_block_btn" data="24" >На день( будет снято 5ч)</button><br><br><button class="btn btn-success btn-xs js_block_btn" data="48">На два дня( будет снято 10ч)</button><br><br><button class="btn btn-success btn-xs js_block_btn" data="168">На неделю ( будет снято 25ч)</button>';
                                else if($my_profile['premium_hours'] >= 3600 and $in_series)
                                    echo 'пожалуйста, ожидайте';
                                else
                                    echo 'Нет часов — звоните менеджеру';
                            }
                            else if($my_profile['stars'] == 10 and $premium_block_access == 1 and $current_premium_block and $usr_id != $order['user_id']) {
                                if($current_premium_block['user_id'] == $usr_id) {
                                    echo $profile['user_phone'];
                                } else {
                                    if($my_profile['premium_hours'] >= 3600 and ! $in_series)
                                        echo '<b style="font-size:22px">Блокировка заказа</b><br>На <input class="form-control" style="text-align:center; width: 50px; display: inline" value="1" name="premium_hours" id="premium_hours" > часов <div class="small grey">(доступно ', round($my_profile['premium_hours'] / 3600), ' часов)</div><button class="btn btn-info btn-sm" onclick="premium_block()">Заблокировать</button> <hr><button class="btn btn-success btn-xs js_block_btn" data="24" >На день( будет снято 5ч)</button><br><br><button class="btn btn-success btn-xs js_block_btn" data="48">На два дня( будет снято 10ч)</button><br><br><button class="btn btn-success btn-xs js_block_btn" data="168">На неделю ( будет снято 25ч)</button>';
                                    else if($my_profile['premium_hours'] >= 3600 and $in_series)
                                        echo 'пожалуйста, ожидайте';
                                }
                            }
                            else if($my_profile['stars'] > 5) {
                                if($my_profile['stars'] == 10) {
                                    echo $profile['user_phone'];
                                } else {
                                    echo '<span style="cursor:pointer; color:blue" onclick="$(\'#offer-form-submit\').trigger(\'click\')">Открыть</span>';
                                }
                            } else {
                                echo 'Сделайте предложение';
                            }
                        }
                    }
                } else {
                    if($is_old_order == 2 or $is_old_order == 3)
                        echo $profile['user_phone'] ? $profile['user_phone'] : $this->config->other->admin_phone;
                    else
                        echo '<a href="javascript:show_reg_form();">', $t->_('l_info_open'), '</a>';
                }
            ?>
        </div>
    </div>
    <div class="blank15"></div>

    <?php if($is_logged and $my_profile['stars'] == 10): ?>
            <div  style="    border: 1px solid #ddd; background-color: #efece9;    padding: 15px 10px 0 10px;">
                <h3>Информация для профессиональных строителей:</h3>
                <?php if($my_profile['premium_hours'] >= 3600): ?>
                    <?php if(count($connect['choice']) < 1): ?>
                        Заказчик не выбрал исполнителя работ
                    <?php else: ?>    
                        По этой заявке заказчик заинтересовался 
                        <?php if(count($connect['choice']) > 1): ?>
                            <?= count($connect['choice']) ?> строителями:
                        <?php else: ?> 
                            <?= count($connect['choice']) ?> строителем:
                        <?php endif; ?>

                        <?php foreach ($connect['choice'] as $key => $value): ?>
                            <div class="ulist btn btn-default"><?= $value['c_user_name'] ?></div>
                        <?php endforeach; ?>

                    <?php endif; ?>
                    <br> <br> 
                    <?php if(count($OffersToWorker) < 1): ?>
                        Предложений к строителям не поступало
                    <?php else: ?>    
                        Сделал предложения к 
                        <?php if(count($OffersToWorker) > 1): ?>
                            <?= count($OffersToWorker) ?> строителям:
                        <?php else: ?> 
                            <?= count($OffersToWorker) ?> строителю:
                        <?php endif; ?>

                        <?php foreach ($OffersToWorker as $key => $value): ?>
                            <div class="ulist btn btn-default"><?= $value['user_name'] ?></div>
                        <?php endforeach; ?>

                    <?php endif; ?>        
                <?php else: ?>
                    Информация доступна только при наличии часов блокировки
                <?php endif; ?>

                <br>
                <br>
                <b>Дополнительная информация от Будмисто: </b> <br><?= $order['order_admin_description'] ?>
            </div>
        <?php else: ?>
            <div  style="    border: 1px solid #ddd; background-color: #efece9;    padding: 15px 10px 0 10px; text-align: center">
                <h3>Информация для профессиональных строителей:</h3>
                Для получения этой информации свяжитесь с администрацией по телефону:<br> <strong><?= $this->config->other->admin_phone ?></strong>
            </div>
    <?php endif; ?>

    <?php if($is_logged && !$label) if(!in_array($usr_id, $exists_ids) && $usr_level > 3 && $usr_id != $order['user_id']) { ?>
                <div class="blank25"></div>
                <h4 <?php if($my_profile['stars'] == 10): ?>style = 'display:none;'<?php endif; ?>>Сделать предложение</h4>
                <form action="<?php echo $url ?>/catalog/offer" method="post" id="offer-form" <?php if($my_profile['stars'] == 10): ?>style = 'display:none;'<?php endif; ?>>
                    <input type="hidden" id="csrf-token">
                    <input type="hidden" name="order_id" value="<?php echo $order['id'] ?>">
                    <textarea name="message" id="message" placeholder="Опишите своё предложение (не обязательно)" class="form-control" rows="5"></textarea>
                    <div class="submit">
                        <button class="btn btn-success btn-lg" id="offer-form-submit" onclick="return doFormSubmit('offer-form');">Отправить</button>
                    </div>
                </form>
                <?php
            }

        if($is_logged && $label && $usr_level > 3)
            echo '<div class="blank25"></div><span class="text-danger">Вы не можете делать предложение по неактивной заявке</span>';
    ?>               


</div>
