<div class="row lists">

    <div class="col-sm-6">
        <div class="title">Заказы<?php
                if(isset($city['name'])) {
                    echo ' <span class="yellow">в ';
                    echo $city['name'];
                    echo isset($parent_name) ? ', ' . $parent_name : '';
                    echo '</span>';
                }
            ?></div>
       <!-- <div class="text-center">список заявок на строительные работы<?php if(isset($city['name'])) echo ' <br /><small class="grey">показаны ближайшие к ' . $city['name'], isset($parent_name) ? ', ' . $parent_name : '', ' заявки</small>' ?></div>-->
        <div class="blank5"></div>

        <?php if($orders) if(isset($orders_not_found_place)) { ?>
                    <div class="my-label">
                        <div class="yellow"><span class="glyphicon glyphicon-info-sign"></span><br /> Заявки в выбраном регионе не найдены. Показаны ближайшие заявки.</div>';
                    </div>
                <?php } ?>

        <div class="orders">

            <?php
                $time = time();
                if($orders) {
                    foreach ($orders as $o) {
                        ?>
                        <?php //if($o['finish_date'] < $time){continue;}  ?>
                        <div class="item block-border">
                            <div class="date"><span class="glyphicon glyphicon-time"></span> <?php echo $o['order_date'] ?>
                                <?php
                                if($o['close_date'])
                                    echo ' &nbsp; <span class="text-danger"><span class="glyphicon glyphicon-lock"></span> заявка закрыта</span> ';
                                elseif($o['finish_date'] < $time)
                                    echo ' &nbsp; <span class="text-danger"><span class="glyphicon glyphicon-hourglass"></span> истёк срок заявки</span> ';
                                ?>
                            </div>
                            <div class="desc">
                                <?php echo $o['descr_short'] ?>...&nbsp;
                                <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>">[подробнее]</a>
                            </div>
                            <div class="blank5"></div>
                            <span class="yellow"><?php echo $o['spec_name'], ' <span>(', $o['type_name'], ')</span>' ?></span>
                            <?php
                            //$trimmedArray = array_map('trim', array($o['route'], $o['town'], $o['district'], $o['region']));
//$order_addr = implode(', ', array_filter($trimmedArray));
                            $order_addr = $o['town'] . ', ' . $o['region']
                            ?>

                            <p><?php echo $order_addr ?></p>
                        </div>
                        <div class="blank5"></div>

                        <?php
                    }
                    if($orders)
                        echo '<div class="text-center"><a href="', $url, '/catalog/', $top_slug, isset($place_slug) ? '/' . $place_slug : '', '/orders" class="btn btn-default"><span class="glyphicon glyphicon-list-alt yellow"></span> &nbsp; Посмотреть все заявки по этой специализации</a></div>';
                } else {
                    ?>
                    <h3 class="text-center red">Нет активных заявок<?php if(isset($place_town)) echo '<br /><span class="green">в ', $place_town, '</span>'; ?></h3>
                <?php } ?>

        </div>
    </div>
    <div class="col-sm-6">
        <div class="title">Строители<?php
                if(isset($city['name'])) {
                    echo ' <span class="green">в ';
                    echo $city['name'];
                    echo isset($parent_name) ? ', ' . $parent_name : '';
                    echo '</span>';
                }
            ?></div>
       <!-- <div class="text-center">список строителей, готовых выполнить ваш заказ<?php if(isset($city['name'])) echo ' <br /><small class="grey">показаны ближайшие к ' . $city['name'], isset($parent_name) ? ', ' . $parent_name : '', ' строители</small>' ?></div>-->
        <div class="blank5"></div>

        <?php if($workers) if(isset($workers_not_found_place)) { ?>
                    <div class="my-label">
                        <div class="green"><span class="glyphicon glyphicon-info-sign"></span><br /> Строители в выбраном регионе не найдены. Показаны ближайшие строители.</div>';
                    </div>
                <?php } ?>

        <div class="workers">

            <?php
                if($workers) {
                    foreach ($workers as $w) {
                        ?>
                        <div class="item block-border">
                            <div class="name"><span class="glyphicon glyphicon-wrench"></span> <?php echo $w['user_name'] ?></div>
                            <div class="desc">
                                <?php echo $w['brief'] ? $w['brief'] : 'Нет описания' ?>...&nbsp;
                                <a href="<?php echo $url ?>/user/<?php echo $w['uid'] ?>">[профиль строителя]</a>
                            </div>
                            <div class="blank5"></div>
                            <?php
                            if(!isset($w['town']) || !$w['town'])
                                echo '<span class="green">Адрес не указан</span>';
                            else {
                                ?>
                                <span class="green"><?php echo $w['town'] . ', ' . $w['region']; ?></span>
                            <?php } ?>
                        </div>
                        <div class="blank5"></div>

                        <?php
                    }
                    if($workers)
                        echo '<div class="text-center"><a href="', $url, '/catalog/', $top_slug, isset($place_slug) ? '/' . $place_slug : '', '/users" class="btn btn-default"><span class="glyphicon glyphicon-wrench green"></span> &nbsp; Посмотреть всех строителей по этой специализации</a></div>';
                } else {
                    ?>
                    <h3 class="text-center red">Нет строителей по этой специализации<?php if(isset($place_town)) echo '<br /><span class="green">в ', $place_town, '</span>'; ?></h3>
                <?php } ?>

        </div>
    </div>
</div>