<?php
    $only_orders = preg_match("|\/orders|", $_SERVER['REQUEST_URI']);
    $only_users = preg_match("|\/users|", $_SERVER['REQUEST_URI']);
?>

<div class="row hidden-xs hidden-sm hidden-md desct_div">
    <?php if($only_orders or ( !$only_orders and ! $only_users)): ?>
            <div class="<?php if($only_orders): ?>
                     col-md-12
                 <?php else: ?>    
                     col-md-6
                 <?php endif; ?>" >
                <!--
                <div class="all-order cursor-pointer" onclick=" $('#show_only').val('orders'); doFormSubmit('select-form');">
                    <p class="info_head">Заказы</p>
                </div>
                -->
                <?php if(isset($city['name'])): ?>
                    <span class="yellow">в <?= $city['name'] ?>
                        <?php if(isset($parent_name)): ?>
                            , <?= $parent_name ?> 
                        <?php endif; ?>
                    <?php endif; ?>                            


                    <?php if(isset($orders_not_found_place)): ?>
                        <div class="my-label">
                            <div class="yellow"><span class="glyphicon glyphicon-info-sign"></span><br /> Заявки в выбраном регионе не найдены. Показаны ближайшие заявки.</div>';
                        </div>
                    <?php endif; ?>

                    <?php $time = time(); ?>        
                    <?php if(is_array($orders)): ?>
                        <div class="row" >
                            <?php foreach ($orders as $ok => $o): ?>
                                <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" target="_blank">
                                    <div class=" <?php if($only_orders): ?>
                                             col-md-3
                                         <?php else: ?>    
                                             col-md-6
                                         <?php endif; ?>
                                         js_handler_orders  js_orders"  style="<?php if($ok > 15 and ! $only_orders): ?>display:none<?php endif; ?>" >
                                        <div class="order ">
                                            <div class="info_adress pull-left">
                                                <p><?= $o['town'] . ', ' . $o['region'] ?></p>

                                                <p>
                                                    <?php if($o['close_date']): ?>
                                                    <span class="text-muted" style="font-size:10px"><span class="glyphicon glyphicon-lock"></span> заявка закрыта</span>
                                                    <?php elseif($o['finish_date'] < $time): ?>
                                                        <span class="text-muted" style="font-size:10px"><span class="glyphicon glyphicon-hourglass"></span> истёк срок заявки</span>
                                                    <?php else: ?>
                                                        <?= $o['order_date'] ?>
                                                    <?php endif; ?>
                                                </p>
                                            </div>
                                            <img src="/images/icon/2.png" alt="" class="icon_order pull-right">
                                            <img src="/images/keys.png" alt="" class="keys pull-right">
                                            <div class="clearfix"></div>
                                            <p style="overflow: hidden;  min-height: 57px;  max-height: 57px; margin-bottom: 3px;"><?= $o['descr_short'] ?></p>


                                        </div>
                                    </div> </a>
                            <?php endforeach; ?>                    
                        </div>
                        <?php if(!$only_orders): ?>
                            <div class="row text-center" style="margin: 10px 0;">
                                <div class="col-xs-12">
                                    <div  class="collapse ">содержимое</div>

                                    <button type="button" class="btn btn-primary text-center" onclick=" $('#show_only').val('orders'); doFormSubmit('select-form');">
                                        Показать ещё
                                    </button>


                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>
            </div>
        <?php endif; ?>

    <?php if($only_users or ( !$only_orders and ! $only_users)): ?>
            <div class="<?php if($only_users): ?>
                     col-md-12
                 <?php else: ?>    
                     col-md-6
                 <?php endif; ?>" >  
                <!--
                <div class="all-workers cursor-pointer" onclick=" $('#show_only').val('users'); doFormSubmit('select-form');">
                    <p class="info_head">Строители</p>
                </div>
                -->
                <?php if(isset($city['name'])): ?>
                    <span class="yellow">в <?= $city['name'] ?>
                        <?php if(isset($parent_name)): ?>
                            , <?= $parent_name ?> 
                        <?php endif; ?>
                    <?php endif; ?>  


                    <?php if($workers_not_found_place): ?>
                        <div class="my-label">
                            <div class="green"><span class="glyphicon glyphicon-info-sign"></span><br /> Строители в выбраном регионе не найдены. Показаны ближайшие строители.</div>';
                        </div>
                    <?php endif; ?>

                    <?php if(is_array($workers)): ?>
                        <div class="row" >
                            <?php foreach ($workers as $wk => $w): ?>
                                <a href="<?= $url ?>/user/<?= $w['uid'] ?>" target="_blank">
                                    <div class="<?php if($only_users): ?>
                                             col-md-6
                                         <?php else: ?>    
                                             col-md-12
                                         <?php endif; ?> js_handler_builders js_workers" style="<?php if($wk > 7 and ! $only_users): ?>display:none<?php endif; ?>" >
                                        <div class="builders">
                                            <div class="row top_row">
                                                <div class="col-md-3">
                                                    <?php if($w['avatar'] != 'empty.jpg'): ?>
                                                        <img src="<?= $url ?>/data/avatars/<?= $w['avatar'] ?>" alt="">
                                                    <?php elseif($w['avatar'] == 'empty.jpg' and isset($w['images'][0])): ?>
                                                        <img src="<?= $url ?>/data/users/<?= $w['uid'] ?>/<?= $w['images'][0]['fname'] ?>" alt="">
                                                    <?php else: ?>
                                                        <img src="<?= $url ?>/data/avatars/<?= $w['avatar'] ?>" alt="">
                                                    <?php endif; ?>    


                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <p class="name_build"><?= $w['user_name'] ?></p>


                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <p class="name_city pull-left">
                                                                <?php if(!isset($w['town']) || !$w['town']): ?>
                                                                    <span class="green">Адрес не указан</span>
                                                                <?php else: ?>
                                                                    <span class="green"><?= $w['town'] ?></span>
                                                                <?php endif; ?>
                                                            </p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <img src="/images/icon1.png" alt="" class="icon-builders">
                                                            <img src="/images/icon2.png" alt="" class="icon-builders">
                                                            <img src="/images/icon3.png" alt="" class="icon-builders">
                                                            <img src="/images/icon4.png" alt="" class="icon-builders">
                                                            <img src="/images/icon5.png" alt="" class="icon-builders">
                                                        </div>

                                                    </div>
                                                    <p class="text-bottom pull-left"><?php echo $w['brief'] ? $w['brief'] : 'Нет описания' ?>...&nbsp;</p>

                                                </div>
                                                <div class="col-md-3">
                                                    <?php
                                                    $img_files = Budmisto\Modules\Front\Models\Users::getUserFiles('image', $w['uid']);
                                                    ?>
                                                    <?php if(count($img_files) > 0): ?>                                                    
                                                        <img src="<?= $url ?>/data/users/<?= $w['uid'] ?>/thumb@<?= $img_files[array_rand($img_files)]['fname'] ?>" alt="">
                                                    <?php endif; ?>

                                                </div>
                                            </div>


                                        </div> 
                                    </div>
                                </a>
                            <?php endforeach; ?>



                        </div>
                        <div class="row text-center" style="margin: 10px 0;">
                            <div class="col-xs-12">
                                <div  class="collapse ">содержимое</div>
                                <?php if(!$only_users): ?>
                                    <button type="button" class="btn btn-primary text-center" onclick=" $('#show_only').val('users'); doFormSubmit('select-form');">
                                        Показать ещё
                                    </button>
                                <?php endif; ?>

                            </div>
                        </div>
                    <?php endif; ?>
            </div>
        <?php endif; ?>


</div>
<!-- мобильное -->
<div class="row hidden-lg ">
    <div class="col-xs-12" >
        <!-- 
        <ul class="nav nav-pills text-center" role="tablist" class="myTabExample">
            <li class="active" onclick="$('#show_only').val('users'); doFormSubmit('select-form');">
                <a href="#builders" role="tab" data-toggle="tab">Все строители</a>
            </li>
            <li onclick=" $('#show_only').val('orders'); doFormSubmit('select-form');">
                <a href="#orders" role="tab" data-toggle="tab">Все заказы</a>
            </li> 
        </ul>
        -->
        <!-- Содержимое вкладок -->
        <div class="tab-content">
            <!-- Содержимое 1 вкладки -->


            <div class="tab-pane <?php if(!$only_orders): ?> active <?php endif; ?>" id="builders"> 
                <?php if(is_array($workers)): ?>
                        <?php foreach ($workers as $wk => $w): ?>
                            <div class="row js_workers" style="<?php if($wk > 7): ?>display:none<?php endif; ?>">
                                <div class="col-xs-12">
                                    <a href="<?= $url ?>/user/<?= $w['uid'] ?>" target="_blank">
                                        <div class="builders">
                                            <div class="row top_row">
                                                <div class="col-xs-3">
                                                    <img src="<?= $url ?>/data/avatars/<?= $w['avatar'] ?>" alt="">
                                                </div>
                                                <div class="col-xs-6 text-center">
                                                    <p class="name_build"><?= $w['user_name'] ?></p>


                                                    <div class="row">
                                                        <div class="col-xs-6">
                                                            <p class="name_city pull-left">
                                                                <?php if(!isset($w['town']) || !$w['town']): ?>
                                                                    <span class="green">Адрес не указан</span>
                                                                <?php else: ?>
                                                                    <span class="green"><?= $w['town'] ?></span>
                                                                <?php endif; ?>
                                                            </p>
                                                        </div>
                                                        <div class="col-xs-6">
                                                            <img src="/images/icon1.png" alt="" class="icon-builders">
                                                            <img src="/images/icon2.png" alt="" class="icon-builders">
                                                            <img src="/images/icon3.png" alt="" class="icon-builders">
                                                            <img src="/images/icon4.png" alt="" class="icon-builders">
                                                            <img src="/images/icon5.png" alt="" class="icon-builders">
                                                        </div>

                                                    </div>
                                                    <p class="text-bottom pull-left"><?php echo $w['brief'] ? $w['brief'] : 'Нет описания' ?>...&nbsp;</p>

                                                </div>
                                                <div class="col-xs-3">
                                                    <?php
                                                    $img_files = Budmisto\Modules\Front\Models\Users::getUserFiles('image', $w['uid']);
                                                    ?>
                                                    <?php if(count($img_files) > 0): ?>                                                    
                                                        <img src="<?= $url ?>/data/users/<?= $w['uid'] ?>/thumb@<?= $img_files[array_rand($img_files)]['fname'] ?>" alt="">
                                                    <?php endif; ?>

                                                </div>
                                            </div>


                                        </div> 
                                    </a>
                                </div>

                            </div>

                        <?php endforeach; ?>
                        <?php if(count($workers) > 8): ?>
                            <div class="row text-center" style="margin: 10px 0;">
                                <div class="col-xs-12">
                                    <div  class="collapse ">содержимое</div>
                                    <button type="button" class="btn btn-primary text-center" onclick="$('.js_workers').fadeIn(); $(this).closest('.row').hide();">
                                        Показать ещё
                                    </button>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>               
            </div>



            <!-- Содержимое 2 вкладки -->

            <div class="tab-pane <?php if($only_orders): ?> active <?php endif; ?>" id="orders"> 
                <?php if(is_array($orders)): ?>
                        <?php foreach ($orders as $ko => $o): ?>
                            <div class="row js_orders" style="<?php if($ko > 7): ?>display:none<?php endif; ?>">
                                <div class="col-xs-12">                            
                                    <a href="<?php echo $url ?>/catalog/order/<?php echo $o['id'] ?>" target="_blank">
                                        <div class="order ">
                                            <div class="info_adress pull-left">
                                                <p><?= $o['town'] . ', ' . $o['region'] ?></p>

                                                <p>
                                                    <?php if($o['close_date']): ?>
                                                        <span class="text-danger"><span class="glyphicon glyphicon-lock"></span> заявка закрыта</span>
                                                    <?php elseif($o['finish_date'] < $time): ?>
                                                        <span class="text-danger"><span class="glyphicon glyphicon-hourglass"></span> истёк срок заявки</span>
                                                    <?php else: ?>
                                                        <?= $o['order_date'] ?>
                                                    <?php endif; ?>
                                                </p>
                                            </div>
                                            <img src="/images/icon/2.png" alt="" class="icon_order pull-right">
                                            <img src="/images/keys.png" alt="" class="keys pull-right">
                                            <div class="clearfix"></div>
                                            <p style="overflow: hidden;  min-height: 64px;  max-height: 64px;"><?= $o['descr_short'] ?></p>


                                        </div>
                                    </a>
                                </div>
                            </div>
                        <?php endforeach; ?>
                        <?php if(count($orders) > 8): ?>
                            <div class="row text-center" style="margin: 10px 0;">
                                <div class="col-xs-12">
                                    <div  class="collapse ">содержимое</div>
                                    <button type="button" class="btn btn-primary text-center" onclick="$('.js_orders').fadeIn(); $(this).closest('.row').hide();">
                                        Показать ещё
                                    </button>
                                </div>
                            </div>
                        <?php endif; ?>
                    <?php endif; ?>                
            </div> 

        </div>
        <!--        <ul class="nav nav-pills text-center" role="tablist" class="myTabExample" style="margin-bottom: 10px;">
                    <li class="active">
                        <a href="#builders" role="tab" data-toggle="tab" onclick=" $('#show_only').val('users'); doFormSubmit('select-form');">Все строители</a>
                    </li>
                    <li >
                        <a href="#orders" role="tab" data-toggle="tab" onclick=" $('#show_only').val('orders'); doFormSubmit('select-form');">Все заказы</a>
                    </li> 
                </ul>-->










    </div>

</div>
<!-- конец мобильного -->

<?php
    $slider_data = \Budmisto\Modules\Front\Models\Users::getBigSliderData();
?>

<div class="big_slider">
    <div class="row">
        <div class="col-md-10 col-md-offset-1 slider col-sm-12 col-xs-12" id="bottom_slider">
            <?php if(is_array($slider_data)): ?>
                    <?php foreach ($slider_data as $key => $value): ?>                   
                        <a href="<?= $url ?>/user/<?= $value['user_id'] ?>" target="_blank">
                            <div class="slideitem ">
                                <img  src="<?= $url ?>/data/users/<?= $value['user_id'] ?>/<?= $value['fname'] ?>" alt="">
                                <!--<div class="like_bottom">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <p><?= $value['user_name'] ?></p>
                                        </div>                                
                                    </div>

                                </div>-->
                            </div> 
                        </a>
                    <?php endforeach; ?>
                <?php endif; ?>                                                      
        </div>
    </div>
</div>
