<!DOCTYPE html>

<html lang="<?php echo $lang ?>">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="<?php echo $lang ?>" />
        <title>Строительный заказ от <?php echo $order['order_date'] ?>, <?php echo $profile['user_name'] ?> | Каталог заявок на ремонты, строительство</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
        <style>
            .text-count-wrapper { display: inline; float: left; width:100%; margin-bottom:15px; }
            .error-text { float: right; }
            .mess { text-align: justify; margin-top:-4px; }
            .ulist big { font-size: 18px; }
            .ulist { margin-bottom: 3px; }
            .random-item { border: 1px solid #999; font-size: 12px; padding: 5px; margin-bottom: 10px; }
        </style>
    </head>

    <body>        
        <div id="page-body">


            <?php if(!$is_logged): ?>
                    <div class="container header size100">
                        <div class="logo">
                            <div class="logo-cell">
                                <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                            </div>
                        </div>
                        <div class="menu">
                            <div class="menu-table">
                                <div class="menu-cell">
                                    <div class="menu-top">
                                        <div class="inline">
                                            <div class="slogan" style="height:80px; cursor: pointer;" onclick="window.location.href = '/index.php'">
                                                <div>
                                                    <?php echo $banner1 ?>
                                                </div>
                                            </div>

                                            <div class="menu-inline">
                                                <ul class="menu-items">  
                                                     <li class=" ">
                                                        <a href="<?php echo $url ?>/" class="btn btn-danger btn-lg"  id="btn-enter" style="font-size: 20px !important; font-weight: 600; padding: 6px 16px;">Создать заявку</a>
                                                    </li>
                                                    <li>
                                                        <a href="javascript:doSignin();" class="btn btn-success btn-lg"><?php echo $t->_('l_signin') ?></a>
                                                    </li>
                                                    <li>
                                                        <a href="<?php echo $url ?>/users/signup" class="btn btn-warning btn-lg"><?php echo $t->_('l_register') ?></a>
                                                    </li>                                               
                                                    <li>
                                                        <a href="<?php echo $url ?>/helpcenter" class="btn btn-primary btn-lg"><?php echo $t->_('cmn_help') ?></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="menu-cell bg">
                                    <div class="menu-nav">
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                                                <span class="sr-only">Toggle navigation</span>
                                                <div class="mnu-btn"><span class="glyphicon glyphicon-align-justify"></span> Меню сайта</div>
                                            </button>
                                        </div>
                                        <div id="navbar" class="navbar-collapse collapse">
                                            <ul class="nav nav-justified menu-items">
                                                <li>
                                                    <a href="<?php echo $url ?>/"><?php echo $t->_('nav_home') ?></a>
                                                </li>
                                                <li>
                                                    <a class="active" href="<?php echo $url ?>/catalog"><?php echo $t->_('nav_catalog') ?></a>
                                                </li>
                                                <li>
                                                    <a href="<?php echo $url ?>/leftovers"><?php echo $t->_('nav_ostatki') ?></a>
                                                </li>
                                                <!--li>
                                                    <a href="<?php echo $url ?>/contacts"><?php echo $t->_('nav_contacts') ?></a>
                                                </li-->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="blank25"></div>
                <?php endif; ?>

            <div class="container pcatalog size100">
                <div class="blank25"></div>    
                <div class="row text-center">                
                    <div class="col-md-8 col-md-offset-2 ">  
                        <?php if(isset($last)): ?>
                                <button type="button" class="btn btn-warning btn-lg col-xs-4 " style="float:left; z-index: 100;" onclick="window.location.href = '/catalog/order/' +<?= $last ?>"><span class="glyphicon glyphicon glyphicon-backward"></span> &nbsp;Предыдущий</button>
                            <?php else: ?> 
                                <button type="button" class="btn btn-warning btn-lg col-xs-4" style="float:left; z-index: 100;  cursor:not-allowed; " disabled="" ><span class="glyphicon glyphicon glyphicon-backward"></span> &nbsp;Предыдущий</button>
                        <?php endif; ?>

                        <button type="button" class="btn btn-info btn-lg col-xs-4" style="z-index: 100;" onclick="window.close();">Закрыть</button>

                        <?php if(isset($next)): ?>
                                <button type="button" class="btn btn-warning btn-lg col-xs-4" style="float:right; z-index: 100;" onclick="window.location.href = '/catalog/order/' +<?= $next ?>">Следующий &nbsp;<span class="glyphicon glyphicon-forward"></span></button>
                            <?php else: ?> 
                                <button type="button" class="btn btn-warning btn-lg col-xs-4" style="float:right; z-index: 100; cursor:not-allowed; " disabled="" >Следующий &nbsp;<span class="glyphicon glyphicon-forward"></span></button>
                        <?php endif; ?>

                        <?php
                            $label = '';
                            $order_not_active = false;
                            if($order['close_date']) {
                                $label = ' &nbsp; <span class="label label-danger label-as-badge">заявка закрыта</span> ';
                                $order_not_active = true;
                            } elseif($order['finish_date'] < time()) {
                                if($order['order_status'])
                                    $label = ' &nbsp; <span class="label label-danger label-as-badge">истёк срок заявки</span>';
                                else
                                    $label = ' &nbsp; <span class="label label-danger label-as-badge">заявка не заполнена</span>';
                                if($order['order_status'])
                                    $order_not_active = true;
                            }
                        ?>



                        <?php if($current_premium_block['user_id'] == $usr_id and $usr_id and $current_premium_block): ?>
                                <div class="col-sm-12 text-success text-center ">
                                    <p class="text-info">Заказ заблокирован Вами до</p> <p class="text-primary"><?= substr($current_premium_block['block_end'], 0, -3) ?>
                                    <div style="margin-bottom:10px"><button class="btn btn-info btn-sm" onclick="premium_block(1)">ПРОДЛИТЬ БЛОКИРОВКУ</button></div>
                                    <div class="font-size: 20px;">На <input class="form-control" style="text-align:center; width: 50px; display: inline" value="1" name="premium_hours_add" id="premium_hours_add" > часов <div class="small grey">(доступно <?= round($my_profile['premium_hours'] / 3600) ?> часов)</div></div>
                                    <button class="btn btn-success btn-xs js_block_btn_add" data="24" >На день( будет снято 5ч)</button>&nbsp;&nbsp;
                                    <button class="btn btn-success btn-xs js_block_btn_add" data="48">На два дня( будет снято 10ч)</button>&nbsp;&nbsp;
                                    <button class="btn btn-success btn-xs js_block_btn_add" data="168">На неделю ( будет снято 25ч)</button>
                                </div>
                                <hr>
                            <?php elseif($current_premium_block['user_id'] != $usr_id and $usr_id and $current_premium_block and count($series_premium_block) > 0): ?>

                                <?php
                                $in_series = false;
                                if(is_array($series_premium_block)) {
                                    foreach ($series_premium_block as $key => $value)
                                        if($value['user_id'] == $usr_id)
                                            $in_series = true;
                                }
                                ?>
                                <?php if($in_series): ?>
                                    <div class="col-sm-12 text-success text-center title">
                                        Вы в очереди на блокировку:<br>                                       
                                        <?php foreach ($series_premium_block as $key => $value): ?>                           
                                            <?= $key + 1 ?>:                            
                                            <?php if($value['user_id'] == $usr_id): ?>
                                                <div class="ulist btn btn-warning">
                                                    <b>Вы</b>
                                                </div>
                                                <?php $in_series = 1; ?>
                                            <?php else: ?>
                                                <div class="ulist btn btn-default">
                                                    <?= $value['user']['user_name'] ?>
                                                </div>
                                            <?php endif; ?>  
                                        <?php endforeach; ?>
                                        <hr>          
                                    </div>
                                    <hr>
                                <?php endif; ?>                
                            <?php endif; ?>

                        <div class="col-md-10 col-md-offset-1">
                            <div class="blank15"></div>
                            <div class="title">Заявка <span class="light50">от <?php echo $order['order_date'] ?></span><?php echo $label ?></div>
                            <div class="blank15"></div>
                            <div class="block">
                                <span class="glyphicon glyphicon-map-marker brown"></span> &nbsp; <?php echo $order['town'] . ', ' . $order['region'] ?>
                                <div class="blank5"></div>
                                <span class="glyphicon glyphicon-wrench green"></span> &nbsp; <?php /* echo $order['type_name']?> / <?php echo $order['spec_name'] */ ?>

                                <?php
                                    if($order['order_status'])
                                        echo $order['type_name'], '/', $order['spec_name'];
                                    else
                                        echo 'Не указана';
                                    if(!$order['order_status'] && !$order_not_active) {
                                        ?>
                                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:20px;">
                                            <big>Для публикации заявки в каталоге нужно больше информации. Пожалуйста, укажите необходимую информацию.</big>
                                        </div>
                                    <?php } ?>

                                <hr style="border-top-color:#ddd" />
                                <div class="row">
                                    <div class="col-sm-6">
                                        <strong>Бюджет:</strong> <?php echo $order['budget_name'] ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>Предложения:</strong> <?php echo $order['count_name'] ?>
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <strong>Начало работы:</strong> <?php echo $order['when_name'] ?>
                                    </div>
                                    <div class="col-sm-6">
                                        <strong>Заявка актуальна до:</strong> <?php echo $order['actual_period'] ?>
                                    </div>
                                </div>
                                <div class="blank15"></div>
                            </div>
                            <div class="blank15"></div> 

                            <div class="text-left">
                                <strong>Описание:</strong>
                                <div class="blank15"></div>

                                <div class="block-border">
                                    <div style="color:#666;padding-right:5px;overflow-y:auto;height:155px;">
                                        <span><?php echo $order['order_description'] ?></span>
                                    </div>
                                    <div class="blank5"></div>
                                </div>  
                            </div>



                            <div class="blank15"></div>
                            <?php if(isset($usr_id) && $usr_id == $order['user_id']) echo '<div style="display:inline-block;margin-left:20px;"><a href="' . $url . '/my/' . $order['id'] . '" class="btn btn-success btn-sm">Выбрать строителей</a></div>'; ?>


                            <?php
                                $this->partial('catalog/order_info', [
                                    'exists_ids' => $exists_ids,
                                    'in_series' => $in_series
                                ]);
                            ?>                


                            <div class="text-left">
                                <?php
                                    if($is_logged) {

                                        if(isset($connect['offer']) && $connect['offer']) {
                                            ?>

                                            <div class="blank15"></div>
                                            <h4 class="yellow">Предложения от строителей</h4>
                                            <div class="blank5"></div>

                                            <?php
                                            foreach ($connect['offer'] as $o) {



                                                if($o['o_uid'] == $usr_id)
                                                    $show = true;
                                                ?>
                                                <div class="ulist btn btn-default"<?php if((isset($usr_id) && $usr_id == $o['offer_id']) || (isset($usr_id) && $usr_id == $order['user_id'])) echo ' style="border-bottom-color:#fff; height:42px;"' ?>>
                                                    <?php if($usr_id == $order['user_id']) { ?><span class="glyphicon glyphicon-link"></span> <a href="<?php echo $url ?>/user/<?php echo $o['o_uid'] ?>"><?php echo $o['o_user_name'] ?></a><?php } else echo $o['o_user_name']; ?>
                                                    <?php if(isset($usr_id) && $usr_id == $order['user_id']) echo ' &nbsp; &nbsp; <a onClick="return confirmDelete()" href="' . $url . '/catalog/deloffer/' . $o['id'] . '"><big>&times;</big></a>'; ?>
                                                    <?php if(isset($usr_id) && $usr_id == $o['offer_id']) echo ' &nbsp; &nbsp; <a onClick="return confirmDelete()" href="' . $url . '/catalog/deloffer/' . $o['id'] . '"><big>&times;</big></a>'; ?>
                                                </div>
                                                <?php if((isset($usr_id) && $usr_id == $o['offer_id']) || (isset($usr_id) && $usr_id == $order['user_id'])) { ?>
                                                    <div class="block-border mess">
                                                        <?php echo $o['offer_text'] ?>
                                                    </div>
                                                    <div class="blank10"></div>
                                                    <?php
                                                }
                                            }
                                            ?>

                                            <?php
                                        }
                                    } else {
                                        ?>
                                        <div class="blank25"></div>
                                        <div class="row grey">
                                            <div class="col-xs-5">
                                                Выбрано строителей: <?php echo count($connect['choice']) ?>
                                            </div>
                                            <div class="col-xs-7 text-right">
                                                Предложений от строителей: <?php echo count($connect['offer']) ?>
                                            </div>
                                        </div>
                                    <?php } ?>
                            </div>
                        </div>                     
                    </div>
                </div>
            </div>

            <?php echo $banner2 ?>
            <div class="blank50"></div>

        </div>

        <?php if(!$is_logged): ?>
                <div class="page-footer">
                    <div class="blank15"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-9 left">
                                <?php echo $t->_('ft_copy') ?>
                            </div>
                            <div class="col-xs-3 right">
                                <?php echo $t->_('ft_contact') ?>
                            </div>
                        </div>
                    </div>
                    <div class="blank15"></div>
                </div>
            <?php endif; ?>

        <div class="popup js-popup" style=" display:none;">
            <div class="popup__in js-popup-in">
                <div class="form" id="js_reg_form" style='text-align: center;' >
                    <div class="container content size100">
                        <div class="title">Для получения контактов заказчиков необходимо зарегистрироваться</div>
                        <div class="blank10"></div>
                        <div class="row">
                            <div class="col-sm-8">	    
                                <div class="blank15"></div>
                                <form method="post" class="form-horizontal" id="signup-form" action="<?php echo $url ?>/users/signup">
                                    <input type="hidden" id="csrf-token">
                                    <div class="form-group">
                                        <label class="col-md-4 control-label">Зарегистрироваться как
                                            <big><button class="btn-link" onclick="javascript:return false;" data-toggle="tooltip" data-placement="top" title="Выберите профиль Вашей деятельности, что бы не перегружать Ваш аккаунт избыточными функциями."><span class="glyphicon glyphicon-question-sign"></span></button></big>
                                        </label>
                                        <div class="col-md-8">
                                            <label class="radio-inline">
                                                <input type="radio" checked="" name="type" value="4"> <?php echo $t->_('l_type_performer') ?>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="type" value="5"> <?php echo $t->_('l_type_team') ?>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="type" value="6"> <?php echo $t->_('l_type_firm') ?>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="blank15"></div>
                                    <div class="form-group">
                                        <label for="name" class="col-md-4 control-label"><?php echo $t->_('l_nick') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                        <div class="col-md-7">
                                            <input type="text" name="name" id="name" class="form-control" required="required">
                                        </div>
                                    </div>
                                    <div class="blank15"></div>
                                    <div class="form-group">
                                        <label for="email" class="col-md-4 control-label"><?php echo $t->_('l_email') ?></label>
                                        <div class="col-md-7">
                                            <small class="light50"><?php echo $t->_('l_email_info') ?></small>
                                            <input type="email" name="email" id="email" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="phone" class="col-md-4 control-label"><?php echo $t->_('l_phone') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                        <div class="col-md-7">
                                            <input type="text" name="phone" id="phone" class="form-control" required="required">
                                        </div>
                                    </div>
                                    <div class="blank15"></div>
                                    <div class="form-group">
                                        <label for="passwd1" class="col-md-4 control-label"><?php echo $t->_('l_passwd') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                        <div class="col-md-7">
                                            <small class="light50"><?php echo $t->_('l_char') ?></small>
                                            <input type="password" name="passwd1" id="passwd1" class="form-control" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="passwd2" class="col-md-4 control-label"><?php echo $t->_('l_re_passwd') ?> <span class="glyphicon glyphicon-asterisk text-primary star"></span></label>
                                        <div class="col-md-7">
                                            <input type="password" name="passwd2" id="passwd2" class="form-control" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-7 col-xs-offset-4">
                                            <label class="radio-inline">
                                                <input type="checkbox" name="agree" id="agree" value="0"> <?php echo $t->_('l_agree') ?>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="blank25"></div>
                                    <div class="submit" style="margin-left: 9%">
                                        <button class="btn btn-success btn-lg" id="dosubmit_form"><?php echo $t->_('l_signup') ?></button>
                                        <br>
                                        <button class="btn btn-warning btn-lg cancel_reg" onclick="doSignin()">Я уже регистрировался, авторизоваться</button>				    
                                        <br>
                                        <button class="btn cancel_reg" >Отмена</button>
                                    </div>
                                </form>
                                <div class="blank25"></div>
                            </div>
                            <div class="col-sm-4" style="text-align:justify">
                                <h4><?php echo $t->_('l_rules_label') ?></h4>
                                <?php echo $t->_('l_rules_text') ?>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootbox.min.js"></script>

        <script type="text/javascript">
                                            if (history.length == 1)
                                                $('#back-link').css('display', 'none');
                                            var crntPage = 'order';
                                            var lang = '<?php echo $lang ?>';
                                            var url = '<?php echo $url ?>';
                                            var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>


        <script type="text/javascript">

                                            $(".cancel_reg").on("click", function (e) {
                                                e.preventDefault();
                                                $("#js_reg_form,.js-popup").fadeOut();
                                            });

                                            $('#dosubmit_form').on('click', function (e) {
                                                e.preventDefault();
                                                if ($('#agree').is(":checked")) {
                                                    var checkString;

                                                    if ($('#email').val()) {
                                                        checkString = 'email|phone|passwd1|passwd2';
                                                    } else {
                                                        checkString = 'phone|passwd1|passwd2';
                                                    }
                                                    doFormSubmit('signup-form', checkString, 'passwdconfirm|checkuser|checkemail|checkphone');
                                                } else {

                                                    alertBM.alert(langFiedsEmpty);
                                                }
                                            });

                                            $('#agree').on('change', function () {
                                                if (!$(this).is(':checked')) {
                                                    $('#agree').val(0);
                                                } else {
                                                    $('#agree').val(1);
                                                }
                                            });

                                            var langInfo = '<?php echo $t->_('l_info') ?>';
                                            var langInfoMess = '<?php echo $t->_('l_info_message') ?>';
                                            var langOk = '<?php echo $t->_('l_signin') ?>';
                                            var langCancel = '<?php echo $t->_('cmn_cancel') ?>';
                                            var langLogin = '<?php echo $t->_('l_login') ?>';
                                            var langEmail = '<?php echo $t->_('l_email') ?>';
                                            var langPhone = '<?php echo $t->_('l_phone') ?>';
                                            var langPasswd = '<?php echo $t->_('l_passwd') ?>';
                                            var langErrorTitle = '<?php echo $t->_('cmn_error') ?>';
                                            var langErrorToken = '<?php echo $t->_('cmn_token') ?>';
                                            var langErrorLogin = '<?php echo $t->_('l_login_err') ?>';
                                            var langErrorEmail = '<?php echo $t->_('l_email_need') ?>';
                                            var langErrorPasswd = '<?php echo $t->_('l_passwd_need') ?>';
                                            var langErrorNotEmail = '<?php echo $t->_('l_email_err') ?>';
                                            var langFiedsEmpty = '<?php echo $t->_('cmn_fields_empty') ?>';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/login.js"></script>


        <?php if($is_logged) if($usr_level > 3) { ?>
                    <script type="text/javascript" src="<?php echo $url ?>/js/autosize.min.js"></script>
                    <script type="text/javascript" src="<?php echo $url ?>/js/textcounter.min.js"></script>
                    <script type="text/javascript">
                                                        autosize($('textarea'));
                                                        $('#message').textcounter({
                                                            min: 10,
                                                            max: 250,
                                                            countSpaces: true,
                                                            countDown: true,
                                                            countDownText: 'Осталось символов: ',
                                                            minimumErrorText: 'Сообщение очень короткое'
                                                        });


                                                        var order_id = "<?php echo $order['id'] ?>";

                                                        $(".js_block_btn").on("click", function () {
                                                            data = $(this).attr("data");
                                                            if (data < 1)
                                                                return false;
                                                            $("#premium_hours").val(data);
                                                            premium_block();
                                                        });

                                                        $(".js_block_btn_add").on("click", function () {
                                                            data = $(this).attr("data");
                                                            if (data < 1)
                                                                return false;
                                                            $("#premium_hours_add").val(data);
                                                            premium_block(1);
                                                        });

                                                        function premium_block(add)
                                                        {
                                                            var max_hours = '<?php echo round($my_profile['premium_hours'] / 3600) ?>';
                                                            if (add == 1) {
                                                                var hours = parseInt($("#premium_hours_add").val());
                                                            } else {
                                                                var hours = parseInt($("#premium_hours").val());
                                                            }


                                                            if (!hours || hours < 1) {
                                                                alertBM.alert("Введено не верное количество часов");
                                                                $("#premium_hours").val("1");
                                                                return false;
                                                            }

                                                            switch (hours) {
                                                                case 24:
                                                                    hours_discont = 5;
                                                                    break;
                                                                case 48:
                                                                    hours_discont = 10;
                                                                    break;
                                                                case 168:
                                                                    hours_discont = 25;
                                                                    break;
                                                                default:
                                                                    hours_discont = hours;
                                                            }

                                                            if (hours_discont > max_hours) {
                                                                alertBM.alert("Превышено допустимое количество часов");
                                                                $("#premium_hours").val("1");
                                                                return false;
                                                            }

                                                            $.post("/catalog/order/" + order_id, {duration: hours, add: add}, function (res) {

                                                                if (res > 0) {
                                                                    $('#offer-form-submit').trigger('click');
                                                                    setTimeout(function () {
                                                                        window.location.reload();
                                                                    }, 1000);

                                                                } else {
                                                                    alertBM.alert("Ошибка! Пожалуйста сообщите администратору");
                                                                }
                                                            });
                                                        }

                                                        function eternal_freeze() {
                                                            $.post("/catalog/order/set_eternal_freeze", {order_id: order_id}, function (res) {
                                                                if (res) {
                                                                    alertBM.alert("Ваш запрос отправлен администратору, ожидайте", "alert-success");
                                                                }
                                                            });
                                                        }
                    </script>
        <?php } ?>

<?php echo $stat_track; ?>
    </body>
</html>