<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/wbbtheme.css" media="all" />
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">            
                    <div class="col-md-12">


                        <form class="form-horisontal" method="post" enctype="multipart/form-data">
                            Название: <input type="text" class="form-control" name="name" value="<?= $banner['name'] ?>">
                            <br>
                            Активен:<input type="checkbox" name="active"  <?php if($banner['active'] == 1) echo "checked" ?> ><br><br>

                            Расположение:
                            <br>
                            <label><input type="radio" name="position" value="left" checked>Слева</label>
                            <label><input type="radio" name="position" value="right" >Справа</label>
                            <hr>

                            <label><input type="checkbox" name="controller[]" value="main" <?php if(strpos($banner['controller'], 'ain')) echo "checked" ?>>Везде</label>
                            <label><input type="checkbox" name="controller[]" value="catalog" <?php if(strpos($banner['controller'], 'atalog')) echo "checked" ?>>В каталоге</label>
                            <label><input type="checkbox" name="controller[]" value="leftovers" <?php if(strpos($banner['controller'], 'eftovers')) echo "checked" ?>>В остатках</label>
                            <label><input type="checkbox" name="controller[]" value="my" <?php if(strpos($banner['controller'], 'my')) echo "checked" ?>>В личном кабинете</label><br><br>

                            Ссылка:<br>
                            <label class="radio-inline">
                                <input type="radio" class="js_link" name="link" value="1" checked="" > На текстовый блок
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="js_link" name="link" value="2" > На форму заказа 
                            </label>
                            <label class="radio-inline">
                                <input type="radio" class="js_link" name="link" value="3" > Внешняя 
                            </label>
                            <br><br>

                            <input type="text" readonly class="form-control" id='url_link' name="url" value="#info_text"> 

                            <br>
                            Загрузить изображение (500х100):
                            <input class="btn btn-default fileInput" name="image" type="file" accept=".jpg,.jpeg,.png" style="width: 100%;text-align:left;" />

                            <br>Описание:<br>
                            <textarea class="form-control" id="desc" name="desc" rows="5">
                                <?php echo isset($banner['text_bb']) ? $banner['text_bb'] : 'не указано' ?></textarea>

                            <hr>
                            <label> Фильтрация по городу <input type="checkbox" id="city_filtration" name="city_filtration"  <?php if($banner['city_name'] != ''): ?>checked<?php endif; ?>> </label>                            
                            <div class="row" style="margin-top: 10px; <?php if($banner['city_name'] == ''): ?>display:none<?php endif; ?>" id="city_filter">

                                <?php if($banner['city_name'] != ''): ?>
                                        <div class="col-md-9">
                                            Отображается в городе: <b><?= $banner['city_name'] ?></b>
                                        </div>
                                    <?php endif; ?>
                                <br>
                                <br>                                

                                <div class="form-group">
                                    <label for="autocomplete" class="col-md-2 control-label">По городу</label>
                                    <div class="col-md-9">
                                        <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="Название населённого пункта" />
                                        <input type="hidden" name="placelat" id="placelat" />
                                        <input type="hidden" name="placelng" id="placelng" />
                                        <input type="hidden" name="placeid" id="placeid" />
                                        <input type="hidden" name="placeaddr" id="placeaddr" />
                                        <input type="hidden" name="placetown" id="locality" />
                                        <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                        <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                        <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                        <input type="hidden" name="placecountry" id="country" />
                                        <input type="hidden" name="placeroute" id="route" />
                                        <input type="hidden" name="placextra" id="sublocality_level_1" />
                                    </div>
                                    <div class="col-md-9">
                                        Радиус поиска: 
                                        <input type="text"  class="form-control"  style="width: 44px; display: initial" readonly="" value="<?= $banner['city_distance'] > 0 ? $banner['city_distance'] : 20 ?>" id="distance" name="distance"> км
                                        <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="width:400px; margin-top: 15px; margin-bottom: 10px;"></div>
                                    </div>
                                </div>                            
                            </div>

                            <center> <p onclick="$('#spec').slideDown(); $(this).hide(); $('#hide_spec').show();" id="show_spec" style="    font-weight: 700; font-size: 16px; cursor: pointer; padding-top: 15px; padding-bottom: 10px; ">Отобразить список категорий</p></center>

                            <center> <p onclick="$('#spec').slideUp(); $(this).hide(); $('#show_spec').show()" id="hide_spec" style="font-weight: 700; display: none; font-size: 16px; cursor: pointer; padding-top: 15px; padding-bottom: 10px; ">Скрыть список</p></center>

                            <div style="display: none;" id="spec">

                                <table class="table table-hover table-striped" >
                                    <tbody>
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">Специальности</th>
                                            <th style="text-align: center;">Подспециальности</th> 
                                        </tr>
                                    </thead>
                                    <tr>
                                        <th style="text-align: center;width: 50%; text-align: left;">
                                            <?php foreach ($main_spec as $key => $value): ?>
                                                    <label><input type="checkbox" name="main_spec[]" value="<?= $value['id'] ?>" ><?= $value['type_name'] ?></label> - <span class="glyphicon glyphicon-eye-open js_open_sub_spec" style="cursor: pointer" spec_name="<?= $value['type_name'] ?>" data="<?= $value['id'] ?>"></span> <br>
                                                <?php endforeach; ?>
                                        </th>
                                        <th style="text-align: center; width: 50%; text-align: left;">
                                            <?php foreach ($sub_spec as $key => $value): ?>
                                                    <div style="display:none;" class="js_sub_spec" parent="<?= $value['type_id'] ?>"><label><input type="checkbox" name="sub_spec[]" value="<?= $value['id'] ?>"><?= $value['spec_name'] ?></label></div>
                                                <?php endforeach; ?>     
                                        </th> 
                                    </tr>


                                    </tbody>
                                </table>


                            </div>

                            <input type="submit" value="Сохранить" class="btn btn-success btn-lg"> 

                        </form>
                    </div>



                </div>
            </div>
        </div>
        <?php //var_dump($time1, $time2)?>
        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.wysibb.min.js"></script>
        <script src="<?php echo $url ?>/js/wbblang/ru.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
        <script type="text/javascript">

                                $('#city_filtration').on('change', function () {
                                    if ($(this).prop('checked') == true)
                                        $('#city_filter').slideDown();
                                    else
                                        $('#city_filter').slideUp();

                                })

                                $("#slider").slider({
                                    min: 10,
                                    max: 60,
                                    values: [20],
                                    step: 10,
                                    range: false, // диапазон,
                                    slide: function (event, ui) {
                                        $("#distance").val(ui.value);
                                    }
                                });

                                $(".js_open_sub_spec").on("click", function () {
                                    var parent = $(this).attr('data');
                                    var name = $(this).attr('spec_name');
                                    $('.js_sub_spec').hide();
                                    $("[parent='" + parent + "']").show();
                                });

                                var wbbOpt = {
                                    lang: "ru",
                                    smileList: false,
                                    resize_maxheight: 1200,
                                    //buttons: 'bold,italic,underline,|,bullist,numlist,|,justifyleft,justifycenter,justifyright'
                                }
                                $('#desc').wysibb(wbbOpt);

                                $(".js_link").on('click', function () {
                                    if ($(this).attr("value") == 1) {
                                        $("#url_link").val("#info_text").attr("readonly", true);
                                    } else if ($(this).attr("value") == 2) {
                                        $("#url_link").val("doOpenInfo()").attr("readonly", true);
                                    } else {
                                        $("#url_link").val("").attr("readonly", false);
                                    }
                                });

                                var placeSearch, autocomplete;
                                function initAutocomplete() {
                                    var tmp = $('#autocomplete');
                                    if (tmp.length) {
                                        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                                        autocomplete.addListener('place_changed', fillInAddress);
                                    }
                                }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>
    </body>
</html>