<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/wbbtheme.css" media="all" />
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">

                    Выберите специальность:

                    <table class="table table-hover table-striped text-center" >
                        <tbody>
                        <thead>
                            <tr>
                                <th style="text-align: center;">Специальности</th>
                                <th style="text-align: center;">Параметры фильтра</th> 
                            </tr>
                        </thead>

                        <tr>

                            <th style="text-align: center;width: 50%; text-align: left;">
                                <?php foreach ($main_spec as $key => $value): ?>
                                        <label>
                                            <?= $value['type_name'] ?>
                                        </label> - 
                                        <span class="glyphicon glyphicon-eye-open js_open_text"
                                              style="cursor: pointer"
                                              spec_id ="<?= $value['id'] ?>"
                                              ></span> <br>
                                          <?php endforeach; ?>
                            </th>
                            <th style="text-align: center; width: 50%; text-align: left; background: white">                        
                                <div id="js_filter_form" style="text-align:center">
                                    Фильтр по умолчанию (если специализация не выбрана)
                                </div>    
                                <table class="table table-hover table-striped text-center" border="2" style="width: 50%; margin: 0 auto">
                                    <tr>
                                        <td>Диапазон звезд (1 - 10)</td>
                                        <td>Диапазон просмотров (%)</td>
                                        <td>Диапазон входов (%)</td>                                    
                                    </tr>
                                    <tr >
                                        <td >
                                            <input name="stars_min" placeholder="min%" value="<?= $filter['stars_min'] ? $filter['stars_min'] : '' ?>" >
                                            <input name="stars_max" placeholder="max%" value="<?= $filter['stars_max'] ? $filter['stars_max'] : '' ?>">
                                        </td>
                                        <td>
                                            <input class="js_max_input" name="views_min" placeholder="min%" value="<?= $filter['views_min'] ? $filter['views_min'] : '' ?>">
                                            <input class="js_max_input" name="views_max" placeholder="max%" value="<?= $filter['views_max'] ? $filter['views_max'] : '' ?>">
                                        </td>
                                        <td>
                                            <input class="js_max_input" name="logins_min" placeholder="min%" value="<?= $filter['logins_min'] ? $filter['logins_min'] : '' ?>">
                                            <input class="js_max_input" name="logins_max" placeholder="max%" value="<?= $filter['logins_max'] ? $filter['logins_max'] : '' ?>">
                                        </td>                                    
                                    </tr>
                                </table>
                                <br>
                                <div style="text-align: center">
                                    Лимит подмешивания : <input name="limit_max" placeholder="Максимальное количество" value="<?= $filter['limit_max'] ? $filter['limit_max'] : '' ?>">
                                </div>
                                <br>
                                <div style="text-align: center">
                                    Только с фото : <input type="checkbox" name="photo_priority" <?php if ($filter['photo_priority'] == 1): ?> checked <?php endif; ?>>
                                </div>
                                <hr>
                                
                                <input type="hidden" id="spec_id" name="spec_id" value="0" >                        
                                <br>
                                <div style="text-align: center">
                                    <input  type="submit" value="Сохранить" class="btn btn-success btn-lg" id="js_save_data" data_id="">
                                </div>
                                <br><br>
                                <span style="color:gray;">
                                    <ul>
                                        <li>Выбрать в левом меню специализацию</li>
                                        <li>Указать диапазоны значений для подмешивания в основной поиск</li>
                                        <li>Указать максимальное кол-во подмешиваемых строителей, подходящих под указанные диапазоны значений</li>
                                        <li>Нажать сохранить</li>
                                    </ul>
                                </span>

                                Скрипт отберет всех строителей согласно фильтра (максимум можно указать в лимите подмешивания). Все отобранных строителей скрипт смешает со строителями, которые были выбраны стандартной логикой сайта (по верхней и/или нижней специализации и по городу) и покажет пользователю
                            </th> 
                        </tr> 

                        </tbody>
                    </table>


                </div>
            </div>
        </div>
        <?php //var_dump($time1, $time2)?>
        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.wysibb.min.js"></script>
        <script src="<?php echo $url ?>/js/wbblang/ru.js"></script>
        <script type="text/javascript">
            var wbbOpt = {
                lang: "ru",
                smileList: false,
                resize_maxheight: 1200,
                buttons: 'bold,italic,underline,|,bullist,numlist,|,justifyleft,justifycenter,justifyright'
            }
            $('#desc').wysibb(wbbOpt);


            $(".js_open_text").on("click", function () {
                var spec_id = $(this).attr("spec_id");
                $("#spec_id").val(spec_id);
                $.getJSON(window.location.href, {spec_id: spec_id, filter_data: 1}, function (result) {
                    if (result) {
                        $("[name='stars_min']").val(result.stars_min);
                        $("[name='stars_max']").val(result.stars_max);
                        $("[name='views_min']").val(result.views_min);
                        $("[name='views_max']").val(result.views_max);
                        $("[name='logins_min']").val(result.logins_min);
                        $("[name='logins_max']").val(result.logins_max);
                        $("[name='limit_max']").val(result.limit);
                        if(result.photo_priority==1)
                            $("[name='photo_priority']").prop('checked',true);        
                        else
                            $("[name='photo_priority']").prop('checked',false);  

                    } else {
                        $("[name='stars_min']").val('');
                        $("[name='stars_max']").val('');
                        $("[name='views_min']").val('');
                        $("[name='views_max']").val('');
                        $("[name='logins_min']").val('');
                        $("[name='logins_max']").val('');
                        $("[name='limit_max']").val('');
                        $("[name='photo_priority']").prop('checked',false);  
                    }
                });
            });

            $(".js_max_input").on("change", function () {
                if ($(this).val() > 100) {
                    $(this).val(100);
                }
            });

            $("#js_save_data").on("click", function (e) {

                spec_id = $("#spec_id").val();
                stars_min = $("[name='stars_min']").val();
                stars_max = $("[name='stars_max']").val();
                views_min = $("[name='views_min']").val();
                views_max = $("[name='views_max']").val();
                logins_min = $("[name='logins_min']").val();
                logins_max = $("[name='logins_max']").val();
                limit_max = $("[name='limit_max']").val();
                photo_priority = $("[name='photo_priority']").prop('checked') === true ? 1 : 0;
                               
                $.post(window.location.href, {save_data: 1, spec_id: spec_id, stars_min: stars_min, stars_max: stars_max, views_min: views_min, views_max: views_max, logins_min: logins_min, logins_max: logins_max, limit_max: limit_max, photo_priority:photo_priority}, function (res) {
                    if (res == 'success') {
                        alert("Данные успешно обновлены!");
                    }
                });

            });


        </script>

    </body>
</html>