<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="col-md-12" style="padding-bottom: 15px;" >
                        <button class="btn btn-success btn-lg" onclick="window.open('<?php echo $url ?>/workz/rotator/create')">Создать баннер</button> 
                    </div>



                    <?php if(count($all_banners) > 0): ?>
                            <div class="col-md-12">
                                <?php foreach ($all_banners as $key => $value): ?>
                                    <ul class="list-group">
                                        <li class="list-group-item text-warning">
                                            <div class="row">
                                                <div class="col-sm-8">
                                                    <?= $value['name'] ?>
                                                </div>
                                                <div class="col-sm-8">
                                                    <?= $value['text'] ?>
                                                </div>
                                                <div class="col-md-4">
                                                    <ul class="list-inline pull-right">
                                                        <li><a href="<?php echo $url ?>/workz/rotator/edit/<?= $value['id'] ?>" target="_blank" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                                                        <li><a href="<?php echo $url ?>/workz/rotator/delete/<?= $value['id'] ?>" onclick="return confirmAdmin('order')" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                <?php endforeach; ?>

                            </div>
                        <?php else: ?>
                            <center>Нет созданных баннеров!</center>
                    <?php endif; ?>


                </div>
            </div>
        </div>
        <?php //var_dump($time1, $time2)?>
        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
    </body>
</html>