<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/wbbtheme.css" media="all" />
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">

                    Выберите специальность:
                    <form method="post">
                        <table class="table table-hover table-striped" >
                            <tbody>
                            <thead>
                                <tr>
                                    <th style="text-align: center;">Специальности</th>
                                    <th style="text-align: center;">Текстовый блок</th> 
                                </tr>
                            </thead>

                            <tr>

                                <th style="text-align: center;width: 50%; text-align: left;">
                                    <?php foreach ($main_spec as $key => $value): ?>
                                            <label>
                                                <?= $value['type_name'] ?>
                                            </label> - 
                                            <span class="glyphicon glyphicon-eye-open js_open_text"
                                                  style="cursor: pointer"
                                                  spec_id ="<?= $value['id'] ?>"
                                                  ></span> <br>
                                              <?php endforeach; ?>
                                </th>
                                <th style="text-align: center; width: 50%; text-align: left; background: white">
                                    Активен:<input type="checkbox" name="active" id="active"><br><br>
                                    <textarea class="form-control" id="desc" name="desc" rows="5"></textarea>  
                                    <input type="hidden" id="spec_id" name="spec_id" >
                                    <input type="hidden" id="text_block_id" name="text_block_id" >
                                    <br><br>
                                    <div style="text-align: center"><input style="display: none" type="submit" value="Сохранить" class="btn btn-success btn-lg" id="subbmit_btn" data_id=""> </div>

                                </th> 
                            </tr> 

                            </tbody>
                        </table>
                    </form>   

                </div>
            </div>
        </div>
        <?php //var_dump($time1, $time2)?>
        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.wysibb.min.js"></script>
        <script src="<?php echo $url ?>/js/wbblang/ru.js"></script>
        <script type="text/javascript">
            var wbbOpt = {
                lang: "ru",
                smileList: false,
                resize_maxheight: 1200,
                buttons: 'bold,italic,underline,|,bullist,numlist,|,justifyleft,justifycenter,justifyright'
            }
            $('#desc').wysibb(wbbOpt);


            $(".js_open_text").on("click", function () {
                var spec_id = $(this).attr("spec_id");
                $("#spec_id").val(spec_id);
                $.getJSON("/workz/rotator/text_order", {spec_id: spec_id}, function (result) {
                    if (result) {
                        $('.wysibb-body span').html(result['textBB']);
                        $("#subbmit_btn").fadeIn();
                        $("#text_block_id").val(result['id']);
                        if (result['active'] == 1) {
                            $("#active").prop("checked", true);
                        } else {
                            $("#active").prop("checked", false);
                        }
                    }
                });
            });

        </script>

    </body>
</html>