<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/wbbtheme.css" media="all" />
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">            
                    <div class="col-md-12">


                        <form class="form-horisontal" method="post" enctype="multipart/form-data">
                            Название: <input type="text" class="form-control" name="name" value="<?= $banner['name'] ?>">
                            <br>
                            Активен:<input type="checkbox" name="active"  <?php if($banner['active'] == 1) echo "checked" ?> ><br><br>



                            <label><input type="checkbox" name="controller[]" value="main" <?php if(strpos($banner['controller'], 'ain')) echo "checked" ?>>Везде</label>
                            <label><input type="checkbox" name="controller[]" value="catalog" <?php if(strpos($banner['controller'], 'atalog')) echo "checked" ?>>В каталоге</label>
                            <label><input type="checkbox" name="controller[]" value="leftovers" <?php if(strpos($banner['controller'], 'eftovers')) echo "checked" ?>>В остатках</label>
                            <label><input type="checkbox" name="controller[]" value="my" <?php if(strpos($banner['controller'], 'my')) echo "checked" ?>>В личном кабинете</label><br><br>

                            <br>Описание:<br>
                            <textarea class="form-control" id="desc" name="desc" rows="5">
                                <?php echo isset($banner['text_bb']) ? $banner['text_bb'] : 'не указано' ?></textarea>

                            <center> <p onclick="$('#spec').slideDown(); $(this).hide(); $('#hide_spec').show();" id="show_spec" style="    font-weight: 700; font-size: 16px; cursor: pointer; padding-top: 15px; padding-bottom: 10px; ">Отобразить список категорий</p></center>

                            <center> <p onclick="$('#spec').slideUp(); $(this).hide(); $('#show_spec').show()" id="hide_spec" style="font-weight: 700; display: none; font-size: 16px; cursor: pointer; padding-top: 15px; padding-bottom: 10px; ">Скрыть список</p></center>

                            <div style="display: none;" id="spec">

                                <table class="table table-hover table-striped" >
                                    <tbody>
                                    <thead>
                                        <tr>
                                            <th style="text-align: center;">Специальности</th>
                                            <th style="text-align: center;">Подспециальности</th> 
                                        </tr>
                                    </thead>
                                    <tr>
                                        <th style="text-align: center;width: 50%; text-align: left;">
                                            <?php foreach ($main_spec as $key => $value): ?>
                                                    <label><input type="checkbox" name="main_spec[]" value="<?= $value['id'] ?>" ><?= $value['type_name'] ?></label> - <span class="glyphicon glyphicon-eye-open js_open_sub_spec" style="cursor: pointer" spec_name="<?= $value['type_name'] ?>" data="<?= $value['id'] ?>"></span> <br>
                                                <?php endforeach; ?>
                                        </th>
                                        <th style="text-align: center; width: 50%; text-align: left;">
                                            <?php foreach ($sub_spec as $key => $value): ?>
                                                    <div style="display:none;" class="js_sub_spec" parent="<?= $value['type_id'] ?>"><label><input type="checkbox" name="sub_spec[]" value="<?= $value['id'] ?>"><?= $value['spec_name'] ?></label></div>
                                                <?php endforeach; ?>     
                                        </th> 
                                    </tr>


                                    </tbody>
                                </table>


                            </div>

                            <input type="submit" value="Сохранить" class="btn btn-success btn-lg"> 

                        </form>
                    </div>



                </div>
            </div>
        </div>
        <?php //var_dump($time1, $time2)?>
        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.wysibb.min.js"></script>
        <script src="<?php echo $url ?>/js/wbblang/ru.js"></script>
        <script type="text/javascript">

                                $(".js_open_sub_spec").on("click", function () {
                                    var parent = $(this).attr('data');
                                    var name = $(this).attr('spec_name');
                                    $('.js_sub_spec').hide();
                                    $("[parent='" + parent + "']").show();
                                });

                                var wbbOpt = {
                                    lang: "ru",
                                    smileList: false,
                                    resize_maxheight: 1200,
                                    buttons: 'bold,italic,underline,|,bullist,numlist,|,justifyleft,justifycenter,justifyright'
                                }
                                $('#desc').wysibb(wbbOpt);
        </script>
        <script>
            $(".js_link").on('click', function () {
                if ($(this).attr("value") == 1) {
                    $("#url_link").val("#info_text").attr("readonly", true);
                } else {
                    $("#url_link").val("").attr("readonly", false);
                }
            });
        </script>
    </body>
</html>