<div class="row text-center">
    <?php if(is_array($users)): ?>
            <?php foreach ($users as $key => $user): ?>
                <div class="col-md-6 ">
                    <?= $user['user_name'] ?>
                </div>
                <div class="col-md-6">
                    <?= $user['user_phone'] ?>
                </div>
            <?php endforeach; ?>
        <?php endif; ?>
</div>