<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <strong><i class="glyphicon glyphicon-dashboard"></i> Активность</strong>
                    <hr>
                    <p class="text-warning">Последние заявки</p>

                    <div class="row">
                        <div class="col-md-12">

                            <?php
                                if($orders) {
                                    foreach ($orders as $o) {
                                        ?>

                                        <ul class="list-group">
                                            <li class="list-group-item text-warning">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <?php if($o['close_date'] || $o['finish_date'] < time()) echo '<span class="glyphicon glyphicon-lock text-danger"></span>' ?>
                                                        <?php echo $o['order_date'] ?> <strong><?php echo $o['descr_short'] ?>...</strong><br />
                                                        
                                                            <?php if($o['show_is_old'] == 0): ?>
                                                                Стандартная логика заказа
                                                            <?php elseif($o['show_is_old'] == 1): ?>
                                                                Отображать данные заказчика авторизованным 
                                                            <?php elseif($o['show_is_old'] == 2): ?>
                                                                Отображать данные заказчика не авторизованным  
                                                            <?php elseif($o['show_is_old'] == 3): ?>
                                                                Отображать данные заказчика всем
                                                            <?php endif; ?>
                                                            <br>
                                                            <small>
                                                                <span class="glyphicon glyphicon-wrench"></span> <?php
                                                                if($o['spec_name'])
                                                                    echo $o['spec_name'], ' <span>(', $o['type_name'], ')</span>';
                                                                else
                                                                    echo '<span class="text-danger">заявка не заполнена</span>';
                                                                ?><br />
                                                                <span class="glyphicon glyphicon-map-marker"></span>
                                                                <?php echo $o['route'], ' ', $o['town'], ' ', $o['district'], ' ', $o['region'] ?>
                                                            </small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="list-inline pull-right">
                                                            <li><a href="<?php echo $url ?>/workz/orders/view/<?php echo $o['id'] ?>" target="_blank" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                                                            <li><a href="<?php echo $url ?>/workz/orders/delete/<?php echo $o['id'] ?>" onClick="return confirmAdmin('order')" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <?php
                                    }
                                }
                            ?>
                            <div class="text-center"><a href="<?php echo $url ?>/workz/orders" class="btn btn-default"><span class="glyphicon glyphicon-list-alt text-warning"></span> &nbsp; Посмотреть все заявки</a></div>

                        </div>
                    </div>
                    <br />

                    <hr>
                    <p class="text-success">Новые пользователи</p>
                    <div class="row">
                        <div class="col-md-12">

                            <?php
                                if($workers) {
                                    foreach ($workers as $w) {
                                        ?>

                                        <ul class="list-group">
                                            <li class="list-group-item text-success">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <?php if($w['stars'] == 10) echo '<span class="glyphicon glyphicon-star text-danger"></span>' ?>

                                                        <strong><?php echo $w['user_name'] ?></strong>

                                                        <?php if($w['user_role_id'] == 3): ?>
                                                            (заказчик)
                                                        <?php elseif($w['user_role_id'] == 4): ?>
                                                            (<span class="glyphicon glyphicon-wrench text-success"></span> строитель)
                                                        <?php elseif($w['user_role_id'] == 5): ?>
                                                            (<span class="glyphicon glyphicon-wrench text-success"></span> бригада)
                                                        <?php elseif($w['user_role_id'] == 6): ?>
                                                            (<span class="glyphicon glyphicon-wrench text-success"></span> строительная фирма)
                                                        <?php endif; ?>

                                                        &nbsp; <small>рег: <?php echo $w['user_reg_date'] ?> <?= $w['user_reg_device'] == "mobile" ? "С мобилки" : "С компьютера" ?></small>
                                                        <?php if(!$w['place_id']) echo '<br /><span class="text-danger">Адрес не указан</span>'; ?>
                                                        <?php if(!$w['speckey'] && $w['user_role_id'] > 3) echo '<br /><span class="text-danger">не указана специализация!</span>' ?>
                                                        <br />
                                                        <?php
                                                        echo $w['user_email'];
                                                        if(!$w['is_confirmed'])
                                                            echo ' <small class="text-danger">неподтверждён</small>'
                                                            ?>, <?php
                                                        if(!$w['user_phone'])
                                                            echo ' <small class="text-danger">телефон не указан</small>';
                                                        else
                                                            echo $w['user_phone']
                                                            ?>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="list-inline pull-right">
                                                            <li><a href="<?php echo $url ?>/workz/users/view/<?php echo $w['uid'] ?>" target="_blank" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                                                            <li><a href="<?php echo $url ?>/workz/users/delete/<?php echo $w['uid'] ?>" onClick="return confirmAdmin('user')" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <?php
                                    }
                                }
                            ?>
                            <div class="text-center"><a href="<?php echo $url ?>/workz/users" class="btn btn-default"><span class="glyphicon glyphicon-wrench text-success"></span> &nbsp; Посмотреть всех пользователей</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <?php //var_dump($time1, $time2)   ?>
        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
    </body>
</html>