<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Список городов</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>
                    <form method="get" id="search-form" class="form-horisontal">
                        <div class="row">
                            <div class="col-sm-6">
                                <select name="region" class="form-control" id="region">
                                    <option value="0">-- Выберите область --</option>

                                    <?php
                                        if($regions)
                                            foreach ($regions as $tc) {
                                                ?>

                                                <option value="<?php echo $tc['id'] ?>"<?php if(isset($region_id) && $region_id == $tc['id']) echo ' selected' ?>><?php echo $tc['ru_region_name'] ?></option>

                                            <?php } ?>

                                </select>
                                <div class="blank15"></div>
                            </div>
                            <div class="col-sm-6">
                                <select name="district" class="form-control" id="district">
                                    <option value="0">-- Выберите район --</option>

                                    <?php
                                        if(isset($districts) && $districts)
                                            foreach ($districts as $dc) {
                                                ?>
                                                <option value="<?php echo $dc['id'] ?>"<?php if(isset($district_id) && $district_id == $dc['id']) echo ' selected' ?>><?php echo $dc['district_name'] ?></option>
                                            <?php } ?>

                                </select>
                                <div class="blank15"></div>
                            </div>
                        </div>
                        <div class="submit">
                            <button class="btn btn-success btn-lg" id="do-submit-btn">Искать</button>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12">

                            <?php
                                if(isset($list) && $list) {
                                    echo '<div class="blank15"></div>';
                                    foreach ($list as $l) {
                                        ?>

                                        <div class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <?php
                                                    echo '<strong>', $l['place_town'], '</strong> <small>', $l['place_district'], ', ', $l['place_region'], '</small>';
                                                    ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blank15"></div>

                                        <?php
                                    }
                                }
                            ?>

                            <?php if(isset($error)) echo '<div class="blank15"></div><div class="text-center text-danger">Города не найдены</div>' ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script type="text/javascript">
            var crntPage = 'admin';
            $('#district').remoteChained({
                parents: '#region',
                url: '/workz/city/districts',
                loading: '...'
            });
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
    </body>
</html>