<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
        <style>
            .specs li { margin-bottom:10px; }
            .fastlink { list-style: none; font-size: 12px; background-color: #eee; padding: 15px 15px 0 15px;}
            .fastlink li { display: inline-block; margin: 0 15px 15px 0; }
        </style>
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Список городов каталога</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">

                            <?php
// List of specializations
                                if($top_cities) {
                                    foreach ($top_cities as $tc) {
                                        ?>

                                        <div class="col-xs-12">
                                            <p style="font-weight: bold;"><?php echo $tc['name'] ?> <!--&nbsp; <a href="<?php echo $url, '/workz/spec/topedit/', $tc['id'] ?>"><span class="glyphicon glyphicon-pencil"></span></a--></p>
                                            <div class="blank5"></div>
                                            <ul class="specs">
                                                <?php
                                                if(isset($sub_cities['sub' . $tc['id']])) {
                                                    foreach ($sub_cities['sub' . $tc['id']] as $sc) {
                                                        ?>
                                                                                <li><?php echo $sc['name'] ?> <!--&nbsp; <a href="<?php //echo $url, '/workz/spec/subedit/', $sc['spec_id']  ?>"><span class="glyphicon glyphicon-pencil"></span></a--></li>
                                                    <?php } ?>
                                                </ul>
                                            <?php } else echo 'Нет рaйонов' ?>
                                        </div>
                                        <div class="blank25"></div>

                                        <?php
                                    }
                                } // end list
                            ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script type="text/javascript">
            var crntPage = 'admin';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
    </body>
</html>