<!DOCTYPE html>

<html lang="ru">

    <head>
        <meta name="robots" content="noindex">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="language" content="ru" />
        <title>budmisto</title>
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/budmisto.css" />
    </head>

    <body>

        <div id="page-body">

            <div class="blank5"></div>
            <div class="container header size100">
                <div class="logo center">
                    <a href="<?php echo $url ?>/"><img src="<?php echo $url ?>/images/logo.png" alt="Будмісто" /></a>
                </div>
            </div>

            <div class="blank15"></div>

            <div class="container content size100">
                <div class="title">Work Zone</div>
                <div class="blank10"></div>
                <?php if(isset($fuck)) { ?>

                        <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:10px;">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <big><?php echo $t->_('l_login_err') ?></big>
                        </div>
                        <div class="blank10"></div>
                    <?php } ?>
                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <div class="block-border">
                            <form method="post" name="workz-form" id="workz-form" class="form-horizontal">
                                <input type="hidden" id="csrf-token">
                                <strong>Loгин</strong>
                                <div class="blank5"></div>
                                <input type="text" name="name" id="name" class="form-control" required="required">
                                <strong>Паssword</strong>
                                <div class="blank5"></div>
                                <input type="password" name="surname" id="surname" class="form-control" required="required">
                                <div class="blank15"></div>
                                <div class="submit">
                                    <button class="btn btn-success btn-lg" onclick="return doFormSubmit('workz-form', 'name|surname');">велкам</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="blank50"></div>

        </div>

        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.scrollup.min.js"></script>

        <script type="text/javascript">
                                        var crntPage = 'work';
                                        var lang = 'ru';
                                        var langFiedsEmpty = 'Не заполнены поля';
                                        var langErrorToken = 'Ошибка токена';
                                        var langErrorLogin = 'Пользователь не найден или ошибочный пароль';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

    </body>
</html>