<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Добавить заявку</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $back_url ?>" class="btn btn-default"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <form method="post" id="add-form" class="form-horisontal">
                                <input type="hidden" id="csrf-token">
                                <input type="hidden" id="user-id" name="users_id">
                                <p>
                                    <strong>Заявка от пользователя</strong>
                                <div class="blank5"></div>
                                <input type="phone" id="phone" class="form-control" name="phone" placeholder="Введите телефон пользователя" />
                                </p>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="blank10"></div>
                                        <strong>Описание заявки</strong>
                                        <div class="blank5"></div>
                                        <textarea class="form-control" rows="5" id="desc" name="desc" placeholder=""></textarea>
                                        <div class="blank15"></div>
                                        <strong>Населённый пункт</strong>
                                        <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="Можно указывать только город или район города" value="" />
                                        <input type="hidden" name="placelat" id="placelat" />
                                        <input type="hidden" name="placelng" id="placelng" />
                                        <input type="hidden" name="placeid" id="placeid" />
                                        <input type="hidden" name="placeaddr" id="placeaddr" />
                                        <input type="hidden" name="placetown" id="locality" />
                                        <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                        <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                        <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                        <input type="hidden" name="placecountry" id="country" />
                                        <input type="hidden" name="placeroute" id="route" />
                                        <input type="hidden" name="placextra" id="sublocality_level_1" />
                                        <input type="hidden" name="chplace" id="chplace" value="0" />
                                        <div class="blank15"></div>

                                        <div class="block-border">
                                            <div class="blank5"></div>
                                            <strong>Специализация</strong>
                                            <div class="blank5"></div>
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <select name="speciality" class="form-control" id="tid">
                                                        <option value="0">-- Выберите вид работ --</option>

                                                        <?php
                                                            if($top_catalog)
                                                                foreach ($top_catalog as $tc) {
                                                                    ?>

                                                                    <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>

                                                                <?php } ?>

                                                    </select>
                                                    <div class="blank15"></div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <select name="subspeciality" class="form-control" id="sid">
                                                        <option value="0">-- Уточните вид работ --</option>
                                                    </select>
                                                    <div class="blank15"></div>
                                                </div>
                                            </div>
                                            <strong>Бюджет</strong>
                                            <div class="blank5"></div>
                                            <select name="budget" class="form-control" id="bugdet">
                                                <option value="0">-- Укажите бюджет --</option>

                                                <?php foreach ($budget_list as $b) { ?>
                                                        <option value="<?php echo $b['id'] ?>"><?php echo $b['budget_name'] ?></option>
                                                    <?php } ?>

                                            </select>
                                            <div class="blank15"></div>
                                            <strong>Ограничение количества звонков</strong>
                                            <div class="blank5"></div>
                                            <select name="limcall" class="form-control" id="calls">
                                                <option value="0">-- Укажите количество звонков --</option>

                                                <?php
                                                    $call_count = array_reverse($call_count);
                                                    foreach ($call_count as $c) {
                                                        ?>
                                                        <option value="<?php echo $c['id'] ?>"><?php echo $c['count_name'] ?></option>
                                                    <?php } ?>

                                            </select>
                                            <div class="blank15"></div>
                                            <strong>Когда начинать работу</strong>
                                            <div class="blank5"></div>
                                            <select name="start" class="form-control" id="start">
                                                <option value="0">-- Укажите время начала --</option>

                                                <?php foreach ($when_list as $w) { ?>
                                                        <option value="<?php echo $w['id'] ?>"><?php echo $w['when_name'] ?></option>
                                                    <?php } ?>

                                            </select>
                                            <div class="blank15"></div>
                                            <strong>Срок актуальности заявки</strong>
                                            <div class="blank5"></div>
                                            <select name="period" class="form-control" id="period">
                                                <option value="7">7 дней</option>
                                                <option value="14">14 дней</option>
                                                <option value="30">Месяц</option>
                                            </select>

                                        </div>
                                    </div>
                                </div>
                                <div class="blank25"></div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="submit">
                                            <button class="btn btn-success btn-lg" id="do-submit-btn">Добавить заявку</button>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script type="text/javascript">
            var crntPage = 'admin';
            var langFiedsEmpty = 'Не заполнены обязательные поля';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <script type="text/javascript">
            $('#phone').mask('(999) 999-99-99');
            $('#do-submit-btn').on('click', function (e) {
                $('#user-id').val('');
                e.preventDefault();
                var phone = $('#phone').val();
                if (!phone) {
                    alertBM.alert('Введите телефон пользователя');
                    return false;
                }

                $.ajax({
                    type: 'post',
                    url: '/workz/phoneexist',
                    data: {phone: phone},
                    success: function (result) {
                        if (result.indexOf('AllBad') !== -1) {
                            alertBM.alert('Телефон не найден!');
                        } else {
                            result = result.replace(/\t/g, '');
                            $('#user-id').val(result);
                            doFormSubmit('add-form', 'desc|locality|tid|sid|bugdet|calls|start');
                        }
                    },
                    error: function () {
                        alertBM.alert('SYSTEM FAILURE');
                    }
                });

                /*
                 $.ajax({
                 type: 'post',
                 url: '/workz/emailexist',
                 data: {mail: email},
                 success: function (result) {
                 if (result.indexOf('AllBad') !== -1) {
                 alertBM.alert('E-mail не найден!');
                 } else {
                 result = result.replace(/\t/g, '');
                 $('#user-id').val(result);
                 doFormSubmit('add-form', 'desc|locality|tid|sid|bugdet|calls|start');
                 }
                 },
                 error: function () {
                 alertBM.alert('SYSTEM FAILURE');
                 }
                 });
                 */
            });
        </script>

        <script type="text/javascript">
            var placeSearch, autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                autocomplete.addListener('place_changed', fillInAddress);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>
    </body>
</html>