<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Работа с заявкой</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/orders/view/<?php echo $next_id ?>" class="btn btn-default" title="Следующая"><span class="glyphicon glyphicon-arrow-right"></span></a> &nbsp;
                            <a href="<?php echo $back_url ?>" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-md-7">
                                    <h4>Заявка <span>от <?php echo $order['order_date'] ?></span>
                                        <?php if($order['compare_materials'] == 1): ?>
                                                <div class="blank10"></div> 
                                                <span style="color:green"><u>(Сравнивать стоимость материалов)</u></span>
                                                <textarea class="form-control" placeholder="Перечислите материалы..." readonly=""><?= $order['compare_materials_notes'] ?></textarea>
                                            <?php endif; ?>
                                    </h4>

                                    <div class="blank10"></div>     
                                    Отключение премиум логики по давности заказа:                                 

                                    <select class="form-control js_set_old_status">
                                        <option value="0" <?php if($show_is_old == 0): ?>selected<?php endif; ?>>Стандартная логика заказа</option>
                                        <option value="1" <?php if($show_is_old == 1): ?>selected<?php endif; ?>>Отображать данные заказчика авторизованным</option>
                                        <option value="2" <?php if($show_is_old == 2): ?>selected<?php endif; ?>>Отображать данные заказчика не авторизованным</option>
                                        <option value="3" <?php if($show_is_old == 3): ?>selected<?php endif; ?>>Отображать данные заказчика всем</option>
                                    </select>


                                    <div class="blank10"></div>     
                                    Автоматическая отправка СМС:
                                    <?php if($sms_status): ?>
                                            <button class="btn btn-success btn-sm js_set_sms_status" val="0">Активна</button>
                                        <?php else: ?>
                                            <button class="btn btn-danger btn-sm js_set_sms_status" val="1">Отключена</button>
                                    <?php endif; ?>

                                    <div class="blank10"></div>
                                    Премиум блокировка:
                                    <?php if($premium_block): ?>
                                            <button class="btn btn-success btn-sm js_set_premium_block_status" val="0">Активна</button>
                                        <?php else: ?>
                                            <button class="btn btn-danger btn-sm js_set_premium_block_status" val="1">Отключена</button>
                                    <?php endif; ?>



                                    <?php if($eternal_freeze_request): ?>
                                            <hr>
                                            <div class="blank10"></div>
                                            <b>Запрос на вечную заморозку:</b><br>
                                            <?php foreach ($eternal_freeze_request as $key => $value): ?>
                                                <br><span>Строитель: <a href="<?php echo $url ?>/workz/users/view/<?= $value['user_id'] ?>" target="_blank"><?= $value['user_email'] ?></a> <button class="btn btn-info btn-sm js_eternal_freeze"> Подтвердить заморозку </button></span>  <br>
                                            <?php endforeach; ?>
                                            <hr>
                                        <?php endif; ?>


                                    <div class="blank10"></div>

                                    <?php if($current_premium_block): ?>
                                            <button class="btn btn-danger btn-sm js_del_premium_block"> Заказ заморожен, разморозить</button><br>
                                            <span>Строитель: <a href="<?php echo $url ?>/workz/users/view/<?= $current_premium_block['user_id'] ?>" target="_blank"><?= $current_premium_block['user']['user_email'] ?></a> до <?= $current_premium_block['block_end'] ?></span>  
                                            <div class="blank10"></div>
                                            <hr>
                                        <?php endif; ?>

                                    <?php if($series): ?>
                                            <b>В очереди на блокировку:</b><br>
                                            <?php foreach ($series as $key => $value): ?>
                                                <span>Строитель: <a href="<?php echo $url ?>/workz/users/view/<?= $value['user_id'] ?>" target="_blank"><?= $value['user']['user_email'] ?></a> длительность: <?= ceil($value['duration'] / 3600) ?> час</span>  <br>
                                            <?php endforeach; ?>
                                            <hr>
                                        <?php endif; ?>    

                                    <?php if($series_log): ?>
                                            <b>Завершенные блокировки:</b><br>
                                            <?php foreach ($series_log as $key => $value): ?>
                                                <span>Строитель: <a href="<?php echo $url ?>/workz/users/view/<?= $value['user_id'] ?>" target="_blank"><?= $value['user']['user_email'] ?></a> Начало: <?= $value['block_start'] ?> Конец: <?= $value['block_end'] ?></span>  <br>
                                            <?php endforeach; ?>
                                            <hr>
                                        <?php endif; ?>        


                                    Оповещенные строители:
                                    <?php foreach ($informed_users as $key => $value): ?>
                                            <br>
                                            <a href="<?php echo $url ?>/workz/users/view/<?= $value['id'] ?>" target="_blank"> <?= $value['user_name'] ?> (<?= $value['user_email'] ?>)</a> 

                                        <?php endforeach; ?>
                                    <hr>    

                                </div>


                                <div class="col-md-5" style="text-align: right;">
                                    <?php
                                        if($order['close_date'])
                                            echo '<strong style="border:1px solid #ccc;padding:5px;">Заявка закрыта</strong>';
                                        else
                                        if($order['finish_date'] > time()) {
                                            ?>
                                            <a href="<?php echo $url ?>/workz/orders/close/<?php echo $order['id'] ?>" class="btn btn-danger btn-xs" onClick="return confirmAdmin('orderClose')"><span class="glyphicon glyphicon-remove"></span> Закрыть заявку</a>
                                        <?php } else echo '<strong style="border:1px solid #ccc;padding:5px;">Срок заявки истёк</strong>' ?>
                                </div>
                            </div>


                            <p><span class="text-primary">Пользователь:</span> <?php echo $profile['user_name'] ?> &nbsp;
                                <span class="text-primary">E-mail:</span> <?php echo $profile['user_email'] ?> &nbsp;
                                <span class="text-primary">Телефон:</span> <?php echo $profile['user_phone'] ?><br />
                                <span class="text-primary">Регистрация:</span> <?php echo $profile['user_reg_date'] ?>
                            </p>
                            <p><span class="text-primary">Роль:</span> <?php
                                    switch ($profile['user_role_id'])
                                    {
                                        case 3: $role_name = 'Заказчик';
                                            break;
                                        case 4: $role_name = 'Мастер';
                                            break;
                                        case 5: $role_name = 'Бригада строителей';
                                            break;
                                        case 6: $role_name = 'Строительная фирма';
                                            break;
                                    }
                                    echo $role_name;
                                ?> &nbsp; <a href="<?php echo $url ?>/workz/users/view/<?php echo $profile['id'] ?>" class="btn btn-primary btn-xs" target="_blank">профиль</a> &nbsp;&nbsp;  <a href="javascript:void(0);" class="btn btn-primary btn-xs btn-warning" onclick="get_profile_link(<?php echo $profile['id'] ?>)">Реальный профиль</a>  <input class="form-control" type="hidden" id="show_hash" style="width:350px; margin-top: 20px;"><span id="msg_hidden" style="display:none; color: red;">Ссылку скопировать и вставить В ДРУГОЙ БРАУЗЕР</span></p>
                            <hr style="border-top-color:#ddd" />

                            <?php if(!$order['order_status']) { ?>
                                    <div class="alert alert-danger alert-dismissible" role="alert" style="margin-top:20px;">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <big>Не указана необходимая информация. Заявка не выводится в каталоге.</big>
                                    </div>
                                <?php } ?>

                            <?php
                                if(isset($result)) {
                                    if(!$error)
                                        $class = 'alert-success';
                                    else
                                        $class = 'alert-danger';
                                    ?>

                                    <div class="alert <?php echo $class ?> alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                        <big><?php echo $result ?></big>
                                    </div>
                                <?php } ?>

                            <div class="row">
                                <div class="col-sm-12">

                                    <form method="post" id="edit-form" class="form-horisontal" action="<?php echo $url ?>/workz/orders/edit">
                                        <input type="hidden" id="csrf-token">
                                        <input type="hidden" name="order_id" value="<?php echo $order['id'] ?>">

                                        <div class="blank5"></div>
                                        <strong>Описание заявки</strong>
                                        <div class="blank5"></div>
                                        <textarea class="form-control" id="desc" name="desc" style="text-align:justify;line-height:28px;" rows="5"><?php echo $order['order_description'] ?></textarea>

                                        <div class="blank5"></div>
                                        <strong>Заметка администратора о заявке (выводится в кабинете у 10 звездных)</strong>
                                        <div class="blank5"></div>
                                        <textarea class="form-control" id="admin_description" name="admin_description" style="text-align:justify;line-height:28px;" rows="2" ><?php echo $order['order_admin_description'] ?></textarea>

                                        <div class="blank5"></div>
                                        <strong>Заметки администратора о заказчике</strong>
                                        <div class="blank5"></div>
                                        <textarea class="form-control"style="text-align:justify;line-height:28px;" rows="2" readonly=""><?php echo $admininfo['description'] ?></textarea>

                                        <div class="blank15"></div>
                                        <strong>Населённый пункт</strong>
                                        <div class="blank5"></div>

                                        <?php
                                            $trimmedArray = array_map('trim', array($order['route'], $order['town'], $order['district'], $order['region']));
                                            $order_addr = implode(', ', array_filter($trimmedArray));
                                        ?>

                                        <input type="text" id="autocomplete" class="form-control clearable<?php if($order['town']) echo ' x' ?>" name="addr" value="<?php echo $order_addr ?>" />
                                        <input type="hidden" name="placelat" id="placelat" />
                                        <input type="hidden" name="placelng" id="placelng" />
                                        <input type="hidden" name="placeid" id="placeid" />
                                        <input type="hidden" name="placeaddr" id="placeaddr" />
                                        <input type="hidden" name="placetown" id="locality" value="<?php echo $order['town'] ?>" />
                                        <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                        <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                        <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                        <input type="hidden" name="placecountry" id="country" />
                                        <input type="hidden" name="placeroute" id="route" />
                                        <input type="hidden" name="placextra" id="sublocality_level_1" />
                                        <input type="hidden" name="chplace" id="chplace" value="0" />

                                        <div class="blank15"></div>
                                        <strong>Специализация</strong>
                                        <div class="blank5"></div>

                                        <div class="row">
                                            <div class="col-sm-6">
                                                <select name="speciality" class="form-control" id="tid">
                                                    <option value="0">-- Выберите вид работ --</option>

                                                    <?php
                                                        if($top_catalog)
                                                            foreach ($top_catalog as $tc) {
                                                                ?>

                                                                <option value="<?php echo $tc['id'] ?>"<?php
                                                                if($order['order_wrk_type'] == $tc['id']) {
                                                                    $sel_top_spec = $tc['type_name'];
                                                                    echo ' selected';
                                                                }
                                                                ?>><?php echo $tc['type_name'] ?></option>

                                                            <?php } ?>

                                                </select>
                                                <div class="blank15"></div>
                                            </div>
                                            <div class="col-sm-6">
                                                <select name="subspeciality" class="form-control" id="sid">
                                                    <option value="0">-- Уточните вид работ --</option>

                                                    <?php if(isset($sub_catalog)) foreach ($sub_catalog as $sc) { ?>
                                                                <option value="<?php echo $sc['id'] ?>"<?php if($order['order_wrk_spec'] == $sc['id']) echo ' selected' ?>><?php echo $sc['spec_name'] ?></option>
                                                            <?php } ?>

                                                </select>
                                                <div class="blank15"></div>
                                            </div>
                                        </div>

                                        <hr style="border-top-color:#ddd" />
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>Бюджет:</strong> <?php //echo $order['budget_name']         ?>
                                                <select name="budget" class="form-control" id="bugdet">
                                                    <option value="0">-- Бюджет --</option>

                                                    <?php foreach ($budget_list as $b) { ?>
                                                            <option value="<?php echo $b['id'] ?>"<?php
                                                            if($b['id'] == $order['order_budget'])
                                                                echo ' selected';
                                                            elseif($b['id'] == 1)
                                                                echo ' selected';
                                                            ?>><?php echo $b['budget_name'] ?></option>
                                                                <?php } ?>

                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <strong>Предложения:</strong> <?php //echo $order['count_name']         ?>
                                                <select name="limcall" class="form-control" id="calls">
                                                    <option value="0">-- Звонки --</option>

                                                    <?php foreach ($call_count as $c) { ?>
                                                            <option value="<?php echo $c['id'] ?>"<?php if($c['id'] == $order['order_call_count']) echo ' selected' ?>><?php echo $c['count_name'] ?></option>
                                                        <?php } ?>

                                                </select>
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <strong>Начало работы:</strong> <?php echo $order['when_name'] ?>
                                                <select name="start" class="form-control" id="start">
                                                    <option value="0">-- Начало --</option>

                                                    <?php foreach ($when_list as $w) { ?>
                                                            <option value="<?php echo $w['id'] ?>"<?php
                                                            if($w['id'] == $order['when_start'])
                                                                echo ' selected';
                                                            elseif($w['id'] == 1)
                                                                echo ' selected';
                                                            ?>><?php echo $w['when_name'] ?></option>
                                                                <?php } ?>

                                                </select>
                                            </div>
                                            <div class="col-sm-6">
                                                <strong>Срок актуальности заявки:</strong> <?php //echo $order['actual_period']         ?>
                                                <select name="period" class="form-control" id="period">
                                                    <option value="0">Не изменять</option>
                                                    <option value="7">+7 дней</option>
                                                    <option value="14">+14 дней</option>
                                                    <option value="30">+Месяц</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <strong>Заявка актуальна до:</strong> <?php echo $order['actual_period'] ?>
                                        <div class="blank15"></div>

                                        <div class="submit">
                                            <button class="btn btn-warning btn-lg"  onclick="return doFormSubmit('edit-form', 'desc|locality|tid|sid|bugdet|calls|start')">Изменить заявку</button>
                                        </div>
                                        <div class="blank25"></div>

                                        <hr style="border-top-color:#ddd" />

                                    </form>

                                    <div class="row">
                                        <div class="col-sm-6">

                                            <strong>Предложения от строителей</strong> <button class="btn btn-success btn-sm" id="send_all_SMS">Отправить СМС всем</button>
                                            <div class="blank5"></div>

                                            <?php if(isset($connect['offer']) && $connect['offer']) { //var_dump($connect['offer']); die;  ?>

                                                    <?php foreach ($connect['offer'] as $o) { ?>
                                                        <div>
                                                            <?php if(isset($o['bm2mark'])) echo '<span class="glyphicon glyphicon-star text-danger"></span> &nbsp;' ?>
                                                            <a href="<?php echo $url ?>/workz/users/view/<?php echo $o['offer_id'] ?>" target="_blank"><span class="glyphicon glyphicon-user"></span> <?php echo $o['o_user_name'] ?></a>
                                                            <?php if(!in_array($o['bm2uph'], $sms_informed)): ?>                                    
                                                                &nbsp;
                                                                <span class="glyphicon glyphicon-envelope js_send_sms" style="cursor:pointer;" data="<?= $o['bm2uph'] ?>" <?php if($o['bm1stars'] == 10 or $o['bm2stars'] == 10): ?>onclick="send_sms('<?= $o['bm2uph'] ?>', 3)"<?php else: ?>onclick="send_sms('<?= $o['bm2uph'] ?>', 2)"<?php endif; ?> ></span>
                                                            <?php endif; ?>
                                                            &nbsp;
                                                            <a onClick="return confirmAdmin('delOffer')" href="<?php echo $url ?>/workz/orders/deloffer/<?php echo $o['id'] ?>" class="text-danger">
                                                                <big style="font-weight:bold">
                                                                    &times;
                                                                </big>
                                                            </a>
                                                            <br />
                                                            <?php
                                                            echo ' (', $o['bm2uml'], ')';
                                                            if(!$o['bm2isc'])
                                                                echo ' <small class="text-danger">неподтверждён</small>'
                                                                ?>,
                                                            <?php
                                                            if(!$o['bm2uph'])
                                                                echo ' <small class="text-danger">телефон не указан</small>';
                                                            else
                                                                echo $o['bm2uph']
                                                                ?>
                                                            <br />
                                                            <a href="javascript:;" class="viewaddr" title="" data-id="<?php echo $o['o_uid'] ?>">посмотреть адреса</a>
                                                            <?php /* if (!$o['town']) echo '<small><em>Адрес не указан</em></small>'; else {
                                                              echo '<em class="grey">', $o['route'], ' ', $o['town'], ' ', $o['district'], ' ', $o['region'], '</em>';
                                                              } */ ?>
                                                            <div class="blank10" style="border-bottom:1px solid #eee"></div>
                                                            <small style="text-align:justify;"><?php echo $o['offer_text'] ?></small>
                                                        </div>
                                                        <div class="blank15"></div>
                                                        <?php
                                                    }
                                                } else
                                                    echo 'Нет предложений от строителей';
                                            ?>

                                        </div>
                                        <div class="col-sm-6">

                                            <strong>Выбраные строители</strong>
                                            <div class="blank5"></div>

                                            <?php if(isset($connect['choice']) && $connect['choice']) { ?>

                                                    <?php foreach ($connect['choice'] as $c) { ?>

                                                        <div>
                                                            <?php if($c['bm1mark']) echo '<span class="glyphicon glyphicon-star text-danger"></span> &nbsp;' ?>
                                                            <a href="<?php echo $url ?>/workz/users/view/<?php echo $c['choice_id'] ?>" target="_blank"><span class="glyphicon glyphicon-user"></span> <?php echo $c['c_user_name'] ?></a>

                                                            <?php if(!in_array($c['user_phone'], $sms_informed)): ?>
                                                                &nbsp;
                                                                <span class="glyphicon glyphicon-envelope" style="cursor:pointer;" data="<?= $c['user_phone'] ?>" <?php if($c['bm1stars'] != 10 and $c['bm2stars'] != 10): ?> onclick="send_sms('<?= $c['user_phone'] ?>', 2)" <?php else: ?> onclick="send_sms('<?= $c['user_phone'] ?>', 3)" <?php endif; ?> </span>
                                                            <?php endif; ?>

                                                            &nbsp;
                                                            <?php
                                                            echo ' (', $c['user_email'], ')';
                                                            if(!$c['is_confirmed'])
                                                                echo ' <small class="text-danger">неподтверждён</small>'
                                                                ?>,
                                                            <?php
                                                            if(!$c['user_phone'])
                                                                echo ' <small class="text-danger">телефон не указан</small>';
                                                            else
                                                                echo $c['user_phone']
                                                                ?>
                                                            <br />
                                                            <a href="javascript:;" class="viewaddr" title="" data-id="<?php echo $c['c_uid'] ?>">посмотреть адреса</a>
                                                            <?php /* if (!$c['town']) echo '<small><em>Адрес не указан</em></small>'; else {
                                                              echo '<em class="grey">', $o['route'], ' ', $o['town'], ' ', $o['district'], ' ', $o['region'], '</em>';
                                                              } */ ?>
                                                        </div>
                                                        <div class="blank10" style="border-bottom:1px solid #eee"></div>
                                                        <?php
                                                    }
                                                } else
                                                    echo 'Строители не выбраны';
                                            ?>


                                        </div>

                                        <div class="col-sm-6">
                                            <div class="blank15"></div>
                                            <strong>Предложения к строителям</strong>
                                            <div class="blank5"></div>
                                            <?php if(count($customerOffers)): ?>
                                                    <?php foreach ($customerOffers as $c) { ?>

                                                        <div>
                                                            <?php if($c['bm1mark']) echo '<span class="glyphicon glyphicon-star text-danger"></span> &nbsp;' ?>
                                                            <a href="<?php echo $url ?>/workz/users/view/<?php echo $c['id'] ?>" target="_blank"><span class="glyphicon glyphicon-user"></span> <?php echo $c['user_name'] ?></a>

                                                            <?php if(!in_array($c['user_phone'], $sms_informed)): ?>
                                                                &nbsp;
                                                                <span class="glyphicon glyphicon-envelope" style="cursor:pointer;" data="<?= $c['user_phone'] ?>" <?php if($c['bm1stars'] != 10 and $c['bm2stars'] != 10): ?> onclick="send_sms('<?= $c['user_phone'] ?>', 2)" <?php else: ?> onclick="send_sms('<?= $c['user_phone'] ?>', 3)" <?php endif; ?>
                                                                      ></span>
                                                                  <?php endif; ?>
                                                            &nbsp;
                                                            <?php
                                                            echo ' (', $c['user_email'], ')';
                                                            if(!$c['is_confirmed'])
                                                                echo ' <small class="text-danger">неподтверждён</small>'
                                                                ?>,
                                                            <?php
                                                            if(!$c['user_phone'])
                                                                echo ' <small class="text-danger">телефон не указан</small>';
                                                            else
                                                                echo $c['user_phone']
                                                                ?>
                                                            <br />
                                                            <div>                                        
                                                                <?= $c['text'] ?>
                                                            </div>
                                                        </div>
                                                        <div class="blank10" style="border-bottom:1px solid #eee"></div>
                                                    <?php } ?>
                                                <?php endif; ?>

                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div class="blank25"></div>
                            <hr style="border-top-color:#ddd" />




                            <strong>Добавить предложение</strong>

                            <br><br>


                            <div class="col-sm-6">


                                <select name="speciality" class="form-control" id="tid_1">
                                    <option value="0">-- Выберите вид работ --</option>

                                    <?php
                                        if($top_catalog)
                                            foreach ($top_catalog as $tc) {
                                                ?>

                                                <option value="<?php echo $tc['id'] ?>"<?php if($order['order_wrk_type'] == $tc['id']) echo ' selected' ?>><?php echo $tc['type_name'] ?></option>

                                            <?php } ?>

                                </select>


                                <div class="blank15"></div>
                            </div>
                            <div class="col-sm-6">
                                <select name="subspeciality" class="form-control" id="sid_1">
                                    <option value="0">-- Уточните вид работ --</option>

                                    <?php if(isset($sub_catalog)) foreach ($sub_catalog as $sc) { ?>
                                                <option value="<?php echo $sc['id'] ?>"<?php if($order['order_wrk_spec'] == $sc['id']) echo ' selected' ?>><?php echo $sc['spec_name'] ?></option>
                                            <?php } ?>

                                </select>
                                <div class="blank15"></div>
                            </div>
                            <div class="col-sm-12">
                                <input class="form-control" type="text" name="filter_stars" id="filter_stars" value="" placeholder="Количество звезд">
                            </div>                
                            <div class="blank15"></div>              
                            <input type="hidden" id="ajax_offer_id" value="<?= $order_id ?>" >

                            <input type="text" id="autocomplete1" search_input="1" class="form-control clearable" name="addr" value="" />
                            <input type="hidden" name="placelat1" id="placelat1" />
                            <input type="hidden" name="placelng1" id="placelng1" />
                            <input type="hidden" name="placeid1" id="placeid1" />
                            <input type="hidden" name="placeaddr1" id="placeaddr1" />
                            <input type="hidden" name="placetown1" id="locality1"/>
                            <input type="hidden" name="placedistrict31" id="administrative_area_level_31" />
                            <input type="hidden" name="placedistrict21" id="administrative_area_level_21" />
                            <input type="hidden" name="placeregion1" id="administrative_area_level_11" />
                            <input type="hidden" name="placecountry1" id="country1" />
                            <input type="hidden" name="placeroute1" id="route1" />
                            <input type="hidden" name="placextra1" id="sublocality_level_11" />
                            <input type="hidden" name="chplace1" id="chplace1" value="0" />
                            <br>
                            Радиус поиска: 
                            <input type="text"  class="form-control"  style="width: 44px; display: initial" readonly="" value="20" id="distance" name="distance"> км
                            <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="width:400px; margin-top: 15px; margin-bottom: 10px;"></div>


                            <div class="submit" style="padding-top:10px;">
                                <button class="btn btn-success btn-lg" id="filter_action">Отфильтровать</button> <img src="http://fishki.net/upload/users/2016/05/27/703323/b6ba261918417a12f8888a5d98f03837.gif" id="img_ajax" width="50" style="display:none;">
                            </div>

                            <div id="show_filter_results" style="margin: 5px; padding: 15px; overflow:auto; ">

                            </div>

                            <div class="blank10"></div>
                            <form method="post" id="offer-form-admin">
                                <input type="hidden" id="csrf-token">
                                <input type="hidden" id="user-id" name="users_id">
                                <input type="hidden" name="order_id" value="<?php echo $order['id'] ?>">
                                E-mail строителя
                                <input type="email" name="email" id="email" class="form-control">
                                <div class="blank10"></div>
                                Описание предложения (не обязательно)
                                <textarea name="message" id="message" class="form-control" rows="3"></textarea>
                                <div class="blank10"></div>
                                <div class="submit">
                                    <button class="btn btn-success btn-lg" id="do-submit-btn">Добавить</button>
                                </div>
                            </form>

                            <div class="blank25"></div>
                            <hr />
                            <!--
                            <strong>Подходящие строители</strong>
                            <div class="blank15"></div>
                            <div class="row">
                    
                            <?php
                                if(isset($workers) && $workers) {
                                    foreach ($workers as $w) {
                                        ?>
                                                                                                                            <div class="col-sm-12">
                                        <?php if($w['stars'] == 10) echo '<span class="glyphicon glyphicon-star text-danger"></span> &nbsp;' ?>
                                                                                                                                <strong><em><?php echo $w['user_name'] ?></em></strong> &nbsp; &nbsp; <?php echo $w['user_email'] ?> &nbsp; &nbsp; <?php echo $w['user_phone'] ?><br />
                                        <?php echo $w['brief'] ? $w['brief'] : 'Нет описания' ?>...&nbsp;<br />
                                                                                                                                <a href="<?php echo $url ?>/workz/users/view/<?php echo $w['uid'] ?>" id="btn-view" data-id="<?php echo $w['uid'] ?>" target="_blank">[смотреть профиль]</a> &nbsp;
                                                                                                                                <a href="javascript:;" class="viewaddr" title="" data-id="<?php echo $w['uid'] ?>">[посмотреть адреса]</a>
                                                                                                                                <div class="blank25"></div>
                                                                                                                            </div>
                                        <?php
                                    }
                                } else
                                    echo ' &nbsp; &nbsp; Нет подходящих'
                                    ?>
                    
                            </div>
                            -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <!--script src="<?php echo $url ?>/js/bootbox.min.js"></script-->
        <script src="<?php echo $url ?>/js/tooltipsy.min.js"></script>
        <script src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script type="text/javascript">
                                                    var crntPage = 'admin';
                                                    $('#district').remoteChained({
                                                        parents: '#region',
                                                        url: '/workz/city/districts',
                                                        loading: '...'
                                                    });
        </script>
        <script type="text/javascript">
            var langFiedsEmpty = 'Не заполнены обязательные поля';
        </script>
        <script src="<?php echo $url ?>/js/budmisto.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script type="text/javascript">
            $('#do-submit-btn').on('click', function (e) {
                $('#user-id').val('');
                e.preventDefault();
                var email = $('#email').val();
                if (!email) {
                    alertBM.alert('Введите E-mail пользователя');
                    return false;
                }

                $.ajax({
                    type: 'post',
                    url: '/workz/emailexist',
                    data: {mail: email, type: 'bud'},
                    success: function (result) {
                        if (result.indexOf('AllBad') !== -1) {
                            alertBM.alert('E-mail не найден или это не строитель!');
                        } else {
                            result = result.replace(/\t/g, '');
                            $('#user-id').val(result);
                            $("#do-submit-btn").attr("add_user_id", result);
                            doFormSubmit('offer-form-admin');
                        }
                    },
                    error: function () {
                        alertBM.alert('SYSTEM FAILURE');
                    }
                });
            });
            $('.viewaddr').each(function () {
                $(this).on('mouseenter', function () {
                    $('div[id^=tooltipsy]').detach();
                    $('div[id^=tooltipsy]').remove();
                    var userId = $(this).data('id');
                    var res = $(this);
                    res.tooltipsy();
                    res.data('tooltipsy').destroy();
                    $.ajax({
                        type: 'get',
                        url: '/users/getplaces/' + userId,
                        success: function (result) {
                            res.attr('title', result);
                            res.tooltipsy({
                                css: {
                                    'padding': '15px',
                                    'max-width': '450px',
                                    'color': '#303030',
                                    'background-color': '#f9f9f9',
                                    'border': '3px solid #666',
                                    'border-radius': '5px',
                                    'text-shadow': 'none'
                                }
                            });
                            res.data('tooltipsy').show();
                        }
                    });
                });
            });

            //Активация ползунка
            $("#slider").slider({
                min: 10,
                max: 60,
                values: [20],
                step: 10,
                range: false, // диапазон,
                slide: function (event, ui) {
                    $("#distance").val(ui.value);
                }
            });

            var placeSearch, autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                autocomplete.addListener('place_changed', fillInAddress);

                autocompletee = new google.maps.places.Autocomplete((document.getElementById('autocomplete1')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                autocompletee.addListener('place_changed', fillInAddressq);

            }

            function get_profile_link(usID) {
                $.get("/workz/get_hash/" + usID, function (res) {
                    if (res) {
                        $("#show_hash").val(res).attr("type", "text");
                        $("#msg_hidden").fadeIn();
                    }
                });
            }

            var sender_phone = '<?php echo $profile['user_phone'] ?>';
            var order_specialization = '<?php echo $sel_top_spec ?>';
            var order_id = '<?php echo $order_id ?>';

            function send_sms(getter_phone, type, set_to_crone = 0) {
                $.post("/cron/send_one", {
                    sender_phone: sender_phone,
                    getter_phone: getter_phone,
                    order_specialization: order_specialization,
                    order_id: order_id,
                    type: type,
                    set_to_crone: set_to_crone
                }, function (res) {
                    console.log(res);
                    if (set_to_crone == 0) {
                        if (res == 'success') {
                            $("[data='" + getter_phone + "']").fadeOut();
                            alertBM.alert("Сообщение успешно отправлено");
                        } else if (res == 'not_send') {
                            alertBM.alert("Ошибка отправки, проверьте данные и баланс счета!");
                        } else if (res == 'already_send') {
                            alertBM.alert("Смс уже было отправлено этому пользователю!");
                        } else {
                            alertBM.alert("Ошибка данных!");
                        }
                    }

                });
            }

            $('.js_set_sms_status').on("click", function () {
                status = $(this).attr("val");
                $.post("/workz/orders/set_cron_status", {status: status, order_id: order_id}, function (res) {
                    if (res) {
                        window.location.reload();
                    }
                });
            });

            $('.js_set_old_status').on("change", function () {
                status = $(this).val();

                $.post("/workz/orders/set_old_status", {status: status, order_id: order_id}, function (res) {
                    if (res) {
                        $.post("/workz/orders/set_premium_block_status", {status: status > 0 ? 0 : 1, order_id: order_id}, function (res) {
                            if (res)
                                window.location.reload();
                        });
                    }
                });

            });

            $('.js_set_premium_block_status').on("click", function () {
                status = $(this).attr("val");
                $.post("/workz/orders/set_premium_block_status", {status: status, order_id: order_id}, function (res) {
                    if (res == 'success') {
                        window.location.reload();
                    } else {
                        console.log(res);
                    }
                });
            });

            $(".js_del_premium_block").on("click", function () {
                $.post("/workz/orders/delete_premium_block", {order_id: order_id}, function (res) {
                    if (res = 'success') {
                        window.location.reload();
                    } else {
                        alert("Ошибка удаления блокировки, сообщите разработчику");
                    }
                });
            });

            $(".js_eternal_freeze").on("click", function () {
                $.post("/workz/orders/activate-eternal-freeze", {order_id: order_id}, function (res) {
                    if (res = 'success') {
                        window.location.reload();
                    } else {
                        alert("Ошибка удаления блокировки, сообщите разработчику");
                    }
                });
            });

            $('#send_all_SMS').on('click', function () {

                $('.js_send_sms').each(function (index, val) {
                    $('.js_send_sms').eq(index).click();
                });

            });

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

        <div class="popup js-popup" style=" display:none;">
            <div class="popup__in js-popup-in">
                <div class="form" id="js_invite" style='text-align: center;  color: #E07E3C;  font-size: 24px; line-height: 1.2;' >

                </div>
            </div>
        </div>
    </body>
</html>