<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Все заявки</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <?php
                                if($orders) {
                                    foreach ($orders as $o) {
                                        ?>

                                        <ul class="list-group">
                                            <li class="list-group-item text-warning">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <?php echo $o['order_date'] ?> <strong><?php echo $o['descr_short'] ?>...</strong><br />
                                                        <?php if($o['show_is_old'] == 0): ?>
                                                            Стандартная логика заказа
                                                        <?php elseif($o['show_is_old'] == 1): ?>
                                                            Отображать данные заказчика авторизованным 
                                                        <?php elseif($o['show_is_old'] == 2): ?>
                                                            Отображать данные заказчика не авторизованным  
                                                        <?php elseif($o['show_is_old'] == 3): ?>
                                                            Отображать данные заказчика всем
                                                        <?php endif; ?>
                                                        <br>
                                                        <small>
                                                            <span class="glyphicon glyphicon-wrench"></span> <?php
                                                            if($o['spec_name'])
                                                                echo $o['spec_name'], ' <span>(', $o['type_name'], ')</span>';
                                                            else
                                                                echo '<span class="text-danger">заявка не заполнена</span>';
                                                            ?><br />
                                                            <span class="glyphicon glyphicon-map-marker"></span>
                                                            <?php echo $o['route'], ' ', $o['town'], ' ', $o['district'], ' ', $o['region'] ?>
                                                        </small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="list-inline pull-right">
                                                            <li><a href="<?php echo $url ?>/workz/orders/view/<?php echo $o['id'] ?>" target="_blank" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                                                            <li><a href="<?php echo $url ?>/workz/orders/delete/<?php echo $o['id'] ?>" onClick="return confirmAdmin('order')" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <?php
                                    }
                                }
                            ?>

                            <?php echo $pager_html ?>
                            <div style="text-align: left"><em>всего заявок: <?php echo $o_count ?></em></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
    </body>
</html>