<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Поиск заявки</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">

                            <?php
                                if(isset($orders)) {
                                    foreach ($orders as $o) {
                                        ?>

                                        <ul class="list-group">
                                            <li class="list-group-item text-warning">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <?php echo $o['order_date'] ?> <strong><?php echo $o['descr_short'] ?>...</strong><br />
                                                        <small>
                                                            <span class="glyphicon glyphicon-wrench"></span> <?php
                                                            if($o['spec_name'])
                                                                echo $o['spec_name'], ' <span>(', $o['type_name'], ')</span>';
                                                            else
                                                                echo '<span class="text-danger">заявка не заполнена</span>';
                                                            ?><br />
                                                            <span class="glyphicon glyphicon-map-marker"></span>
                                                            <?php echo $o['route'], ' ', $o['town'], ' ', $o['district'], ' ', $o['region'] ?>
                                                        </small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="list-inline pull-right">
                                                            <li><a href="<?php echo $url ?>/workz/orders/view/<?php echo $o['id'] ?>" target="_blank" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <?php
                                    }

                                    if(count($orders) == 20)
                                        echo '<div class="blank15"></div><div class="text-center text-danger">Показано 20 результатов. Уточните поиск.</div><div class="blank15"></div>';
                                    ?>

                                    <div class="text-center"><a href="<?php echo $url ?>/workz/orders/search" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> &nbsp; Новый поиск</a></div>

                                <?php } else { ?>

                                    <?php if(isset($error_num)) { ?>
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                            <big>Заявка с номером <strong><?php echo $error_num ?></strong> не найдена</big>
                                        </div>
                                    <?php } ?>

                                    <form method="post" id="search-form" class="form-horisontal">
                                        <input type="hidden" id="csrf-token">
                                        <div class="form-group">
                                            <label for="num" class="col-md-2 control-label">Номер заявки</label>
                                            <div class="col-md-9">
                                                <input type="text" name="num" id="num" class="form-control" placeholder="Укажите номер заявки" />
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="email" class="col-md-2 control-label">E-mail автора заявки</label>
                                            <div class="col-md-9">
                                                <input type="email" name="email" id="email" class="form-control" placeholder="Введите e-mail" />
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="descr" class="col-md-2 control-label">Часть описания</label>
                                            <div class="col-md-9">
                                                <input type="text" name="descr" id="descr" class="form-control" placeholder="Введите часть описания" />
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="phone" class="col-md-2 control-label">Специализация</label>
                                            <div class="col-md-9">

                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select name="speciality" class="form-control" id="tid">
                                                            <option value="0">-- Выберите вид работ --</option>

                                                            <?php
                                                            if($top_catalog)
                                                                foreach ($top_catalog as $tc) {
                                                                    ?>

                                                                    <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>

                                                                <?php } ?>

                                                        </select>
                                                        <div class="blank15"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="subspeciality" class="form-control" id="sid">
                                                            <option value="0">-- Уточните вид работ --</option>
                                                        </select>
                                                        <div class="blank15"></div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="autocomplete" class="col-md-2 control-label">Город</label>
                                            <div class="col-md-9">
                                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="Название населённого пункта" />
                                                <input type="hidden" name="placelat" id="placelat" />
                                                <input type="hidden" name="placelng" id="placelng" />
                                                <input type="hidden" name="placeid" id="placeid" />
                                                <input type="hidden" name="placeaddr" id="placeaddr" />
                                                <input type="hidden" name="placetown" id="locality" />
                                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                                <input type="hidden" name="placecountry" id="country" />
                                                <input type="hidden" name="placeroute" id="route" />
                                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                            </div>
                                        </div>

                                        <div class="blank25"></div>
                                        <div class="submit col-md-8" style="text-align:center">
                                            <button class="btn btn-success btn-lg" onclick="return doSubmit('search-form')">Найти заявку</button>
                                        </div>

                                    </form>
                                <?php } ?>

                            <?php if(isset($error)) echo '<div class="blank15"></div><div class="text-center text-danger">Заявок не найдено</div>' ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script type="text/javascript">
                                        var crntPage = 'admin';
                                        function doSubmit(form_id) {
                                            var email = $('#email').val();
                                            var tid = $('#tid').val();
                                            var sid = $('#sid').val();
                                            var num = $('#num').val();
                                            var placeid = $('#placeid').val();
                                            var descr = $('#descr').val();
                                            if (email || placeid || tid > 0 || sid > 0 || num || descr) {
                                                return doFormSubmit(form_id);
                                            } else {
                                                alertBM.alert('Заполните хотя бы одно поле');
                                                return false;
                                            }
                                        }
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if(!isset($orders)) { ?>

                <script type="text/javascript">
                                                var placeSearch, autocomplete;
                                                function initAutocomplete() {
                                                    autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                                                    autocomplete.addListener('place_changed', fillInAddress);
                                                }
                </script>
                <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>

            <?php } ?>

    </body>
</html>