<!DOCTYPE html>
<html lang="<?php echo $lang ?>">
    <head>
        <title>Forbidden</title>
        <meta charset="utf-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    </head>

    <body>
        <h1>Forbidden</h1>

        <?php echo $stat_track; ?>
    </body>
</html>
