<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Настройки администратора</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>

                    <?php
                        if(isset($res)) {
                            if($res) {
                                $class = 'alert-success';
                                $message = 'Пароль успешно изменен';
                            } else {
                                $class = 'alert-danger';
                                $message = 'Не удалось изменить пароль';
                            }
                            ?>

                            <div class="alert <?php echo $class ?> alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <big><?php echo $message ?></big>
                            </div>
                        <?php } ?>

                    <div class="row">
                        <div class="col-md-12">

                            <form method="post" id="settings-form" class="form-horisontal">
                                <input type="hidden" id="csrf-token">
                                <div class="blank15"></div>
                                <div class="form-group">
                                    <label for="passwd" class="col-md-3 control-label">Старый пароль</label>
                                    <div class="col-md-9">
                                        <input type="password" id="passwdold" class="form-control" name="passwdold" placeholder="Введите пароль" />
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <div class="form-group">
                                    <label for="passwd" class="col-md-3 control-label">Новый пароль</label>
                                    <div class="col-md-9">
                                        <input type="password" id="passwd2" class="form-control" name="passwd2" placeholder="Введите пароль" />
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <div class="form-group">
                                    <label for="passwd" class="col-md-3 control-label">Повторите пароль</label>
                                    <div class="col-md-9">
                                        <input type="password" id="passwd1" class="form-control" name="passwd1" placeholder="Введите пароль" />
                                    </div>
                                </div>
                                <div class="blank25"></div>
                                <div class="submit col-md-8" style="text-align:center">
                                    <button class="btn btn-success btn-lg" onclick="return doFormSubmit('settings-form', 'passwdold|passwd2|passwd1', 'passwdconfirm')">Изменить пароль</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script type="text/javascript">
                                        var crntPage = 'admin';
                                        var langFiedsEmpty = 'Не заполнены поля';
                                        var langPasswdConfirm = 'Пароли не совпадают';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
    </body>
</html>