<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Все магазины</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">
                            <strong>Поиск магазина</strong>
                            <form method="post" id="search-form" class="form-horisontal">
                                <input type="hidden" id="csrf-token">
                                <input type="text" name="name" id="name" class="form-control" placeholder="Введите название магазина">
                                <div class="blank5"></div>
                                <input type="text" name="desc" id="desc" class="form-control" placeholder="Введите слово из описания магазина">
                                <div class="blank5"></div>
                                <select name="speciality" class="form-control" id="tid">
                                    <option value="0">-- Выберите специализацию --</option>

                                    <?php
                                        if($top_catalog)
                                            foreach ($top_catalog as $tc) {
                                                ?>

                                                <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>

                                            <?php } ?>

                                </select>
                                <hr />
                                <input type="text" name="admininfo" id="admininfo" class="form-control" placeholder="Введите слово из заметки администратора">
                                <hr />
                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="Введите адрес магазина" />
                                <input type="hidden" name="placelat" id="placelat" />
                                <input type="hidden" name="placelng" id="placelng" />
                                <input type="hidden" name="placeid" id="placeid" />
                                <input type="hidden" name="placetown" id="locality" />
                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                <input type="hidden" name="placecountry" id="country" />
                                <input type="hidden" name="placeroute" id="route" />
                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                <input type="hidden" name="budnum" id="street_number" />
                                <div class="blank15"></div>
                                <div class="col-md-9">
                                    Радиус поиска: 
                                    <input type="text"  class="form-control"  style="width: 44px; display: initial" readonly="" value="20" id="distance" name="distance"> км
                                    <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="width:400px; margin-top: 15px; margin-bottom: 10px;"></div>
                                </div>
                                <div class="blank25"></div>
                                <div class="submit">
                                    <button class="btn btn-success btn-lg" onclick="return doSubmit('search-form')">Найти магазин</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="blank50"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <strong><?php
                                    if(isset($newshops))
                                        echo 'Новые магазины';
                                    else
                                        echo 'Найденные магазины'
                                        ?></strong>

                            <?php
                                if($shops) {
                                    foreach ($shops as $o) {
                                        ?>

                                        <ul class="list-group">
                                            <li class="list-group-item text-warning">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <strong><?php echo $o['user_name'] ?></strong> <?php echo $o['user_reg_date'] ?><br />
                                                        <small>
                                                            <?php echo $o['brief'] ?>
                                                        </small>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="list-inline pull-right">
                                                            <li><a href="<?php echo $url ?>/workz/shops/edit/<?php echo $o['uid'] ?>" target="_blank" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                                                            <li><a href="<?php echo $url ?>/workz/shops/delete/<?php echo $o['uid'] ?>" onClick="return confirmAdmin('shop')" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <?php
                                    }
                                }
                            ?>

                            <?php
                                if(isset($pager_html)) {
                                    echo $pager_html
                                    ?>
                                    <div style="text-align: left"><em>всего магазинов: <?php echo $s_count ?></em></div>
                                <?php } ?>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>

        <script type="text/javascript">
                                                    var crntPage = 'admin';
                                                    function doSubmit(form_id) {
                                                        var name = $('#name').val();
                                                        var desc = $('#desc').val();
                                                        var admininfo = $('#admininfo').val();
                                                        var placeid = $('#placeid').val();
                                                        var tid = $('#tid').val();
                                                        if (name || desc || admininfo || placeid || tid > 0) {
                                                            return doFormSubmit(form_id);
                                                        } else {
                                                            alertBM.alert('Заполните хотя бы одно поле или выберите специализацию.');
                                                            return false;
                                                        }
                                                        return false;
                                                    }
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script type="text/javascript">
                                                    var placeSearch, autocomplete;
                                                    function initAutocomplete() {
                                                        autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                                                        autocomplete.addListener('place_changed', fillInAddress);
                                                    }

                                                    //Активация ползунка
                                                    $("#slider").slider({
                                                        min: 10,
                                                        max: 60,
                                                        values: [20],
                                                        step: 10,
                                                        range: false, // диапазон,
                                                        slide: function (event, ui) {
                                                            $("#distance").val(ui.value);
                                                        }
                                                    });
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>
    </body>
</html>