<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/wbbtheme.css" media="all" />
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Добавить магазин</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="blank5"></div>
                            <form method="post" id="add-form" class="form-horisontal" action="<?php echo $url ?>/workz/shops/add">
                                <input type="hidden" id="csrf-token">
                                <strong>Название магазина</strong>
                                <input value="" type="text" name="name" id="name" class="form-control">
                                <div class="blank5"></div>
                                <strong>Пароль</strong>
                                <input value="admin" type="text" name="passwd" id="passwd" class="form-control" readonly="">
                                <div class="blank5"></div>
                                <strong>Заметка администратора о магазине</strong>
                                <textarea name="admininfo" id="admininfo" class="form-control"></textarea>
                                <div class="blank10"></div>
                                <strong>Контакты:</strong>
                                <div class="blank5"></div>
                                Контактное лицо:
                                <input value="" type="text" name="chief" id="chief" class="form-control">
                                <div class="blank5"></div>
                                Телефоны:
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input value="" type="text" name="phone1" id="phone1" class="form-control" style="color:#c00">
                                    </div>
                                    <div class="col-sm-6">
                                        <input value="" type="text" name="phone2" id="phone2" class="form-control">
                                    </div>
                                </div>
                                <div class="blank5"></div>
                                E-mail:
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input value="" type="text" name="email1" id="email1" class="form-control" style="color:#c00">
                                    </div>
                                    <div class="col-sm-6">
                                        <input value="" type="text" name="email2" id="email2" class="form-control">
                                    </div>
                                </div>
                                <div class="blank5"></div>
                                Web-сайт:
                                <input value="" type="text" name="web" id="web" class="form-control">

                                <div class="blank15"></div>
                                <strong>Адреса магазинов :</strong>
                                <div class="blank5"></div>
                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" />
                                <input type="hidden" name="placelat" id="placelat" />
                                <input type="hidden" name="placelng" id="placelng" />
                                <input type="hidden" name="placeid" id="placeid" />
                                <input name="placeaddr" id="placeaddr" readonly="" style="border:none;width:100%" />
                                <input type="hidden" name="placetown" id="locality" />
                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                <input type="hidden" name="placecountry" id="country" />
                                <input type="hidden" name="placeroute" id="route" />
                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                <input type="hidden" name="budnum" id="street_number" />
                                <div class="blank15"></div>
                                <strong>Бренды (разделитель - # )</strong>
                                <div class="blank5"></div>
                                <input type="text" id="brands" class="form-control" name="brands" />
                                <div class="blank15"></div>
                                <strong>Торговая сеть</strong>
                                <div class="blank5"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select name="network" class="form-control" id="net">
                                            <option value="0">-- Выберите сеть --</option>

                                            <?php
                                                if($networks)
                                                    foreach ($networks as $net) {
                                                        ?>

                                                        <option value="<?php echo $net['id'] ?>"><?php echo $net['net_name'] ?></option>

                                                    <?php } ?>
                                            <option value="0">-- Удалить сеть --</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <strong>Специализация</strong>
                                <div class="blank5"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select name="speciality" class="form-control" id="tid">
                                            <option value="0">-- Выберите вид работ --</option>

                                            <?php
                                                if($top_catalog)
                                                    foreach ($top_catalog as $tc) {
                                                        ?>

                                                        <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>

                                                    <?php } ?>

                                        </select>
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <strong>Описание:</strong>
                                <div class="blank5"></div>
                                <div style="text-align: justify">
                                    <div class="blank5"></div>
                                    <textarea class="form-control" id="desc" name="desc" rows="5"></textarea>
                                    <div class="blank15"></div>
                                </div>
                                <div class="submit">
                                    <button class="btn btn-warning"  onclick="return doFormSubmit('add-form', 'name|email1|phone1|placeid|tid')">Добавить и редактировать магазин</button>
                                </div>
                            </form>


                        </div>
                    </div>
                    <div class="blank15"></div>



                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script type="text/javascript">
                                        var crntPage = 'admin';
                                        var langFiedsEmpty = 'Не заполнены обязательные поля';
                                        try {
                                            $('#phone1').mask('(999) 999-99-99');
                                            $('#phone2').mask('(999) 999-99-99');
                                        } catch (err) {
                                        }
        </script>
        <script src="<?php echo $url ?>/js/budmisto.js"></script>


        <script src="<?php echo $url ?>/js/jquery.wysibb.min.js"></script>
        <script src="<?php echo $url ?>/js/wbblang/ru.js"></script>
        <script type="text/javascript">
                                        var wbbOpt = {
                                            lang: lang,
                                            smileList: false,
                                            resize_maxheight: 1200,
                                            buttons: 'bold,italic,underline,|,bullist,numlist,|,justifyleft,justifycenter,justifyright'
                                        }
                                        $('#desc').wysibb(wbbOpt);
        </script>

        <script type="text/javascript">
            var placeSearch, autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                autocomplete.addListener('place_changed', fillInAddress);
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>
    </body>
</html>