<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/wbbtheme.css" media="all" />
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Изменить магазин</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/shops/list" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="blank5"></div>
                            <form method="post" id="add-form" class="form-horisontal" action="<?php echo $url ?>/workz/shops/edit/<?php echo $shop['id'] ?>">
                                <input type="hidden" id="csrf-token">
                                <input type="hidden" name="form_type" value="1">
                                <strong>Название магазина</strong>
                                <input value="<?php echo $shop['user_name'] ?>" type="text" name="name" id="name" class="form-control">
                                <div class="blank5"></div>
                                <strong>Пароль</strong>
                                <input value="" type="text" name="passwd" id="passwd" class="form-control">
                                <div class="blank5"></div>
                                <strong>Заметка администратора о магазине</strong>
                                <textarea name="admininfo" id="admininfo" class="form-control"><?php echo $admininfo['description'] ?></textarea>
                                <div class="blank10"></div>
                                <strong>Контакты:</strong>
                                <div class="blank5"></div>
                                Контактное лицо:
                                <input value="<?php echo $shop['chief'] ?>" type="text" name="chief" id="chief" class="form-control">
                                <div class="blank5"></div>
                                Телефоны:
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input value="<?php echo $shop['phone1'] ?>" type="text" name="phone1" id="phone1" class="form-control" style="color:#c00">
                                    </div>
                                    <div class="col-sm-6">
                                        <input value="<?php echo $shop['phone2'] ?>" type="text" name="phone2" id="phone2" class="form-control">
                                    </div>
                                </div>
                                <div class="blank5"></div>
                                E-mail:
                                <div class="row">
                                    <div class="col-sm-6">
                                        <input value="<?php echo $shop['user_email'] ?>" type="text" name="email1" id="email1" class="form-control" style="color:#c00">
                                    </div>
                                    <div class="col-sm-6">
                                        <input value="<?php echo $shop['email2'] ?>" type="text" name="email2" id="email2" class="form-control">
                                    </div>
                                </div>
                                <div class="blank5"></div>
                                Web-сайт:
                                <input value="<?php echo $shop['website'] ?>" type="text" name="web" id="web" class="form-control">
                                <div class="blank15"></div>

                                <strong>Адреса магазинов :</strong>
                                <div class="blank5"></div>
                                <?php if($shop_places) foreach ($shop_places as $p) { ?>
                                            <?php echo $p['route'], ' ', $p['budnum'], ' ', $p['town'], ' ', $p['district'], ' ', $p['region'] ?>
                                            &nbsp; <a href="<?php echo $url ?>/workz/shops/delplace?id=<?php echo $p['id'] ?>&shop=<?php echo $shop['id'] ?>" onClick="return confirmAdmin()"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                            <div class="blank5"></div>
                                        <?php } ?>

                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" />
                                <input type="hidden" name="placelat" id="placelat" />
                                <input type="hidden" name="placelng" id="placelng" />
                                <input type="hidden" name="placeid" id="placeid" />
                                <input name="placeaddr" id="placeaddr" readonly="" style="border:none;width:100%" />
                                <input type="hidden" name="placetown" id="locality" />
                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                <input type="hidden" name="placecountry" id="country" />
                                <input type="hidden" name="placeroute" id="route" />
                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                <input type="hidden" name="budnum" id="street_number" />
                                <div class="blank15"></div>
                                <strong>Бренды (разделитель - # )</strong>
                                <div class="blank5"></div>
                                <input type="text" id="brands" class="form-control" name="brands" value="<?php echo $shop['brands'] ?>" />
                                <div class="blank15"></div>
                                <strong>Торговая сеть</strong>
                                <div class="blank5"></div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <select name="network" class="form-control" id="net">
                                            <option value="0">-- Выберите сеть --</option>

                                            <?php
                                                if($networks)
                                                    foreach ($networks as $net) {
                                                        ?>

                                                        <option value="<?php echo $net['id'] ?>"<?php if($net['id'] == $shop['net_id']) echo ' selected' ?>><?php echo $net['net_name'] ?></option>

                                                    <?php } ?>
                                            <option value="0">-- Удалить сеть --</option>

                                        </select>
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <strong>Специализация</strong>
                                <div class="blank5"></div>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <select name="speciality" class="form-control" id="tid">
                                            <option value="0">-- Выберите специализацию --</option>

                                            <?php
                                                if($top_catalog)
                                                    foreach ($top_catalog as $tc) {
                                                        ?>
                                                        <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>
                                                    <?php } ?>

                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                    <div class="col-sm-6">
                                        <select name="subspeciality" class="form-control" id="sid" disabled>
                                            <option value="0">-- Выберите специализацию --</option>
                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                </div>  
                                <div class="blank15"></div>
                                <?php if(!$shop_specs): ?>
                                        <span class="red">Нет специализаций</span>
                                    <?php else: ?>

                                        <?php foreach ($shop_specs as $key => $value): ?>
                                            <div class="item-border">
                                                <?php echo $value['type_name'] ?> / <?php echo $value['spec_name'] ?> &nbsp; <a href="<?php echo $url ?>/workz/shops/delspec?sid=<?php echo $value['sid'] ?>&shop=<?php echo $shop['id'] ?>" onClick="return confirmAdmin()"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                            </div>
                                            <div class="blank15"></div>          
                                        <?php endforeach; ?>

                                <?php endif; ?>


                                <div class="blank15"></div>
                                <strong>Описание:</strong>
                                <div class="blank5"></div>
                                <div style="text-align: justify">
                                    <div class="blank5"></div>
                                    <textarea class="form-control" id="desc" name="desc" rows="5"><?php echo $shop['description'] ?></textarea>
                                    <div class="blank15"></div>
                                </div>



                                <div class="submit">
                                    <button class="btn btn-warning" id="subm_btn"  onclick="return doFormSubmit('add-form', 'name|email1')">Сохранить магазин</button>
                                </div>
                            </form>
                            <div class="blank15"></div>
                            <div class="submit text-center" >
                                <span style="color:green; font-size: 26px;">Рекламные блоки</span>
                            </div>

                            <table class="table table-hover table-striped" >
                                <tbody>
                                <thead>
                                    <tr>
                                        <th style="text-align: left;">Название</th>
                                        <th style="text-align: left;">Описание</th> 
                                        <th style="text-align: left;">Миниатюра</th>
                                        <th style="text-align: center;">Действие</th>
                                    </tr>
                                </thead>

                                <?php foreach ($shop_commercial as $key => $value): ?>

                                        <tr>
                                            <th style="text-align: center; text-align: left;"> 
                                                <?= $value['name'] ?>
                                            </th>
                                            <th style="text-align: center; text-align: left;">
                                                <?= $value['descr'] ?>    
                                            </th> 
                                            <th style="text-align: center; text-align: left;">
                                                <img src="/images/comercial_image/<?= $value['img'] ?>" style="max-width: 150px; max-height: 150px;"> 
                                            </th> 
                                            <th style="text-align: center; text-align: left;">
                                                <ul class="list-inline pull-right">
                                                    <li><a href="javascript:void(0);" onclick="comercial_interested(<?= $value['id'] ?>)" class="btn btn-info btn-sm" title="Список заинтересовавшихся строителей"><span class="glyphicon glyphicon-list-alt"></span></a></li>
                                                    <li><a href="javascript:void(0);" onclick="edit_comercial(<?= $value['id'] ?>)" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span></a></li>
                                                    <li><a href="<?php echo $url ?>/workz/comercial/delete/<?= $value['shop_id'] ?>/<?= $value['id'] ?>" onclick="return confirmAdmin('comercial')" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon glyphicon-remove"></span></a></li>
                                                </ul>
                                            </th> 
                                        </tr>                      


                                    <?php endforeach; ?>

                                </tbody>
                            </table>

                            <div class="blank15"></div>    
                            <span style="font-size:24px;">Форма редактирования рекламного блока</span> 

                            <form class="form-horisontal" id="edit-form" method="post" enctype="multipart/form-data">

                                <input type="hidden" name="<?php echo $this->security->getTokenKey() ?>"  value="<?php echo $this->security->getToken() ?>"/>
                                <input type="hidden" name="form_type" value="2">
                                <input type="hidden" id="comercial_id" name="comercial_id" value="">


                                Название: <input type="text" class="form-control" id="comercial_name"  name="comercial_name">
                                <br>
                                Активен:<input type="checkbox" id="comercial_active" name="comercial_active" ><br><br>

                                Кому отображать:
                                <br>                       

                                <label><input type="checkbox" name="user_role[]" value="[3]" >Заказчикам</label>
                                <label><input type="checkbox" name="user_role[]" value="[4][5][6]" >Строителям</label>
                                <br>
                                <hr>
                                Загрузить изображение: (Если надо оставить текущее - не трогаем)
                                <input class="btn btn-default fileInput" name="comercial_image" type="file" accept=".jpg,.jpeg,.png,.gif" style="width: 100%;text-align:left;" />

                                <br>Описание:<br>
                                <textarea class="form-control" id="comercial_descr" name="comercial_descr" rows="5"></textarea>

                                <center> <p onclick="$('#spec').slideDown(); $(this).hide(); $('#hide_spec').show();" id="show_spec" style="    font-weight: 700; font-size: 16px; cursor: pointer; padding-top: 15px; padding-bottom: 10px; ">Отобразить список категорий</p></center>

                                <center> <p onclick="$('#spec').slideUp(); $(this).hide(); $('#show_spec').show()" id="hide_spec" style="font-weight: 700; display: none; font-size: 16px; cursor: pointer; padding-top: 15px; padding-bottom: 10px; ">Скрыть список</p></center>

                                <div style="display: none;" id="spec">
                                    <table class="table table-hover table-striped" >
                                        <tbody>
                                        <thead>
                                            <tr>
                                                <th style="text-align: center;">Специальности</th>
                                                <th style="text-align: center;">Подспециальности</th> 
                                            </tr>
                                        </thead>
                                        <tr>
                                            <th style="text-align: center;width: 50%; text-align: left;">
                                                <?php foreach ($main_spec as $key => $value): ?>
                                                        <label><input type="checkbox" name="comercial_main_spec[]" value="[<?= $value['id'] ?>]" ><?= $value['type_name'] ?></label> - <span class="glyphicon glyphicon-eye-open js_open_sub_spec" style="cursor: pointer" spec_name="<?= $value['type_name'] ?>" data="<?= $value['id'] ?>"></span> <br>
                                                    <?php endforeach; ?>
                                            </th>
                                            <th style="text-align: center; width: 50%; text-align: left;">
                                                <?php foreach ($sub_spec as $key => $value): ?>
                                                        <div style="display:none;" class="js_sub_spec" parent="<?= $value['type_id'] ?>"><label><input type="checkbox" name="comercial_sub_spec[]" value="[<?= $value['id'] ?>]"><?= $value['spec_name'] ?></label></div>
                                                    <?php endforeach; ?>     
                                            </th> 
                                        </tr>                      
                                        </tbody>
                                    </table>                           

                                </div>

                                <input type="submit" value="Сохранить" class="btn btn-success btn-lg"> <input type="button" onclick="window.location.reload()" value="Создать новый" class="btn btn-info btn-lg"> 

                            </form>


                        </div>
                    </div>
                    <div class="blank15"></div>



                </div>
            </div>
        </div>


        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>


        <div class="modal fade bs-modal-md" id="commercial_interested" tabindex="-1" role="dialog" aria-labelledby="ListRoles" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h4 class="">Список заинтересовавшихся строителей</h4>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>


        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script type="text/javascript">
                                    var crntPage = 'shops';
                                    var langFiedsEmpty = 'Не заполнены обязательные поля';
                                    try {
                                        $('#phone1').mask('(999) 999-99-99');
                                        $('#phone2').mask('(999) 999-99-99');
                                    } catch (err) {
                                    }


        </script>
        <script src="<?php echo $url ?>/js/budmisto.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.wysibb.min.js"></script>
        <script src="<?php echo $url ?>/js/wbblang/ru.js"></script>
        <script type="text/javascript">

                                    $(".js_open_sub_spec").on("click", function () {
                                        var parent = $(this).attr('data');
                                        var name = $(this).attr('spec_name');
                                        $('.js_sub_spec').hide();
                                        $("[parent='" + parent + "']").show();
                                    });

                                    var wbbOpt = {
                                        lang: "ru",
                                        smileList: false,
                                        resize_maxheight: 1200,
                                        buttons: 'bold,italic,underline,|,bullist,numlist,|,justifyleft,justifycenter,justifyright'
                                    }
                                    $('[name="desc"]').wysibb(wbbOpt);

                                    $('#comercial_descr').wysibb({lang: "ru",resize_maxheight: 1200});
                                                                                                            
                                    $("#tid").on("change", function () {

                                        $("#subm_btn").attr("onclick", "return doFormSubmit('add-form', 'name|email1|tid|sid')");

                                    });

        </script>

        <script type="text/javascript">
            var placeSearch, autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                autocomplete.addListener('place_changed', fillInAddress);
            }

            function edit_comercial(id) {

                $.ajax({
                    type: 'post',
                    url: window.location.href,
                    dataType: 'json',
                    data: {
                        comercial_id: id
                    },
                    success: function (res) {
                        if (res) {
                            var scrollTop = $('#edit-form').offset().top;

                            $("html,body").animate({scrollTop: scrollTop}, 1000);

                            $("#comercial_id").val(id);
                            $("#comercial_name").val(res.name);

                            /*Выставляем активность*/
                            if (res.active == 1) {
                                $("#comercial_active").prop("checked", true);
                            } else {
                                $("#comercial_active").prop("checked", false);
                            }

                            /*Расставляем выбранные роли и специализации*/
                            $(":checkbox").each(function () {

                                if ($(this).attr('name') == "user_role[]" || $(this).attr('name') == "comercial_main_spec[]" || $(this).attr('name') == "comercial_sub_spec[]") {
                                    $(this).prop("checked", false);
                                }
                                if ($(this).attr('name') == "user_role[]") {
                                    if (res.user_role.indexOf($(this).val()) !== -1) {
                                        $(this).prop("checked", true);
                                    }
                                }

                                if ($(this).attr('name') == "comercial_main_spec[]") {
                                    if (res.wrk_type_id.indexOf($(this).val()) !== -1) {
                                        $(this).prop("checked", true);
                                    }
                                }
                                if ($(this).attr('name') == "comercial_sub_spec[]") {
                                    if (res.wrk_spec_id.indexOf($(this).val()) !== -1) {
                                        $(this).prop("checked", true);
                                    }
                                }

                            });

                            //$("#comercial_descr").val(res.descr);
                            $('#comercial_descr').htmlcode(res.descr);
                        }
                    },
                    error: function () {
                        console.log("Error ajax form!");
                    }
                });

            }

            function comercial_interested(id) {

                $.ajax({
                    type: 'post',
                    url: '<?php echo $url ?>/workz/shops/commercial-interested/'+id,
                    dataType: 'html',
                    data: {
                        comercial_id: id
                    },
                    success: function (res) {
                        
                        $('#commercial_interested').find('.modal-body').html(res);                        
                        $('#commercial_interested').modal('show');
                    },
                    error: function () {
                        console.log("Error ajax form!");
                    }
                });
            }


        </script>
        <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>
    </body>
</html>