<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">

    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i>Редактор СМС заданий</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post" id="order_form" class="form-horisontal">
                                <div class="form-group">
                                    <label for="num" class="col-md-2 control-label">Выберите задание</label>
                                    <div class="col-md-9">
                                        <select name="sms_order" class="form-control" id="sms_order">
                                            <option value="0">-- Новое задание --</option>
                                            <?php
                                                if($sms_orders)
                                                    foreach ($sms_orders as $order) {
                                                        ?>
                                                        <option value="<?php echo $order['id'] ?>"><?php echo $order['name'] ?></option>
                                                    <?php } ?>

                                        </select>
                                    </div> 
                                </div>  
                                <div class="blank10"></div>
                                <label for="name" class="col-md-2 control-label">Название</label>
                                <div class="col-md-9"><input type="text" name="name" id="name" class="form-control" value='' placeholder="Название задания"></div>
                                <div class="blank10"></div>
                                <label for="text" class="col-md-2 control-label">Текст</label>
                                <div class="col-md-9"><textarea class="form-control" rows="5" name="text" id="text" placeholder="Текст СМС"></textarea></div>
                                <div class="blank10"></div>
                                <div class="submit col-md-8 text-center">
                                    <button class="btn btn-success btn-lg" type="submit" name="getCSV">Скачать в CSV</button>
                                    <button class="btn btn-success btn-lg" type="submit" id='save_order'>Сохранить</button>
                                    <button class="btn btn-success btn-lg" type="submit" id='delete_order'>Удалить</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>

        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>

        <script>

            $('#save_order').click(function (e) {
                e.preventDefault();
                if ($('#name').val() == '') {
                    $('#name').css('border', '2px solid red');
                    return false;
                }else{
                    $('#name').css('border', '1px solid #ccc');
                }
                
                if ($('#text').val() == '') {
                    $('#text').css('border', '2px solid red');
                    return false;
                }else{
                    $('#text').css('border', '1px solid #ccc');
                }
                
                $('#order_form').attr('action', '/workz/users/sms-set-order').submit();
            });

            $('#delete_order').click(function (e) {
                $('#order_form').attr('action', '/workz/users/sms-delete-order').submit();
            });

            $('#sms_order').change(function () {
                let order_id = $(this).val();
                
                if(order_id==0){
                    $('#name').val('');
                    $('#text').val('');
                    return;
                }
                
                $.ajax({
                    type: 'post',
                    url: '/workz/users/sms-get-order',
                    dataType: 'json',
                    data: {
                        order_id: order_id
                    },
                    success: function (res) {
                        if (res['name'] != '')
                            $('#name').val(res['name']);
                            
                        if (res['text'] != '')
                            $('#text').val(res['text']);
                    },
                    error: function () {
                        console.log("Error ajax form!");
                    }
                });
            });

        </script>

    </body>
</html>