<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">

    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i>Массовая рассылка СМС</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">

                            <?php if($error): ?>
                                    <h2 style="color: red"><?= $error ?></h2>
                                    <div class="blank10"></div>
                                <?php endif; ?>
                            <?php if($success): ?>
                                    <h2 style="color: green"><?= $success ?></h2>
                                    <div class="blank10"></div>
                                <?php endif; ?>
                            <?php if($no_new_users): ?>
                                    <h2 style="color: red"><?= $no_new_users ?></h2>
                                    <div class="blank10"></div>
                                <?php endif; ?>

                            <?php if(is_array($users)): ?>                                    

                                    Найдено <?= count($users) ?> пользователей
                                    <form method="post" id="search-form" class="form-horisontal">
                                        <input type="hidden"  name="sms_order" value='<?= $sms_order[0]['id'] ?>'>
                                        <input type="hidden"  name="users_array" value='<?= json_encode($users) ?>'>
                                        <input type="text" name="order_name" class="form-control" value='<?= $sms_order[0]['name'] ?>' readonly="">
                                        <div class="blank10"></div>
                                        <textarea class="form-control" rows="5" name="sms_text" placeholder="Текст СМС"><?= $sms_order[0]['text'] ?></textarea>
                                        <div class="blank10"></div>
                                        <button class="btn btn-success btn-lg" type="submit" name="getCSV">Скачать в CSV</button>
                                        <button class="btn btn-success btn-lg" type="submit" name="sendToJob">Добавить в задание</button>
                                        <button class="btn btn-success btn-lg" type="submit" name="sendSMS">Отправить СМС</button>
                                    </form>


                                    <div class="text-center"><a href="<?php echo $url ?>/workz/users/sms-sender" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> &nbsp; Новый поиск</a></div>

                                <?php else: ?>

                                    <form method="post" id="search-form" class="form-horisontal">

                                        <input type="hidden" id="csrf-token">
                                        <div class="form-group">
                                            <label for="num" class="col-md-2 control-label">Выберите задание</label>
                                            <div class="col-md-9">
                                                <select name="sms_order" class="form-control" id="sms_order">
                                                    <option value="0">-- Без задания --</option>
                                                    <?php
                                                    if($sms_orders)
                                                        foreach ($sms_orders as $order) {
                                                            ?>
                                                            <option value="<?php echo $order['id'] ?>"><?php echo $order['name'] ?></option>
                                                        <?php } ?>

                                                </select>
                                            </div>
                                        </div>
                                        
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="email" class="col-md-2 control-label">E-mail</label>
                                            <div class="col-md-9">
                                                <input type="email" name="email" id="email" class="form-control" placeholder="Введите e-mail" />
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="phone" class="col-md-2 control-label">Телефон</label>
                                            <div class="col-md-9">
                                                <input type="text" name="phone" id="phone" class="form-control" placeholder="Введите телефон" />
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="num" class="col-md-2 control-label">Количество звезд</label>
                                            <div class="col-md-9">
                                                <input type="text" name="stars" id="stars" class="form-control" placeholder="Количество звезд (1-10)" />
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="tid" class="col-md-2 control-label">Специализация</label>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select name="speciality" class="form-control" id="tid">
                                                            <option value="0">-- Выберите специализацию --</option>

                                                            <?php
                                                            if($top_catalog)
                                                                foreach ($top_catalog as $tc) {
                                                                    ?>
                                                                    <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>
                                                                <?php } ?>

                                                        </select>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="subspeciality" class="form-control" id="sid" disabled>
                                                            <option value="0">-- Выберите специализацию --</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="tid" class="col-md-2 control-label">Роль</label>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select class="form-control" name="role">
                                                            <option value="3">Заказчик</option>
                                                            <option value="4" selected>Мастер</option>
                                                            <option value="5">Бригада строителей</option>
                                                            <option value="6">Строительная фирма</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="tid" class="col-md-2 control-label">Статус</label>
                                            <div class="col-md-9">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select class="form-control" name="is_active">
                                                            <option value="0">Блокирован администратором</option>
                                                            <option value="1" selected>Активен</option>
                                                            <option value="2">Блокирован по смс рассылке</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blank15"></div>
                                        <div class="form-group">
                                            <label for="autocomplete" class="col-md-2 control-label">По городу</label>
                                            <div class="col-md-9">
                                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" placeholder="Название населённого пункта" />
                                                <input type="hidden" name="placelat" id="placelat" />
                                                <input type="hidden" name="placelng" id="placelng" />
                                                <input type="hidden" name="placeid" id="placeid" />
                                                <input type="hidden" name="placeaddr" id="placeaddr" />
                                                <input type="hidden" name="placetown" id="locality" />
                                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                                <input type="hidden" name="placecountry" id="country" />
                                                <input type="hidden" name="placeroute" id="route" />
                                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                            </div>
                                            <div class="col-md-9">
                                                Радиус поиска: 
                                                <input type="text"  class="form-control"  style="width: 44px; display: initial" readonly="" value="20" id="distance" name="distance"> км
                                                <div id="slider" class="ui-slider ui-slider-horizontal ui-widget ui-widget-content ui-corner-all" style="width:400px; margin-top: 15px; margin-bottom: 10px;"></div>
                                            </div>
                                        </div>
                                        <div class="blank25"></div>
                                        <div class="form-group">
                                            <label for="note" class="col-md-2 control-label">По заметкам</label>
                                            <div class="col-md-9">
                                                <input type="text" name="note" id="note" class="form-control" placeholder="Введите слово или его часть из заметки" />
                                            </div>
                                        </div>
                                        <div class="blank25"></div>
                                        <div class="form-group">
                                            <label for="note" class="col-md-2 control-label">По описанию</label>
                                            <div class="col-md-9">
                                                <input type="text" name="descr" id="note" class="form-control" placeholder="Введите слово или его часть из описания" />
                                            </div>
                                        </div>
                                        <div class="blank25"></div>
                                        <div class="submit col-md-8" style="text-align:center">
                                            <button class="btn btn-success btn-lg" type="submit" name="search_form">Отобрать пользователей</button>
                                        </div>
                                    </form>

                            <?php endif; ?>


                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script type="text/javascript">
            var crntPage = 'admin';
            var langFiedsEmpty = 'Не заполнены обязательные поля';
            function doSubmit(form_id) {
                setTimeout(function () {
                    var note = $('#note').val();
                    var email = $('#email').val();
                    var phone = $('#phone').val();
                    //var placeid = $('#placeid').val();
                    var num = $('#num').val();
                    var tid = $('#tid').val();
                    var sid = $('#sid').val();
                    var placelat = $("#placelat").val();
                    var placelng = $("#placelng").val();
                    if (email || phone || num || note || tid > 0 || (placelat > 0 && placelng > 0)) {
                        return doFormSubmit(form_id);
                    } else {
                        alertBM.alert('Заполните хотя бы одну поисковую позицию');
                        return false;
                    }

                    /*
                     if (email || phone || num || note || (tid > 0 && sid > 0)){
                     return doFormSubmit(form_id);
                     console.log(email, phone, num, note, tid, sid);
                     } else {
                     alertBM.alert('Заполните хотя бы одно поле или выберите обе специализации.');
                     return false;
                     }*/
                    return false;
                }, 1000);

            }
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>

        <script type="text/javascript">
            try {
                $('#sid').remoteChained({
                    parents: '#tid',
                    url: '/catalog/subdata',
                    loading: '...'
                });
            } catch (err) {
            }
            function deluser(id) {
                if (confirm('Удалить пользователя?')) {
                    $.ajax({
                        type: 'post',
                        url: '<?php echo $url ?>/workz/users/delete/' + id,
                        success: function (result) {
                            $('#user' + id).remove();
                        },
                        error: function (error) {
                            alert('Не удалось удалить');
                            console.log(error);
                        }
                    });
                } else {
                    return false;
                }
            }

            //Активация ползунка
            $("#slider").slider({
                min: 10,
                max: 60,
                values: [20],
                step: 20,
                range: false, // диапазон,
                slide: function (event, ui) {
                    $("#distance").val(ui.value);
                }
            });

            var placeSearch, autocomplete;
            function initAutocomplete() {
                var tmp = $('#autocomplete');
                if (tmp.length) {
                    autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                    autocomplete.addListener('place_changed', fillInAddress);
                }
            }
        </script>
        <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>
    </body>
</html>