<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Специализация 2 уровня</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/spec/list" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">

                            <form method="post" id="edit-form" class="form-horisontal">
                                <input type="hidden" id="csrf-token">
                                <div class="form-group">
                                    <label for="email" class="col-md-2 control-label">Название</label>
                                    <div class="col-md-9">
                                        <input type="text" name="name" id="name" class="form-control" value="<?php echo $spec['spec_name'] ?>" />
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <div class="form-group">
                                    <label for="phone" class="col-md-2 control-label">Уровень 1</label>
                                    <div class="col-md-9">

                                        <div class="row">
                                            <div class="col-sm-12">
                                                <select name="speciality" class="form-control" id="topspec">
                                                    <option value="0">-- Выберите вид работ --</option>

                                                    <?php
                                                        if($top_catalog)
                                                            foreach ($top_catalog as $tc) {
                                                                ?>

                                                                <option value="<?php echo $tc['id'] ?>"<?php if($spec['type_id'] == $tc['id']) echo ' selected' ?>><?php echo $tc['type_name'] ?></option>

                                                            <?php } ?>

                                                </select>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <div class="form-group">
                                    <label for="autocomplete" class="col-md-2 control-label">ЧПУ</label>
                                    <div class="col-md-9">
                                        <input type="text" id="slug" class="form-control" name="slug" value="<?php echo $spec['slug'] ?>" />
                                    </div>
                                </div>
                                <div class="blank15"></div>
                                <div class="form-group">
                                    <label for="autocomplete" class="col-md-2 control-label">Описание</label>
                                    <div class="col-md-9">
                                        <textarea class="form-control" name="desc"><?php echo $spec['description'] ?></textarea>
                                    </div>
                                </div>
                                <div class="blank25"></div>
                                <div class="submit col-md-8" style="text-align:center">
                                    <button class="btn btn-success btn-lg" onclick="return doFormSubmit('edit-form', 'name|topspec|slug')">Изменить</button>
                                </div>
                            </form>


                            <div class="blank25"></div><div class="blank25"></div>
                            <form method="post" id="add-form" class="form-horisontal" action="<?php echo $url ?>/workz/spec/specrefadd" style="border: 1px solid #ccc; padding: 15px; margin-right: 15px;">
                                <input type="hidden" id="csrf-token">
                                <input type="hidden" name="id" value="<?php echo $spec['id'] ?>">
                                <strong>Добавить связанную специализацию</strong>
                                <div class="blank5"></div>
                                <div class="row">
                                    <div class="col-sm-5">
                                        <select name="speciality" class="form-control" id="tid">
                                            <option value="0">-- Выберите вид работ --</option>

                                            <?php
                                                if($top_catalog)
                                                    foreach ($top_catalog as $tc) {
                                                        ?>

                                                        <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>

                                                    <?php } ?>

                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                    <div class="col-sm-5">
                                        <select name="subspeciality" class="form-control" id="sid">
                                            <option value="0">-- Уточните вид работ --</option>
                                        </select>
                                        <div class="blank15"></div>
                                    </div>
                                </div>
                                <div class="blank5"></div>
                                <button class="btn btn-warning" onclick="return doFormSubmit('add-form', 'tid|sid')">Добавить</button>
                                <div class="blank5"></div>
                            </form>

                            <?php if($spec_ref) { ?>
                                    <div class="blank15"></div>
                                    <strong>Связанные специализации</strong>
                                    <div class="blank15"></div>
                                    <?php
                                    foreach ($spec_ref as $s) {
                                        echo $s['type_name'], ' / ', $s['spec_name'], ' &nbsp; ';
                                        ?>
                                        <a href="<?php echo $url ?>/workz/spec/specrefdel/<?php echo $s['id'] ?>" onClick="return confirmAdmin()"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                        <div class="blank10"></div>
                                        <?php
                                    }
                                }
                            ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
        <script type="text/javascript">
                                var crntPage = 'admin';
                                var langFiedsEmpty = 'Не заполнены поля';
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>

    </body>
</html>