<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Города без привязки</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/board" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">


                            <?php
                                if($list) {
                                    foreach ($list as $l) {
                                        ?>

                                        <div class="list-group-item">
                                            <div class="row">
                                                <div class="col-md-7">
                                                    <?php echo $l['name'] ?><br />
                                                    <a href="https://www.google.com.ua/maps/place/<?php echo $l['lat'], ',', $l['lng'] ?>" target="_blank">посмотреть на карте</a>

                                                </div>
                                                <div class="col-md-5">
                                                    <?php //if ($l['region_id']) {   ?>
                                                    <select name="did" id="d<?php echo $l['id'] ?>">
                                                        <option value="0"> --- Выберите область --- </option>

                                                        <?php foreach ($regions as $d) { ?>

                                                            <option value="<?php echo $d['id'] ?>"><?php echo $d['ru_region_name'] ?></option>

                                                        <?php } ?>

                                                    </select>
                                                    <button class="btn btn-link set_did" title="Задать область" data-id="<?php echo $l['id'] ?>"><span class="glyphicon glyphicon-ok-sign"></span></button>
                                                    <?php /* } else {?>
                                                      <big><span class="glyphicon glyphicon-alert text-danger"></span></big> <a href="<?php echo $url?>/workz/city/correction/<?php echo $l['id']?>" style="font-weight: bold;">корректировать</a>
                                                      <?php } */ ?>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="blank15"></div>

                                        <?php
                                    }
                                } else
                                    echo 'Нет проблемных городов'
                                    ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script type="text/javascript">
            var crntPage = 'admin';
            $('.set_did').each(function () {
                $(this).on('click', function () {
                    var did = $(this).data('id');
                    var selid = $('#d' + did).val();
                    window.location = '<?php echo $url ?>/workz/city/setchain?id=' + did + '&did=' + selid;
                });
            });
        </script>
        <script type="text/javascript" src="<?php echo $url ?>/js/budmisto.js"></script>
    </body>
</html>