<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Пользователи с комментарием администратора</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $url ?>/workz/users/marked" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-12">

                            <?php
                                if(isset($users) && $users) {
                                    foreach ($users as $w) {
                                        ?>

                                        <ul class="list-group">
                                            <li class="list-group-item text-success">
                                                <div class="row">
                                                    <div class="col-sm-8">
                                                        <?php if($w['stars'] == 10) echo '<span class="glyphicon glyphicon-star text-danger"></span>' ?>
                                                        <strong><?php echo $w['user_name'] ?></strong> <?php echo ($w['user_role_id'] == 3) ? '(заказчик)' : '(<span class="glyphicon glyphicon-wrench text-success"></span> строитель)' ?>
                                                        <?php if(!$w['place_id']) echo '<br /><span class="text-danger">Адрес не указан</span>'; ?>
                                                        <?php if(!$w['speckey'] && $w['user_role_id'] > 3) echo '<br /><span class="text-danger">не указана специализация!</span>' ?>
                                                        <br />
                                                        <?php
                                                        echo $w['user_email'];
                                                        if(!$w['is_confirmed'])
                                                            echo ' <small class="text-danger">неподтверждён</small>'
                                                            ?>, <?php
                                                        if(!$w['user_phone'])
                                                            echo ' <small class="text-danger">телефон не указан</small>';
                                                        else
                                                            echo $w['user_phone']
                                                            ?>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <ul class="list-inline pull-right">
                                                            <li><a href="<?php echo $url ?>/workz/users/view/<?php echo $w['uid'] ?>" target="_blank" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-eye-open"></span></a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>

                                        <?php
                                    }

                                    echo $pager_html;
                                    ?>

                                <?php } else echo '<div class="blank15"></div><div class="text-center text-danger">Никого не найдено</div>' ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script type="text/javascript">
            var crntPage = 'admin';
        </script>
    </body>
</html>