<!DOCTYPE html>
<html lang="ru">

    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <title>Панель управления</title>
        <meta name="generator" content="Bootply" />
        <meta name="viewport" content="width=device-width, initial-scale=0.7, maximum-scale=1">
        <link href="<?php echo $url ?>/css/bootstrap.min.css" rel="stylesheet">
        <link href="<?php echo $url ?>/css/wstyles.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<?php echo $url ?>/css/wbbtheme.css" media="all" />
        <style>
            a.btn { margin-bottom: 5px; }
        </style>
    </head>

    <body>
        <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="<?php echo $url ?>/workz/board">Будмисто</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#"><i class="glyphicon glyphicon-user"></i> <?php echo $usr_name ?> <span class="caret"></span></a>
                            <ul id="g-account-menu" class="dropdown-menu" role="menu">
                                <li><a href="<?php echo $url ?>/workz/settings">Настройки</a></li>
                            </ul>
                        </li>
                        <li><a href="<?php echo $url ?>/workz/quit"><i class="glyphicon glyphicon-lock"></i> Выйти</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <?= file_get_contents('../app/modules/admin/views/menu.phtml') ?>
                <div class="col-sm-9">
                    <div class="row">
                        <div class="col-xs-8">
                            <strong><i class="glyphicon glyphicon-edit"></i> Карточка пользователя</strong>
                        </div>
                        <div class="col-xs-4" style="text-align: right">
                            <a href="<?php echo $back_url ?>" class="btn btn-default" title="Вернуться"><span class="glyphicon glyphicon-level-up"></span></a>
                        </div>
                    </div>
                    <hr>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">

                                            <?php
                                                if($profile['is_active']) {
                                                    $css = 'btn-danger';
                                                    $txt = 'Заблокировать';
                                                } else {
                                                    $css = 'btn-primary';
                                                    $txt = 'Разблокировать';
                                                }
                                            ?>

                                            <span class="title" style="font-size:26px"><?php echo $profile['user_name'] ?></span> &nbsp;
                                            <a href="<?php echo $url ?>/workz/users/block/<?php echo $profile['id'] ?>" class="btn <?php echo $css ?> btn-xs" id="block"><?php echo $txt ?></a>
                                            <br />
                                            <?php
                                                if($profile['user_role_id'] < 3)
                                                    echo '(Администратор)';
                                                else
                                                    echo ($profile['user_role_id'] == 3) ? '(заказчик)' : '(<span class="glyphicon glyphicon-wrench text-success"></span> строитель)'
                                                    ?>
                                            &nbsp;<a href="javascript:void(0);" class="btn btn-primary btn-xs btn-warning" onclick="get_profile_link(<?php echo $profile['id'] ?>)">Реальный профиль</a>  <input class="form-control" type="hidden" id="show_hash" style="width:350px; margin-top: 20px;"><span id="msg_hidden" style="display:none; color: red;">Ссылку скопировать и вставить В ДРУГОЙ БРАУЗЕР</span>
                                        </div>
                                        <div class="col-sm-6">
                                            <form class="form-horisontal" method="post" id="chrole-form">
                                                <input type="hidden" name="user_id" value="<?php echo $profile['id'] ?>">
                                                <div class="row">
                                                    <div class="col-md-7">
                                                        <select class="form-control" name="role">
                                                            <option value="1"<?php if($profile['user_role_id'] == 1) echo ' selected' ?>>Администратор</option>
                                                            <option value="3"<?php if($profile['user_role_id'] == 3) echo ' selected' ?>>Заказчик</option>
                                                            <option value="4"<?php if($profile['user_role_id'] == 4) echo ' selected' ?>>Мастер</option>
                                                            <option value="5"<?php if($profile['user_role_id'] == 5) echo ' selected' ?>>Бригада строителей</option>
                                                            <option value="6"<?php if($profile['user_role_id'] == 6) echo ' selected' ?>>Строительная фирма</option>
                                                        </select>
                                                        <div class="blank5"></div>
                                                        &nbsp; <input value="1" type="checkbox" name="notify"> <small>с уведомлением по e-mail</small>
                                                    </div>
                                                    <div class="col-md-5">
                                                        <button class="btn btn-warning btn-sm" id="chrole">Изменить роль</button>
                                                    </div>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <hr />

                                    <form method="post" id="mark-form"  name="mark-form">
                                        <input type="hidden" id="csrf-token">
                                        <input type="hidden" name="mark-form">
                                        <strong>Заметка администратора о пользователе</strong>
                                        <textarea name="admininfo" id="admininfo" class="form-control"><?php echo $admininfo['description'] ?></textarea>
                                        <div class="blank10"></div>
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <label>Лимит выборов строителей:</label> 
                                                <div >
                                                    <input class="form-control" style="text-align:center; width: 30%; display: inline" value="<?= $profile['limit_choices'] ?>" name="limit_choices" >
                                                </div>
                                            </div>  

                                            <div class="col-xs-3" <?php if($admininfo['stars'] < 10): ?>style="display: none;" <?php endif; ?>>
                                                <label>Количество часов:</label> 
                                                <div >
                                                    <input class="form-control" style="text-align:center; width: 30%; display: inline" value="<?= round($admininfo['premium_hours'] / 3600, 1) ?>" name="premium_hours" id="premium_hours" ><br> (использовано: <?= round($admininfo['premium_hours_used'] / 3600, 1) ?> часов)
                                                </div>
                                            </div> 
                                        </div>                    
                                        <div class="row">
                                            <div class="col-xs-2">
                                                <button class="btn btn-success btn-sm" onclick="return doFormSubmit('mark-form');">Сохранить заметку</button>
                                            </div>
                                            <div class="col-xs-2">

                                                <font size="+2" color="green">Звезды:  <?= $admininfo['stars'] ?></font>

                                            </div>
                                            <?php for ($i = 0; $i < 11; $i++): ?>
                                                    <label class="radio-inline">
                                                        <input name="stars" value="<?= $i ?>" type="radio" <?php if($admininfo['stars'] == $i): ?> checked<?php endif; ?>> <?= $i ?>
                                                    </label>
                                                <?php endfor; ?>   
                                        </div>                    
                                    </form>
                                    <hr>
                                    <form method="post" id="scale-form" name="scale-form">
                                        <input type="hidden" id="csrf-token">
                                        <input type="hidden" name="scale-form">
                                        <div class="blank10"></div>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <label >Шкала доверия ( среднее значение <?= round($profile['scale_trust'] / $profile['scale_count'], 1) ?>):</label>
                                                <div >
                                                    <input class="form-control" style="text-align:center; width: 30%; display: inline" value="1" name="scale_trust" id="scale_trust" readonly="">
                                                    <span class="glyphicon glyphicon-plus js_scale" style="cursor:pointer; font-size: 1.2em;" action="plus"></span>
                                                    <span class="glyphicon glyphicon-minus js_scale" style="cursor:pointer; font-size: 1.2em;" action="minus"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <label >Шкала стоимости ( среднее значение <?= round($profile['scale_cost'] / $profile['scale_count'], 1) ?>):</label> 
                                                <div >
                                                    <input class="form-control" style="text-align:center; width: 30%; display: inline" value="1" name="scale_cost" id="scale_cost" readonly="">
                                                    <span class="glyphicon glyphicon-plus js_scale" style="cursor:pointer; font-size: 1.2em;" action="plus"></span>
                                                    <span class="glyphicon glyphicon-minus js_scale" style="cursor:pointer; font-size: 1.2em;" action="minus"></span>
                                                </div>
                                            </div>
                                            <div class="col-xs-4">
                                                <label >Шкала исполнения ( среднее значение <?= round($profile['scale_prof'] / $profile['scale_count'], 1) ?>):</label> 
                                                <div >
                                                    <input class="form-control" style="text-align:center; width: 30%; display: inline" value="1" name="scale_prof" id="scale_prof" readonly="">
                                                    <span class="glyphicon glyphicon-plus js_scale" style="cursor:pointer; font-size: 1.2em;" action="plus"></span>
                                                    <span class="glyphicon glyphicon-minus js_scale" style="cursor:pointer; font-size: 1.2em;" action="minus"></span>
                                                </div>
                                            </div> 
                                            <div class="blank10"></div>  
                                            <div class="col-xs-2">
                                                <button class="btn btn-success btn-sm" onclick="return doFormSubmit('scale-form');">Сохранить данные шкал</button>
                                            </div>
                                        </div>                       
                                    </form>        


                                </div>
                            </div>
                            <hr />

                            <div class="blank5"></div>
                            <span class="text-success"><strong>Регистрация:</strong> <?php echo $profile['user_reg_date'] ?></span>
                            <div class="blank5"></div>
                            <form method="post" id="edit-form" class="form-horisontal" action="<?php echo $url ?>/workz/users/edit">
                                <input value="<?php echo $profile['user_name'] ?>" type="text" name="user_name" id="user_name" class="form-control">
                                <div class="blank5"></div>
                                <input type="text" name="user_passwd" id="user_passwd" style="border: 1px solid #cfcfcf"> новый пароль пользователя &nbsp;
                                <label><input value="1" type="checkbox" name="sendtomail" checked=""> отправить на e-mail</label>


                                <div class="blank15"></div>
                                <strong>Контакты:</strong>
                                <div class="blank5"></div>
                                Телефоны: 
                                <input value="<?= $profile['user_phone'] ?>" type="text" name="us_phone" id="phone" style="border: 1px solid #cfcfcf">        
                                <br>

                                <?php
                                    if(isset($info['phone1']))
                                        $phones[] = $info['phone1'];
                                    if(isset($info['phone2']))
                                        $phones[] = $info['phone2'];
                                ?>
                                <?php if(count($phones) > 0): ?>
                                        Дополнительные телефоны:
                                        <?= ($phones) ? implode(', ', $phones) : '' ?>
                                    <?php endif; ?>
                                <br />
                                E-mail: <input value="<?php echo $profile['user_email'] ?>" type="text" name="email" id="email" style="border: 1px solid #cfcfcf">
                                <?php /* echo ($profile['user_email'])?$profile['user_email']:'не указан'; */ if(!$profile['is_confirmed']) echo ' <small class="text-danger">неподтверждён</small>' ?>
                                <br />
                                Web: <?php
                                    if(isset($info['website']) && $info['website'])
                                        echo $info['website'];
                                    else
                                        echo 'не указан';
                                ?>

                                <div class="blank15"></div>
                                <strong>Адреса пользователя:</strong>
                                <div class="blank5"></div>

                                <?php if($places) foreach ($places as $p) { ?>
                                            <?php echo $p['route'], ' ', $p['town'], ' ', $p['district'], ' ', $p['region'] ?>
                                            &nbsp; <a href="<?php echo $url ?>/workz/users/delplace?id=<?php echo $p['id'] ?>&user=<?php echo $profile['id'] ?>" onClick="return confirmAdmin()"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                            <div class="blank5"></div>
                                        <?php } ?>

                                <div class="blank5"></div>

                                <input type="hidden" id="csrf-token">
                                <input type="hidden" id="user_id" name="user_id" value="<?php echo $profile['id'] ?>">
                                <input type="text" id="autocomplete" class="form-control clearable" name="addr" />
                                <input type="hidden" name="placelat" id="placelat" />
                                <input type="hidden" name="placelng" id="placelng" />
                                <input type="hidden" name="placeid" id="placeid" />
                                <input type="hidden" name="placeaddr" id="placeaddr" />
                                <input type="hidden" name="placetown" id="locality" />
                                <input type="hidden" name="placedistrict3" id="administrative_area_level_3" />
                                <input type="hidden" name="placedistrict2" id="administrative_area_level_2" />
                                <input type="hidden" name="placeregion" id="administrative_area_level_1" />
                                <input type="hidden" name="placecountry" id="country" />
                                <input type="hidden" name="placeroute" id="route" />
                                <input type="hidden" name="placextra" id="sublocality_level_1" />
                                <div class="blank15"></div>

                                <?php if($profile['user_role_id'] > 3 && $profile['user_role_id'] < 7) { ?>


                                        <strong>Описание:</strong>
                                        <div class="blank5"></div>
                                        <div style="text-align: justify">
                                            <div class="blank5"></div>
                                            <textarea class="form-control" id="desc" name="desc" rows="5">
                                                <?php echo isset($info['description']) ? $info['description'] : 'не указано' ?></textarea>
                                            <div class="blank5"></div>
                                        </div>
                                    <?php } ?>
                                <div class="submit">
                                    <button class="btn btn-warning"  onclick="return doFormSubmit('edit-form', 'email')">Изменить пользователя</button>
                                </div>
                            </form>

                            <?php if($profile['user_role_id'] > 3 && $profile['user_role_id'] < 7) { ?>
                                    <hr />
                                    <div class="row">
                                        <div class="col-sm-12">

                                            <strong>Специализации</strong>
                                            <div class="blank15"></div>

                                            <?php
                                            if(!$user_specs)
                                                echo '<span class="red">Пользователь не добавил специализации</span>';
                                            else
                                                foreach ($user_specs as $us) {
                                                    ?>
                                                    <div class="item-border">
                                                        <?php echo $us['type_name'] ?> / <?php echo $us['spec_name'] ?> &nbsp; <a href="<?php echo $url ?>/workz/users/delspec?id=<?php echo $us['id'] ?>&user=<?php echo $profile['id'] ?>" onClick="return confirmAdmin()"><span class="glyphicon glyphicon-remove text-danger"></span></a>
                                                    </div>
                                                    <div class="blank15"></div>

                                                <?php } ?>


                                            <form method="post" class="form-horizontal" id="spec-form" action="<?php echo $url ?>/workz/users/addspec">
                                                <input type="hidden" id="csrf-token">
                                                <input type="hidden" name="user_id" value="<?php echo $profile['id'] ?>">
                                                <div class="row">
                                                    <div class="col-sm-6">
                                                        <select name="speciality" class="form-control" id="tid">
                                                            <option value="0">-- Выберите специализацию --</option>

                                                            <?php
                                                            if($top_catalog)
                                                                foreach ($top_catalog as $tc) {
                                                                    ?>
                                                                    <option value="<?php echo $tc['id'] ?>"><?php echo $tc['type_name'] ?></option>
                                                                <?php } ?>

                                                        </select>
                                                        <div class="blank15"></div>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <select name="subspeciality" class="form-control" id="sid" disabled>
                                                            <option value="0">-- Выберите специализацию --</option>
                                                        </select>
                                                        <div class="blank15"></div>
                                                    </div>
                                                </div>
                                                <div>
                                                    <button class="btn btn-success" onclick="return doFormSubmit('spec-form', 'tid|sid')">Добавить</button>
                                                </div>
                                            </form>


                                        </div>
                                    </div>



                                    <hr />
                                    <div class="blank15"></div>
                                    <div class="row">
                                        <div class="col-sm-5">
                                            <strong>Файлы пользователя</strong>

                                            <?php if($doc_files) { ?>
                                                <div class="blank5"></div>
                                                <?php foreach ($doc_files as $doc) { ?>
                                                    <div class="item-border">
                                                        <a href="<?php echo $url, $fpath, $doc['user_id'], '/', $doc['fname'] ?>" target="_blank"><?php echo $doc['ftitle'] ?></a>
                                                    </div>
                                                    <div class="blank5"></div>

                                                <?php } ?>
                                                <div class="blank15"></div>
                                            <?php } ?>

                                        </div>
                                        <div class="col-sm-7">
                                            <strong>Фотогалерея пользователя</strong>

                                            <?php if($img_files) { ?>
                                                <div class="blank5"></div>
                                                <div class="owl-carousel">
                                                    <?php foreach ($img_files as $img) { ?>
                                                        <img src="<?php echo $url, $fpath, $img['user_id'], '/thumb@', $img['fname'] ?>" style="margin: 5px; border: 1px solid #000" />

                                                    <?php } ?>
                                                </div>
                                                <div class="blank15"></div>
                                            <?php } ?>

                                        </div>
                                    </div>

                                    <?php if($profile['user_role_id'] == 6) { ?>
                                        <hr />
                                        <strong>Информация о компании</strong>
                                        <div class="row">
                                            <div class="col-xs-4">
                                                <strong>Название:</strong>
                                            </div>
                                            <div class="col-xs-8">
                                                <?php echo $info['orgname'] ? $info['orgname'] : 'не указано' ?>
                                            </div>
                                        </div>
                                        <?php if(isset($info['edrpou'])) { ?>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <strong>ЕГРПОУ:</strong>
                                                </div>
                                                <div class="col-xs-8">
                                                    <?php echo $info['edrpou'] ?>
                                                </div>
                                            </div>
                                        <?php } ?>

                                        <?php if(isset($info['chief'])) { ?>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <strong>Контакт:</strong>
                                                </div>
                                                <div class="col-xs-8">
                                                    <?php echo $info['chief'] ?>
                                                </div>
                                            </div>
                                        <?php } ?>

                                        <?php if(isset($info['address'])) { ?>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <strong>Адрес:</strong>
                                                </div>
                                                <div class="col-xs-8">
                                                    <?php echo $info['address'] ?>
                                                </div>
                                            </div>
                                        <?php } ?>

                                        <?php if(isset($info['email'])) { ?>
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <strong>E-mail:</strong>
                                                </div>
                                                <div class="col-xs-8">
                                                    <?php echo $info['email'] ?>
                                                </div>
                                            </div>
                                        <?php } ?>

                                    <?php } ?>

                                <?php } ?>

                            <div class="blank25"></div>
                            <strong>Заявки пользователя</strong>
                            <div class="blank5"></div>
                            <?php
                                if($orders) {
                                    foreach ($orders as $o) {
                                        ?>
                                        <a href="<?php echo $url ?>/workz/orders/view/<?php echo $o['id'] ?>" target="_blank" class="btn btn-default">Заявка №<?php echo $o['id'] ?></a>
                                        <?php
                                    }
                                } else
                                    echo 'Нет заявок'
                                    ?>

                            <?php if(isset($offers) && $offers) { ?>
                                    <div class="blank25"></div>
                                    <strong>Предложения по заявкам</strong>
                                    <div class="blank5"></div>
                                    <?php foreach ($offers as $o) { ?>
                                        <a href="<?php echo $url ?>/workz/orders/view/<?php echo $o['order_id'] ?>" target="_blank" class="btn btn-default">Заявка №<?php echo $o['order_id'] ?></a>
                                        <?php
                                    }
                                }
                            ?>

                            <?php if(isset($choices) && $choices) { ?>
                                    <div class="blank25"></div>
                                    <strong>Выбрали пользователя</strong>
                                    <div class="blank5"></div>
                                    <?php foreach ($choices as $o) { ?>
                                        <a href="<?php echo $url ?>/workz/orders/view/<?php echo $o['order_id'] ?>" target="_blank" class="btn btn-default">Заявка №<?php echo $o['order_id'] ?></a>
                                        <?php
                                    }
                                }
                            ?>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="blank50"></div>
        <footer class="text-center">budmisto.com.ua</footer>

        <script src="<?php echo $url ?>/js/jquery.min.js"></script>
        <script src="<?php echo $url ?>/js/bootstrap.min.js"></script>
        <script src="<?php echo $url ?>/js/wscripts.js"></script>
        <script src="<?php echo $url ?>/js/bootbox.min.js"></script>
        <script type="text/javascript" src="<?php echo $url ?>/js/jquery.maskedinput.min.js"></script>
        <script type="text/javascript">
                                                var langFiedsEmpty = 'Не заполнены обязательные поля';
                                                var crntPage = "admin_userview";
                                                $('#chrole').on('click', function (e) {
                                                    e.preventDefault();
                                                    var form = $('#chrole-form');
                                                    $.ajax({
                                                        type: 'post',
                                                        url: '/workz/changerole',
                                                        data: form.serialize(),
                                                        success: function (result) {
                                                            if (result.indexOf('AllOk') !== -1) {
                                                                alertBM.alert('Роль изменена.<br />Обновите страницу.', 'alert-success');
                                                            } else {
                                                                alertBM.alert('Не удалось обновить роль.');
                                                            }
                                                        },
                                                        error: function () {
                                                            alertBM.alert('SYSTEM FAILURE');
                                                            ret = false;
                                                        }
                                                    });
                                                });
        </script>
        <script src="<?php echo $url ?>/js/budmisto.js"></script>

        <?php if($profile['user_role_id'] > 3 && $profile['user_role_id'] < 7) { ?>

                <script src="<?php echo $url ?>/js/jquery.wysibb.min.js"></script>
                <script src="<?php echo $url ?>/js/wbblang/ru.js"></script>
                <script type="text/javascript">
                                                        var wbbOpt = {
                                                            lang: lang,
                                                            smileList: false,
                                                            resize_maxheight: 1200,
                                                            buttons: 'bold,italic,underline,|,bullist,numlist,|,justifyleft,justifycenter,justifyright'
                                                        }
                                                        $('#desc').wysibb(wbbOpt);
                </script>
                <script type="text/javascript" src="<?php echo $url ?>/js/jquery.chained.remote.min.js"></script>
                <script type="text/javascript">
                                                        try {
                                                            $('#sid').remoteChained({
                                                                parents: '#tid',
                                                                url: '/catalog/subdata?ref=admin',
                                                                loading: '...'
                                                            });
                                                        } catch (err) {
                                                        }
                </script>

            <?php } ?>

        <script type="text/javascript">
            var placeSearch, autocomplete;
            function initAutocomplete() {
                autocomplete = new google.maps.places.Autocomplete((document.getElementById('autocomplete')), {types: ['geocode'], componentRestrictions: {country: 'ua'}});
                autocomplete.addListener('place_changed', fillInAddress);
            }

            $(".js_scale").on("click", function () {
                var action = $(this).attr('action');
                var value = parseInt($(this).siblings(':input').val());

                if (action == "minus") {
                    value = value - 1;
                    if (value < 1)
                        return false;
                }
                if (action == "plus") {
                    value = value + 1;
                    if (value > 9)
                        return false;
                }

                if (value > 0 || value < 4)
                    $(this).siblings(':input').val(value);

            });

            function get_profile_link(usID) {
                $.get("/workz/get_hash/" + usID, function (res) {
                    if (res) {
                        $("#show_hash").val(res).attr("type", "text");
                        $("#msg_hidden").fadeIn();
                    }
                });
            }

            $('#phone').mask('(999) 999-99-99');

        </script>
        <script src="https://maps.googleapis.com/maps/api/js?language=ru&key=<?php echo $map_key ?>&signed_in=false&libraries=places&callback=initAutocomplete" async defer></script>
    </body>
</html>